<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<link rel="stylesheet" th:href="@{/webjars/github-com-seballot-spectrum/spectrum.min.css}" />
<script th:src="@{/webjars/github-com-seballot-spectrum/spectrum.min.js}"></script>
<body>
<header th:replace="~{fragments/nav :: nav}"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="~{fragments/sides/side-admin :: side-admin}"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol id="breadcrumb-ol" class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Administration</a></li>
                <li class="breadcrumb-item active">Tags</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="card mb-1 mx-auto">
                <div class="card-body">
                    <h5 class="text-center"><b>Configs</b></h5>
                    <div class="alert alert-light">
                        MappingFiltersGroups
                        <ul>
                        <li th:each="mappingFilterGroup : ${config.mappingFiltersGroups.entrySet()}">
                            <span th:text="${mappingFilterGroup.key}"></span> : <span th:text="${mappingFilterGroup.value}"></span>
                        </li>
                        </ul>

                        <form th:action="'/admin/configs/add-mapping-filter-group'" th:method="'post'">

                            <label for="group">Group:</label>
                            <input type="text" id="group" name="group" required>

                            <label for="filter">Filter:</label>
                            <input type="text" id="filter" name="filter" required>

                            <button type="submit">Ajouter</button>
                        </form>
                    </div>
                </div>
            </div>
<!--            <div class="fixed-action-simple-btn gap-4" style="flex-direction: column">-->
<!--                <div id="addButton" onmouseover="$('#addButton').toggleClass('active');" onmouseout="$('#addButton').toggleClass('active');">-->
<!--                    <a title="Ajouter un tag" data-bs-toggle="modal" data-bs-target="#newTag" class="btn-floating btn-lg bg-primary"><i class="fa-solid fa-plus fa-2xl"></i></a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>

</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>