<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<!--/*@thymesVar id="signRequest" type="org.esupportail.esupsignature.entity.SignRequest"*/-->
<!--/*@thymesVar id="signBook" type="org.esupportail.esupsignature.entity.SignBook"*/-->
<div th:fragment="status(signBook)">
	<div th:switch="${signBook.status}" class="text-center mb-1 mt-1">
		<div th:case="${T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).uploading}" class="badge badge-status bg-secondary" th:title="#{'signbook.status.' + ${signBook.status}}">
			<i class="fas fa-upload" th:title="#{'signbook.status.' + ${signBook.status}}"></i>
			<span th:text="#{'signbook.status.' + ${signBook.status}}"></span>
		</div>
		<div th:case="${T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).draft}" class="badge badge-status bg-secondary" th:title="#{'signbook.status.' + ${signBook.status}}">
			<i class="fab fa-firstdraft" th:title="#{'signbook.status.' + ${signBook.status}}"></i>
				<span th:text="#{'signbook.status.' + ${signBook.status}}"></span>
		</div>
		<div th:case="${T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).pending}" class="badge badge-status bg-warning text-dark" th:title="#{'signbook.status.' + ${signBook.status}}">
			<i class="fas fa-clock"></i>
				<span th:text="#{'signbook.status.' + ${signBook.status}}"></span>
		</div>
		<div th:case="${T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).signed}" class="badge badge-status bg-success" th:title="#{'signbook.status.' + ${signBook.status}}">
			<i class="fas fa-file-signature"></i>
				<span th:text="#{'signbook.status.' + ${signBook.status}}"></span>
		</div>
		<div th:case="${T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).refused}" class="badge badge-status bg-danger">
			<i class="fas fa-ban"></i>
				<span th:text="#{'signbook.status.' + ${signBook.status}}"></span>
			<br>
			<p th:if="${signRequest != null && signRequest.comments.size() > 0}" th:title="${signRequest.comments.get(signRequest.comments.size() - 1).text}" th:text="${signRequest.comments.get(signRequest.comments.size() - 1).text}" class="bg-danger"></p>
		</div>
		<div th:case="${T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).checked}" class="badge badge-status bg-success" th:title="#{'signbook.status.' + ${signBook.status}}">
			<i class="fas fa-check-circle"></i>
				<span th:text="#{'signbook.status.' + ${signBook.status}}"></span>
		</div>
		<div th:case="${T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).exported}" class="badge badge-status bg-success" th:title="#{'signbook.status.' + ${signBook.status}}">
			<i class="fas fa-file-export"></i>
				<span th:text="#{'signbook.status.' + ${signBook.status}}"></span>
		</div>
		<div th:case="${T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).archived}" class="badge badge-status bg-success" th:title="#{'signbook.status.' + ${signBook.status}}">
			<i class="fas fa-archive"></i>
			<span th:text="#{'signbook.status.' + ${signBook.status}}"></span>
		</div>
		<div th:case="${T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).cleaned}" class="badge badge-status bg-success" th:title="#{'signbook.status.' + ${signBook.status}}">
			<i class="fas fa-archive"></i>
			<span th:text="#{'signbook.status.' + ${signBook.status}}"></span>
		</div>
		<div th:case="${T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).completed}" class="badge badge-status bg-success" th:title="#{'signbook.status.' + ${signBook.status}}">
			<i class="fas fa-flag-checkered"></i>
				<span th:text="#{'signbook.status.' + ${signBook.status}}"></span>
		</div>
		<div th:case="${T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).deleted}" class="badge badge-status bg-danger" th:title="#{'signbook.status.' + ${signBook.status}}">
			<i class="fas fa-trash"></i>
			<span th:text="#{'signbook.status.' + ${signBook.status}}"></span>
		</div>
		<div th:case="*">
			<span th:text="${signBook.status}"></span>
		</div>
	</div>
</div>
</html>