<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<script th:src="@{/webjars/chart.js/dist/chart.umd.js}"></script>
<body>
<header th:replace="~{fragments/nav :: nav}"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="~{fragments/sides/side-admin :: side-admin}"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol id="breadcrumb-ol" class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Administration</a></li>
                <li class="breadcrumb-item active">Statistiques</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="card col-lg-10 mx-auto">
                <div class="card-body">
                    <h5 class="text-center"><b>Statistiques</b></h5>
                    <div>
                        <canvas id="signsCount" height="80"></canvas>
                        <script th:inline="javascript">
                            let ctx = document.getElementById('signsCount');
                            new Chart(ctx, JSON.parse([[${signsByYears}]]));
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>