<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="currentSessions" type="java.util.Map<org.springframework.security.core.session.SessionInformation>"*/-->
<head th:replace="~{fragments/head :: head}"></head>
<body>
<header th:replace="~{fragments/nav :: nav}"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="~{fragments/sides/side-admin :: side-admin}"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol id="breadcrumb-ol" class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Administration</a></li>
                <li class="breadcrumb-item active">Sessions courantes</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="card col-lg-10 mx-auto mb-1">
                <div class="card-body">
                    <h5 class="text-center"><b>Utilisateurs connectés</b></h5>
                    <span th:text="${currentSessions.size()} + ' utilisateur(s) connecté(s)'"></span>, poids total des sessions : <span th:text="${sessionSize}"></span>
                </div>
            </div>
            <th:block th:each="currentSession : ${currentSessions}">
                <div class="card mb-1 col-10 mx-auto">
                    <div class="card-body">
                        <h5><i class="fa-solid fa-user"></i>
                            <a data-bs-toggle="collapse" th:href="'#sess-' + ${currentSession.sessionId}" role="button"
                                aria-expanded="false"
                                th:aria-controls="'sess-' + ${currentSession.sessionId}">
                                <span th:text="${currentSession.principal.username}"></span>
                            </a> : <span th:text="${'inactif depuis ' + (#dates.createNow().toInstant().toEpochMilli() - currentSession.lastRequest.toInstant().toEpochMilli()) / 1000 / 60 + ' mins'}"></span>
                        </h5>
                        <div class="collapse" th:id="'sess-' + ${currentSession.sessionId}">
                            <table class="table table-hover table-responsive">
                                <tr class="table-secondary">
                                    <th>Session ID</th>
                                    <th>Last access time</th>
                                    <th>Alive</th>
                                    <th>Delete</th>
                                </tr>
                                <tr th:if="${currentSession != null}">
                                    <!--/*@thymesVar id="currentSession" type="org.springframework.session.MapSession"*/-->
                                    <td th:text="${currentSession.sessionId}"></td>
                                    <td th:text="${#dates.format(currentSession.lastRequest, 'dd/MM/yyyy HH:mm:ss')}"></td>
                                    <td>
                                        <i th:class="${currentSession.expired} ? 'text-danger fa-solid fa-times-circle' : 'text-success fa-solid fa-check-circle'"></i>
                                    </td>
                                    <td>
                                        <form th:action="'/admin/currentsessions'" th:method="'delete'">
                                            <input type="hidden" name="sessionId" th:value="${currentSession.sessionId}"/>
                                            <button type="submit" class="btn btn-sm btn-danger"><i
                                                    class="fa-solid fa-trash-alt"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>