<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="currentSessions" type="java.util.Map<String, java.util.List<org.springframework.session.MapSession>"*/-->
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/nav :: nav"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="fragments/sides/side-admin :: side-admin"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol id="breadcrumb-ol" class="breadcrumb">
                <li class="breadcrumb-item active">Sessions courantes</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="card col-lg-10 mx-auto mb-1">
                <div class="card-body">
                    <h5>Utilisateurs connectés</h5>
                    <span th:text="${currentSessions.size()} + ' utilisateurs(s) connectés(s)'"></span>, poids totale des sessions : <span th:text="${sessionSize}"></span>
                </div>
            </div>
            <th:block th:each="currentSession : ${currentSessions}">
                <div class="card mb-1 col-10 mx-auto">
                    <div class="card-body">
                        <h5><i class="fas fa-user"></i>
                            <a data-bs-toggle="collapse" th:href="'#sess-' + ${currentSession.hashCode()}" role="button"
                               aria-expanded="false"
                               th:aria-controls="'sess-' + ${currentSession.hashCode()}">
                                <span th:text="${currentSession.key} + ' : ' + ${currentSession.value.size()} + ' session(s)'"></span></a>
                        </h5>
                        <div class="collapse" th:id="'sess-' + ${currentSession.hashCode()}">
                            <table class="table table-hover table-responsive">
                                <tr class="table-secondary">
                                    <th>Session ID</th>
                                    <th>Creation time</th>
                                    <th>Last access time</th>
                                    <th>Inactive time</th>
                                    <th>Max inactive time</th>
                                    <th>Alive</th>
                                    <th>Attributs</th>
                                    <th>Delete</th>
                                </tr>
                                <th:block th:each="userSession : ${currentSession.value}">
                                    <tr th:if="${userSession != null}">
                                        <!--/*@thymesVar id="userSession" type="org.springframework.session.MapSession"*/-->
                                        <td th:text="${userSession.id}"></td>
                                        <td th:text="${#dates.format(userSession.creationTime, 'dd/MM/yyyy HH:mm:ss')}"></td>
                                        <td th:text="${#dates.format(userSession.lastAccessedTime, 'dd/MM/yyyy HH:mm:ss')}"></td>
                                        <td th:text="${(#dates.createNow().toInstant().toEpochMilli() - userSession.lastAccessedTime.toEpochMilli()) / 1000 / 60 + ' mins'}"></td>
                                        <td th:text="${userSession.maxInactiveInterval.toMinutes()} + ' mins'"></td>
                                        <td>
                                            <i th:class="${userSession.expired} ? 'text-danger fas fa-times-circle' : 'text-success fas fa-check-circle'"></i>
                                        </td>
                                        <td>
                                            <ul>
                                                <th:block th:each="attributeName : ${userSession.attributeNames}">
                                                    <li>
                                                        <a data-bs-toggle="collapse"
                                                           th:href="'#attr-' + ${currentSession.hashCode()} + '-' + ${#strings.replace(attributeName, '.','')}"
                                                           role="button" aria-expanded="false"
                                                           th:aria-controls="'attr-' + ${currentSession.hashCode()} + '-' + ${#strings.replace(attributeName, '.','')}"><span
                                                                th:text="${attributeName}"></span></a>
                                                        <br>
                                                        <span th:text="${userSession.getAttribute(attributeName).toString().getBytes().length} + ' bytes'"></span>
                                                        <div th:id="'attr-' + ${currentSession.hashCode()} + '-' + ${#strings.replace(attributeName, '.','')}"
                                                             class="collapse">
                                                            <span th:text="${userSession.getAttribute(attributeName)}"></span>
                                                        </div>
                                                    </li>
                                                </th:block>
                                            </ul>
                                        </td>
                                        <td>
                                            <form th:action="'/admin/currentsessions'" th:method="'delete'">
                                                <input type="hidden" name="sessionId" th:value="${userSession.id}"/>
                                                <button type="submit" class="btn btn-sm btn-danger"><i
                                                        class="fas fa-trash-alt"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                </th:block>
                            </table>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>