<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<header th:replace="~{fragments/nav :: nav}"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="~{fragments/sides/side-admin :: side-admin}"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol id="breadcrumb-ol" class="breadcrumb">
                <li class="breadcrumb-item active">Administration</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="card">
                <div class="card-body">
                    <h5>Supervision</h5>
                    <div class="row mt-4 mb-4">
                        <a title="Toutes les demandes" type="button" href="/admin/signbooks" class="btn text-center col-2">
                            <i class="fa-solid fa-paste fa-2xl"></i><br><span>Demandes</span>
                        </a>
                        <a title="Tous les logs" type="button" href="/admin/logs" class="btn text-center col-2">
                            <i class="fa-solid fa-clipboard-list fa-2xl"></i><br><span>Logs</span>
                        </a>
                        <a title="Tous les utilisateurs" type="button" href="/admin/users" class="btn text-center col-2">
                            <i class="fa-solid fa-user-group fa-2xl"></i><br><span>Utilisateurs</span>
                        </a>
                        <a title="Statistiques" type="button" href="/admin/charts" class="btn text-center col-2">
                            <i class="fa-solid fa-chart-column fa-2xl"></i><br><span>Statistiques</span>
                        </a>
                        <a title="Exports" type="button" href="/admin/export" class="btn text-center col-2">
                            <i class="fa-solid fa-file-export fa-2xl"></i><br><span>Exports</span>
                        </a>
                    </div>
                    <hr class="newHr">
                    <h5>Configuration</h5>
                    <div class="row mt-4 mb-4">
                        <a title="Circuits de signature" href="/admin/workflows" class="btn text-center col-2">
                            <i class="fa-solid fa-project-diagram project-diagram-color fa-2xl"></i><br><span>Circuits</span>
                        </a>
                        <a title="Formulaires" href="/admin/forms" class="btn text-center col-2">
                            <i class="fa-solid fa-file-alt file-alt-color fa-2xl"></i><br><span>Formulaires</span>
                        </a>
                        <a title="Messages" href="/admin/messages" class="btn text-center col-2">
                            <i class="fa-solid fa-envelope fa-2xl"></i><br><span>Messages</span>
                        </a>
                        <a title="Gestionnaires de rôles" href="/admin/roles-managers" class="btn text-center col-2">
                            <i class="fa-solid fa-user-tie fa-2xl"></i><br><span>Gestionnaires de rôles</span>
                        </a>
                        <a title="Gestion des certificats" type="button" href="/admin/certificats" class="btn text-center col-2">
                            <i class="fa-solid fa-certificate fa-2xl"></i><br><span>Gestion des certificats</span>
                        </a>
                    </div>
                    <hr class="newHr">
                    <h5>Outils</h5>
                    <div class="row mt-4 mb-4">
                        <a title="Sessions courantes" href="/admin/currentsessions" class="btn text-center col-2">
                            <i class="fa-solid fa-user-lock fa-2xl"></i>
                            <br>
                            <span>Sessions courantes</span> <span th:text="${nbSessions}" class="badge bg-primary"></span>
                        </a>
                        <a title="Switch user" href="/admin/su" class="btn text-center col-2">
                            <i class="fa-solid fa-user-secret fa-2xl"></i><br><span>Switch user</span>
                        </a>
                        <a title="Sessions courantes" href="/admin/tasks" class="btn text-center col-2">
                            <i class="fa-solid fa-tasks fa-2xl"></i><br><span>Tâches planifiées</span>
                        </a>
                        <a title="Statut DSS" type="button" href="/admin/dss" class="btn text-center col-2">
                            <i class="fa-solid fa-shield-heart fa-2xl" th:classappend="${dssStatus == null || dssStatus == true} ? 'text-danger' : 'text-success'"></i><br><span>Statut DSS</span>
                        </a>
                        <a title="Doc des APIs" target="_blank" type="button" href="/swagger-ui.html" class="btn text-center col-2">
                            <i class="fa-solid fa-code fa-2xl"></i><br><span>APIs Doc</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>