<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<link rel="stylesheet" th:href="@{/webjars/summernote/dist/summernote-lite.css}" />
<script th:src="@{/webjars/summernote/dist/summernote-lite.js}"></script>
<body>
<header th:replace="~{fragments/nav :: nav}"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="~{fragments/sides/side-admin :: side-admin}"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol id="breadcrumb-ol" class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Administration</a></li>
                <li class="breadcrumb-item active">Messages</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="fixed-action-simple-btn" >
                <a data-bs-toggle="modal" data-bs-target="#newMessage" type="button" class="btn-floating btn-lg bg-primary">
                    <i class="fa-solid fa-plus fa-2xl"></i>
                </a>
            </div>
            <div class="card col-lg-10 mx-auto">
                <div class="card-body">
                    <h5 class="text-center"><b>Messages</b></h5>
                    <table class="table table-borderless table-hover">
                        <thead class="table-secondary">
                        <tr>
                            <th>Message</th>
                            <th>Date de fin</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="message :${messages}">
                        <tr>
                            <td th:utext="${message.text}"></td>
                            <td th:text="${#dates.format(message.endDate, 'dd/MM/yyyy')}"></td>
                            <td>
                                <button type="button" data-bs-toggle="modal" data-bs-target="#modal-warning" th:attr="data-bs-target='#modal-warning' + ${message.id }" class="btn btn-danger">
                                    <i class="fa-solid fa-trash-alt"></i>
                                </button>
                                <div data-bs-focus="false" class="modal modal-warning fade in" th:id="'modal-warning' + ${message.id}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form id="command" th:action="'/admin/messages/' + ${message.id}" th:method="delete">
                                                <div class="modal-header">
                                                    <button type="button" class="btn-close" title="Fermer" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="alert alert-danger text-center">Confirmez-vous la suppression ?</div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline pull-left" data-bs-dismiss="modal">Non</button>
                                                    <button type="submit" class="btn btn-outline pull-left btn-danger">Oui</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div data-bs-focus="false" class="modal fade" id="newMessage"  role="dialog" aria-labelledby="#newMessage'" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Diffuser un nouveau message aux utilisateurs</h3>
                    <button type="button" class="btn-close" title="Fermer" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="'/admin/messages/add'" method="post">
                    <div class="form-group mb-3">
                        <label for="text">Text du message</label>
                        <textarea class="summer-note" type="text" name="text" id="text" required="required"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="endDate">Date de fin de diffusion</label>
                        <input class="form-control" type="date" name="endDate" id="endDate" required="required" />
                    </div>
                        <input type="submit" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>