<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<header th:replace="~{fragments/nav :: nav}"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="~{fragments/sides/side-admin :: side-admin}"></nav>
        <nav th:replace="~{fragments/sides/side-manager :: side-manager}"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol id="breadcrumb-ol" class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Administration</a></li>
                <li class="breadcrumb-item active">Managers Roles</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="fixed-action-simple-btn" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a title="Ajouter un gestionnaire pour un rôle" data-bs-toggle="modal" data-bs-target="#newManagersRoles" type="button"
                   class="btn-floating btn-lg bg-primary wave-effect">
                    <i class="fa-solid fa-plus fa-2xl"></i>
                </a>
            </div>
            <div class="card col-lg-10 mx-auto">
                <div class="card-body">
                    <h5 class="text-center"><b>Gestionnaires de rôles</b></h5>
                    <table class="table table-borderless table-hover">
                        <thead class="table-secondary">
                        <tr>
                            <th>Roles</th>
                            <th>Managers</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="role, status :${roleManagers.keySet}">
                            <tr>
                                <form th:action="'/admin/roles-managers/edit-role'" method="post">
                                    <td th:text="${role}"></td>
                                    <input name="role" type="hidden" th:value="${role}">
                                    <td>
                                        <select th:id="${'rolesManagersSelect' + status.index}" class="select-users"
                                                multiple="multiple" name="rolesManagers">
                                            <option data-placeholder="true"></option>
                                            <th:block th:each="user : ${roleManagers.get(role)}">
                                                <option th:value="${user.email}"
                                                        th:text="${user.email}"
                                                        selected></option>
                                            </th:block>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="text-center">
                                            <button id="saveButton" title="Enregistrer" type="submit"
                                                    class="btn btn-sm btn-success">
                                                <i class="fa-solid fa-save fa-2xl"></i>
                                            </button>
                                        </div>
                                    </td>
                                </form>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</main>
<div data-bs-focus="false" class="modal fade" id="newManagersRoles"  role="dialog" aria-hidden="true" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form th:action="'/admin/roles-managers/create-role'" method="post">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Ajouter un circuit</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                    </button>
                </div>
                <div class="modal-body">
                    <label for="role">Choix du role</label>
                    <select id="role" class="slim-select-simple" type="text" name="role">
                        <th:block th:each="newRole : ${roles}">
                            <option th:text="${newRole}" th:value="${newRole}"></option>
                        </th:block>
                    </select>
                    <label for="role">Choix des managers</label>
                    <select id="rolesManagersSelect" class="select-users"
                            multiple="multiple" name="rolesManagers">
                        <option data-placeholder="true"></option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success">Créer</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>