<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<header th:replace="~{fragments/nav :: nav}"></header>
<main role="main">
    <div class="es-wrapper">
        <nav id="breadcrumb" aria-label="breadcrumb" class="es-breadcrumb-nav es-breadcrumb-nav-full-fixed es-breadcrumb-nav-full text-uppercase">
            <ol id="breadcrumb-ol" class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin" class="d-flex align-items-center"><i class="fi fi-rr-chess-queen"></i> Administration</a></li>
                <li class="breadcrumb-item active">Switch user</li>
            </ol>
        </nav>
        <div id="content" class="es-content-full">
            <div class="es-main-content d-flex">
                <nav th:replace="~{fragments/sides/side-admin :: side-admin}"></nav>
                <div class="flex-grow-1">
            <div class="card col-lg-12">
                <div class="card-body">
                    <h5 class="text-center mb-4"><b>Changer d’utilisateur</b></h5>
                    <form th:action="@{/admin/su-login}" method="POST" class="form-signin mb-4">
                        <div class="input-group">
                            <input type="text" id="username" name="username" th:placeholder="Identifiant"class="form-control"/> <br/>
                            <input class="btn btn-lg btn-primary btn-block input-group-append" type="submit" value="Login"/>
                        </div>
                    </form>
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>