<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/nav :: nav"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="fragments/sides/side-admin :: side-admin"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol id="breadcrumb-ol" class="breadcrumb">
                <li class="breadcrumb-item active">Switch user</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="card col-lg-10 mx-auto">
                <div class="card-body">
                    <form th:action="@{/admin/su-login}" method="POST" class="form-signin">
                        <h5 class="text-center"><b>Changer d’utilisateur</b></h5>
                        <br/>
                        <input type="text" id="username" name="username" th:placeholder="Identifiant"
                               class="form-control"/> <br/>
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>