*
.gitlab-ci.yml
!.gitignore
!src/
!src/**
src/main/resources/application-dev.yml
src/main/resources/application-docker.yml
src/main/resources/static/downloads/nexu-bundle.zip
src/main/resources/static/images/watermark.png
!LICENCE
!README.md
!NOTICE
!pom.xml
