*
.gitlab-ci.yml
!.gitignore
!src/
!src/**
src/main/resources/application-dev.yml
src/main/resources/application-docker.yml
src/main/resources/static/images/watermark.png
!sql-updates/
!sql-updates/**
!LICENCE
!README.md
!NOTICE
!pom.xml
