<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/menu :: menu(activeMenu)"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="fragments/manager-side :: manager-side"></nav>
        <div id="content" class="content">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Liste des formulaires</li>
                </ol>
            </nav>
            <button class="mr-2 btn btn-outline-dark btn-light" onclick="location.href='/manager/form?'">
                <i class="fa fa-plus"></i> Créer un formulaire manuellement
            </button>
            <button title="Créer un nouveau formulaire" data-toggle="modal" data-target="#newForm" type="button"
                    class="mb-1 btn btn-light btn-outline-dark text-left">
                <i class="fas fa-plus"></i> Créer un nouveau formulaire
            </button>
            <div class="card">
                <div class="card-header">
                    <h2>Formulaires</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Version</th>
                                <th scope="col">Actif</th>
                                <th scope="col">Rôle</th>
                                <th class="show text-center" scope="col">Voir</th>
                                <th class="edit text-center" scope="col">Modifier</th>
                                <th class="delete text-center" scope="col">Supprimer</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="form : ${forms}">
                                <td th:text="${form.name}"></td>
                                <td th:text="${form.version}"></td>
                                <td>
                                    <i th:if="${form.activeVersion}" class="fa fa-check text-success"></i>
                                    <i th:unless="${form.activeVersion}" class="fa fa-times text-danger"></i>
                                </td>
                                <td th:text="${form.role}"></td>
                                <td class="show text-center">
                                    <a type="button" th:href="'/manager/forms/' + ${form.id}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                </td>
                                <td class="edit text-center">
                                    <a type="button" th:href="'/manager/forms/update/' + ${form.id}" class="btn btn-warning">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                </td>
                                <td class="delete text-center">
                                    <button type="button" data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${form.id }" class="btn btn-danger">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                    <div class="modal modal-warning fade in" th:id="modal-warning+${form.id}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form id="command" th:action="'/manager/forms/' + ${form.id}" th:method="delete">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="alert alert-danger text-center">Confirmez-vous la
                                                            suppression ?
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline pull-left"
                                                                data-dismiss="modal">Non
                                                        </button>
                                                        <button type="submit"
                                                                class="btn btn-outline pull-left btn-danger">
                                                            Oui
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="newForm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nouveau formulaire</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="addModel"
                      th:action="'/manager/forms/generate?' + ${_csrf.parameterName} + '=' + ${_csrf.token}"
                      method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name" class="col-form-label">Nom</label>
                            <input type="text" id="name" name="name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input aria-describedby="inputGroupFileAddon01" class="custom-file-input"
                                           data-buttonText="Choisir fichier" id="inputGroupFile01" name="multipartFile"
                                           type="file"/>
                                    <label class="custom-file-label" for="inputGroupFile01" id="inputGroupLabel01">
                                        Choisir un fichier
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="code" class="col-form-label">Code</label>
                            <input type="text" id="code" name="code" class="form-control" required>
                        </div>
                        <div class="alert alert-info">
                            Le "code" permet de mettre en lien le formulaire avec un role utilisateur, ceci pour gérer
                            les droits sur les formulaires.
                            Ce même code permet aussi de programmer un comportement spécifique pour le pré-remplissable
                            des champs.
                            Ex : pour les ordres de mission, mettre "ordre_mission"
                        </div>
                        <div class="form-group">
                            <label for="targetType" class="col-form-label">Type de destination</label>
                            <select class="form-control" id="targetType" name="targetType">
                                <th:block th:each="targetType : ${targetTypes}">
                                    <option th:value="${targetType}"
                                            th:text="#{'signbook.documentiotype.' + ${targetType}}"></option>
                                </th:block>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="name" class="col-form-label">Destination des documents</label>
                            <input type="text" name="targetURI" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="workflowType" class="col-form-label">Type de workflow</label>
                            <select class="form-control" id="workflowType" name="workflowType">
                                <th:block th:each="workflowType : ${workflowTypes}">
                                    <option th:value="${workflowType.name}"
                                            th:text="${workflowType.description}"></option>
                                </th:block>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Valider">
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
