<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head"></head>
	<body>
	<header th:replace="fragments/nav"></header>
		<div id="ribbon" class="card">
			<div class="card-body">
				<button class="mr-2 btn btn-outline-dark btn-light float-left" onclick="document.getElementById('addModel').submit()">
					<i class="fas fa-plus fa-2x"></i> <br /> Ajouter
				</button>
				<button type="button" class="btn  btn-danger float-right" value="Retour" onclick="location.href='/'" title="Quitter">
					<i class="fas fa-times fa-1x"></i>
				</button>
			</div>
		</div>
		<main role="main" class="container-fluid">
           	<div class="card">
		    	<div class="card-header"><h2>Ajouter un modèle</h2></div>
  				<div class="card-body">
                    <form id="addModel" th:action="'/admin/documents?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" method="post" enctype="multipart/form-data" >
						<div class="form-group">
							<div class="form-group">
								<div class="custom-file">
									<input aria-describedby="inputGroupFileAddon01" class="custom-file-input" data-buttonText="Choisir fichier" id="inputGroupFile01" name="multipartFile" type="file" />
									<label class="custom-file-label" for="inputGroupFile01" id="inputGroupLabel01">
										Choisir un fichier
									</label>
								</div>
							</div>
						</div>
	                    <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-success" value="Valider">
                            </div>
                        </div>                  
                    </form>
                </div>
            </div>
		</main>
		<footer th:replace="fragments/footer"></footer>
	</body>
</html>
