<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head-lite :: head}"></head>
<body>
<header th:replace="~{fragments/nav-empty :: nav-empty}"></header>
<main role="main">
    <div class="wrapper">
        <div id="content" class="content">
            <h1>Signature OTP</h1>
            <div class="alert alert-secondary w-75">
                <p>
                    La demande à laquelle vous tentez d’accéder est terminée.
                </p>
                <p>
                    Vous devriez avoir reçu un mail de confirmation vous permettant de télécharger le document signé.
                </p>
                <p>
                    Si vous avez des questions, merci de contacter l’émetteur.
                </p>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer-light :: footer}"></footer>
</body>
</html>
