<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head-lite :: head-lite}"></head>
<body>
<header th:replace="~{fragments/nav-empty :: nav-empty}"></header>
<main role="main">
    <div class="wrapper">
        <div id="content" class="content">
            <h1>Signature OTP - Merci de saisir votre numéro de mobile</h1>
            <form th:action="'/otp-access/phone'" method="post">
                <div class="col-4">
                    <input name="urlId" type="hidden" th:value="${urlId}">
                    <div class="mb-3">
                        <input id="phone" name="phone" type="text" class="form-control" placeholder="Numéro de mobile" autofocus>
                        <span id="valid-msg" class="text-success my-auto d-none">✓ Ok</span>
                        <span id="error-msg" class="text-danger my-auto d-none"></span>
                        <script type="module">
                            let phonesInput = document.querySelector("#phone");
                            let iti = intlTelInput(phonesInput, {
                                validationNumberTypes: "FIXED_LINE_OR_MOBILE",
                                strictMode: true,
                                separateDialCode: false,
                                nationalMode: true,
                                countryOrder: ["fr"],
                                customPlaceholder: (selectedCountryPlaceholder, selectedCountryData) => "Saisir un numéro",
                                searchPlaceholder: "Rechercher",
                            });
                            if(phonesInput.text == null || phonesInput.text === "") {
                                iti.setCountry("fr");
                            }
                            phonesInput.addEventListener("focusout", e => validatePhone(iti));

                            function validatePhone(iti) {
                                const errorMsg = document.querySelector("#error-msg");
                                const validMsg = document.querySelector("#valid-msg");
                                if(iti.isValidNumber()) {
                                    errorMsg.classList.add("d-none");
                                    validMsg.classList.remove("d-none");
                                    $("#phone").val(iti.getNumber());
                                } else {
                                    errorMsg.innerHTML = "Erreur de saisie";
                                    errorMsg.classList.remove("d-none");
                                    validMsg.classList.add("d-none");
                                }
                            }
                        </script>
                    </div>
                    <input type="submit" class="btn btn-success" value="Valider">
                </div>
            </form>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer-light :: footer}"></footer>
<div th:replace="~{fragments/message :: message}"></div>
</body>
</html>
