<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head-lite :: head-lite}"></head>
<body>
<header th:replace="~{fragments/nav-empty :: nav-empty}"></header>
<main role="main">
    <div class="wrapper">
        <div id="content" class="content">
            <div class="alert alert-danger w-75 me-1 mb-2" th:utext="${errorMsg}">
            </div>
            <a href="/logout" class="btn btn-dark">Déconnexion</a>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer-light :: footer}"></footer>
</body>
</html>
