<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head-lite"></head>
<body>
<header th:replace="fragments/nav-empty"></header>
<main role="main">
    <div class="wrapper">
        <div id="content" class="content">
            <h1>Signature OTP</h1>
            <p class="alert alert-danger w-75">
                Le lien que vous utilisez a expiré. Merci de contacter le créateur de la demande (son nom est dans le mail que vous avez reçu).
            </p>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
