<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/nav-empty"></header>
<main role="main">
    <div class="wrapper">
        <div id="content" class="content">
            <h1>Signature OTP</h1>
            <form th:action="'/otp'" method="post">
                <input name="urlId" type="hidden" th:value="${urlId}">
                <input name="password" type="password" class="form-control" placeholder="Saisir le code reçu par SMS" autofocus>
                <input type="submit" class="btn btn-success" value="Valider">
            </form>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
