<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head-lite :: head-lite}"></head>
<body>
<header th:replace="~{fragments/nav-empty :: nav-empty}"></header>
<main role="main">
    <div class="wrapper">
        <div id="content" class="content-full">
            <div style="height: 60px"></div>
            <h2 th:text="'Bonjour ' + ${otp.user.firstname} + ' ' + ${otp.user.name} + ', l’établissement ' + #{application.footer} + ' vous invite à signer un document :'"></h2>
            <h4 th:utext="'Vous devez signer le document <b>' + ${otp.signBook.subject} + '</b> transmit par <b>' + ${otp.signBook.createBy.firstname} + ' ' + ${otp.signBook.createBy.name} + '</b>. Contact : <a href=\'mailto:' + ${otp.signBook.createBy.email} + '\'>' + ${otp.signBook.createBy.email} + '</a>'"></h4>
            <br>
            <div class="text-center">
                <th:block th:each="securityService : ${securityServices}">
                        <h3 th:text="'Utilisez ' + ${securityService.title}"></h3>
                        <p th:text="${securityService.description}"></p>
                        <div>
                            <form th:action="${securityService.loginUrl}" method="post">
                                <button th:class="${securityService.code} + '-button'">
                                    <span th:class="${securityService.code} + '-sr-only'" th:text="'S`identifier avec ' + ${securityService.title}"></span>
                                </button>
                            </form>
                            <p>
                                <a
                                        th:href="'https://www.' + ${securityService.code} + '.gouv.fr/'"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        th:title="'Qu’est-ce que ' + ${securityService.title} + ' ? - nouvelle fenêtre'"
                                        th:text="'Qu’est-ce que ' + ${securityService.title}"
                                >
                                </a>
                            </p>
                        </div>
                        <div class="hr hr-center m-5"><b>OU</b></div>
                </th:block>
                <a href="sms">Me transmettre un code OTP par SMS</a>
                <br>
                <form th:action="'/otp-access'" method="post" class="mx-auto" style="width: 250px;">
                    <input name="urlId" type="hidden" th:value="${urlId}">
                        <div class="mb-3">
                        <label for="password">Saisir le code reçu par SMS</label>
                        <input disable id="password" name="password" type="password" class="form-control" maxlength="6" placeholder="******" autofocus>
                        </div>
                    <input type="submit" class="btn btn-success" value="Valider">
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer-light :: footer}"></footer>
<div th:replace="~{fragments/message :: message}"></div>
</body>
</html>
