<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<!--/*@thymesVar id="signRequest" type="org.esupportail.esupsignature.entity.SignRequest"*/-->
<div id="stepscard" th:fragment="stepscard" class="d-none d-lg-block">
    <div class="card col-lg-10 mx-auto">
        <div class="card-body">
            <h5>Circuit</h5>
            <th:block th:if="${signRequest.parentSignBook.liveWorkflow.liveWorkflowSteps != null}">
                <div id="stepper" class="bs-stepper vertical">
                    <div class="bs-stepper-header" role="tablist">
                        <th:block th:each="liveWorkflowStep,iterator : ${signRequest.parentSignBook.liveWorkflow.liveWorkflowSteps}">
                            <div class="step border border-dark bg-white rounded" th:name="'step_' + ${iterator.index}" th:classappend="${iterator.index + 1 > signRequest.parentSignBook.liveWorkflow.currentStepNumber} ? 'div-disable'">
                                <th:block th:if="${iterator.index + 1 == signRequest.parentSignBook.liveWorkflow.currentStepNumber}">
                                <span title="Étape en cours" th:if="${signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).pending}" class="bs-stepper-circle bg-warning">
                                    <!--<i class="fas fa-spinner fa-pulse"></i>-->
                                    <i class="fas fa-hourglass-half"></i>
                                </span>
                                <span title="Étape annulée" th:if="${signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).refused}" class="bs-stepper-circle bg-danger">
                                    <i class="fas fa-times"></i>
                                </span>
                                </th:block>
                                <span title="Étape à venir" th:if="${iterator.index + 1 > signRequest.parentSignBook.liveWorkflow.currentStepNumber}" class="bs-stepper-circle">
                                    <i class="fas fa-clock"></i>
                                </span>
                                <th:block th:unless="${iterator.index + 1 > signRequest.parentSignBook.liveWorkflow.currentStepNumber || iterator.index + 1 == signRequest.parentSignBook.liveWorkflow.currentStepNumber}">
                                    <span title="Document visé" th:if="${liveWorkflowStep.signType == T(org.esupportail.esupsignature.entity.enums.SignType).visa || liveWorkflowStep.signType == T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}" class="bs-stepper-circle bg-success">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span title="Document signé" th:unless="${liveWorkflowStep.signType == T(org.esupportail.esupsignature.entity.enums.SignType).visa || liveWorkflowStep.signType == T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}" class="bs-stepper-circle bg-success">
                                        <i class="fas fa-signature"></i>
                                    </span>
                                </th:block>
                                <div class="bs-stepper-label">
                                    <span  th:text="#{'signbook.signtype.' + ${liveWorkflowStep.signType}}"></span>
                                    <span title="Tous les participants doivent signer" th:if="${liveWorkflowStep.allSignToComplete}" class="text-danger"><i class="fas fa-users"></i></span>
                                    <span title="Une signature suffit" th:unless="${liveWorkflowStep.allSignToComplete}"><i class="fas fa-user"></i></span>
                                    <br/>
                                    <table class="table table-sm table-hover table-borderless">
                                    <th:block th:each="recipient : ${liveWorkflowStep.recipients}">
                                        <tr onmouseover="this.style.cursor = 'pointer'" th:onclick="'$(\'#menu-' + ${recipient.id} + '\').show();'">
                                            <td th:title="${recipient.user.email}" th:text="${recipient.user.firstname + ' ' + recipient.user.name}"></td>
                                            <td th:if="${(iterator.index + 1 > signRequest.parentSignBook.liveWorkflow.currentStepNumber || iterator.index + 1 == signRequest.parentSignBook.liveWorkflow.currentStepNumber) && signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).pending}" th:switch="${recipient.signed}">
                                                <i title="a signé le document" th:case="true" class="fas fa-check-circle text-success"></i>
                                                <i title="En attente de signature" th:case="false" class="fas fa-clock text-warning"></i>
                                            </td>
                                        </tr>
                                        <div th:if="${recipient.user.userType.name() == 'external'}" class="card position-absolute collapse mini-menu" th:id="'menu-' + ${recipient.id}" style="    width: 200px">
                                            <div class="card-header" style="height: 40px;">
                                                <button type="button" class="btn-close" th:onclick="'$(\'#menu-' + ${recipient.id} + '\').hide();'"></button>
                                            </div>
                                            <div class=" card-body">
                                                Envoyer un nouveau lien d’accès
                                                <br>
                                                <a type="button" class="btn btn-success float-end mb-2" title="Envoyer un nouveau lien d'accès" th:href="'/user/signrequests/send-otp/' + ${signRequest.id} + '/' + ${recipient.user.id}"><i class="fas fa-key"></i></a>
                                                <button class="btn btn-secondary float-start" title="Fermer" th:onclick="'$(\'#menu-' + ${recipient.id} + '\').hide();'"></button>
                                            </div>
                                        </div>
                                    </th:block>
                                    </table>
                                </div>
                            </div>
                            <div th:if="${signRequest.parentSignBook.liveWorkflow.liveWorkflowSteps.size() > iterator.index + 1}" class="bs-stepper-line"></div>
                        </th:block>
                        <th:block th:each="target : ${signRequest.parentSignBook.liveWorkflow.targets}">
                            <div class="bs-stepper-line"></div>
                            <div class="step border border-dark rounded" th:title="${target.targetUri}" th:classappend="${signRequest.parentSignBook.status != T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).exported && signRequest.parentSignBook.status != T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).cleaned && signRequest.parentSignBook.status != T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).archived} ? 'div-disable'">
                                <div title="Export" th:classappend="${signRequest.parentSignBook.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).exported || signRequest.parentSignBook.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).archived} ? 'bg-success'" class="bs-stepper-circle"><i class="fas fa-file-export"></i></div>
                                Export vers :
                                <div class="bs-stepper-label text-break" th:text="${target.targetUri}"></div>
                            </div>
                        </th:block>
                        <th:block th:if="${signRequest.parentSignBook.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).completed || signRequest.parentSignBook.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).exported || signRequest.parentSignBook.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).cleaned || signRequest.parentSignBook.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).archived}">
                            <div class="bs-stepper-line"></div>
                            <div class="step border border-dark rounded">
                                <div title="Fin" class="bs-stepper-circle bg-success">
                                    <i class="fas fa-flag-checkered"></i></div>
                                <div class="bs-stepper-label text-break">La procédure est terminée. Les intervenants ont été informés par mail</div>
                            </div>
                        </th:block>
                        <th:block th:if="${signRequest.parentSignBook.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).refused}">
                            <div class="bs-stepper-line"></div>
                            <div class="step border border-dark rounded">
                                <div title="Fin" class="bs-stepper-circle bg-danger">
                                    <i class="fas fa-exclamation-triangle"></i></div>
                                <div class="bs-stepper-label text-break">La procédure est terminée. Les intervenants ont été informés par mail</div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </th:block>
    </div>
    </div>
</div>
</html>