<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<div id="stepper1" class="bs-stepper linear">
    <div class="bs-stepper-header" role="tablist">
        <div class="step" data-bs-target="#test-l-2">
            <span class="bs-stepper-circle bg-success"><i class="fas fa-copy"></i></span>
            <span class="bs-stepper-label">Dépôt des fichiers</span>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step active" data-bs-target="#test-l-3">
            <span class="bs-stepper-circle"><i class="fas fa-project-diagram"></i></span>
            <span class="bs-stepper-label">Création du circuit</span>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-bs-target="#test-l-3">
            <span class="bs-stepper-circle"><i class="fas fa-save"></i></span>
            <span class="bs-stepper-label">Sauvegarde</span>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-bs-target="#test-l-3">
            <span class="bs-stepper-circle"><i class="fas fa-flag-checkered"></i></span>
            <span class="bs-stepper-label">Fin</span>
        </div>
    </div>
</div>
<hr>
<div id="stepper2" class="bs-stepper linear">
    <div class="bs-stepper-header" role="tablist">
    <th:block th:if="${signBook.liveWorkflow.liveWorkflowSteps.size() > 0}" th:each="liveWorkflowStep,iterator : ${signBook.liveWorkflow.liveWorkflowSteps}">
            <div th:id="'liveStep-' + ${iterator.index + 1}" class="step border border-dark bg-white rounded p-1" th:name="'step_' + ${iterator.index}">
            <span title="Étape à venir" class="bs-stepper-circle">
                <i class="fas fa-clock"></i>
            </span>
                <span title="Tous les participants doivent signer" th:if="${liveWorkflowStep.allSignToComplete}" class="text-danger float-end"><i class="fas fa-users"></i></span>
                <span title="Une signature suffit" th:unless="${liveWorkflowStep.allSignToComplete}" class="float-end"><i class="fas fa-user"></i></span>
                <div class="bs-stepper-label">
                    <th:block th:if="${liveWorkflowStep.workflowStep != null && liveWorkflowStep.workflowStep.description != null && liveWorkflowStep.workflowStep.description != ''}">
                        <span th:text="${liveWorkflowStep.workflowStep.description}"></span>
                        <br/>
                    </th:block>
                    <span  th:text="#{'signbook.signtype.' + ${liveWorkflowStep.signType}}"></span>
                    <br/>
                    <table class="table table-sm table-hover table-borderless">
                        <th:block th:each="recipient : ${liveWorkflowStep.recipients}">
                            <tr>
                                <td th:title="${recipient.user.email}" th:text="${recipient.user.firstname + ' ' + recipient.user.name}"></td>
                                <td class="text-right">
                                    <i title="N'a pas signé le document" class="fas fa-minus-circle text-secondary"></i>
                                </td>
                            </tr>
                        </th:block>
                    </table>
                </div>
            </div>
            <div th:if="${signBook.liveWorkflow.liveWorkflowSteps.size() > iterator.index + 1}" class="bs-stepper-line"></div>
    </th:block>
    </div>
</div>
<hr>
<h4 class="d-flex justify-content-center mt-4">Paramètres de l'étape&nbsp;<span th:text="${signBook.liveWorkflow.liveWorkflowSteps.size() + 1}"></span></h4>
<form id="wiz-step-form">
<div class="col-12">
    <div th:if="${signBook.liveWorkflow.liveWorkflowSteps.size() == 0}" class="form-group form-switch form-switch-md mb-3">
        <input type="checkbox" class="form-check-input" name="userSignFirstWiz" id="userSignFirstWiz"/>
        <label for="userSignFirstWiz" class="form-check-label">
            Je dois signer ce document avant l'envoi
        </label>
    </div>
    <label class="form-label" for="recipientsEmailsWiz">Choisir les participants</label>
    <select name="recipientsEmails" id="recipientsEmailsWiz" size="5" multiple="multiple" required="required">
        <option data-placeholder="true"></option>
    </select>
    <div id="tempUsers-recipientsEmailsWiz"></div>
    <br/>
    <div class="form-check form-switch form-switch-md mb-2">
        <label class="form-check-label">
            Tous les participants doivent-ils signer ?
        </label>
        <input type="checkbox" class="form-check-input" id="allSignToCompleteWiz" name="allSignToComplete"/>
    </div>
    <label class="form-label">Type de signature :</label>
    <select class="form-select" id="signTypeWiz" name="signType">
        <th:block th:each="signType : ${signTypes}">
            <option th:value="${signType}" th:text="#{'signbook.signtype.' + ${signType}}"></option>
        </th:block>
    </select>
</div>
<hr>
<div class="inline-flex">
    <button type="submit" id="addNew" value="true" class="btn btn-primary float-end m-1">
        <i class="fas fa-save"></i> Enregistrer l'étape
    </button>
    <button formnovalidate id="endStart" name="endStart" value="true" th:if="${signBook.liveWorkflow.liveWorkflowSteps.size() > 0}" type="submit" class="btn btn-success float-end m-1">
        <i class="fas fa-paper-plane"></i> Envoyer la demande immédiatement
    </button>
</div>
</form>
</html>
