<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<div class="modal-header">
    <h3 class="modal-title">Assistant de création de circuit</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div id="stepper1" class="bs-stepper linear">
        <div class="bs-stepper-header" role="tablist">
            <div class="step" data-bs-target="#test-l-2">
                <span class="bs-stepper-circle bg-success"><i class="fa-solid fa-copy"></i></span>
                <span class="bs-stepper-label">Dépôt des fichiers</span>
            </div>
            <div class="bs-stepper-line"></div>
            <div class="step active" data-bs-target="#test-l-3">
                <span class="bs-stepper-circle"><i class="fa-solid fa-project-diagram"></i></span>
                <span class="bs-stepper-label">Création du circuit</span>
            </div>
            <div class="bs-stepper-line"></div>
            <div class="step" data-bs-target="#test-l-3">
                <span class="bs-stepper-circle"><i class="fa-solid fa-save"></i></span>
                <span class="bs-stepper-label">Sauvegarde</span>
            </div>
            <div class="bs-stepper-line"></div>
            <div class="step" data-bs-target="#test-l-3">
                <span class="bs-stepper-circle"><i class="fa-solid fa-flag-checkered"></i></span>
                <span class="bs-stepper-label">Fin</span>
            </div>
        </div>
    </div>
    <hr>
    <div id="stepper2" class="bs-stepper linear">
        <div class="bs-stepper-header" role="tablist">
        <th:block th:if="${signBook.liveWorkflow.liveWorkflowSteps.size() > 0}" th:each="liveWorkflowStep, iterator : ${signBook.liveWorkflow.liveWorkflowSteps}">
            <div th:id="'liveStep-' + ${iterator.index + 1}" class="step border border-dark bg-white rounded p-1" th:name="'step_' + ${iterator.index}">
                <span title="Étape à venir" class="bs-stepper-circle">
                    <i class="fa-solid fa-clock"></i>
                </span>
                <th:block th:if="${liveWorkflowStep.workflowStep != null && liveWorkflowStep.workflowStep.description != null && liveWorkflowStep.workflowStep.description != ''}">
                    <span th:text="${liveWorkflowStep.workflowStep.description}"></span>
                    <br/>
                </th:block>
                <span class="step-type" th:text="#{'signbook.signtype.' + ${liveWorkflowStep.signType}}"></span>
                <div>
                    <table class="table table-sm table-hover table-borderless">
                        <th:block th:each="recipient : ${liveWorkflowStep.recipients}">
                            <tr>
                                <td th:title="${recipient.user.email}" th:text="${recipient.user.firstname + ' ' + recipient.user.name}"></td>
                                <td class="text-right">
                                    <i title="N'a pas signé le document" class="fa-solid fa-minus-circle text-secondary"></i>
                                </td>
                            </tr>
                        </th:block>
                    </table>
                    <span title="Tous les participants doivent signer" th:if="${liveWorkflowStep.allSignToComplete}" class="float-end"><i class="fa-solid fa-users"></i></span>
                    <span title="Une signature suffit" th:unless="${liveWorkflowStep.allSignToComplete}" class="float-end text-muted"><i class="fa-solid fa-users-slash"></i></span>
                    <span title="Étape infinie" th:if="${liveWorkflowStep.repeatable}" class="float-end me-1 text-dark"><i class="fa-solid fa-infinity"></i></span>
                </div>
            </div>
            <div th:if="${signBook.liveWorkflow.liveWorkflowSteps.size() > iterator.index + 1}" class="bs-stepper-line"></div>
        </th:block>
        </div>
    </div>
    <hr>
    <h4 class="d-flex justify-content-center mt-4">Paramètres de l’étape&nbsp;<span th:text="${signBook.liveWorkflow.liveWorkflowSteps.size() + 1}"></span></h4>
    <form id="wiz-step-form">
        <input type="submit" id="wiz-step-form-submit" class="d-none">
        <div class="col-12">
            <div th:if="${signBook.liveWorkflow.liveWorkflowSteps.size() == 0}" class="form-group form-switch form-switch-md mb-3">
                <input type="checkbox" class="form-check-input" name="userSignFirst" id="userSignFirst"/>
                <label for="userSignFirst" class="form-check-label">
                    Je dois signer ce document avant l’envoi
                </label>
            </div>
            <label class="form-label" for="recipientsEmails-1">Choisir les participants</label>
            <select class="select-users" data-es-check-cert="true" name="recipientsEmails" id="recipientsEmails-1" multiple="multiple" required="required">
                <option data-placeholder="true"></option>
            </select>
            <div id="tempUsers-recipientsEmails-1"></div>
            <br/>
            <div class="form-check form-switch form-switch-md mb-2" id="all-sign-to-complete-div-1" style="display: none">
                <label class="form-check-label" for="all-sign-to-complete-1">
                    Tous les participants doivent-ils signer ?
                </label>
                <input type="checkbox" class="form-check-input" id="all-sign-to-complete-1" name="allSignToComplete"/>
            </div>
            <label class="form-label" for="signType-1">Type de signature :</label>
            <select class="form-select" id="signType-1" name="signType">
                <th:block th:each="signType : ${signTypes}">
                    <option th:value="${signType}" th:text="#{'signbook.signtype.' + ${signType}}"></option>
                </th:block>
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" id="save-step" value="true" class="btn btn-primary float-end m-1">
        <i class="fa-solid fa-save"></i> Enregistrer cette étape
    </button>
    <button formnovalidate id="end-workflow-sign" name="end-workflow-sign" value="true" th:if="${signBook.liveWorkflow.liveWorkflowSteps.size() > 0}" type="button" class="btn btn-success float-end m-1">
        <i class="fa-solid fa-paper-plane"></i> Envoyer la demande sans ajouter d’étape supplémentaire
    </button>
</div>
</html>
