<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="workflow" type="org.esupportail.esupsignature.entity.Workflow"*/-->
<div id="stepper1" class="bs-stepper linear">
    <div class="bs-stepper-header" role="tablist">
        <div class="step active" data-bs-target="#test-l-2">
            <span class="bs-stepper-circle"><i class="fas fa-copy"></i></span>
            <span class="bs-stepper-label">Dépôt des fichiers</span>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-bs-target="#test-l-3">
            <span class="bs-stepper-circle"><i class="fas fa-project-diagram"></i></span>
            <span class="bs-stepper-label">Création du circuit</span>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-bs-target="#test-l-3">
            <span class="bs-stepper-circle"><i class="fas fa-save"></i></span>
            <span class="bs-stepper-label">Sauvegarde</span>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-bs-target="#test-l-3">
            <span class="bs-stepper-circle"><i class="fas fa-flag-checkered"></i></span>
            <span class="bs-stepper-label">Fin</span>
        </div>
    </div>
</div>
<hr>
<h4 class="d-flex justify-content-center mt-4">Dépôt des fichiers</h4>
<div class="col-lg-12">
    <form id="start-workflow-form" th:action="'/ws-secure/signrequests/start-workflow?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" th:method="post">
        <input type="hidden" name="workflowId" th:value="${workflow.id}" th:if="${workflow != null}">
    <div class="form-group mb-3">
        <label class="form-label" for="title-wiz">Titre <span th:if="${workflow != null}">(Facultatif)</span><span th:unless="${workflow != null}">(Obligatoire)</span></label>
        <input th:required="${workflow == null}" type="text" placeholder="Vous pouvez saisir un titre pour retrouver votre demande" id="title-wiz" name="title" class="form-control">
        <input type="submit" id="title-wiz-submit" class="d-none">
    </div>
    <div class="form-group mb-3">
        <div class="file-loading">
            <input required th:id="'multipartFiles_' + ${workflow != null ? workflow.id : '0'}" name="multipartFiles" type="file" multiple="multiple" th:accept="${globalProperties.pdfOnly} ? 'application/pdf' : ''">
        </div>
    </div>
    <div class="form-group mb-3">
        <div id="forceAllSign2" class="form-check form-switch form-switch-md d-none">
            <input class="form-check-input" type="checkbox" name="forceAllSign2">
            <label class="form-check-label">Forcer la signature de tous les documents</label>
        </div>
        <div>
            <label class="form-label" for="commentWiz">Commentaire (facultatif)</label>
            <textarea type="text" placeholder="Vous pouvez saisir un commentaire ici. Celui-ci sera visible de tous les participants."  onfocus="this.placeholder = ''" id="commentWiz" name="commentWiz" class="form-control"></textarea>
        </div>
    <div>
    <label class="form-label" th:for="'recipientsCCEmailsWiz' + ${workflow != null ? workflow.id : '0'}">Choisir les observateurs en copie</label>
    <div class="form-group mb-3">
        <select class="select-users" data-es-check-cert="true" th:name="'recipientsCCEmailsWiz' + ${workflow != null ? workflow.id : '0'}" th:id="'recipientsCCEmailsWiz' + ${workflow != null ? workflow.id : '0'}" multiple="multiple">
            <option data-placeholder="true"></option>
            <th:block th:if="${workflow != null}">
            <th:block th:each="viewer : ${workflow.viewers}">
                <option selected="selected" th:value="${viewer.email}" th:text="${viewer.firstname} + ' ' + ${viewer.name} + ' (' + ${viewer.email} + ')'"></option>
            </th:block>
            </th:block>
        </select>
    </div>
    </div>
    </div>
        <hr>
        <div class="inline-flex">
            <button type="button" id="wiz-start-button" class="btn btn-success float-end m-1">
                Suivant <i class="fas fa-angle-right"></i>
            </button>
        </div>
    </form>
</div>
</html>