<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<div class="steps-horizontal-v2 d-flex justify-content-center" style="width: 100%;">
    <div id="wiz-step-1" class="step-horizontal-v2 d-flex gap-2 align-items-center complete">
        <div class="d-flex align-items-center gap-2">
            <div class="step-horizontal-v2-icon"><i class="fi fi-rr-cloud-upload-alt"></i></div>
        </div>
        <div class="step-horizontal-v2-content"><span class="text-xs font-bold">Dépôt des fichiers</span></div>
    </div>
    <div id="wiz-step-2" class="step-horizontal-v2 d-flex gap-2 align-items-center complete">
        <div class="d-flex align-items-center gap-2">
            <div class="step-horizontal-v2-icon"><i class="fi fi-rr-diagram-project"></i></div>
        </div>
        <div class="step-horizontal-v2-content"><span class="text-xs font-bold">Création du circuit</span></div>
    </div>
    <div id="wiz-step-3" class="step-horizontal-v2 d-flex gap-2 align-items-center complete">
        <div class="d-flex align-items-center gap-2">
            <div class="step-horizontal-v2-icon"><i class="fi fi-rr-disk"></i></div>
        </div>
        <div class="step-horizontal-v2-content"><span class="text-xs font-bold">Sauvegarde</span></div>
    </div>
    <div id="wiz-step-4" class="step-horizontal-v2 d-flex gap-2 align-items-center active">
        <div class="d-flex align-items-center gap-2">
            <div class="step-horizontal-v2-icon"><i class="fi fi-rr-flag"></i></div>
        </div>
        <div class="step-horizontal-v2-content"><span class="text-xs font-bold">Fin</span></div>
    </div>
</div>
</html>
