<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<div class="modal-header">
    <h4 class="modal-title"><i class="fi fi-rr-plan"></i> <span th:text="${modalTitle}"></span></h4>
    <button type="button" class="btn-close" title="Fermer" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="steps-horizontal-v2 d-flex justify-content-center" style="width: 100%;">
        <div id="wiz-step-1" class="step-horizontal-v2 d-flex gap-2 align-items-center complete">
            <div class="d-flex align-items-center gap-2">
                <div class="step-horizontal-v2-icon"><i class="fi fi-rr-cloud-upload-alt"></i></div>
            </div>
            <div class="step-horizontal-v2-content"><span class="text-xs font-bold">Dépôt des fichiers</span></div>
        </div>
        <div id="wiz-step-2" class="step-horizontal-v2 d-flex gap-2 align-items-center complete">
            <div class="d-flex align-items-center gap-2">
                <div class="step-horizontal-v2-icon"><i class="fi fi-rr-diagram-project"></i></div>
            </div>
            <div class="step-horizontal-v2-content"><span class="text-xs font-bold">Création du circuit</span></div>
        </div>
        <div id="wiz-step-3" class="step-horizontal-v2 d-flex gap-2 align-items-center active">
            <div class="d-flex align-items-center gap-2">
                <div class="step-horizontal-v2-icon"><i class="fi fi-rr-disk"></i></div>
            </div>
            <div class="step-horizontal-v2-content"><span class="text-xs font-bold">Sauvegarde</span></div>
        </div>
        <div id="wiz-step-4" class="step-horizontal-v2 d-flex gap-2 align-items-center disabled">
            <div class="d-flex align-items-center gap-2">
                <div class="step-horizontal-v2-icon"><i class="fi fi-rr-flag"></i></div>
            </div>
            <div class="step-horizontal-v2-content"><span class="text-xs font-bold">Fin</span></div>
        </div>
    </div>
    <h4 class="d-flex justify-content-center mt-4">Démarrage du circuit</h4>
    <form id="pending-sign-form">
        <button type="submit" id="send-sign-submit" class="d-none"></button>
        <th:block th:replace="~{user/wizard/includes/workflow-steps :: workflow-steps(${signBook.liveWorkflow.workflow}, 'step-wiz')}"></th:block>
    </form></div>
<div class="modal-footer">
    <button id="fast-form-close" type="button" class="btn btn-secondary float-start" data-bs-dismiss="modal">Annuler</button>
    <button type="button" id="send-draft-button" class="btn btn-success" name="draft" value="true">
        <div class="send-form-spinner spinner-border d-none" style="width: 1rem; height: 1rem;">
        </div>
        <i class="fi fi-rr-disk"></i> Placer des champs signature ou annoter
    </button>
    <button type="button" id="send-pending-button" class="btn btn-success">
        <div class="send-form-spinner spinner-border d-none" style="width: 1rem; height: 1rem;">
        </div>
        <i class="fi fi-rr-paper-plane"></i> Envoyer immédiatement la demande
    </button>
</div>
</html>
