<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<div class="modal-header">
    <h4 class="modal-title"><i class="fi fi-rr-plan"></i> <span th:text="${modalTitle}"></span></h4>
    <button type="button" class="btn-close" title="Fermer" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="bs-stepper-header" role="tablist">
        <div class="step" data-bs-target="#test-l-2">
            <span class="bs-stepper-circle bg-success"><i class="fi fi-rr-cloud-upload-alt"></i></span>
            <span class="bs-stepper-label">Dépôt des fichiers</span>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-bs-target="#test-l-3">
            <span class="bs-stepper-circle bg-success"><i class="fi fi-rr-diagram-project"></i></span>
            <span class="bs-stepper-label">Création du circuit</span>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step active" data-bs-target="#test-l-3">
            <span class="bs-stepper-circle"><i class="fi fi-rr-disk"></i></span>
            <span class="bs-stepper-label">Sauvegarde</span>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-bs-target="#test-l-3">
            <span class="bs-stepper-circle"><i class="fi fi-rr-flag"></i></span>
            <span class="bs-stepper-label">Fin</span>
        </div>
    </div>
    <h4 class="d-flex justify-content-center mt-4">Démarrage du circuit</h4>
    <form id="pending-sign-form">
        <button type="submit" id="send-sign-submit" class="d-none"></button>
        <th:block th:replace="~{user/wizard/includes/workflow-steps :: workflow-steps(${signBook.liveWorkflow.workflow}, 'step-wiz')}"></th:block>
    </form></div>
<div class="modal-footer">
    <button id="fast-form-close" type="button" class="btn btn-secondary float-start" data-bs-dismiss="modal">Annuler</button>
    <button type="button" id="send-draft-button" class="btn btn-success" name="draft" value="true">
        <div class="send-form-spinner spinner-border d-none" style="width: 1rem; height: 1rem;">
        </div>
        <i class="fi fi-rr-disk"></i> Placer des champs signature ou annoter
    </button>
    <button type="button" id="send-pending-button" class="btn btn-success">
        <div class="send-form-spinner spinner-border d-none" style="width: 1rem; height: 1rem;">
        </div>
        <i class="fi fi-rr-paper-plane"></i> Envoyer immédiatement la demande
    </button>
</div>
</html>
