<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <div class="modal-header">
        <h3 class="modal-title" id="fastSignRequestLabel">Erreur</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger text-center">
            <h1>Formulaire non autorisé</h1>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
            Fermer
        </button>
    </div>
</html>