<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="workflow" type="org.esupportail.esupsignature.entity.Workflow"*/-->
<div th:if="${form.messageToDisplay != null}" class="toast toast-xl bg-white show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="999999999" style="z-index: 3;">
    <div class="toast-body toast-body-news">
        <button type="button" class="btn-close float-end" data-bs-dismiss="toast" aria-label="Close"></button>
        <h4 class="me-auto text-dark">Aide</h4>
        <h5 th:utext="${form.messageToDisplay}"></h5>
    </div>
    <div class="toast-footer">
        <button th:if="${form}" th:id="'markHelpAsReadButton_' + ${form.id}" class="btn btn-success me-2 mb-2 float-end" data-bs-dismiss="toast" aria-label="Close">
            <i class="fa fa-eye-slash"></i>
            Marquer comme lu
        </button>
    </div>
</div>
<div class="modal-header">
    <h3 class="modal-title" th:text="'Formulaire : ' + ${form.title}"></h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close">
    </button>
</div>
<div class="modal-body">
    <form id="send-form">
        <input type="submit" id="send-form-submit" class="d-none">
        <p th:if="${form.workflow == null || form.workflow.workflowSteps.size() == 0}">Après la validation, vous pourrez télécharger le document</p>
        <div th:if="${form.workflow != null && form.workflow.workflowSteps.size() > 0}">
            <h5>
                Le circuit associé à ce formulaire comporte <span
                    th:text="${form.workflow.workflowSteps.size()}"></span> étape<span th:if="${form.workflow.workflowSteps.size()} > 1">(s) : </span>
            </h5>
            <ul class="list-group striped-list">
                <th:block th:each="step, iterator : ${form.workflow.workflowSteps}">
                        <li th:id="'step-form-' + ${iterator.index}" class="list-group-item border-secondary">
                            <div class="form-group d-inline">
                                <div>
                                    <h3 class="d-inline">
                                        <span class="badge rounded-pill text-bg-primary me-4 align-middle" th:text="${iterator.index + 1}"></span>
                                    </h3>
                                    <b th:if="${step.description != null && step.description != ''}" th:text="${step.description}"></b>
                                    <th:block th:if="${step.users.size() > 0}">
                                        <div th:if="${step.description != null && step.description != ''}"></div>
                                        <th:block th:each="user, iterator : ${step.users}">
                                            <span th:text="${user.firstname} + ' ' + ${user.name}"></span>
                                            <span th:if="${iterator.index < step.users.size() - 1}"> ,</span>
                                        </th:block>
                                    </th:block>
                                    <th:block th:if="${step.autoSign}">
                                        <p>Signature automatique</p>
                                    </th:block>
                                </div>
                                <span th:if="${step.repeatable}"> (cette étape peut donner lieu à plusieurs validations en série)</span>
                            </div>
                            <div th:if="${step.changeable == true}" class="form-group mb-3">
                                <label><span th:text="'Merci de saisir le' + ${step.maxRecipients != null && step.maxRecipients > 1 ? '(s)' : ''} + ' participant' + ${step.maxRecipients != null && step.maxRecipients > 1 ? '(s)' : ''} + ' pour l\'étape ' + ${iterator.index + 1}"></span></label>
                                <select class="select-users" th:id="'recipientsEmails-' + ${iterator.index + 1}"
                                        multiple="multiple" name="recipientEmails" required="required" th:maxlength="${step.maxRecipients}">
                                    <option data-placeholder="true"></option>
                                    <th:block th:each="user : ${step.users}">
                                        <option th:if="${user.email != null && user.email != 'generic'}" selected="selected"
                                                th:text="${user.email}"
                                                th:placeholder="${user.email}"
                                                th:value="${user.email}"></option>
                                    </th:block>
                                </select>
                                <p class="small">
                                    Les signataires sont pré-sélectionnés en fonction de vos précédentes saisies.
                                </p>
                                <div th:id="'tempUsers-recipientsEmails-' + ${iterator.index + 1}"></div>
                                <div class="form-group mb-3" th:id="'all-sign-to-complete-div-' + ${iterator.index + 1}" style="display: none">
                                    <div class="form-check form-switch form-switch-md">
                                        <label  class="form-check-label" th:for="'all-sign-to-complete-' + ${iterator.index + 1}">Tous les participants doivent-ils signer ?</label>
                                        <input type="checkbox" class="form-check-input" name="allSignToCompletes" th:value="${iterator.index + 1}" th:id="'all-sign-to-complete-' + ${iterator.index + 1}"/>
                                    </div>
                                </div>
                            </div>
                        </li>
                </th:block>
            </ul>
            <th:block th:each="target : ${form.workflow.targets}">
                <hr>
                <div th:if="${target.targetUri.contains('mailto:')}" class="form-group mb-3">
                    <label>Étape finale : Envoi par mail à </label>
                    <select class="select-users" th:id="'targetEmailsSelect-' + ${form.id}" multiple="multiple" name="targetEmails">
                        <option data-placeholder="true"></option>
                        <option th:if="${target.targetUri != null && target.targetUri != ''}" th:value="${target.targetUri.split(':')[1]}" th:text="${target.targetUri.split(':')[1]}" selected></option>
                    </select>
                </div>
            </th:block>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary float-start" data-bs-dismiss="modal">Annuler</button>
    <button id="send-form-button" th:data-es-form-id="${form.id}" type="button" class="btn btn-success send-form-button">
        <div id="send-form-spinner" class="spinner-border d-none" style="width: 1rem; height: 1rem;">
        </div>
        Valider
    </button>
</div>
</html>