<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<div class="modal-header">
    <h3 class="modal-title" th:text="${modalTitle}"></h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="bs-stepper-header" role="tablist">
        <div class="step" data-bs-target="#test-l-2">
            <span class="bs-stepper-circle bg-success"><i class="fa-solid fa-copy"></i></span>
            <span class="bs-stepper-label">Dépôt des fichiers</span>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-bs-target="#test-l-3">
            <span class="bs-stepper-circle bg-success"><i class="fa-solid fa-project-diagram"></i></span>
            <span class="bs-stepper-label">Création du circuit</span>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step active" data-bs-target="#test-l-3">
            <span class="bs-stepper-circle"><i class="fa-solid fa-save"></i></span>
            <span class="bs-stepper-label">Sauvegarde</span>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-bs-target="#test-l-3">
            <span class="bs-stepper-circle"><i class="fa-solid fa-flag-checkered"></i></span>
            <span class="bs-stepper-label">Fin</span>
        </div>
    </div>
    <h4 class="d-flex justify-content-center mt-4">Démarrage du circuit</h4>
    <form id="pending-sign-form">
        <button type="submit" id="send-sign-submit" class="d-none"></button>
        <p th:unless="${signBook.liveWorkflow.workflow.workflowSteps.size() > 0}">Après la validation, vous pourrez télécharger le document</p>
        <div th:if="${signBook.liveWorkflow.workflow.workflowSteps.size() > 0}">
            <p>
                Le circuit "<span th:text="${signBook.liveWorkflow.workflow.description}"></span>" comporte <span th:text="${signBook.liveWorkflow.workflow.workflowSteps.size()}"></span> étape<span th:if="${signBook.liveWorkflow.workflow.workflowSteps.size()} > 1">s</span>
            </p>
            <ul class="list-group">
            <th:block th:each="step, iterator : ${signBook.liveWorkflow.workflow.workflowSteps}">
                <div th:id="'step-wiz-' + ${iterator.index + 1}">
                    <li class="list-group-item">
                    <div class="form-group mb-1">
                        <span th:text="'Etape ' + ${iterator.index + 1} + ' : '"></span>
                        <span th:if="${step.description != null && step.description != ''}" th:text="${step.description} + '.'"></span>
                        <th:block th:unless="${step.autoSign}">
                        Destinataires :
                        <th:block th:each="user, iterator : ${step.users}">
                            <span th:text="${user.email}"></span>
                            <span th:if="${iterator.index >= step.users.size()}">, </span>
                        </th:block>
                        <span th:if="${step.repeatable}"> (cette étape peut donner lieu à plusieurs validations en série)</span>
                        </th:block>
                        <th:block th:if="${step.autoSign}">
                            Étape automatique
                        </th:block>
                    </div>
                    <div th:if="${step.changeable == true}" class="form-group mb-1">
                        <label>
                            <span th:text="'Merci de saisir le(s) participant(s) pour l\'étape ' + ${iterator.index + 1}"></span>
                            <span th:if="${step.maxRecipients < 99}" th:text="'(maximum ' + ${step.maxRecipients} + ')'" ></span>
                        </label>
                        <select th:data-es-max-recipient="${step.maxRecipients}" th:id="'recipientsEmails-' + ${iterator.index + 1}" multiple="multiple" name="recipientEmails" required="required">
                            <option data-placeholder="true"></option>
                            <th:block th:each="user : ${step.users}">
                                <option th:if="${user.email != null}" selected="selected"
                                        th:text="${user.email}"
                                        th:value="${user.email}"></option>
                            </th:block>
                        </select>
                        <p class="small">
                            Les signataires sont pré-sélectionnés en fonction de vos précédentes saisies.
                        </p>
                    </div>
                    <div th:id="'tempUsers-recipientsEmails-' + ${iterator.index + 1}"></div>
                    </li>
                </div>
            </th:block>
            <th:block th:if="${isTempUsers}">
                <hr>
                <p>Certains destinataires sont externes à l'établissement, merci de saisir/vérifier les informations complémentaires si besoin</p>
                <th:block th:each="workflowStep : ${signBook.liveWorkflow.workflow.workflowSteps}">
                    <th:block th:each="user : ${workflowStep.users}">
                        <div class="alert alert-primary" th:if="${user.userType.name() == 'external'}">
                            <b>Destinataire : <span th:text="${user.email}"></span></b>
                            <input id="emails" type="hidden" name="emails" th:value="${user.email}">
                            <div class="d-flex col-10">
                                <label class="col-2" for="names">Nom</label>
                                <input id="names" class="form-control col-10" type="text" name="names" th:value="${user.firstname != 'Nouvel utilisateur'} ? ${user.name} : ''" required>
                            </div>
                            <div class="d-flex col-10">
                                <label class="col-2" for="firstnames">Prénom</label>
                                <input id="firstnames" class="form-control col-10" type="text" name="firstnames" th:value="${user.firstname != 'Nouvel utilisateur'} ? ${user.firstname} : ''" required>
                            </div>
                            <div class="d-flex col-10">
                                <label class="col-2" for="phones">Mobile</label>
                                <input id="phones" class="form-control col-10" type="text" name="phones" value="" th:required="${globalProperties.smsRequired}">
                            </div>
                        </div>
                    </th:block>
                </th:block>²
            </th:block>
            </ul>
        </div>
        <th:block th:each="target, iterator : ${signBook.liveWorkflow.workflow.targets}">
                <div th:if="${target.targetUri.contains('mailto:')}" class="form-group mb-3">
                    <label>Étape finale : Envoi par mail à </label>
                    <select class="select-users" id="targetEmailsSelect" multiple="multiple" name="targetEmails">
                        <option data-placeholder="true"></option>
                        <th:block th:each="targetEmail : ${target.targetUri.replace('mailto:', '').split(',')}">
                            <option selected="selected" th:if="${targetEmail != ''}" th:text="${targetEmail}" th:value="${targetEmail}"></option>
                        </th:block>
                    </select>
                </div>
            </th:block>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary float-start" data-bs-dismiss="modal">Annuler</button>
    <button type="button" id="send-draft-button" class="btn btn-success" name="draft" value="true">
        <i class="fa-solid fa-save"></i> Annoter avant envoi
    </button>
    <button type="button" id="send-pending-button" class="btn btn-success">
        <i class="fa-solid fa-paper-plane"></i> Envoyer immédiatement la demande
    </button>
</div>
</html>
