<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<div class="bs-stepper-header" role="tablist">
    <div class="step" data-bs-target="#test-l-2">
        <span class="bs-stepper-circle bg-success"><i class="fa-solid fa-copy"></i></span>
        <span class="bs-stepper-label">Dépôt des fichiers</span>
    </div>
    <div class="bs-stepper-line"></div>
    <div class="step" data-bs-target="#test-l-3">
        <span class="bs-stepper-circle bg-success"><i class="fa-solid fa-project-diagram"></i></span>
        <span class="bs-stepper-label">Création du circuit</span>
    </div>
    <div class="bs-stepper-line"></div>
    <div class="step" data-bs-target="#test-l-3">
        <span class="bs-stepper-circle bg-success"><i class="fa-solid fa-save"></i></span>
        <span class="bs-stepper-label">Sauvegarde</span>
    </div>
    <div class="bs-stepper-line"></div>
    <div class="step active" data-bs-target="#test-l-3">
        <span class="bs-stepper-circle"><i class="fa-solid fa-flag-checkered"></i></span>
        <span class="bs-stepper-label">Fin</span>
    </div>
</div>
<script th:if="${workflow != null || (close != null && close)}" th:inline="javascript">
    parent.location.href='/';
</script>
<script th:if="${signBook != null && !(close != null && close)}" th:inline="javascript">
    parent.location.href='/user/wizard/wizredirect/[[${signBook.id}]]';
</script>
</html>
