<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="workflow" type="org.esupportail.esupsignature.entity.Workflow"*/-->
<div class="modal-header">
    <h3 class="modal-title" id="sendSignRequestLabel">Créer une demande de signature</h3>
    <button type="button" class="btn-close" title="Fermer" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="update-fast-sign">
        <div class="form-group mb-3">
            <label class="form-label" for="title" >Titre (facultatif)</label>
            <input type="text" id="title" class="form-control" name="title" placeholder="Vous pouvez saisir un titre pour retrouver votre demande">
        </div>
        <div class="form-group mb-3">
            <label class="form-label" for="multipartFiles">Choix des fichiers à signer *</label>
            <input tabindex="500" id="multipartFiles" name="multipartFiles" type="file" multiple="multiple" th:accept="${globalProperties.pdfOnly} ? 'application/pdf' : ''" required>
        </div>
        <div id="forceAllSign" class="form-check form-switch form-switch-md d-none">
            <input id="force-all-sign" class="form-check-input" type="checkbox" name="forceAllSign">
            <label for="force-all-sign" class="form-check-label">Imposer la signature de tous les documents envoyés (hors pièces jointes)</label>
        </div>
        <div class="form-group mb-3">
            <div class="form-check form-switch form-switch-md">
                <label class="form-check-label" for="userSignFirst">Je dois signer ce document avant l’envoi</label>
                <input type="checkbox" class="form-check-input" name="userSignFirst" id="userSignFirst">
            </div>
        </div>
        <div class="w-100 d-inline-flex gap-2">
            <div class="w-50" style="min-width: 50%;">
                <div class="form-group mb-3">
                    <label class="form-label" for="recipientsEmails-1">Choisir les participants *</label>
                    <select class="select-users" data-es-check-cert="true" name="recipientsEmails" id="recipientsEmails-1" multiple="multiple" required="required">
                        <option data-placeholder="true"></option>
                    </select>
                    <div id="tempUsers-recipientsEmails-1"></div>
                </div>
                <div class="form-check form-switch form-switch-md" id="all-sign-to-complete-div-1" style="display: none">
                    <label  class="form-check-label" for="all-sign-to-complete-1">Tous les participants doivent-ils signer ?</label>
                    <input type="checkbox" class="form-check-input" name="allSignToComplete" id="all-sign-to-complete-1"/>
                </div>
            </div>
            <div class="w-50 align-self-start">
                <div class="form-group">
                    <label class="form-label" for="signType-1">Choisir un type de signature *</label>
                    <select class="form-select" name="signType" id="signType-1">
                        <th:block th:each="signType : ${signTypes}">
                            <option th:value="${signType}"
                                    th:text="#{'signbook.signtype.' + ${signType}}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="form-check form-switch form-switch-md " id="sign-options">
                    <label class="form-check-label">
                        Les signataires peuvent apposer plusieurs signatures
                    </label>
                    <input type="checkbox" class="form-check-input" id="multiSign" checked/>
                </div>
                <div class="form-check form-switch form-switch-md mb-3">
                    <label class="form-check-label">
                        Si signature unique, autoriser les annotation (coches, croix...)
                    </label>
                    <input type="checkbox" class="form-check-input" checked id="singleSignWithAnnotation" disabled/>
                </div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label class="form-label" for="recipientsCCEmails">Choisir les observateurs en copie (facultatif)</label>
            <select class="select-users" data-es-check-cert="true" name="recipientsCCEmails" id="recipientsCCEmails" multiple="multiple">
                <option data-placeholder="true"></option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-label" for="comment" >Commentaire (facultatif)</label>
            <textarea id="comment" placeholder="Vous pouvez saisir un commentaire ici. Celui-ci sera visible par tous les participants."  onfocus="this.placeholder = ''" class="form-control" name="comment"></textarea>
        </div>
        <button type="submit" id="update-fast-sign-submit" class="btn btn-success d-none"></button>
    </form>
</div>
<div class="modal-footer">
    <button id="fast-form-close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
    <button type="button" id="send-draft-button" class="btn btn-success">
        <div class="send-form-spinner spinner-border d-none" style="width: 1rem; height: 1rem;">
        </div>
        <i class="fa-solid fa-save"></i> Placer des champs signature ou annoter
    </button>
    <button type="button" id="send-pending-button" class="btn btn-success">
        <div class="send-form-spinner spinner-border d-none" style="width: 1rem; height: 1rem;">
        </div>
        <i class="fa-solid fa-paper-plane"></i> Envoyer immédiatement la demande
    </button>
</div>
</html>