<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<div id="stepper1" class="bs-stepper linear">
    <div class="bs-stepper-header" role="tablist">
        <div class="step active" data-bs-target="#test-l-3">
            <span class="bs-stepper-circle"><i class="fa-solid fa-project-diagram"></i></span>
            <span class="bs-stepper-label">Création du circuit</span>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-bs-target="#test-l-3">
            <span class="bs-stepper-circle"><i class="fa-solid fa-save fa-2x"></i></span>
            <span class="bs-stepper-label">Sauvegarde</span>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-bs-target="#test-l-3">
            <span class="bs-stepper-circle"><i class="fa-solid fa-flag-checkered"></i></span>
            <span class="bs-stepper-label">Fin</span>
        </div>
    </div>
</div>
<hr>
<div id="stepper2" class="bs-stepper linear">
    <div class="bs-stepper-header" role="tablist">
        <th:block th:if="${workflow != null}">
            <th:block th:if="${workflow.workflowSteps.size() > 0}" th:each="workflowStep,iterator : ${workflow.workflowSteps}">
                <div th:id="'liveStep-' + ${iterator.index + 1}" class="step border border-dark bg-white rounded p-1" th:name="'step_' + ${iterator.index}">
            <span title="Étape à venir" class="bs-stepper-circle">
                <i class="fa-solid fa-clock"></i>
            </span>
                    <span title="Tous les participants doivent signer" th:if="${workflowStep.allSignToComplete}" class="text-danger float-end"><i class="fa-solid fa-users"></i></span>
                    <span title="Une signature suffit" th:unless="${workflowStep.allSignToComplete}" class="float-end"><i class="fa-solid fa-user"></i></span>
                    <div class="bs-stepper-label">
                        <th:block th:if="${workflowStep != null && workflowStep.description != null && workflowStep.description != ''}">
                            <span th:text="${workflowStep.description}"></span>
                            <br/>
                        </th:block>
                        <span  th:text="#{'signbook.signtype.' + ${workflowStep.signType}}"></span>
                        <br/>
                        <table class="table table-sm table-hover table-borderless">
                            <th:block th:each="user : ${workflowStep.users}">
                                <tr>
                                    <td th:title="${user.email}" th:text="${user.firstname + ' ' + user.name}"></td>
                                    <td class="text-right">
                                        <i title="N'a pas signé le document" class="fa-solid fa-minus-circle text-secondary"></i>
                                    </td>
                                </tr>
                            </th:block>
                        </table>
                    </div>
                </div>
                <div th:if="${workflow.workflowSteps.size() > iterator.index + 1}" class="bs-stepper-line"></div>
            </th:block>
        </th:block>
    </div>
</div>
<hr>
<h4 class="d-flex justify-content-center mt-4">Paramètres de l’étape&nbsp;<span th:text="' ' + ${workflow != null? workflow.workflowSteps.size() + 1 : 1}"></span></h4>
<form id="wiz-step-form">
    <div class="form-check form-switch form-switch-md">
        <input type="checkbox" class="form-check-input" id="changeableWiz" name="changeableWiz" onclick="if(this.checked) {$('#recipientsEmailsWiz').attr('required', false);} else {$('#recipientsEmailsWiz').attr('required', true);}"/>
        <label for="changeable" class="form-check-label">
            Le créateur du circuit pourra modifier les participants de cette étape
        </label>
    </div>
<div class="col-lg-12">
    <input type="hidden" id="wizWorkflowId" name="wizWorkflowId" th:value="${workflow != null ? workflow.id : null}">
    <label class="form-label" for="recipientsEmailsWiz">Choisir les participants</label>
    <select data-es-check-list="false" name="recipientsEmailsWiz" id="recipientsEmailsWiz" multiple="multiple" required>
        <option data-placeholder="true"></option>
    </select>
    <div id="tempUsers-recipientsEmailsWiz"></div>
    <br/>
    <div class="form-check form-switch form-switch-md mb-2">
        <label class="form-check-label">
            Tous les participants doivent-ils signer ?
        </label>
        <input type="checkbox" class="form-check-input" name="allSignToComplete"/>
    </div>
    <label>Type de signature :</label>
    <select class="form-select" id="signTypeWiz" name="signType">
        <th:block th:each="signType : ${signTypes}">
            <option th:value="${signType}" th:text="#{'signbook.signtype.' + ${signType}}"></option>
        </th:block>
    </select>
</div>
<hr>
<button type="submit" id="addNew" class="btn btn-primary" style="position: absolute;right: 10px;bottom: 10px;">
    <i class="fa-solid fa-save fa-2x"></i> Enregistrer l'étape
</button>
<button formnovalidate id="exitWiz" name="exitWiz" value="true" th:if="${workflow != null && workflow.workflowSteps.size() > 0}" style="position: absolute;right: 200px;bottom: 10px;" type="button" class="btn btn-success">
    <i class="fa-solid fa-flag-checkered"></i> Terminer
</button>
</form>
<form id="wiz4Form" th:if="${workflow != null}" th:action="'/user/wizard/delete-workflow/' + ${workflow.id}" th:method="delete">
    <input type="hidden" name="name" th:value="${name}">
    <button type="submit" class="btn btn-secondary" style="position: absolute;left: 10px;bottom: 10px;">Annuler</button>
</form>
</html>
