<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<div id="stepper1" class="bs-stepper linear">
    <div class="bs-stepper-header" role="tablist">
        <div class="step active" data-target="#test-l-1">
                <span class="bs-stepper-circle"><i class="fas fa-magic"></i></span>
                <span class="bs-stepper-label">Nom</span>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-target="#test-l-2">
                <span class="bs-stepper-circle"><i class="fas fa-copy"></i></span>
                <span class="bs-stepper-label">Copie des fichiers</span>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-target="#test-l-3">
                <span class="bs-stepper-circle"><i class="fas fa-project-diagram"></i></span>
                <span class="bs-stepper-label">Création du circuit</span>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-target="#test-l-3">
                <span class="bs-stepper-circle"><i class="fas fa-save"></i></span>
                <span class="bs-stepper-label">Sauvegarde</span>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-target="#test-l-3">
                <span class="bs-stepper-circle"><i class="fas fa-flag-checkered"></i></span>
                <span class="bs-stepper-label">Fin</span>
        </div>
    </div>
</div>
<h4 th:if="${workflow != null}" class="d-flex justify-content-center mt-4" th:text="'Titre de la demande : ' + ${workflow.description}"></h4>
<h4 th:unless="${workflow != null}" class="d-flex justify-content-center mt-4">Titre de la demande de signature</h4>
<form th:action="'/user/wizard/wiz2'" method="post">
    <input th:if="${workflow != null}" type="hidden" name="workflowId" th:value="${workflow.id}">
    <div style="height: 100%">
        <div class="form-group" id="title">
            <label for="name">Saisir un nom</label>
            <input id="name" name="name" class="form-control" required="required" type="text" value="" autocomplete="on">
        </div>
        <div class="form-group">
        <button onclick="parent.$('.modal').modal('hide');" type="button" class="btn btn-secondary" style="position: absolute;left: 10px;bottom: 10px;">
            Annuler
        </button>
        <button type="submit" class="btn btn-success" style="position: absolute;right: 10px;bottom: 10px;">
            Suivant <i class="fas fa-angle-right"></i>
        </button>
        </div>
    </div>
</form>
<div class="alert alert-info">Une demande ne peut pas porter le même nom qu'une demande existante</div>
<div th:replace="fragments/message :: message"></div>
</body>
</html>
