<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<div id="stepper1" class="bs-stepper linear">
    <div class="bs-stepper-header" role="tablist">
        <div class="step active" data-target="#test-l-3">
            <span class="bs-stepper-circle"><i class="fas fa-project-diagram"></i></span>
            <span class="bs-stepper-label">Création du circuit</span>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-target="#test-l-3">
            <span class="bs-stepper-circle"><i class="fas fa-save"></i></span>
            <span class="bs-stepper-label">Sauvegarde</span>
        </div>
        <div class="bs-stepper-line"></div>
        <div class="step" data-target="#test-l-3">
            <span class="bs-stepper-circle"><i class="fas fa-flag-checkered"></i></span>
            <span class="bs-stepper-label">Fin</span>
        </div>
    </div>
</div>
<h4 class="d-flex justify-content-center mt-4">Paramètres de l'étape<span th:text="' ' + ${workflow != null? workflow.workflowSteps.size() + 1 : 1}"></span></h4>
<form th:action="'/user/wizard/wizXWorkflow/'" method="post">
    <input type="hidden" name="id" th:value="${workflow.id}" th:if="${workflow != null}">
    <div class="col-lg-12">
        <label for="recipientsEmail">Choisir les participants</label>
        <select name="recipientsEmail" id="recipientsEmail" size="5" multiple="multiple" required="required">
        </select>
        <br/><br/>
        <label>
            Tous les participants doivent-ils signer ?
        </label>
        <label class="switch">
            <input type="checkbox" name="allSignToComplete"/>
            <span class="slider round"></span>
        </label>
        <br/><br/>
        <label>Type de signature :</label>
        <select name="signType" class="form-control">
            <th:block th:each="signType : ${signTypes}">
                <option th:value="${signType}" th:text="#{'signbook.signtype.' + ${signType}}"></option>
            </th:block>
        </select>
    </div>
    <button type="submit" name="addNew" value="true" class="btn btn-primary" style="position: absolute;right: 10px;bottom: 10px;">
        <i class="fas fa-save"></i> Enregistrer l'étape
    </button>
    <button formnovalidate name="end" value="true" th:if="${workflow != null && workflow.workflowSteps.size() > 0}" style="position: absolute;right: 200px;bottom: 10px;" type="submit" class="btn btn-success">
        <i class="fas fa-flag-checkered"></i> Terminer
    </button>
</form>
<form id="wiz4Form" th:if="${workflow != null}" th:action="'/delete-workflow/' + ${workflow.id}" method="post">
    <input type="hidden" name="name" th:value="${name}">
    <button type="submit" class="btn btn-success" style="position: absolute;left: 10px;bottom: 10px;">
        <i class="fas fa-angle-left"></i> Annuler
    </button>
</form>
<script th:inline="javascript" type="module">
    import {default as SelectUser} from "/static/js/modules/utils/SelectUser.js";
    new SelectUser("recipientsEmail");
</script>
</body>
</html>
