<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>
<form th:action="'/user/wizard/wizX/' + ${signBook.id}" method="post">
    <input type="hidden" name="step" th:value="${step}">
    <th:block th:if="${workflowStep != null}">
    <h5 th:text="'Etape ' + ${step + 1}"></h5>
    <label>Nom de l'étape :</label>
    <input type="text" name="name" class="form-control" th:value="${workflowStep.name}" required>
    <br>
    <label>Type de signature :</label>
    <select name="signType" class="form-control">
        <th:block th:each="signType : ${signTypes}">
            <option th:value="${signType}" th:text="#{'signbook.signtype.' + ${signType}}" th:selected="${workflowStep.signRequestParams.signType == signType}"></option>
        </th:block>
    </select>
    <br>
    <label>
        Tous les participants doivent-ils signer ?
    </label>
    <label class="switch">
        <input type="checkbox" name="allSignToComplete"
               th:checked="${workflowStep.allSignToComplete}"/>
        <span class="slider round"></span>
    </label>
    <br/>
    <label for="signBookNames">Choisir les participants</label>
    <select onchange="checkNbRecipients();" name="signBookNames" id="signBookNames" size="5" multiple="multiple" required="required">
        <th:block th:each="signBook : ${allSignBooks}">
            <option th:value="${signBook.name}" th:text="${signBook.name} + ' (' + ${signBook.signBookType} + ')'"></option>
        </th:block>
    </select>
    <script language="JavaScript">
        new SlimSelect({
            select: "#signBookNames",
            placeholder: 'Choisir un ou plusieurs parapheur(s)',
            searchText: 'Aucun résultat',
            searchPlaceholder: 'Rechercher',
            searchHighlight: true,
            searchFilter: (option, search) => {
                return true;
            },
            ajax: function (search, callback) {
                if (search.length < 3) {
                    callback('Merci de saisir au moins 3 caractères')
                }
                fetch('/user/users/searchLdap?searchString=' + search)
                    .then(function (response) {
                        return response.json()
                    })
                    .then(function (json) {
                        let data = []
                        for (let i = 0; i < json.length; i++) {
                            data.push({text: json[i].displayName + ' (' + json[i].uid + ')', value: json[i].mail});
                        }
                        callback(data)
                    })
                    .catch(function (error) {
                        callback(false)
                    })
            }
        });
    </script>
    <button type="submit" class="btn btn-success" style="position: absolute;right: 0;bottom: 0;">
        Suivant <i class="fas fa-angle-right"></i>
    </button>
    <button type="button" onclick="window.history.back();" class="btn btn-success" style="position: absolute;left: 0;bottom: 0;">
        <i class="fas fa-angle-left"></i> Précédent
    </button>
    </th:block>
    <th:block th:if="${workflowStep == null}">
        <button type="submit" name="addNew" value="true" class="btn btn-primary" style="position: absolute;left: 0;bottom: 0;">
            <i class="fas fa-plus"></i> Ajouter une étape
        </button>
        <button th:onclick="'parent.location.href=\'/user/signbooks/' + ${signBook.id} + '\''" type="submit" class="btn btn-success">
            Terminer <i class="fas fa-flag-checkered"></i>
        </button>
        </button>
    </th:block>
</form>
</body>
</html>
