<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<div class="bs-stepper-header" role="tablist">
    <div class="step" data-target="#test-l-2">
        <span class="bs-stepper-circle bg-success"><i class="fas fa-copy"></i></span>
        <span class="bs-stepper-label">Copie des fichiers</span>
    </div>
    <div class="bs-stepper-line"></div>
    <div class="step" data-target="#test-l-3">
        <span class="bs-stepper-circle bg-success"><i class="fas fa-project-diagram"></i></span>
        <span class="bs-stepper-label">Création du circuit</span>
    </div>
    <div class="bs-stepper-line"></div>
    <div class="step" data-target="#test-l-3">
        <span class="bs-stepper-circle bg-success"><i class="fas fa-save"></i></span>
        <span class="bs-stepper-label">Sauvegarde</span>
    </div>
    <div class="bs-stepper-line"></div>
    <div class="step active" data-target="#test-l-3">
        <span class="bs-stepper-circle"><i class="fas fa-flag-checkered"></i></span>
        <span class="bs-stepper-label">Fin</span>
    </div>
</div>
<script th:unless="${signBook == null}" th:inline="javascript">
    parent.location.href='/user/wizard/wizredirect/[[${signBook.id}]]';
</script>
<script th:unless="${workflow == null}" th:inline="javascript">
    parent.location.href='/';
</script>
</body>
</html>
