<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>
    <button th:if="${mySign}" th:data1="${signRequest.token}" onclick="parent.location.href='/user/signrequests/sign-by-token/' + this.getAttribute('data1')" type="button" class="btn btn-success">
        Signer <i class="fas fa-signature"></i>
    </button>

    <button th:onclick="'parent.location.href=\'/user/signbooks/\''" type="submit" class="btn btn-success">
        Terminer <i class="fas fa-flag-checkered"></i>
    </button>

</body>
</html>
