<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<div class="bs-stepper-header" role="tablist">
    <div class="step" data-target="#test-l-1">
        <span class="bs-stepper-circle bg-success"><i class="fa fa-magic"></i></span>
        <span class="bs-stepper-label">Nom</span>
    </div>
    <div class="bs-stepper-line"></div>
    <div class="step" data-target="#test-l-2">
        <span class="bs-stepper-circle bg-success"><i class="fa fa-copy"></i></span>
        <span class="bs-stepper-label">Copie des fichiers</span>
    </div>
    <div class="bs-stepper-line"></div>
    <div class="step" data-target="#test-l-3">
        <span class="bs-stepper-circle bg-success"><i class="fa fa-project-diagram"></i></span>
        <span class="bs-stepper-label">Création du circuit</span>
    </div>
    <div class="bs-stepper-line"></div>
    <div class="step" data-target="#test-l-3">
        <span class="bs-stepper-circle bg-success"><i class="fa fa-save"></i></span>
        <span class="bs-stepper-label">Sauvegarde</span>
    </div>
    <div class="bs-stepper-line"></div>
    <div class="step active" data-target="#test-l-3">
        <span class="bs-stepper-circle"><i class="fa fa-flag-checkered"></i></span>
        <span class="bs-stepper-label">Fin</span>
    </div>
</div>
    <script>
        /*<![CDATA[*/
        parent.location.href='/user/signrequests/[[${signBook.signRequests.get(0).id}]]';
        location.href='/user/wizard/wiz1';
        /*]]>*/
    </script>
</body>
</html>
