<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data">
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/menu :: menu(activeMenu)">
<main role="main">
    <div class="wrapper">
        <div th:replace="fragments/side :: side"></div>
        <div class="content" id="v-pills-tabContent">
            <nav th:replace="fragments/breadcrumb :: breadcrumb"></nav>
            <div class="card">
                <div class="card-header" th:if="${form.activeVersion == true}">
                    <h2><span  th:text="'Module : ' + ${form.name}"></span>
                    <a th:title="'Ajouter : ' + ${form.name}" th:href="'/user/' + ${user.eppn} + '/data/form/' + ${form.id} + '/'" class="btn btn-success btn-circle btn-xl float-right">
                        <i class="fas fa-plus fa-2x"></i>
                    </a>
                    </h2>
                </div>
                <div class="card-body" style="height:500px;"  th:if="${form.activeVersion}">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th scope="col" style="width: 400px;">Nom du document</th>
                                <th scope="col" style="width: 300px;"><a class="sorted" sd:pagination-sort="createDate">Date de création</a></th>
                                <th class="d-none d-md-table-cell"  scope="col" style="width: 150px;">Statut</th>
                                <th class="show text-center" style="width: 320px;" scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="data : ${datas}">
                                <td th:text="${data.name}"></td>
                                <td th:text="${#dates.format(data.createDate, 'dd/MM/yyyy HH:mm')}"></td>
                                <td class="d-none d-md-table-cell" th:text="#{'data.status.' + ${data.status}}"></td>
                                <td class="show text-center" style="width: 320px;">
                                    <a title="Modifier" th:href="'/user/' + ${user.eppn} +'/data/' + ${data.id} + '/update'"
                                            class="btn btn btn-outline-dark btn-light float-left mr-2">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                    <button type="button" title="Modifier" th:unless="${data.status.name() == 'draft'}" class="btn float-left mr-2 disabled" disabled>
                                        <i class="fas fa-pen"></i>
                                    </button>
                                    <a th:unless="${data.status.name() == 'draft'}"  title="Dupliquer cette demande" th:href="'/user/' + ${user.eppn} +'/data/' + ${data.id} + '/clone'" class="mr-2 btn btn-outline-dark btn-light float-left">
                                        <i class="fas fa-copy"></i>
                                    </a>
                                    <button type="button" th:if="${data.status.name() == 'draft'}"  title="Dupliquer cette demande" class="mr-2 btn float-left disabled" disabled>
                                        <i class="fas fa-copy"></i>
                                    </button>

                                    <a th:if="${data.signUrl != null}" title="Signer" class="btn btn-success float-left mr-2" th:href="${data.signUrl}">
                                        <i class="fas fa-signature"></i>
                                    </a>
                                    <button th:unless="${data.signUrl != null}" title="Signer" class="btn float-left mr-2 disabled" type="button" disabled>
                                        <i class="fas fa-signature"></i>
                                    </button>
                                    <button th:if="${data.status.name() == 'completed'}"
                                            title="Télécharger" class="btn btn-warning float-left mr-2"
                                            type="button"
                                            th:onclick="'window.open(\'/user/data/' + ${data.id} + '/lastfile\')'">
                                        <i class="fas fa-download"></i>
                                    </button>
                                    <button th:unless="${data.status.name() == 'completed'}" disabled
                                            title="Télécharger" class="btn float-left mr-2"
                                            type="button" >
                                        <i class="fas fa-download"></i>
                                    </button>
                                    <button type="button"
                                            title="Supprimer" data-toggle="modal"
                                            data-target="#modal-warning"
                                            th:attr="data-target='#modal-warning'+${data.id }"
                                            class="btn btn-danger float-left">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                    <div class="modal modal-warning fade in"
                                         th:id="modal-warning+${data.id}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form id="command"
                                                      th:action="'/user/' + ${user.eppn} + '/data/'+ ${data.id}"
                                                      th:method="delete">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="alert alert-danger text-center">Confirmez-vous
                                                            la suppression ?
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline pull-left"
                                                                data-dismiss="modal">Fermer
                                                        </button>
                                                        <button type="submit"
                                                                class="btn btn-outline pull-left btn-danger">Valider
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="card-body" style="height:500px;"  th:unless="${form.activeVersion}">
                    <div class="alert alert-warning">
                        Cette version n'est pas active voir : <a th:href="'/user/form/' + ${activeVersionForm.id} + '/list'" >Dernière version</a>
                    </div>
                </div>
                <div class="card-footer">
                    <nav th:replace="fragments/pagination :: pagination"></nav>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
