<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head"></head>
	<body>
		<nav th:replace="fragments/nav :: nav(activeNav)"></nav>
		<div class="container-fluid">
           	<div class="card">
		    	<div class="card-header"><h2>Ajouter un individu</h2></div>
  				<div class="card-body">
                    <form action="#" th:action="@{/manager/person/update}" th:object="${person}" method="post">
                        <input type="hidden" name="_method" value="put" />
                    	<input type="hidden" th:field="*{id}">                    
	                    <div class="form-group">
	                        <label for="eppn" class="col-form-label">Eppn</label>
	                        <input type="text" th:field="*{eppn}" class="form-control">
	                    </div>
	                    <div class="form-group">
	                        <label for="numIdentifiant" class="col-form-label">Numéro d'identifiant</label>
	                        <input type="text" th:field="*{numIdentifiant}" class="form-control">
	                    </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-success" value="Valider">
                            </div>
                        </div>                  
                    </form>
                </div>
            </div>
		</div>
		<footer th:replace="fragments/footer"></footer>
	</body>
</html>
