<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<!--/*@thymesVar id="globalProperties" type="org.esupportail.esupsignature.config.GlobalProperties"*/-->
<div th:fragment="tools" id="tools" class="es-tools p-2  position-fixed" th:if="${toSignDocument != null}">
    <div class="m-2 p-2 bg-white rounded-3 shadow shadow-lg text-center" th:if="${annotation != null}">
        <div class="btn btn-warning" style="font-size: 22px; pointer-events: none;" th:if="${signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).pending || signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).draft}">
            <i class="fi fi-rr-edit"></i> Mode annotation
        </div>
    </div>
    <div class="m-2 p-2 bg-white rounded-3 shadow-lg" th:if="${annotation == null}">
        <div class="d-flex justify-content-around">
            <div class="btn btn-danger" style="font-size: 22px; pointer-events: none;" th:if="${signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).refused}">
                <i class="fi fi-rr-flag"></i> Signature refusée
            </div>
        <div class="btn btn-success" style="font-size: 22px; pointer-events: none;" th:if="${signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).completed || signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).exported }">
            <i class="fi fi-rr-flag"></i> Vous avez signé ce document
        </div>
        <div class="steps-horizontal-v2" th:if="${signable}">
            <div id="step-1" class="step-horizontal-v2 active d-flex gap-4 align-items-center">
                <div class="d-flex align-items-center gap-2">
                    <span class="text-secondary">Étape</span>
                    <div class="step-horizontal-v2-icon">
                        1
                    </div>
                </div>
                <div class="step-horizontal-v2-content">
                    <span class="text-xs font-bold d-flex align-items-center gap-1">
                        <div id="insert-btn-div" class="d-flex flex-nowrap" th:if="${signable && signRequest.currentSignType != T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa && toSignDocument.contentType == 'application/pdf'}">
                        <button tabindex="3" id="addSignButton2" role="button" class="btn btn-success pulse-success" title="Insérer une signature">
                            <i class="fi fi-rr-file-signature"></i> Insérer une signature
                        </button>
                        <div id="second-tools" class="es-second-tools position-fixed collapse">
                            <th:block th:if="${toSignDocument.contentType == 'application/pdf' && (signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).draft || signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).pending || comments.size() > 0)}">
                                <div id="signTools" th:if="${toSignDocument.contentType == 'application/pdf' && signable}" class="alert alert-light d-flex flex-column text-start gap-1 shadow">

                                </div>
                            </th:block>
                        </div>
                    </div>
                        <div th:if="${signable && (currentStepNumber > 1 || signRequest.createBy.eppn != userEppn)}">
                        ou
                            <button tabindex="1" id="refuseLaunchButton" class="btn btn-danger border-0 d-none" title="Refuser"
                                    th:token="${signRequest.token}" data-bs-toggle="modal" data-bs-target="#refuseModal">
                                <i class="fi fi-rr-document-circle-wrong "></i> Refuser
                            </button>
                        </div>

                    </span>
                </div>
            </div>
            <div id="step-2" class="step-horizontal-v2 disable">
                <div class="d-flex align-items-center gap-2">
                    <span class="text-secondary">Étape</span>
                    <div class="step-horizontal-v2-icon">
                        2
                    </div>
                </div>
                <div class="step-horizontal-v2-content d-flex align-items-center gap-1">
                    <div th:if="${signable && signRequest.currentSignType != T(org.esupportail.esupsignature.entity.enums.SignType).visa && signRequest.currentSignType != T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}">
                        <button disabled tabindex="1" id="signLaunchButton" role="button" class="btn btn-secondary d-none" title="Enregistrer la signature et passer à l'étape suivante disabled" style="outline:none;">
                            <i class="fi fi-rr-signature-lock " style="margin-top: 0; border: 0"></i> Signer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</html>