<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="signRequest" type="org.esupportail.esupsignature.entity.SignRequest"*/-->
<div th:fragment="workspace">
    <div class="row">
        <div class="col-lg-9">
            <form th:action="'/user/signrequests/comment/' + ${signRequest.id}" method="post" th:if="${documentType == 'pdf'}">
                <canvas th:if="${signable != 'ok'}" id="pdf" style="border : 1px solid black;" class="drop-shadows ">
                </canvas>
                <canvas th:if="${signable == 'ok'}" title="Cliquez pour ajouter une annotation" id="pdf" style="border : 1px solid black;" onmouseup="action();" onmousemove="point(event);" class="drop-shadows ">
                </canvas>
                <th:block th:if="${signable == 'ok' && signRequest.status.name() != 'signed' && @signRequestService.getCurrentSignType(signRequest).name() != 'visa'}">
                    <div onclick="dragSignature();" id="cross" ontouchstart="this.style.backgroundColor= 'rgba(0, 255, 0, .5)'; dragSignature();"
                         ontouchend="savePosition();" onmousedown="dragSignature();" onmouseup="savePosition();"
                         onmouseover="this.style.backgroundColor= 'rgba(0, 255, 0, .5)';"
                         onmouseout="this.style.backgroundColor= 'rgba(255, 0, 0, .0)';"
                         th:style="'display: none;background-repeat: no-repeat; background-position: left bottom; background-size: ' + ${signWidth} + 'px;background-image: url(\'data:image/png;base64,' + ${signFile} + '\'); width: ' + ${signWidth} + 'px; height: ' + ${signHeight} + 'px; line-height: ' + ${signHeight} + 'px; text-align: center; left: ' + ${@signRequestService.getCurrentSignRequestParams(signRequest).XPos + 100} + 'px;position:absolute;pointer-events: auto;cursor: move;'">
                        <div id="borders" class="anim-border" th:style="'text-align:left;line-height:normal;width: ' + ${signWidth} + 'px; height: ' + ${signHeight} + 'px;'"></div>
                    </div>
                </th:block>
                <th:block th:if="${signable == 'ok' && signRequest.status.name() != 'signed' && @signRequestService.getCurrentSignType(signRequest).name() == 'visa'}">
                    <div onclick="dragSignature();" id="cross" ontouchstart="this.style.backgroundColor= 'rgba(0, 255, 0, .5)'; dragSignature();"
                         ontouchend="savePosition();" onmousedown="dragSignature();" onmouseup="savePosition();"
                         onmouseover="this.style.backgroundColor= 'rgba(0, 255, 0, .5)';"
                         onmouseout="this.style.backgroundColor= 'rgba(255, 0, 0, .0)';"
                         th:style="'display: none;background-repeat: no-repeat; background-position: left bottom; background-size: 100px;background-image: url(\'/images/sceau.png\'); width: 100px; height: 75px; line-height: 75px; text-align: center; left: ' + ${@signRequestService.getCurrentSignRequestParams(signRequest).XPos} + 'px;top: ' + ${@signRequestService.getCurrentSignRequestParams(signRequest).YPos} + 'px;position:absolute;pointer-events: auto;cursor: move;'">
                        <div id="borders" class="anim-border"th:style="'vertical-align:top; text-align:left;line-height:6px; width:  ' + ${signWidth} + 'px; height:  ' + ${signHeight} + 'px;'">
                            <span id="textVisa" style="font-size: 6px;" th:text="'Visé par ' + ${user.firstname} + ' ' + ${user.name}"></span>
                            <br>
                        </div>
                    </div>
                </th:block>
                <script>
                    var url = '/user/signrequests/get-last-file/[[${signRequest.id}]]';
                </script>
                <div id="postit" class="postit" style="display: none;position: absolute;left: 0px;top: 0px;z-index: 2;">
                    <span onclick="hideComment()" class="float-right" style="cursor: pointer;">X</span>
                    <textarea id="comment" name="comment" class="postitarea" placeholder="Saisir une annotation"></textarea>
                    <button type="submit" class="btn btn-sm float-right">
                        <i class="fas fa-save"></i>
                    </button>
                </div>
                <input class="form-control form-control-sm col-6 d-none" value="0" id="signPageNumber" type="text" name="pageNumber"/>
                <input class="form-control form-control-sm col-6 d-none" value="0" id="xPos" type="text" name="posX"/>
                <input class="form-control form-control-sm col-6 d-none" value="0" id="yPos" type="text" name="posY"/>
                <input class="form-control form-control-sm col-6 d-none" type="checkbox" name="visual" id="visual"/>
                <input class="form-control form-control-sm col-6 d-none" type="checkbox" name="addDate" id="addDate"/>
                <script th:inline="javascript" >
                    /*<![CDATA[*/
                    var mode = 'sign';
                    var dateActive = false;
                    var visualActive = true;
                    var pointItEnable = true;
                    var pdfDoc = null,
                        pageNum = 1,
                        pageRendering = false,
                        pageNumPending = null,
                        scale = 0.75,
                        rotation = 0;
                    pdfjsLib.disableWorker = true;
                    //var pdfjsLib = window['pdfjs-dist/build/pdf'];
                    //pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';
                    pdfjsLib.getDocument(url).promise.then(function (pdf) {
                        pdfDoc = pdf;
                        document.getElementById('page_count').textContent = pdfDoc.numPages;
                        renderPage(pageNum);
                    });
                    var canvas = document.getElementById('pdf');
                    var ctx = canvas.getContext('2d');

                    function renderPage(num) {
                        if(pdfDoc != null) {
                        document.getElementById('signPageNumber').value = num;
                        pageRendering = true;
                        pdfDoc.getPage(num).then(function (page) {
                            var viewport = page.getViewport({scale, rotation});
                            canvas.height = viewport.height;
                            canvas.width = viewport.width;
                            var renderContext = {
                                canvasContext: ctx,
                                viewport: viewport
                            };
                            var renderTask = page.render(renderContext);
                            renderTask.promise.then(function () {
                                pageRendering = false;
                                if (pageNumPending !== null) {
                                    renderPage(pageNumPending);
                                    pageNumPending = null;
                                }
                            });
                        });
                        pageNum = num;
                        document.getElementById('page_num').textContent = num;
                        document.getElementById('zoom').textContent = 100 * scale;
                        refreshSign();
                        if(pdfDoc.numPages == 1) {
                            $('#prev').prop('disabled', true);
                            $('#next').prop('disabled', true);
                        }

                        [# th:each="postit : ${postits}"]
                            if([[${postit.pageNumber}]] == num && mode == 'comment') {
                                $("#[[${postit.id}]]").show();
                                $("#postit[[${postit.id}]]").css("background-color", "#FFC");
                            } else {
                                $("#[[${postit.id}]]").hide();
                                $("#postit[[${postit.id}]]").css("background-color", "#EEE");
                            }
                        [/]
                        }
                    }

                    function queueRenderPage(num) {
                        if (pageRendering) {
                            pageNumPending = num;
                        } else {
                            renderPage(num);
                        }
                    }

                    function prevPage() {
                        if (pageNum <= 1) {
                            return;
                        }
                        pageNum--;
                        queueRenderPage(pageNum);
                        window.scrollTo(0, 0);

                    }

                    document.getElementById('prev').addEventListener('click', prevPage);

                    function nextPage() {
                        if (pageNum >= pdfDoc.numPages) {
                            return;
                        }
                        pageNum++;
                        queueRenderPage(pageNum);
                        window.scrollTo(0, 0);
                    }

                    document.getElementById('next').addEventListener('click', nextPage);

                    function zoomIn() {
                        if (scale >= 2.5) {
                            return;
                        }
                        $(".circle").each(function( index ) {
                            var left = Math.round($(this).css('left').replace("px", "") / scale * (scale + 0.25));
                            var top = Math.round((($(this).css('top').replace("px", "") / scale) - 20) * (scale + 0.25)) + 20 * (scale + 0.25);
                            console.log(top);
                            $(this).css('left', left);
                            $(this).css('top', top);
                        });
                        scale = scale + 0.25;
                        //textDate = document.getElementById("textDate");
                        $('#textDate').css('font-size', 8 * scale + 'px')
                        $('#borders').css('line-height', 8 * scale + 'px')
                        queueRenderPage(pageNum);
                    }

                    document.getElementById('zoomin').addEventListener('click', zoomIn);

                    function zoomOut() {
                        if (scale <= 0.75) {
                            return;
                        }
                        $(".circle").each(function( index ) {
                            var left = Math.round($(this).css('left').replace("px", "") / scale * (scale - 0.25));
                            var top = Math.round((($(this).css('top').replace("px", "") / scale) - 20) * (scale - 0.25)) + 20 * (scale - 0.25);
                            console.log(top);
                            $(this).css('left', left);
                            $(this).css('top', top);
                        });
                        scale = scale - 0.25;
                        $('#textDate').css('font-size', 8 * scale + 'px')
                        $('#borders').css('line-height', 8 * scale + 'px')
                        queueRenderPage(pageNum);
                    }

                    document.getElementById('zoomout').addEventListener('click', zoomOut);

                    function rotateLeft() {
                        if (rotation < -90) {
                            return;
                        }
                        rotation = rotation - 90;
                        queueRenderPage(pageNum);
                    }

                    document.getElementById('rotateleft').addEventListener('click', rotateLeft);

                    function rotateRight() {
                        if (rotation > 90) {
                            return;
                        }
                        rotation = rotation + 90;
                        queueRenderPage(pageNum);
                    }

                    document.getElementById('rotateright').addEventListener('click', rotateRight);

                    var posX,
                        posY;

                    function action() {
                        if(mode == 'sign') {
                            savePosition();
                        } else if(mode == 'comment') {
                            displayComment();
                        }
                    }

                    function point(e) {
                        if(mode == 'sign') {
                            pointIt(e);
                        } else if(mode == 'comment') {
                            pointIt2(e)
                        }

                    }

                    var pdf = document.getElementById("pdf");

                    window.addEventListener("touchmove", function (e) {
                        if(pointItEnable) {
                            e.preventDefault();
                            pointItMove = true;
                            console.log("touch");
                            var rect = pdf.getBoundingClientRect();
                            var touch = e.touches[0] || e.changedTouches[0];
                            posX = touch.pageX;
                            posY = touch.pageY - (rect.top  + window.scrollY);
                            updateCrossPosition();
                        }

                    }, { passive: false });

                    function pointIt(e) {
                        if(pointItEnable) {
                            pointItMove = true;
                            posX = e.offsetX ? (e.offsetX) : e.clientX;
                            posY = e.offsetY ? (e.offsetY) : e.clientY;
                            updateCrossPosition();
                        }
                    }

                    function updateCrossPosition() {
                            console.log("change pos");
                            cross.style.backgroundColor = 'rgba(0, 255, 0, .5)';
                            cross.style.left = posX + "px";
                            cross.style.top = posY + "px";
                            document.getElementById("xPos").value = Math.round(posX / scale);
                            document.getElementById("yPos").value = Math.round(posY / scale);
                    }

                    function pointIt2(e) {
                        if (pointItEnable) {
                            console.log("mouse");
                            posX = e.offsetX ? (e.offsetX)
                                : e.clientX - pointerDiv.offsetLeft;
                            posY = e.offsetY ? (e.offsetY)
                                : e.clientY - pointerDiv.offsetTop;
                            console.log('point' + posX + ' : ' + posY);
                            document.getElementById("xPos").value = Math.round(posX / scale);
                            document.getElementById("yPos").value = Math.round(posY / scale);
                        }
                    }

                    function displayComment() {
                        if(mode != 'comment') {
                            return;
                        }
                        pointItEnable = false;
                        document.getElementById("postit").style.left = posX + "px";
                        document.getElementById("postit").style.top = posY + "px";
                        $("#postit").show();
                        //document.getElementById("postit").style.display = "block";
                    }

                    function hideComment() {
                        if(mode != 'comment') {
                            return;
                        }
                        pointItEnable = true;
                        $("#postit").hide();
                    }

                    function enableReadMode() {
                        //$('#pdf').awesomeCursor('comment-alt');
                        disableAllModes();
                        mode = 'read';
                        localStorage.setItem('mode', 'read');
                        pointItEnable = false;
                        scale = 1.75;
                        $('#readButton').toggleClass('btn-light btn-secondary');
                        $('#rotateleft').prop('disabled', false);
                        $('#rotateright').prop('disabled', false);
                        queueRenderPage(pageNum);
                    }

                    function enableCommentMode() {
                        //$('#pdf').awesomeCursor('comment-alt');
                        disableAllModes();
                        mode = 'comment';
                        localStorage.setItem('mode', 'comment');
                        pointItEnable = true;
                        scale = 0.75;
                        $('#workspace').toggleClass('alert-warning alert-secondary');
                        $('#commentButton').toggleClass('btn-light btn-warning');
                        $('#commentsTools').show();
                        $('#infos').show();
                        queueRenderPage(pageNum);
                    }

                    function enableSignMode() {
                        disableAllModes();
                        mode = 'sign';
                        localStorage.setItem('mode', 'sign');
                        pointItEnable = false;
                        $('#workspace').toggleClass('alert-success alert-secondary');
                        $(".circle").each(function( index ) {
                            $(this).hide();
                        });
                        document.getElementById("xPos").value = Math.round([[${@signRequestService.getCurrentSignRequestParams(signRequest).XPos}]]);
                        document.getElementById("yPos").value = Math.round([[${@signRequestService.getCurrentSignRequestParams(signRequest).YPos}]]);
                        $('#signButton').toggleClass('btn-light btn-success');
                        $('#signtools').show();
                        $('#stepscard').show();
                        $('#infos').show();
                        if(visualActive) {
                            $('#pen').removeClass('btn-outline-secondary').addClass('btn-outline-success');
                            $('#cross').show();
                        }
                        rotation = 0;
                        scale = 0.75;
                        queueRenderPage(pageNum);

                    }

                    function enableRefuseMode() {
                        disableAllModes();
                        mode = 'refuse';
                        localStorage.setItem('mode', 'refuse');
                        $('#workspace').toggleClass('alert-danger alert-secondary');
                        $('#refuseButton').toggleClass('btn-light btn-danger');
                        $('#refusetools').show();
                        $('#infos').show();
                        queueRenderPage(pageNum);
                    }

                    function disableAllModes() {
                        mode = 'sign';
                        $('#workspace').removeClass('alert-danger').removeClass('alert-warning').removeClass('alert-success').addClass('alert-secondary');
                        $('#commentButton').addClass('btn-light').removeClass('btn-warning');
                        $('#signButton').addClass('btn-light').removeClass('btn-success');
                        $('#refuseButton').addClass('btn-light').removeClass('btn-danger');
                        $('#readButton').addClass('btn-light').removeClass('btn-secondary');
                        $('#commentsTools').hide();
                        $('#stepscard').hide();
                        $('#signtools').hide();
                        $('#cross').hide();
                        $('#infos').hide();
                        $('#postit').hide();
                        $('#refusetools').hide();
                        $('#rotateleft').prop('disabled', true);
                        $('#rotateright').prop('disabled', true);
                    }

                    function refreshSign() {
                        $('#cross').css('left', [[${@signRequestService.getCurrentSignRequestParams(signRequest).XPos}]] * scale + 15);
                        $('#cross').css('top', [[${@signRequestService.getCurrentSignRequestParams(signRequest).YPos}]] * scale);
                        $('#cross').css('backgroundSize', [[${signWidth}]] * scale);
                        $('#cross').css('width', [[${signWidth}]] * scale);
                        $('#cross').css('height', [[${signHeight}]] * scale);
                        $('#borders').css('width', [[${signWidth}]] * scale);
                        $('#borders').css('height', [[${signHeight}]] * scale);
                        $('#textVisa').css('font-size', 8 * scale);

                    }

                    function toggleVisual() {
                        if(visualActive) {
                            visualActive = false;
                            $('#clock').prop('disabled', true);
                        } else {
                            visualActive = true;
                            $('#clock').prop('disabled', false);
                        }
                        $('#cross').toggle();
                        $('#pen').toggleClass('btn-outline-success btn-outline-secondary');
                    }

                    function toggleDate() {
                        $('#clock').toggleClass('btn-outline-success btn-outline-secondary');
                        var cross = document.getElementById("cross");
                        var borders = document.getElementById("borders");
                        var textDate;

                        if(!dateActive) {
                            dateActive = true;
                            cross.style.width = 200;
                            cross.style.height = cross.offsetHeight + 20;
                            borders.style.width = 200;
                            borders.style.height = borders.offsetHeight + 20;
                            borders.insertAdjacentHTML("beforeend", "<span id='textDate' class='align-top' style='font-size:" + 8 * scale + "px;'>Le XX/XX/XXXX XX:XX</span>");
                        } else {
                            dateActive = false;
                            cross.style.width = 100;
                            cross.style.height = cross.offsetHeight - 20;
                            borders.style.width = 100;
                            borders.style.height = borders.offsetHeight - 20;
                            textDate = document.getElementById("textDate");
                            textDate.remove();
                        }
                    }

                    $(document).ready(function () {
                        if(localStorage.getItem('mode') != null && localStorage.getItem('mode') != "") {
                            mode = localStorage.getItem('mode');
                        } else {
                            localStorage.setItem('mode', 'sign');
                        }
                        if(mode == 'sign') {
                            enableSignMode();
                        } else if(mode == 'comment') {
                            enableCommentMode();
                        } else if(mode == 'refuse') {
                            enableRefuseMode();
                        } else {
                            enableReadMode();
                        }

                        window.addEventListener("wheel", function(event)
                        {
                            if(event.ctrlKey == true) {
                                if (detectMouseWheelDirection(event) == 'down'){
                                    zoomOut();
                                } else {
                                    zoomIn();
                                }
                            } else {
                                if (detectMouseWheelDirection(event) == 'down' && $(window).scrollTop() + $(window).height() == $(document).height()) {
                                    if(pageNum < pdfDoc.numPages) {
                                        nextPage();
                                    }
                                } else if (detectMouseWheelDirection(event) == 'up' && window.scrollY == 0) {
                                    if(pageNum > 1) {
                                        prevPage();
                                        window.scrollTo(0, document.body.scrollHeight);
                                    }
                                }
                            }
                        });
                    });

                    function detectMouseWheelDirection( e )
                    {
                        var delta = null,
                            direction = false;
                        if ( !e ) {
                            e = window.event;
                        }
                        if ( e.wheelDelta ) {
                            delta = e.wheelDelta / 60;
                        } else if ( e.detail ) {
                            delta = -e.detail / 2;
                        }
                        if ( delta !== null ) {
                            direction = delta > 0 ? 'up' : 'down';
                        }
                        return direction;
                    }

                    /*]]>*/
                </script>
                <script th:if="${signable == 'ok' && @signRequestService.getCurrentSignType(signRequest).name() == 'visa'}">
                    $(document).ready(function () {
                        if(mode == 'sign') {
                            toggleVisual();
                        }
                    });
                </script>
                <th:block th:each="postit : ${postits}">
                    <div th:id="${postit.id}" class="circle">
                        <i class="far fa-comment-alt fa-3x"></i>
                    </div>
                    <script th:inline="javascript" >
                        /*<![CDATA[*/
                        $('#[[${postit.id}]]').css('left', [[${postit.posX}]] * scale);
                        $('#[[${postit.id}]]').css('top', [[${postit.posY}]] * scale - 20 * scale);
                        /*]]>*/
                    </script>
                </th:block>
            </form>
            <form th:action="'/user/signrequests/comment/' + ${signRequest.id}" method="post" th:if="${documentType != 'pdf'}">
                <script>
                    var mode = 'sign';

                    function enableSignMode() {
                        disableAllModes();
                        mode = 'sign';
                        localStorage.setItem('mode', 'sign');
                        pointItEnable = false;
                        $('#workspace').toggleClass('alert-success alert-secondary');
                        $('#signButton').toggleClass('btn-light btn-success');
                        $('#signtools').show();
                        $('#stepscard').show();
                        $('#infos').show();
                    }

                    function enableRefuseMode() {
                        disableAllModes();
                        mode = 'refuse';
                        localStorage.setItem('mode', 'refuse');
                        $('#workspace').toggleClass('alert-danger alert-secondary');
                        $('#refuseButton').toggleClass('btn-light btn-danger');
                        $('#refusetools').show();
                        $('#infos').show();
                    }

                    function disableAllModes() {
                        $('#pen').hide();
                        $('#clock').hide();
                        mode = 'sign';
                        $('#workspace').removeClass('alert-danger').removeClass('alert-warning').removeClass('alert-success').addClass('alert-secondary');
                        $('#commentButton').addClass('btn-light').removeClass('btn-warning');
                        $('#signButton').addClass('btn-light').removeClass('btn-success');
                        $('#refuseButton').addClass('btn-light').removeClass('btn-danger');
                        $('#readButton').addClass('btn-light').removeClass('btn-secondary');
                        $('#commentsTools').hide();
                        $('#stepscard').hide();
                        $('#signtools').hide();
                        $('#cross').hide();
                        $('#infos').hide();
                        $('#refusetools').hide();
                        $('#rotateleft').prop('disabled', true);
                        $('#rotateright').prop('disabled', true);
                    }

                    $(document).ready(function () {
                        if (localStorage.getItem('mode') != null && localStorage.getItem('mode') != "") {
                            mode = localStorage.getItem('mode');
                        } else {
                            localStorage.setItem('mode', 'sign');
                        }
                        if (mode == 'sign') {
                            enableSignMode();
                        } else if (mode == 'refuse') {
                            enableRefuseMode();
                        } else {
                            enableReadMode();
                        }
                    });
                </script>
            </form>
            <div th:if="${documentType != 'pdf' && signRequest.originalDocuments.size() > 0}" class="col-6">
            <div class="card rounded-0 mb-1">
                <div class="card-header">
                    Liste des documents originaux
                </div>
                <div class="card-body">
                    <div class="file-loading">
                        <input id="multipartFile" name="multipartFiles" type="file" multiple="multiple"/>
                    </div>
                </div>
            </div>

            <div class="card rounded-0 mb-1" th:if="${signRequest.status.name() == 'completed' || signRequest.status.name() == 'exported'}">
                <div class="card-header">
                    Liste des documents signés
                </div>
                <div class="card-body">
                    </div>
                    <div class="file-loading">
                        <input id="signedFiles" name="multipartFiles" type="file" multiple="multiple"/>
                    </div>
                </div>
            </div>
            <script th:replace="user/signrequests/includes/scriptshow :: scriptshow"></script>
        </div>
        <div id="infos" class="d-none d-lg-block">
            <div th:replace="user/signrequests/includes/statusdetails :: statusdetails"></div>
            <th:block th:if="${signRequest.parentSignBook != null}">
            <div th:replace="user/signbooks/cards/stepscard :: stepscard"></div>
            </th:block>
            <div id="commentsTools" th:if="${documentType == 'pdf'}" style="display:none; transition: all 0.3s;">
                <div class="alert alert-light">Vous pouvez ajouter des commentaires en cliquant sur l'endroit concerné du document</div>
                <div th:if="${postits.size() > 0}" class="alert alert-warning">
                    <ul class="list-group">

                    <th:block th:each="postit : ${postits}">
                        <li th:id="'postit' + ${postit.id}" class="list-group-item" style="position: relative;user-select: none;-moz-user-select: none;-khtml-user-select: none;-webkit-user-select: none;-o-user-select: none;cursor: pointer"
                             th:onclick="'queueRenderPage(' + ${postit.pageNumber} + ');$(\'html,body\').animate({scrollTop: $(\'#' + ${postit.id} + '\').css(\'top\').replace(\'px\', \'\')}, \'slow\');'">
                            <b th:text="${@userService.getUserByEppn(postit.eppn).firstname + ' ' + @userService.getUserByEppn(postit.eppn).name}"></b>
                            <span th:text="${#dates.format(postit.logDate, 'dd/MM/yyyy HH:mm')}"></span>
                            <p class="postitarea" th:text="${postit.comment}"></p>
                        </li>
                        <script>
                            /*<![CDATA[*/
                            var c = document.getElementById("postit[[${postit.id}]]");
                            c.style.setProperty("--angle", Math.round(Math.random()) * 6 - 3 + "deg");
                            /*]]>*/
                        </script>
                    </th:block>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>