<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="signRequest" type="org.esupportail.esupsignature.entity.SignRequest"*/-->
<!--/*@thymesVar id="signRequestParams" type="org.esupportail.esupsignature.entity.SignRequestParams"*/-->
<!--/*@thymesVar id="postit" type="org.esupportail.esupsignature.entity.Log"*/-->
<div th:fragment="workspace" id="workspace" class="workspace-sign alert alert-secondary fadein">
    <form th:action="'/user/signrequests/comment/' + ${signRequest.id}" method="post" th:if="${documentType == 'pdf'}">
        <div id="pdf" class="drop-shadows "></div>
        <th:block th:if="${signRequest.signable && signRequest.status.name() != 'signed' && @signRequestService.getCurrentSignType(signRequest).name() != 'visa'}">
            <div id="cross" ontouchstart="this.style.backgroundColor= 'rgba(0, 255, 0, .5)';"
                 onmouseover="this.style.backgroundColor= 'rgba(0, 255, 0, .5)';"
                 onmouseout="this.style.backgroundColor= 'rgba(255, 0, 0, .0)';"
                 th:style="'display: none;background-repeat: no-repeat; background-position: left bottom; background-size: ' + ${signWidth} + 'px;background-image: url(\'data:image/png;base64,' + ${signFile} + '\'); width: ' + ${signWidth} + 'px; height: ' + ${signHeight} + 'px; line-height: ' + ${signHeight} + 'px; text-align: center;  left: ' + ${signRequest.getCurrentSignRequestParams().xPos} + 'px;top: ' + ${signRequest.getCurrentSignRequestParams().yPos} + 'px;position:absolute;pointer-events: auto;cursor: move;'">
                <div id="borders" class="anim-border" th:style="'text-align:left;line-height:normal;width: ' + ${signWidth} + 'px; height: ' + ${signHeight} + 'px;'"></div>
            </div>
        </th:block>
        <th:block th:if="${signRequest.signable && signRequest.status.name() != 'signed' && @signRequestService.getCurrentSignType(signRequest).name() == 'visa'}">
            <div id="cross" ontouchstart="this.style.backgroundColor= 'rgba(0, 255, 0, .5)';"
                 onmouseover="this.style.backgroundColor= 'rgba(0, 255, 0, .5)';"
                 onmouseout="this.style.backgroundColor= 'rgba(255, 0, 0, .0)';"
                 th:style="'display: none;background-repeat: no-repeat; background-position: left bottom; background-size: 100px;background-image: url(\'/images/sceau.png\'); width: 100px; height: 75px; line-height: 75px; text-align: center; left: ' + ${signRequest.getCurrentSignRequestParams().xPos} + 'px;top: ' + ${signRequest.getCurrentSignRequestParams().yPos} + 'px;position:absolute;pointer-events: auto;cursor: move;'">
                <div id="borders" class="anim-border" th:style="'vertical-align:top; text-align:left;line-height:6px; width:  ' + ${signWidth} + 'px; height:  ' + ${signHeight} + 'px;'">
                    <span id="textVisa" style="font-size: 8px; line-height: normal; font-weight: bold" th:text="'Visé par ' + ${user.firstname} + ' ' + ${user.name}"></span>
                    <br>
                </div>
            </div>
        </th:block>
        <div id="postit" class="postit" style="display: none;position: absolute;left: 0px;top: 0px;z-index: 2;">
            <span id="hideComment" class="float-right" style="cursor: pointer;">X</span>
            <textarea id="comment" name="comment" class="postitarea" placeholder="Saisir une annotation"></textarea>
            <button type="submit" class="btn btn-sm float-right">
                <i class="fas fa-save"></i>
            </button>
        </div>
        <input class="form-control form-control-sm col-6 d-none" value="1" id="signPageNumber" type="text" name="pageNumber"/>
        <input class="form-control form-control-sm col-6 d-none" value="0" id="xPos" type="text" name="posX"/>
        <input class="form-control form-control-sm col-6 d-none" value="0" id="yPos" type="text" name="posY"/>
        <input class="form-control form-control-sm col-6 d-none" type="checkbox" name="visual" id="visual"/>
        <input class="form-control form-control-sm col-6 d-none" type="checkbox" name="addDate" id="addDate"/>
        <th:block th:each="postit : ${postits}">
            <div th:id="${postit.id}" class="circle" th:onmouseover="'$(\'#postit' + ${postit.id} + '\').addClass(\'circle-border\');'" th:onmouseout="'$(\'#postit' + ${postit.id} + '\').removeClass(\'circle-border\');'">
                <i class="fas fa-comment fa-3x"></i>
            </div>
        </th:block>
    </form>
    <div th:if="${documentType != 'pdf' && signRequest.originalDocuments.size() > 0}" class="col-6">
    <div class="card mb-1">
        <div class="card-header">
            Liste des documents originaux
        </div>
        <div class="card-body">
            <div class="file-loading">
                <input id="multipartFile" name="multipartFiles" type="file" multiple="multiple"/>
            </div>
        </div>
    </div>

    <div class="card mb-1" th:if="${signRequest.status.name() == 'completed' || signRequest.status.name() == 'exported'}">
        <div class="card-header">
            Liste des documents signés
        </div>
        <div class="card-body">
            </div>
            <div class="file-loading">
                <input id="signedFiles" name="multipartFiles" type="file" multiple="multiple"/>
            </div>
        </div>
    </div>
    <script th:replace="user/signrequests/includes/scriptshow :: scriptshow"></script>
    <script th:inline="javascript" type="module">

    </script>
</div>
