<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="forms" type="java.util.List<org.esupportail.esupsignature.entity.Form>"*/-->
<!--/*@thymesVar id="workflows" type="java.util.List<org.esupportail.esupsignature.entity.Workflow>"*/-->
<head th:replace="~{fragments/head :: head}"></head>
<body>
<header th:replace="~{fragments/nav :: nav}"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="~{fragments/sides/side-admin :: side-admin}"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb col-12">
                <li class="breadcrumb-item"><a href="/admin">Administration</a></li>
                <li class="breadcrumb-item active">Liste des circuits</li>
            </ol>
        </nav>
        <div id="content" class="content">
<!--            <div class="fixed-action-btn" >-->
<!--                <a title="Créer un nouveau circuit" data-bs-toggle="modal" data-bs-target="#newSignBook" type="button"-->
<!--                   class="btn-floating btn-lg bg-primary">-->
<!--                    <i class="fa-solid fa-plus fa-2xl"></i>-->
<!--                </a>-->
<!--            </div>-->
            <div class="card col-lg-10 mx-auto">
                <div class="card-body">
                    <h5 class="text-center"><b>Exports</b></h5>

                    <ul>
                    <th:block th:each="form : ${forms}">
                        <li>
                            <a th:href="'/admin/export/form/' + ${form.name} + '/datas/csv'" th:text="'Export ' + ${form.title}" download></a>
                            (<a th:href="'/admin/export/form/' + ${form.name} + '/datas/json'" target="_blank">json</a>)
                        </li>
                    </th:block>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
