<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- default configuration from springboot -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>


    <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
        <smtpHost>smtp.univ-ville.fr</smtpHost>
        <smtpPort>25</smtpPort>
        <to>david.lemaignent@univ-rouen.fr</to>
        <from>esup-signature@univ-rouen.fr</from>
        <subject>%-5level - esup-signature %date{dd/MM/yyyy HH:mm:ss}
        </subject>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%-5level] %date{dd/MM/yyyy HH:mm:ss} [%-20thread] %logger{36}.%M\(%line\) - %msg%n</pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <logger name="org.esupportail.esupsignature" level="info" additivity="false">
        <appender-ref ref="EMAIL"/>
    </logger>

    <root level="info">
        <appender-ref ref="EMAIL"/>
    </root>

</configuration>
