<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="header-fixed fixed-top">
    <nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
    <nav class="nav justify-content-between bg-white" aria-label="breadcrumb">
        <ol class="breadcrumb col-11">
            <li class="breadcrumb-item active">Liste des demandes</li>
        </ol>
        <div class="navbar-nav align-self-center">
            <button data-target="#collapseHelp" data-toggle="collapse" type="button" class="btn btn-info">
					<span class="fas fa-info-circle"> <!--  -->
					</span>
            </button>
        </div>
    </nav>
    <div id="collapseHelp" class="collapse" aria-expanded="true" style="">
        <div class="alert alert-info">
            <p>Liste des demandes de signatures concernant l'utilisateur courant (à signer ou envoyés pour signature)</p>
            <p>Statut des demandes de signatures :</p>
            <p>
					<span class="alert alert-primary">
					<i class="fas fa-clock"></i> <span th:text="#{'signbook.status.pending'}"></span>
					</span> La demande se trouve dans un ou plusieurs parapheur, elle est en attente d'une ou plusieurs signatures
            </p>
            <p>
					<span class="alert alert-success">
					<i class="fas fa-file-signature"></i> <span th:text="#{'signbook.status.signed'}"></span>
					</span> Tous les critères de signatures sont remplis
            </p>
            <p>
					<span class="alert alert-success">
					<i class="far fa-check-circle"></i> <span th:text="#{'signbook.status.checked'}"></span>
					</span> Le document à été validé par tous les participants
            </p>
            <p>
					<span class="alert alert-danger">
					<i class="fas fa-ban"></i> <span th:text="#{'signbook.status.refused'}"></span>
					</span> La demande à été refusée et retirée des parapheurs
            </p>
            <p>
					<span class="alert alert-warning">
					<i class="fas fa-flag-checkered"></i> <span th:text="#{'signbook.status.completed'}"></span>
					</span> La demande la demande est terminée </p>
            <p>
				<span class="alert alert-warning">
				<i class="fas fa-file-export"></i> <span th:text="#{'signbook.status.exported'}"></span>
					</span> La demande la demande à été exportée vers un autre système de stockage et retirée des parapheurs
            </p>
        </div>
    </div>
    <div id="ribbon" class="card">
        <div class="card-body">

        </div>
    </div>
</div>
<main role="main" class="container-fluid">
    <br/>
    <div class="card">
        <div class="card-header">
            Documents envoyés
            <div class="row">

                <div class="col-lg-12">
                    <form class="" action="" method="get">
                        <div class="card">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Statut</div>
                                </div>
                                <select class="form-control" name="statusFilter" id="statusFilter" onchange="submit();">
                                    <option value="" disabled="disabled" selected="selected">Choisir un statut</option>
                                    <option value="all">Tous</option>
                                    <th:block th:each="status : ${statuses}">
                                        <option th:if="${status == statusFilter}" th:value="${status}" selected="selected" th:text="#{'signbook.status.' + ${status}}"></option>
                                        <option th:unless="${status == statusFilter}" th:value="${status}" th:text="#{'signbook.status.' + ${status}}"></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div style="display: none;" id="alertsigndocs" class="alert alert-danger" role="alert">Impossible de signer en masse la selection actuelle</div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="none">Titre</th>
                        <th class="none"><a class="sorted"
                                            sd:pagination-sort="createDate">Date de création</a></th>
                        <th class="none">Créé par</th>
                        <th class="none">Destinataires</th>
                        <th class="status">Statut</th>
                        <th>Voir</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="signRequest : ${signRequests}">
                        <tr>
                            <td class="none"><p class="truncate" th:title="${signRequest.title}" th:text="${signRequest.title}"></p></td>
                            <td class="none"><span th:text="${#dates.format(signRequest.createDate, 'dd/MM/yyyy HH:mm')}"></span></td>
                            <td class="none"><span th:text="${signRequest.createBy}"></span></td>
                            <td class="d-none d-lg-table-cell">
                                <table class="table table-sm">
                                    <tbody>
                                    <th:block th:each="signBooksLabel : ${signRequest.currentWorkflowStep.recipientsNames}">
                                        <tr>
                                            <td width="100%" th:text="${signBooksLabel.key}"></td>
                                            <td align="center">
                                                <div th:switch="${signBooksLabel.value}">
                                                    <i title="a signé le document" th:case="true" class="fas fa-check-circle text-success"></i>
                                                    <i title="n'a pas signé le document" th:case="false" class="fas fa-exclamation-circle text-danger"></i>
                                                </div>
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </td>
                            <td class="status" style="width: 150px;">
                                <div th:replace="user/signrequests/includes/status :: status"></div>
                            </td>
                            <td class="utilbox">
                                <button class="btn btn-info far fa-eye" title="Sign Request" th:onclick="'location.href=\'/admin/signrequests/' + ${signRequest.id} + '\''">
                                    <!--  -->
                                </button>
                            </td>
                            <td class="utilbox">
                                <form class="delete" th:action="'/admin/signrequests/' + ${signRequest.id}" method="post">
                                    <input type="hidden" name="_method" value="DELETE"/>
                                    <button onclick="return confirm('Voulez-vous vraiment supprimer cet element ?');" value="Supprimer Sign Request" type="submit" title="Supprimer Sign Request" class="btn btn-danger far fa-trash-alt"></button>
                                </form>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
        <div c lass="card-footer">
            <nav th:replace="fragments/pagination :: pagination"></nav>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
