<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"></head>
<body>
<nav th:replace="fragments/nav"></nav>
<main role="main" class="">
    <div class="wrapper">
        <nav th:insert="fragments/side-admin"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Liste des demandes</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="card col-lg-10 mx-auto">
                <div class="card-body">
                    <form action="/admin/signrequests" method="get">
                        <div class="form-group">
                            <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Statut</span>
                            </div>
                            <select class="form-control" name="statusFilter" id="statusFilter" onchange="submit();">
                                <option value="" data-placeholder="true">Choisir un statut</option>
                                <option value="all">Tous</option>
                                <th:block th:each="status : ${statuses}">
                                    <option th:if="${status == statusFilter}" th:value="${status}"
                                            selected="selected"
                                            th:text="#{'signbook.status.' + ${status}}"></option>
                                    <option th:unless="${status == statusFilter}" th:value="${status}"
                                            th:text="#{'signbook.status.' + ${status}}"></option>
                                </th:block>
                            </select>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-hover table-borderless">
                            <thead class="thead-dark">
                            <tr>
                                <th class="w-20">Circuit</th>
                                <th class="w-20">Titre</th>
                                <th><a class="sorted" sd:pagination-sort="createDate">Date de création</a></th>
                                <th>Créé par</th>
                                <th>Destinataires</th>
                                <th class="status">Statut</th>
                                <th>Voir</th>
                                <th>Supprimer</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="signRequest : ${signRequests}">
                                <tr>
                                    <td class="text-break" th:if="${signRequest.parentSignBook != null}" th:text="${signRequest.parentSignBook.name}"></td>
                                    <td class="text-break" th:unless="${signRequest.parentSignBook != null}">Signature simple</td>
                                    <td><p class="text-break" th:title="${signRequest.title}"
                                                        th:text="${signRequest.title}"></p></td>
                                    <td><span
                                            th:text="${#dates.format(signRequest.createDate, 'dd/MM/yyyy HH:mm')}"></span>
                                    </td>
                                    <td th:text="${signRequest.createBy.firstname} + ' ' + ${signRequest.createBy.name}"></td>
                                    <td>
                                        <table class="table table-sm">
                                            <tbody>
                                            <th:block th:each="recipient : ${signRequest.parentSignBook.liveWorkflow.currentStep.recipients}">
                                                <tr>
                                                    <td width="100%"
                                                        th:text="${recipient.user.firstname + ' ' + recipient.user.name}"></td>
                                                    <td align="center">
                                                        <div th:switch="${recipient.signed}">
                                                            <i title="a signé le document" th:case="true"
                                                               class="fas fa-check-circle text-success"></i>
                                                            <i title="En attente de signature" th:case="false"
                                                               class="fas fa-clock text-warning"></i>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </th:block>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td class="status" style="width: 150px;">
                                        <div th:replace="user/signrequests/includes/status :: status"></div>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary fas fa-eye" title="Sign Request"
                                                th:onclick="'location.href=\'/admin/signrequests/' + ${signRequest.id} + '\''">
                                            <!--  -->
                                        </button>
                                    </td>
                                    <td>
                                        <form class="delete" th:action="'/admin/signrequests/' + ${signRequest.id}"
                                              method="post">
                                            <input type="hidden" name="_method" value="DELETE"/>
                                            <button onclick="return confirm('Voulez-vous vraiment supprimer cet element ?');"
                                                    value="Supprimer Sign Request" type="submit"
                                                    title="Supprimer Sign Request"
                                                    class="btn btn-danger fas fa-trash-alt"></button>
                                        </form>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                    <nav th:replace="fragments/pagination :: pagination"></nav>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
