<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="signRequest" type="org.esupportail.esupsignature.entity.SignRequest"*/-->
<!--/*@thymesVar id="logs" type="java.util.List<org.esupportail.esupsignature.entity.Log>"*/-->
<!--/*@thymesVar id="comments" type="java.util.List<org.esupportail.esupsignature.entity.Comment>"*/-->
<head th:replace="~{fragments/head :: head}"></head>
<script th:inline="javascript" type="module">
    import {default as FilesInput} from '/js/modules/utils/FilesInput.js?version=@[(${versionApp})]@';
    new FilesInput($("#multipartFiles"), [[${globalProperties.maxUploadSize}]], [[${_csrf}]], [[${originalDocuments}]], true);
    new FilesInput($("#signedFiles"), [[${globalProperties.maxUploadSize}]], [[${_csrf}]], [[${signedDocuments}]], true);
</script>
<body>
<header th:replace="~{fragments/nav :: nav}"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="~{fragments/sides/side-admin :: side-admin}"></nav>
        <nav id="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Administration</a></li>
                <li class="breadcrumb-item"><a href="/admin/signrequests">Liste
                    des demandes</a></li>
                <li class="breadcrumb-item active" aria-current="page">Demande
                    de signature : <span th:text="${signRequest.token}"></span>
                </li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div id="signButtons" class="fixed-action-btns active">
                <ul id="buttonList" class="list-unstyled">
                    <li th:if="${signRequest.createBy.eppn == userEppn && signRequest.deleted}">
                        <a th:href="'/admin/signbooks/restore/' + ${signRequest.parentSignBook.id}" role="button" class="btn-floating btn-lg bg-primary" title="Restaurer">
                            <i class="fa-solid fa-trash-restore fa-2xl"></i>
                        </a>
                    </li>
                    <li th:if="${@preAuthorizeService.signRequestOwner(signRequest.id, authUserEppn)}">
                        <a id="trashLaunchButton" role="button" class="btn-floating btn-lg bg-danger"
                            th:title="${!signRequest.deleted ? 'Mettre à la corbeille' : 'Supprimer définitivement de la corbeille'}"
                            data-bs-toggle="modal" th:data-bs-target="'#modal-warning-' + ${signRequest.id}">
                            <i th:if="${signRequest.deleted}" class="fa-solid fa-dumpster-fire fa-2xl"></i>
                            <i th:if="${!signRequest.deleted}" class="fa-solid fa-trash-alt fa-2xl"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card text-bg-light col-lg-11 m-2">
                <div class="card-header bg-transparent border-light-subtle p-0 pt-1">
                    <h5 class="ms-4">Statut</h5>
                </div>
                <div class="card-body">
                    <div th:insert="~{user/signbooks/includes/status :: status(signBook=${signRequest.parentSignBook})}" class="mb-1"></div>
                </div>
            </div>
            <div class="card text-bg-light col-lg-11 m-2">
                <div class="card-header bg-transparent border-light-subtle p-0 pt-1">
                    <h5 class="ms-4">Liste des documents originaux</h5>
                </div>
                <div class="card-body">
                    <div class="file-loading">
                        <input id="multipartFiles" name="multipartFiles" type="file" multiple="multiple"/>
                    </div>
                </div>
            </div>
            <div class="card text-bg-light col-lg-11 m-2">
                <div class="card-header bg-transparent border-light-subtle p-0 pt-1">
                    <h5 class="ms-4">Liste des documents signés</h5>
                </div>
                <div class="card-body">
                    <div class="file-loading">
                        <input id="signedFiles" type="file" multiple="multiple"/>
                    </div>
                </div>
            </div>
            <div th:replace="~{admin/signrequests/cards/stepscard}"></div>
            <div class="card text-bg-light col-lg-11 m-2">
                <div class="card-header bg-transparent border-light-subtle p-0 pt-1">
                    <h5 class="ms-4">Commentaires <span th:text="'(' + ${#lists.size(comments)} + ')'"></span></h5>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <th:block th:each="comment : ${signRequest.comments}">
                            <div class="d-flex w-100 justify-content-between">
                                <li href="#" class="list-group-item list-group-item-action">
                                    De : <span class="mb-1" th:text="${comment.createBy.eppn}"></span> -
                                    <small>
                                        le : <span
                                            th:text="${#dates.format(comment.createDate, 'dd/MM/yyyy HH:mm')}"></span>
                                    </small>
                                    <p th:if="${comment.text != null}" th:text="${comment.text}"></p>
                                </li>
                            </div>
                        </th:block>
                    </ul>
                </div>
            </div>

            <div class="card text-bg-light col-lg-11 m-2">
                <div class="card-header bg-transparent border-light-subtle p-0 pt-1">
                    <h5 class="ms-4">Logs (<span th:text="(${#lists.size(logs)})"></span>)</h5>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-striped table-hover table-borderless">
                        <thead class="table-secondary">
                        <tr>
                            <th>Date</th>
                            <th>Eppn</th>
                            <th>Action</th>
                            <th>Statut initial</th>
                            <th>Statut final</th>
                            <th>Commentaire</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="log : ${logs}">
                            <tr>
                                <td><span th:text="${log.logDate}"></span></td>
                                <td><span th:text="${log.eppn}"></span></td>
                                <td><span th:text="${log.action}"></span></td>
                                <td><span th:text="${log.initialStatus}"></span></td>
                                <td><span th:text="${log.finalStatus}"></span></td>
                                <td><span th:text="${log.comment}"></span></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:if="${@preAuthorizeService.signRequestOwner(signRequest.id, authUserEppn)}"
     data-bs-focus="false" class="modal modal-warning fade in" th:id="'modal-warning-' + ${signRequest.id}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="command" th:action="'/admin/signbooks/'+ ${signRequest.parentSignBook.id}" th:method="delete">
                <div class="modal-header">
                    <h2>Attention</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                    </button>
                </div>
                <div class="modal-body">
                    <div th:unless="${signRequest.deleted}" class="alert alert-danger">Confirmez-vous la suppression de cette demande ?</div>
                    <div th:if="${signRequest.deleted}" class="alert alert-danger">Confirmez-vous la suppression définitivement de cette demande ?</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary float-start" data-bs-dismiss="modal">Non</button>
                    <button type="submit" class="btn btn-danger">Oui</button>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
