<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
	<nav class="nav justify-content-between" aria-label="breadcrumb">
		<ol class="breadcrumb col-11">
			<li class="breadcrumb-item"><a href="/admin/signrequests">Liste
					des demandes</a></li>
			<li class="breadcrumb-item active" aria-current="page">Demande
				de signature : <span th:text="${signRequest.token}"></span>
			</li>
		</ol>
		<div class="navbar-nav align-self-center">
			<button data-target="#collapseHelp" data-toggle="collapse"
				type="button" class="btn btn-info">
				<span class="fas fa-info-circle"> <!--  -->
				</span>
			</button>
		</div>
	</nav>
	<div aria-expanded="true" class="collapse" id="collapseHelp">
		<div class="alert alert-info">
			Cet écran permet d'effectuer plusieurs types d'actions sur votre
			demande :
			<ul>
				<li>Ajouter des documents à votre demande et l'envoyer</li>
				<li>Consulter les documents à signer</li>
				<li>Signer une demande</li>
				<li>Consulter / télécharger les documents signés</li>
			</ul>
			Les actions possibles apparaisent dans l'espace "Signature"
		</div>
	</div>
	<div id="ribbon" class="card">
		<div class="card-body">
			<div
				th:if="${signRequest.status.name() == 'signed' || signRequest.status.name() == 'completed' || signRequest.status.name() == 'checked'}">
				<button type="button"
					class="mr-2 btn btn-outline-dark btn-light float-left"
					th:onclick="'window.open(\'/admin/signrequests/get-last-file/' + ${id} + '\', \'_blank\')'">
					<p class="text-center">
						<i class="fas fa-save fa-2x"></i> <br /> Enregistrer sous
					</p>
				</button>
				<button type="button"
					class="mr-2 btn btn-outline-dark btn-light float-left"
					th:onclick="'location.href=\'/admin/validation/document/' + ${id} +'\''">
					<p class="text-center">
						<i class="fas fa-shield-alt fa-2x"></i> <br> Valider le
						document
					</p>
				</button>
			</div>

			<div>
				<button type="button"
					class="mr-2 btn btn-outline-dark btn-light float-left"
					data-toggle="modal" data-target="#reSendModal">
					<p class="text-center">
						<i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i><br />
						Envoyer dans le parapheur
					</p>
				</button>
			</div>

			<button type="button" title="Retour"
				class="btn  btn-danger float-right" value="Retour"
				onclick="location.href='/admin/signrequests'">
				<i class="fas fa-times fa-1x"></i>
			</button>

		</div>
	</div>
	<main role="main" class="container-fluid">
	<div id="accordion">
		<div class="card card-body">
			<div class="card bg-light">
				<div class="card-header">
					<button class="btn btn-link" data-toggle="collapse"
						data-target="#collapseTools" aria-expanded="true"
						aria-controls="collapseTools">
						Statut <i class="fas fa-caret-down"></i>
					</button>
				</div>
				<div id="collapseTools" class="collapse show"
					aria-labelledby="headingOne" data-parent="#accordion">
					<div class="card-body text-center">
						<div th:replace="user/signrequests/includes/status :: status"></div>
						<div th:switch="${signable}">
							<div th:case="'ok'">
								<dl class="display-group border-bottom m-0 d-none">
									<dt class="col-lg-6">
										Parapheur courant
										<button data-target="#collapseHelpCurrent"
											data-toggle="collapse" type="button"
											class="btn btn-sm btn-info">
											<span class="fas fa-info-circle"></span>
										</button>
										<div class="collapse" id="collapseHelpCurrent">
											<div class="alert alert-info">
												<small> Les paramètres du parapheur courant sont
													appliqués par défaut. Vous pouvez modifier la position
													manuellement à l'aide de la prévisualisation. </small>
											</div>
										</div>
									</dt>
									<dd>
										<span class="alert alert-secondary"> <i
											class="fas fa-book"></i> ${currentSignBook.name}
										</span>
									</dd>
								</dl>
							</div>
							<div th:case="*">
								<div th:if="${user.eppn == signRequest.createBy}">
									<div th:if="${signRequest.status.name() == 'draft'}">
										<div class="alert alert-info">Demande en cours de
											création</div>
										<div
											th:if="${#lists.size(signRequest.originalDocuments) == 0}">
											<div th:if="${modelId != null}">
												<button type="button" class="btn btn-info"
													onclick="window.open('${modelId}', '_blank')">
													<i class="fas fa-download"></i> Télécharger le modèle
												</button>
											</div>

											<div class="alert alert-info">Vous devez ajouter des
												documents</div>
										</div>
									</div>
								</div>
							</div>
							<div th:if="${signRequest.status.name() == 'exported'}" class="alert alert-warning">
							<small><span th:text="'Emplacement définitif : ' + ${signRequest.exportedDocumentURI}"></span></small>
							<br>
							<a class="btn btn-success" th:href="'/ws/get-last-file?name=' + ${signRequest.token}"><i class="fa fa-download"></i> Télécharger le document signé</a>

							</div>
							<div th:if="${signRequest.status.name() == 'pending'}">
								<div class="alert alert-info">
									La demande est en cours de signature par le(s) destinataire(s)
									suivants :
									<div class="form-group">
										<table class="table table-striped table-sm">
											<thead class="thead-dark">
												<tr>
													<th scope="col">Destinataires</th>
													<th scope="col">Statut de la signature</th>
												</tr>
											</thead>
											<tbody>
												<th:block
													th:each="signBooksLabel : ${signRequest.currentWorkflowStep.recipientsNames}">
													<tr>
														<td align="left"><i class="fas fa-user"></i> <span
															th:text="${signBooksLabel.key}"></span></td>
														<td align="center">
															<div th:switch="${signBooksLabel.value}">
																<i th:case="true" class="fas fa-check text-success"></i>
																<i th:case="false" class="fas fa-times text-danger"></i>
															</div>
														</td>
													</tr>
												</th:block>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div th:if="${user.eppn == signRequest.createBy}">
							<div th:switch="${signRequest.status.name()}">
								<div th:case="'signed'">
									<dl class="display-group border-bottom m-0">
										<dt class="col-lg-5">
											Terminer
											<button data-target="#collapseHelp1" data-toggle="collapse"
												type="button" class="btn btn-sm btn-info">
												<span class="fas fa-info-circle"></span>
											</button>
											<div class="collapse" id="collapseHelp1">
												<div class="alert alert-info">
													<small> La cloture de la demande permet de liberer
														le parapheur. La demande sera supprimée dans un délai
														défini par l'administrateur. </small>
												</div>
											</div>
										</dt>
										<dd class="col-lg-7">
											<form class="form-group"
												th:action="'/admin/signrequests/complete/' +  ${id}"
												method="get">
												<div class="input-group">
													<button type="submit" class="btn btn-warning">
														<i class="fas fa-flag-checkered"> </i> Terminer
													</button>
												</div>
											</form>
										</dd>
									</dl>
								</div>
								<div th:case="*">
									<div
										th:if="${#lists.size(signRequest.signBooks) > 1 && nbSignOk == 0}">
										<dl class="display-group border-bottom m-0">
											<dt class="col-lg-6">
												Toutes les signatures sont nécessaires
												<!-- Si la demande se trouve dans plusieurs parapheurs vous pouvez choisir si toutes les signatures sont exigées pour passer au status signé -->
											</dt>
											<dd>
												<div class="input-group">
													<label class="switch">
														<th:block th:if="${signRequest.allSignToComplete == true}">
															<input
																th:onclick="'document.location=\'/admin/signrequests/toggle-need-all-sign/' + ${id} + '\''"
																type="checkbox" name="allSignToComplete"
																id="_allSignToComplete" checked="checked" />
														</th:block>
														<th:block th:unless="${signRequest.allSignToComplete == true}">
															<input
																th:onclick="'document.location=\'/admin/signrequests/toggle-need-all-sign/' + ${id} + '\''"
																type="checkbox" name="allSignToComplete"
																id="_allSignToComplete" />
														</th:block>
														<span class="slider round"></span>
													</label>
												</div>
											</dd>
										</dl>
									</div>
								</div>
							</div>
						</div>

						<div
							th:unless="${signRequest.status == 'signed' || signRequest.status == 'completed' || signRequest.status == 'checked'}">
							<div th:if="${#lists.size(signRequest.signBooks) > 1}">
								<div class="alert alert-secondary">
									<div th:switch="${signRequest.allSignToComplete}">
										<small> <span th:case="true">Oui</span> <span
											th:case="*">Non</span>
										</small>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="card bg-light">
				<div class="card-header">
					<button class="btn btn-link" data-toggle="collapse"
						data-target="#collapseOriginals" aria-expanded="true"
						aria-controls="collapseOriginals">
						Liste des documents originaux <i class="fas fa-caret-down"></i>
					</button>
				</div>
				<div id="collapseOriginals" class="collapse show"
					aria-labelledby="headingOne" data-parent="">
					<div class="card-body">
						<div class="file-loading">
							<input id="multipartFile" name="multipartFiles" type="file"
								multiple="multiple" />
						</div>
					</div>
				</div>
			</div>
			<div class="card bg-light">
				<div class="card-header">
					<button class="btn btn-link" data-toggle="collapse"
						data-target="#collapseSigned" aria-expanded="true"
						aria-controls="collapseSigned">
						Liste des documents signés <i class="fas fa-caret-down"></i>
					</button>
				</div>
				<div id="collapseSigned" class="collapse show"
					aria-labelledby="headingOne" data-parent="">
					<div class="card-body">
						<div class="file-loading">
							<input id="signedFiles" type="file" multiple="multiple" />
						</div>
					</div>
				</div>
			</div>
			<div class="card bg-light">
				<div class="card-header">
					<button class="btn btn-link" data-toggle="collapse"
						data-target="#collapseComments" aria-expanded="true"
						aria-controls="collapseTools">
						Commentaires <span th:text="'(' + ${#lists.size(comments)} + ')'"></span>
						<i class="fas fa-caret-down"></i>
					</button>
				</div>
				<div id="collapseComments" class="collapse"
					aria-labelledby="headingOne" data-parent="#accordion">
					<div class="card-body">
						<ul class="list-group">
							<th:block th:each="comment : ${comments}">
								<div class="d-flex w-100 justify-content-between">
									<li href="#" class="list-group-item list-group-item-action">
									De : <span class="mb-1" th:text="${comment.eppn}"></span> -
									<small>
										le : <span th:text="${#dates.format(comment.logDate, 'dd/MM/yyyy HH:mm')}"></span>
										<br>
										Action effectuée : <span th:text="#{'signbook.status.' + ${comment.finalStatus}}" ></span>
									</small>
									<p th:text="${comment.comment}"></p>

									</li>
								</div>
							</th:block>
						</ul>
						<form th:action="'/admin/signrequests/comment/' + ${id}">
							<textarea placeholder="Vous pouvez ajouter un commentaire"
								class="form-control" name="comment" cols="" rows=""></textarea>
							<button type="submit" class="btn btn-primary">
								<i class="fas fa-comments" aria-hidden="true"></i> Envoyer un
								commentaire
							</button>
						</form>

					</div>
				</div>
			</div>

			<div class="card bg-light">
				<div class="card-header">
					<button class="btn btn-link" data-toggle="collapse"
						data-target="#collapseSignBook" aria-expanded="true"
						aria-controls="collapseTools">
						Parapheurs (<span th:text="${#lists.size(originalSignBooks)}"></span>)
						<i class="fas fa-caret-down"></i>
					</button>
				</div>
				<div id="collapseSignBook" class="collapse"
					aria-labelledby="headingOne" data-parent="#accordion">
					<div class="card-body">
						<dl class="display-group border-bottom m-0">
							<dt class="col-lg-5">Parapheur(s) d'origine(s)</dt>
							<dd>
								<ul class="list-group">
									<th:block th:each="originalSignBook : ${originalSignBooks}">
										<li class="list-group-item"><i class="fas fa-book"></i><span
											th:text="${originalSignBook.name}"></span></li>
									</th:block>
								</ul>
								<div th:if="${firstOriginalSignBook != null}">
									Etapes du workflow : <span
										th:text="${signRequest.signBooksWorkflowStep}"></span>
									<div class="bs-stepper vertical linear">
										<div class="bs-stepper-header" role="tablist">
											<th:block th:each="signBookSteps,iterator : ${firstOriginalSignBook.signBooks}">
												<div
													th:if="${iterator.index + 1 == signRequest.currentWorkflowStepNumber && signRequest.status != 'completed'}">
													<div class="step active" data-target="#test-vl-1">
														<button type="button"
															class="step-trigger col-12 text-left" role="tab"
															aria-selected="false">
															<span class="bs-stepper-circle bg-danger"
																th:text="${iterator.index + 1}"></span> <span
																class="bs-stepper-label" th:text="${signBookSteps.name}"></span>
														</button>
													</div>
												</div>
												<div
													th:if="${iterator.index + 1 > signRequest.signBooksWorkflowStep}">
													<div class="step" data-target="#test-vl-1">
														<button type="button"
															class="step-trigger col-12 text-left" role="tab"
															aria-selected="false" disabled="disabled">
															<span class="bs-stepper-circle"
																th:text="${iterator.index + 1}"></span> <span
																class="bs-stepper-label" th:text="${signBookSteps.name}"></span>
														</button>
													</div>
												</div>
												<div
													th:unless="${iterator.index + 1 > signRequest.signBooksWorkflowStep || iterator.index + 1 == signRequest.currentWorkflowStepNumber}">
													<div class="step" data-target="#test-vl-1">
														<button type="button"
															class="step-trigger col-12 text-left" role="tab"
															aria-selected="false" disabled="disabled">
															<span class="bs-stepper-circle bg-success"
																th:text="${iterator.index + 1}"></span> <span
																class="bs-stepper-label" th:text="${signBookSteps.name}"></span>
														</button>
													</div>
												</div>
												<div
													th:if="${#lists.size(firstOriginalSignBook.signBooks) > iterator.index + 1}"
													class="line"></div>
											</th:block>
										</div>
									</div>
								</div>
							</dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="card bg-light">
				<div class="card-header">
					<button class="btn btn-link" data-toggle="collapse"
						data-target="#collapseInfos" aria-expanded="true"
						aria-controls="collapseInfos">
						Informations <i class="fas fa-caret-down"> </i>
					</button>
				</div>
				<div id="collapseInfos" class="collapse"
					aria-labelledby="headingOne" data-parent="#accordion">
					<div class="card-body">
						<div th:if="${signRequest.overloadSignBookParams}">
							<dl class="display-group border-bottom m-0">
								<dt class="col-lg-5">Paramètres de signature</dt>
								<dd class="col-lg-7">
									<div class="form-group">
										Type de signature :
										<div
											class="alert alert-secondary text-center col-12 font-weight-light">
											<small th:if="${signRequest.signRequestParams != null}" th:text="#{'signbook.signtype.' +  ${signRequest.signRequestParams.signType}}"></small>
										</div>
										Ajout d'une page de garde :
										<div
											class="alert alert-secondary text-center col-12 font-weight-light">
											<small th:if="${signRequest.signRequestParams != null}" th:text="#{'signbook.newpagetype.' + ${signRequest.signRequestParams.newPageType}}"></small>
										</div>
									</div>
								</dd>
							</dl>
						</div>
						<div th:unless="${signRequest.overloadSignBookParams}">
							<div
								class="alert alert-secondary text-center col-12 font-weight-light">Les
								paramètres de l'utilisateur seront utilisés</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card bg-light">
				<div class="card-header">
					<button class="btn btn-link" data-toggle="collapse"
						data-target="#collapseLogs" aria-expanded="true"
						aria-controls="collapseTools">
						Logs (<span th:text="(${#lists.size(logs)})"></span>) <i
							class="fas fa-caret-down"></i>
					</button>
				</div>
				<div id="collapseLogs" class="collapse" aria-labelledby="headingOne"
					data-parent="#accordion">
					<div class="card-body">
						<table class="table table-sm table-striped table-hover">
							<thead>
								<tr>
									<th class="none">Date</th>
									<th class="none">Eppn</th>
									<th class="none">Action</th>
									<th class="none">Statut initial</th>
									<th class="none">Statut final</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="log : ${logs}">
									<tr>
										<td><span th:text=${log.logDate}></span></td>
										<td><span th:text=${log.eppn}></span></td>
										<td><span th:text=${log.action}></span></td>
										<td><span th:text=${log.initialStatus}></span></td>
										<td><span th:text=${log.finalStatus}></span></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	</main>


	<div class="modal fade" style="width: 100%;" id="signatureModal"
		tabindex="-1" role="dialog" aria-labelledby="Signature"
		aria-hidden="true">
		<div class="modal-dialog modal-lg" style="width: 100%;"
			role="document">
			<div class="modal-content" style="height: auto; min-height: 100%;">
				<div class="modal-body">
					<div th:replace="user/signrequests/includes/signmodal :: signmodal"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Annuler</button>
				</div>
			</div>
		</div>
	</div>

	<div id="wait" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body text-center">
					<h5>Signature en cours</h5>
					<div class="progress">
						<div
							class="progress-bar progress-bar-striped progress-bar-animated active"
							style="width: 100%;" id="bar">
							<strong> <span id="bar-text"></span>
							</strong>
						</div>
					</div>
					<div style="display: none;" id="passwordError"
						class="alert alert-danger" role="alert">Mauvais mot de passe
					</div>
					<div style="display: none;" id="signError"
						class="alert alert-danger" role="alert">Erreur du système de
						signature</div>
				</div>
				<div class="modal-footer">
					<button id="closeModal" type="button"
						class="btn btn-secondary align-self-center" data-dismiss="modal">Fermer</button>
					<button id="validModal" onclick="window.location.reload()"
						type="button" class="btn btn-success align-self-center"
						data-dismiss="modal">Terminer</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="sendModal" tabindex="-1" role="dialog"
		aria-labelledby="Refus" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Envoi pour
						signature</h5>
				</div>
				<div class="modal-body">
					<form th:action="'/admin/signrequests/pending/' + ${id}">
						<textarea placeholder="Vous pouvez ajouter un commentaire"
							class="form-control" name="comment" cols="" rows=""></textarea>
						<button type="submit" class="btn btn-success">
							<i class="fa fa-paper-plane" aria-hidden="true"></i> Envoyer
						</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Annuler</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="reSendModal" tabindex="-1" role="dialog"
		aria-labelledby="Refus" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Envoyer dans le
						parapheur</h5>
				</div>
				<div class="modal-body">
					<form class="form-group"
						th:action="'/admin/signrequests/send-to-signbook/' + ${id}"
						method="get">
						<div class="input-group">
							<select onchange="checkNbRecipients();" name="signBookNames"
								id="signBookNames" size="5" multiple="multiple"
								required="required">
								<th:block th:each="signBook : ${allSignBooks}">
									<option th:value="${signBook.name}"
										th:text="${signBook.name} + ' (' + ${signBook.signBookType} + ')'"></option>
								</th:block>
							</select>
						</div>
						<div class="input-group">
							<textarea class="form-control" name="comment"
								placeholder="Commentaire"></textarea>
						</div>
						<div class="input-group">
							<button type="submit" class="btn btn-primary">
								<i class="fas fa-share-square"></i>Envoyer
							</button>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Annuler</button>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		/*<![CDATA[*/

	var testSignBookName = document.getElementById("signBookNames");

	if(testSignBookName != null) {
    var signBookNamesSelect = new SlimSelect({
			select: '#signBookNames',
			placeholder: 'Choisir un ou plusieurs parapheur(s)',
	    	  searchText: 'Aucun résultat',
	    	  searchPlaceholder: 'Rechercher',
	    	  searchHighlight: true,
	    	  searchFilter: (option, search) => {
	  		    return true;
	  		  },
	    	  ajax: function (search, callback) {
	    		    if (search.length < 3) {
	    		      callback('Merci de saisir au moins 3 caractères')
	    		    }
	    		    fetch('/admin/admins/searchUser?searchString=' + search)
	    		    .then(function (response) {
	    		      return response.json()
	    		    })
	    		    .then(function (json) {
	    		      let data = []
	    		      for (let i = 0; i< json.length; i++) {
	    		        data.push({text: json[i].displayName + ' (' + json[i].uid + ')', value: json[i].mail});
	    		      }
	    		      callback(data)
	    		    })
	    		    .catch(function(error) {
	    		      callback(false)
	    		    })
	    		  }
	  	});
	}

	$('#multipartFile').on('filebatchuploadcomplete', function(event, file, previewId, index, reader) {
		location.reload();
	});
	$('#multipartFile').on('fileuploaded', function(event, file, previewId, index, reader) {
		location.reload();
	});

	$('#multipartFile').on('fileloaded', function(event, file, previewId, index, reader) {
		$('#multipartFile').fileinput('upload');
	});

	$('#multipartFile').on('filedeleted', function(event, id, index) {
		location.reload();
	});

	$("#multipartFile").fileinput({
    	language: "fr",
        showCaption: false,
        showClose: false,
        [# th:if="${signRequest.status.name() != 'draft' || user.eppn != signRequest.createBy}"]
        	showUpload: false,
        	showBrowse: false,
        	showRemove: false,
        	dropZoneEnabled: false,
        [/]
        [# th:if="${signRequest.status.name() == 'draft' && user.eppn == signRequest.createBy}"]
        	browseOnZoneClick: true,
        [/]
    	uploadUrl: "/admin/signrequests/add-doc/[[${id}]]",
    	uploadAsync: false,
    	[# th:if="${signRequest.signRequestParams.signType.name() == 'pdfImageStamp' || signRequest.signRequestParams.signType.name() == 'visa'}"]
        maxFileCount: 1,
        validateInitialCount: true,
		[/]
    	[# th:unless="${signRequest.signRequestParams.signType.name() == 'pdfImageStamp' || signRequest.signRequestParams.signType.name() == 'visa'}"]
    	overwriteInitial: false,
    	[/]
        theme: 'explorer-fas',
        pdfRendererUrl: 'http://plugins.krajee.com/pdfjs/web/viewer.html',
    	initialPreview: [
    		[# th:each="originalDocument : ${signRequest.originalDocuments}"]
    		[# th:text=${originalDocument.url}][/],
    		[/]
    		],
   	    initialPreviewConfig: [
    		[# th:each="originalDocument : ${signRequest.originalDocuments}"]
       		[# th:switch="${#strings.arraySplit(originalDocument.contentType, '/')[1]}"]
    			[# th:case="'gif'"]
	      	        {type: "image", size: [[${originalDocument.size}]], downloadUrl: "/admin/documents/getfile/[[${originalDocument.id}]]",caption: [[${originalDocument.fileName}]], filename: [[${originalDocument.fileName}]], url: [['/admin/signrequests/remove-doc/' + ${originalDocument.id}]], key: [[${originalDocument.id}]]},
    			[/]
      	      	[# th:case="'pdf'"]
      	    	  	{type: "pdf", size: [[${originalDocument.size}]], downloadUrl: "/admin/documents/getfile/[[${originalDocument.id}]]",caption: [[${originalDocument.fileName}]], filename: [[${originalDocument.fileName}]], url: "/admin/signrequests/remove-doc/[[${originalDocument.id}]]", key: [[${originalDocument.id}]]},
      	    	[/]
    			[# th:case="'doc'"]
    				{type: "office", size: [[${originalDocument.size}]], downloadUrl: [[${originalDocument.url}]],caption: [[${originalDocument.fileName}]], filename: [[${originalDocument.fileName}]], url: [['/admin/signrequests/remove-doc/' + ${originalDocument.id}]], key: [[${originalDocument.id}]]},
    			[/]
    			[# th:case="'avi'"]
    				{type: "video", size: [[${originalDocument.size}]], downloadUrl: [[${originalDocument.url}]],caption: [[${originalDocument.fileName}]], filename: [[${originalDocument.fileName}]], url: [['/admin/signrequests/remove-doc/' + ${originalDocument.id}]], key: [[${originalDocument.id}]]},
    			[/]
	    		[# th:case="*"]
		    		{type: "other", size: [[${originalDocument.size}]], downloadUrl: [[${originalDocument.url}]],caption: [[${originalDocument.fileName}]], filename: [[${originalDocument.fileName}]], url: [['/admin/signrequests/remove-doc/' + ${originalDocument.id}]], key: [[${originalDocument.id}]]},
	    		[/]
    		[/]
    		[/]
   	    ],
   		initialPreviewAsData: true,
   		initialPreviewFileType: 'pdf',
        preferIconicPreview: true,
        previewFileIconSettings: { // configure your icon file extensions
            'doc': '<i class="fas fa-file-word text-primary  fa-2x"></i>',
            'xls': '<i class="fas fa-file-excel text-success  fa-2x"></i>',
            'ppt': '<i class="fas fa-file-powerpoint text-danger  fa-2x"></i>',
            'pdf': '<i class="fas fa-file-pdf text-danger  fa-2x"></i>',
            'zip': '<i class="fas fa-file-archive text-muted  fa-2x"></i>',
            'htm': '<i class="fas fa-file-code text-info  fa-2x"></i>',
            'txt': '<i class="fas fa-file-alt text-info fa-2x"></i>',
            'mov': '<i class="fas fa-file-video text-warning fa-2x"></i>',
            'mp3': '<i class="fas fa-file-audio text-warning  fa-2x"></i>',
            'jpg': '<i class="fas fa-file-image text-danger fa-2x"></i>',
            'gif': '<i class="fas fa-file-image text-muted fa-2x"></i>',
            'png': '<i class="fas fa-file-image text-primary fa-2x"></i>'
        },
        previewFileExtSettings: { // configure the logic for determining icon file extensions
            'doc': function(ext) {
                return ext.match(/(doc|docx)$/i);
            },
            'xls': function(ext) {
                return ext.match(/(xls|xlsx)$/i);
            },
            'ppt': function(ext) {
                return ext.match(/(ppt|pptx)$/i);
            },
            'zip': function(ext) {
                return ext.match(/(zip|rar|tar|gzip|gz|7z)$/i);
            },
            'htm': function(ext) {
                return ext.match(/(htm|html)$/i);
            },
            'txt': function(ext) {
                return ext.match(/(txt|ini|csv|java|php|js|css)$/i);
            },
            'mov': function(ext) {
                return ext.match(/(avi|mpg|mkv|mov|mp4|3gp|webm|wmv)$/i);
            },
            'mp3': function(ext) {
                return ext.match(/(mp3|wav)$/i);
            }
        },
        fileActionSettings: {
        	showDrag: false,
            showZoom: function(config) {
                if (config.type === 'pdf' || config.type === 'image') {
                    return true;
                }
                return false;
            },
            [# th:if="${signRequest.status.name() != 'draft' || user.eppn != signRequest.createBy}"]
	        	showRemove: false
        	[/]

        }

    });

	$("#signedFiles").fileinput({
    	language: "fr",
        showCaption: false,
        showClose: false,
       	showUpload: false,
       	showBrowse: false,
       	showRemove: false,
       	dropZoneEnabled: false,
        browseOnZoneClick: true,
    	uploadAsync: false,
        theme: 'explorer-fas',
        pdfRendererUrl: 'http://plugins.krajee.com/pdfjs/web/viewer.html',
    	initialPreview: [
    		[# th:each="signedDocument : ${signRequest.signedDocuments}"]
    		[[${signedDocument.url}]],
    		[/]
    		],
   	    initialPreviewConfig: [
    		[# th:each="signedDocument : ${signRequest.signedDocuments}"]
			[# th:switch="${#strings.arraySplit(signedDocument.contentType, '/')[1]}"]
      	      	[# th:case="'pdf'"]
	      	      	{type: "pdf", size: [[${signedDocument.size}]], downloadUrl: "/admin/documents/getfile/[[${signedDocument.id}]]",caption: [[${signedDocument.fileName}]], filename: [[${signedDocument.fileName}]], key: [[${signedDocument.id}]]},
      	    	[/]
	    		[# th:case="*"]
					{type: "other", size: [[${signedDocument.size}]], downloadUrl: "/admin/documents/getfile/[[${signedDocument.id}]]",caption: [[${signedDocument.fileName}]], filename: [[${signedDocument.fileName}]], key: [[${signedDocument.id}]]},
	    		[/]
    		[/]
    		[/]
   	    ],
   		initialPreviewAsData: true,
   		initialPreviewFileType: 'image',
   	    overwriteInitial: false,
        preferIconicPreview: true,
        previewFileIconSettings: { // configure your icon file extensions
            'pdf': '<i class="fas fa-file-pdf text-danger fa-2x"></i>',
            'asic': '<i class="fas fa-file-signature text-dark fa-2x"></i>',
        },
        previewFileExtSettings: { // configure the logic for determining icon file extensions
            'asic': function(ext) {
                return ext.match(/(asics|asice)$/i);
            }
        },
        fileActionSettings: {
        	showDrag: false,
        	showZoom: function(config) {
                 if (config.type === 'pdf') {
                     return true;
                 }
                 return false;
             },
        	showRemove: false
        }

    });
/*]]>*/
</script>

</body>
</html>
