<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/nav :: nav"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="fragments/sides/side-admin :: side-admin"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav-full">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/forms">Liste des formulaires</a></li>
                <li class="breadcrumb-item active">Nouveau formulaire</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="card">
                <div class="card-body">
                    <form th:action="'/admin/forms'" method="post">
                        <div class="form-group mb-3">
                            <label for="name" class="col-form-label">Titre (affiché aux utilisateurs)</label>
                            <input type="text" id="title" name="title" class="form-control" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="name" class="col-form-label">Nom (nom technique sans espace ni accents)</label>
                            <input type="text" id="name" name="name" class="form-control" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="workflowId" class="col-form-label">Type de workflow</label>
                            <select class="slim-select-simple" id="workflowId" name="workflowId">
                                <th:block th:each="workflowType : ${workflowTypes}">
                                    <option th:value="${workflowType.id}" th:text="${workflowType.description}"></option>
                                </th:block>
                            </select>
                        </div>
                        <hr>
                        <h2>Champs</h2>
                        <div id="repeatingInputFields">
                            <div class="entry inline-form col-xs-12">
                                <input class="form-control" name="fieldNames[]" type="text" placeholder="Nom"/>
                                <input class="form-control" name="fieldTypes[]" type="text" placeholder="Type"/>
                                <button id="btn-add-field" type="button" class="btn btn-success">
                                    <span class="fas fa-plus" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <input class="btn btn-success float-end" type="submit" value="Valider"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
