<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="field" type="org.esupportail.esupsignature.entity.Field"*/-->
<!--/*@thymesVar id="form" type="org.esupportail.esupsignature.entity.Form"*/-->
<!--/*@thymesVar id="preFillTypes" type="java.util.Map<String, java.util.List<String>>"*/-->
<head th:replace="~{fragments/head :: head}"></head>
<script th:inline="javascript" type="module">
    import {FormFieldsUi} from '/js/modules/ui/forms/FormFieldsUi.js?version=@[(${versionApp})]@';
    new FormFieldsUi("admin", [[${form.id}]], [[${preFillTypes}]]);
</script>
<body>
<header th:replace="~{fragments/nav :: nav}"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="~{fragments/sides/side-admin :: side-admin}"></nav>
        <nav th:replace="~{fragments/sides/side-manager :: side-manager}"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Administration</a></li>
                <li class="breadcrumb-item"><a href="/admin/forms">Liste des formulaires</a></li>
                <li class="breadcrumb-item active" th:text="'Liste des champs du formulaire : ' + ${form.name}"></li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="fixed-action-btns active" >
                <ul class="list-unstyled">
                    <li>
                        <a th:if="${form.document == null}" title="Ajouter un champ" data-bs-toggle="modal" data-bs-target="#newManualForm" class="btn-floating btn-lg text-dark bg-primary waves-effect"><i class="fa-solid fa-plus fa-2xl"></i></a></li>
                    <li>
                        <a id="saveButton" title="Enregistrer les modifications" type="button" class="btn-floating btn-lg bg-success">
                            <i class="fa-solid fa-save fa-2xl"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" th:href="'/admin/forms/update/' + ${form.id}">Paramètres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="'/admin/forms/' + ${form.id} + '/fields'">Configuration des champs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/admin/forms/' + ${form.id} + '/signs'">Configuration des signatures</a>
                </li>
            </ul>
            <br>
            <div class="card col-lg-11">
                <div class="card-body">
                    <div th:if="${form.workflow == null}" class="alert alert-warning">
                        Merci de configurer un circuit pour ce formulaire
                    </div>
                    <div th:if="${form.fields.size() > 0 && form.workflow != null}" id="listSignRequestTable" class="table-fix-head scrollbar-style">
                        <table class="table table-borderless table-hover">
                    <thead class="table-secondary">
                        <tr>
                            <th class="align-middle th-fixed">Nom</th>
                            <th class="align-middle th-fixed">Description</th>
                            <th class="align-middle th-fixed">Type</th>
                            <th class="align-middle th-fixed">Favorisable</th>
                            <th class="align-middle th-fixed">Requis</th>
                            <th class="align-middle th-fixed">Lecture seule</th>
                            <th class="align-middle th-fixed">Pré-remplissage</th>
                            <th class="align-middle th-fixed">Auto-completion</th>
                            <th class="align-middle th-fixed">Nom du service</th>
                            <th class="align-middle th-fixed">Type de données</th>
                            <th class="align-middle th-fixed">Attribut retourné</th>
                            <th class="align-middle th-fixed">Étapes autorisées</th>
                            <th class="align-middle th-fixed"></th>
                        </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="field : ${form.fields}">
                        <tr>
                            <form th:name="field-update" th:id="${field.id}" th:action="'/admin/forms/' + ${form.id} + '/fields/' + ${field.id} + '/update'" th:method="'post'">
                            <td><span th:text="${field.name}"></span></td>
                            <td><input type="text" class="form-control" name="description" th:value="${field.description}"/></td>
                            <td>
                                <select name="fieldType" class="form-select">
                                    <th:block th:each="fieldType : ${T(org.esupportail.esupsignature.entity.enums.FieldType).values()}">
                                        <option th:value="${fieldType}" th:text="${fieldType.name()}" th:selected="${fieldType == field.type}"></option>
                                    </th:block>
                                </select>
                            </td>
                            <td><input th:disabled="${field.type.name != 'text'}" type="checkbox" class="form-check-input" name="favorisable" th:value="true" th:checked="${field.favorisable}"/></td>
                            <td><input type="checkbox" class="form-check-input" name="required" th:value="true" th:checked="${field.required}"/></td>
                            <td><input type="checkbox" class="form-check-input" name="readOnly" th:value="true" th:checked="${field.readOnly}"/></td>
                            <td><input th:id="'prefillCheckbox_' + ${field.id}" type="checkbox" class="form-check-input" name="prefill" th:value="true" th:checked="${field.extValueServiceName != null && field.extValueServiceName != ''}"/></td>
                            <td><input th:id="'searchCheckbox_' + ${field.id}" type="checkbox" class="form-check-input" name="search" th:value="true" th:checked="${field.searchServiceName != null && field.searchServiceName != ''}"/></td>
                            <td>
                                <select class="slim-select-simple slim-select-no-hack" th:id="'valueServiceName_' + ${field.id}" name="valueServiceName" th:disabled="${(field.extValueServiceName == null && field.searchServiceName == null) || (field.extValueServiceName == '' && field.searchServiceName == '')}">
                                    <option value=""></option>
                                    <th:block th:each="service : ${preFillTypes}">
                                        <option th:selected="${field.extValueServiceName == service.key || field.searchServiceName == service.key}" th:value="${service.key}" th:text="${service.key}"></option>
                                    </th:block>
                                </select>
                            </td>
                            <td>
                                <select class="slim-select-simple slim-select-no-hack" th:id="'valueType_' + ${field.id}" name="valueType" th:disabled="${(field.extValueServiceName == null && field.searchServiceName == null) || (field.extValueServiceName == '' && field.searchServiceName == '')}">
                                    <th:block th:if="${field.extValueType != ''}">
                                        <option th:value="${field.extValueType}" th:text="${field.extValueType}" selected></option>
                                    </th:block>
                                    <th:block th:if="${field.extValueType == '' && field.searchType != ''}">
                                        <option th:value="${field.searchType}" th:text="${field.searchType}" selected></option>
                                    </th:block>
                                </select>
                            </td>
                            <td>
                                <th:block th:if="${field.extValueType != ''}">
                                    <input type="text" class="form-control" name="valueReturn" th:value="${field.extValueReturn}" size="7"/>
                                </th:block>
                                <th:block th:if="${field.extValueType == '' && field.searchType != ''}">
                                    <input type="text" class="form-control" name="valueReturn" th:value="${field.searchReturn}" size="7"/>
                                </th:block>
                                <th:block th:if="${field.extValueType == '' && field.searchType == ''}">
                                    <input type="text" class="form-control" name="valueReturn" size="7"/>
                                </th:block>
                            </td>
                            <td>
                                <select th:if="${workflow != null}" th:id="'workflowStepsIds_' + ${field.id}"  name="workflowStepsIds" class="slim-select-simple slim-select-no-hack" multiple size="3" data-placeholder="Choisir des étapes">
                                    <th:block th:each="workflowStep, iterator : ${workflow.workflowSteps}">
                                        <option th:value="${workflowStep.id}" th:text="${iterator.index + 1}" th:selected="${field.workflowSteps.contains(workflowStep)}"></option>
                                    </th:block>
                                </select>
                            </td>
                            </form>
                            <td>
                                <button type="button" data-bs-toggle="modal" data-bs-target="#modal-warning" th:attr="data-bs-target='#modal-warning' + ${field.id}" class="btn btn-danger">
                                    <i class="fa-solid fa-trash-alt"></i>
                                </button>
                                <div data-bs-focus="false" class="modal modal-warning fade in" th:id="'modal-warning' + ${field.id}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form id="command" th:action="'/admin/forms/' + ${form.id} + '/fields/' + ${field.id} + '/delete'" th:method="delete">
                                                <div class="modal-header">
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close">

                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="alert alert-danger text-center">
                                                        Attention la suppression d'un champ entraine la suppression definitive des données qui lui sont associées !
                                                        <br>
                                                        Confirmez-vous la suppression ?
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline pull-left"
                                                            data-bs-dismiss="modal">Non
                                                    </button>
                                                    <button type="submit"
                                                            class="btn btn-outline pull-left btn-danger">
                                                        Oui
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                    </div>
                    <div th:unless="${form.fields.size() > 0}" class="alert alert-warning">
                        Ce formulaire ne contient pas de modèle
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div data-bs-focus="false" class="modal fade" id="newManualForm"  role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nouveau formulaire sans modèle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <script th:inline="javascript" type="module">
                    import {FormManualAdd } from '/js/modules/ui/forms/FormManualAdd.js?version=@[(${versionApp})]@';
                    new FormManualAdd();
                </script>
                <form th:action="'/admin/forms/add-field/' + ${form.id}" method="post">
                    <div id="repeatingInputFields">
                        <div class="entry inline-form col-xs-12">
                            <input class="form-control" name="fieldNames[]" type="text" placeholder="Nom"/>
                            <select name="fieldTypes[]" class="form-select">
                                <th:block th:each="fieldType : ${T(org.esupportail.esupsignature.entity.enums.FieldType).values()}">
                                    <option th:value="${fieldType}" th:text="${fieldType.name()}"></option>
                                </th:block>
                            </select>
                            <button id="btn-add-field" type="button" class="btn btn-success">
                                <span class="fa-solid fa-plus fa-2xl" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <input class="btn btn-success float-end" type="submit" value="Valider"/>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>