<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="forms" type="java.util.List<org.esupportail.esupsignature.entity.Form>"*/-->
<!--/*@thymesVar id="preFillTypes" type="java.util.List<org.esupportail.esupsignature.service.interfaces.prefill.PreFill>"*/-->
<!--/*@thymesVar id="workflowTypes" type="java.util.List<org.esupportail.esupsignature.service.interfaces.workflow.Workflow>"*/-->
<head th:replace="~{fragments/head :: head}"></head>
<body>
<header th:replace="~{fragments/nav :: nav}"></header>
<script>
    const workflowRole = '[[${workflowRole}]]';
</script>
<main role="main">
    <div class="es-wrapper">
        <nav id="breadcrumb" aria-label="breadcrumb" class="es-breadcrumb-nav es-breadcrumb-nav-full-fixed es-breadcrumb-nav-full text-uppercase">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin" class="d-flex align-items-center"><i class="fi fi-rr-chess-queen"></i> Administration</a></li>
                <li class="breadcrumb-item active"><i class="fi fi-rr-poll-h file-alt-color"></i> Liste des formulaires</li>
            </ol>
        </nav>
        <div id="content" class="es-content-full">
            <div class="es-main-content d-flex">
                <div class="es-sidebar d-flex">
                    <nav th:replace="~{fragments/sides/side-admin :: side-admin}"></nav>
                    <nav th:replace="~{fragments/sides/side-manager :: side-manager}"></nav>
                </div>
                <div class="flex-grow-1">
                    <div class="p-0 m-2">
                    <div class="input-group mb-3 admin-list-filters admin-list-filters-loading">
                        <span class="input-group-text">Filtrer</span>
                        <select id="tags" name="tags" class="form-control slim-select-simple" data-placeholder="Choisir un ou plusieurs tags" multiple onclick="event.stopPropagation();">
                            <th:block th:each="tag : ${allTags}">
                                <option th:style="'color:' + ${tag.color}" th:data-html="'<span class=\'badge\' style=\'background-color:' + ${tag.color} + '\'>' + ${tag.name} + '</span>'" th:value="${tag.id}" th:text="${tag.name}" th:selected="${selectedTagIds.contains(tag.id)}"></option>
                            </th:block>
                        </select>
                        <span class="input-group-text">Actifs</span>
                        <select id="activeVersion" name="activeVersion" class="form-select" data-placeholder="Tous" onclick="event.stopPropagation();">
                            <option data-placeholder="true" readonly="" value="">Tous</option>
                            <option value="true" th:selected="${activeVersion != null && activeVersion}">Oui</option>
                            <option value="false" th:selected="${activeVersion != null && !activeVersion}">Non</option>
                        </select>
                    </div>
                    <div class="table-fix-head scrollbar-style rounded-3 admin-list-table-wrap">
                        <table id="formsListTable" class="table table-light table-striped table-hover table-borderless admin-list-table">
                            <colgroup>
                                <col style="width: 72px;">
                                <col style="width: 16%;">
                                <col style="width: 20%;">
                                <col style="width: 12%;">
                                <col style="width: 86px;">
                                <col style="width: 15%;">
                                <col style="width: 72px;">
                                <col style="width: 112px;">
                                <col style="width: 86px;">
                                <col style="width: 72px;">
                                <col style="width: 12%;">
                                <col style="width: 88px;">
                            </colgroup>
                            <thead class="table-secondary">
                            <tr>
                                <th>Id</th>
                                <th>
                                    <button type="button" class="btn btn-link btn-sm p-0 text-dark text-decoration-none js-sort-name" data-table-id="formsListTable" data-col-index="1">
                                        Nom&nbsp;<i class="fi fi-rr-sort-alt" aria-hidden="true"></i>
                                    </button>
                                    <input type="search" class="form-control form-control-sm mt-1 js-search-name" data-table-id="formsListTable" data-col-index="1" placeholder="Rechercher">
                                </th>
                                <th>Titre</th>
                                <th>Tags</th>
                                <th>À la une</th>
                                <th>Circuit associé</th>
                                <th>Actif</th>
                                <th>Tuile masquée</th>
                                <th>Supprimé</th>
                                <th>Public</th>
                                <th>Rôle</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="form : ${forms}" th:data-href="'/' + ${workflowRole} + '/forms/update/' + ${form.id}">
                                <td><input type="text" th:value="${form.id}" disabled></td>
                                <td class="clickable-td" th:text="${form.name}"></td>
                                <td class="clickable-td" th:text="${form.title}"></td>
                                <td th:class="${form.id != null}? 'clickable-td' : ''">
                                    <th:block th:each="tag : ${form.tags}">
                                        <span th:text="${tag.name}" th:style="'background-color: ' + ${tag.color}" class="badge"></span>
                                    </th:block>
                                </td>
                                <td class="clickable-td">
                                    <i th:if="${form.featured}" class="fi fi-rr-check text-success"></i>
                                    <i th:unless="${form.featured}" class="fi fi-rr-cross-small text-danger"></i>
                                </td>
                                <td>
                                    <a th:if="${form.workflow != null}" th:href="'/' + ${workflowRole} + '/workflows/update/' + ${form.workflow.id}" th:text="${form.workflow.description}"></a>
                                </td>
                                <td class="clickable-td">
                                    <i th:if="${form.activeVersion}" class="fi fi-rr-check text-success"></i>
                                    <i th:unless="${form.activeVersion}" class="fi fi-rr-cross-small text-danger"></i>
                                </td>
                                <td class="clickable-td">
                                    <i th:if="${form.hideButton}" class="fi fi-rr-check text-success"></i>
                                    <i th:unless="${form.hideButton}" class="fi fi-rr-minus text-secondary"></i>
                                </td>
                                <td class="clickable-td">
                                    <i th:if="${form.deleted}" class="fi fi-rr-cross-small text-danger"></i>
                                </td>
                                <td class="clickable-td">
                                    <i th:if="${form.publicUsage}" class="fi fi-rr-check text-success"></i>
                                    <i th:unless="${form.publicUsage}" class="fi fi-rr-cross-small text-danger"></i>
                                </td>
                                <td class="clickable-td" th:text="${form.roles}"></td>
                                <td class="text-center">
                                    <div class="dropdown position-relative">
                                        <button type="button" th:id="'menu-toggle_' + ${form.id}" class="btn text-dark" th:title="'Actions ' + ${form.title}"
                                                th:data-bs-target="'#menu-' + ${form.id}" th:aria-controls="'menu-' + ${form.id}" data-bs-toggle="dropdown">
                                            <i class="fi fi-rr-menu-dots-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu position-absolute ps-2 pe-2" th:id="'menu-' + ${form.id}">
                                            <li>
                                                <a class="btn btn-transparent text-dark text-left col-12" title="Consulter" role="button"
                                                   th:href="'/' + ${workflowRole} + '/forms/update/' + ${form.id}">
                                                    <i class="fi fi-rr-pencil"></i> Modifier les paramètres
                                                </a>
                                            </li>
                                            <li>
                                                <a class="btn btn-transparent text-dark text-left col-12" title="Consulter" role="button"
                                                   th:href="'/' + ${workflowRole} + '/forms/' + ${form.id} + '/fields'">
                                                    <i class="fi fi-rr-pen-field"></i> Modifier les champs
                                                </a>
                                            </li>
                                            <li>
                                                <a class="btn btn-transparent text-dark text-left col-12" title="Consulter" role="button"
                                                   th:href="'/' + ${workflowRole} + '/forms/' + ${form.id} + '/signs'">
                                                    <i class="fi fi-rr-digital-signature"></i> Configurer les champs signatures
                                                </a>
                                            <li>
                                            </li>
                                            <a class="btn btn-transparent text-dark text-left col-12" title="Exporter   " role="button"
                                               th:href="'/' + ${workflowRole} + '/forms/export/' + ${form.id}">
                                                <i class="fi fi-rr-file-export"></i> Exporter la configuration
                                            </a>
                                            </li>
                                            <li>
                                                <a class="btn btn-transparent text-dark text-left col-12" title="Télécharger" role="button"
                                                   th:href="'/' + ${workflowRole} + '/forms/' + ${form.id} + '/datas/csv'">
                                                    <i class="fi fi-rr-file-csv"></i> Exporter les données saisies
                                                </a>
                                            </li>
                                            <li>
                                                <a class="btn btn-transparent text-danger text-left col-12" th:href="'#modal-warning-' + ${form.id}" role="button" title="Supprimer"
                                                   data-bs-toggle="modal" th:data-bs-target="'#modal-warning-' + ${form.id}">
                                                    <i class="fi fi-rr-trash"></i> Supprimer
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div data-bs-focus="false" class="modal modal-warning fade in" th:id="'modal-warning-' + ${form.id}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form id="command" th:action="'/' + ${workflowRole} + '/forms/' + ${form.id}" th:method="delete">
                                                    <div class="modal-header">
                                                        <button type="button" class="btn-close" title="Fermer" data-bs-dismiss="modal"
                                                                aria-label="Close">

                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="alert alert-danger text-center">Confirmez-vous la
                                                            suppression du formulaire ?
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline pull-left"
                                                                data-bs-dismiss="modal">Non
                                                        </button>
                                                        <button type="submit"
                                                                class="btn btn-outline pull-left btn-danger">
                                                            Oui
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-secondary" th:unless="${forms.size() > 0}">
                            Aucun formulaire actif pour le moment
                        </div>
                    </div>
                    </div>
                </div>
                <div class="es-sign-buttons es-fixed-action-btns active">
                    <ul class="list-unstyled">
                        <li>
                            <a title="Créer un formulaire depuis un formulaire PDF" data-bs-toggle="modal" data-bs-target="#newForm" class="btn btn-transparent text-dark">
                                <i class="fi fi-rr-apps-add"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:inline="javascript" type="module">
    import {FormManualAdd} from '/js/modules/ui/forms/FormManualAdd.js?version=@[(${versionApp})]@';
    new FormManualAdd();
</script>
<script>
    (() => {
        const navigateWithFilters = (updates) => {
            const currentUrl = new URL(window.location.href);
            const targetUrl = new URL(window.location.href);

            Object.entries(updates).forEach(([key, value]) => {
                if (Array.isArray(value)) {
                    if (value.length > 0) {
                        targetUrl.searchParams.set(key, value.join(','));
                    } else {
                        targetUrl.searchParams.delete(key);
                    }
                    return;
                }

                if (value == null || value === '') {
                    targetUrl.searchParams.delete(key);
                } else {
                    targetUrl.searchParams.set(key, value);
                }
            });

            if (targetUrl.pathname === currentUrl.pathname && targetUrl.search === currentUrl.search) {
                return;
            }

            window.location.assign(targetUrl.pathname + targetUrl.search + targetUrl.hash);
        };

        const tagsSelect = document.getElementById('tags');
        if (tagsSelect) {
            tagsSelect.addEventListener('change', function () {
                navigateWithFilters({ selectedTags: Array.from(this.selectedOptions).map(option => option.value) });
            });
        }

        const activeVersionSelect = document.getElementById('activeVersion');
        if (activeVersionSelect) {
            activeVersionSelect.addEventListener('change', function () {
                navigateWithFilters({ activeVersion: this.value });
            });
        }
    })();
</script>
<style>
    .admin-list-table-wrap {
        overflow-x: auto;
    }

    .admin-list-filters select.slim-select-simple[multiple] {
        height: 38px;
        min-height: 38px;
        overflow: hidden;
    }

    .admin-list-filters .ss-main {
        min-height: 38px;
    }

    .admin-list-filters-loading {
        visibility: hidden;
    }

    .admin-list-table {
        min-width: 1080px;
        table-layout: fixed;
    }

    .admin-list-table th,
    .admin-list-table td {
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
    }

    .admin-list-table td {
        white-space: nowrap;
    }

    .admin-list-table .badge,
    .admin-list-table .list-group-item {
        white-space: normal;
    }

    @media (max-width: 1199.98px) {
        .admin-list-table {
            min-width: 960px;
        }
    }
</style>
<script>
    (() => {
        const showFiltersWhenReady = () => {
            document.querySelectorAll('.admin-list-filters-loading').forEach(filters => {
                const selects = filters.querySelectorAll('select.slim-select-simple');
                let attempts = 0;
                const reveal = () => {
                    const ready = Array.from(selects).every(select => select.nextElementSibling?.classList.contains('ss-main'));
                    if (ready || attempts >= 60) {
                        filters.classList.remove('admin-list-filters-loading');
                        return;
                    }
                    attempts++;
                    requestAnimationFrame(reveal);
                };
                reveal();
            });
        };

        showFiltersWhenReady();

        const normalize = value => value.trim().toLocaleLowerCase();

        document.querySelectorAll('.js-search-name').forEach(input => {
            const table = document.getElementById(input.dataset.tableId);
            const columnIndex = Number(input.dataset.colIndex);
            if (!table || Number.isNaN(columnIndex)) {
                return;
            }

            input.addEventListener('input', () => {
                const search = normalize(input.value);
                table.querySelectorAll('tbody tr').forEach(row => {
                    const cell = row.cells[columnIndex];
                    row.classList.toggle('d-none', search !== '' && !normalize(cell ? cell.textContent : '').includes(search));
                });
            });
        });

        document.querySelectorAll('.js-sort-name').forEach(button => {
            const table = document.getElementById(button.dataset.tableId);
            const columnIndex = Number(button.dataset.colIndex);
            if (!table || !table.tBodies.length || Number.isNaN(columnIndex)) {
                return;
            }

            button.addEventListener('click', () => {
                const tbody = table.tBodies[0];
                const direction = button.dataset.direction === 'asc' ? -1 : 1;
                button.dataset.direction = direction === 1 ? 'asc' : 'desc';
                const icon = button.querySelector('i');
                if (icon) {
                    icon.className = direction === 1 ? 'fi fi-rr-sort-amount-down' : 'fi fi-rr-sort-amount-up';
                }

                Array.from(tbody.rows)
                    .sort((a, b) => direction * normalize(a.cells[columnIndex]?.textContent || '').localeCompare(normalize(b.cells[columnIndex]?.textContent || ''), 'fr'))
                    .forEach(row => tbody.appendChild(row));
            });
        });
    })();
</script>
<div data-bs-focus="false" class="modal fade" id="newManualForm"  role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nouveau formulaire sans modèle</h5>
                <button type="button" class="btn-close" title="Fermer" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="'/' + ${workflowRole} + '/forms'" method="post">
                    <div class="form-group mb-3">
                        <label for="titleManual" class="form-label">Titre (affiché aux utilisateurs)</label>
                        <input type="text" id="titleManual" name="title" class="form-control" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="nameManual" class="form-label">Nom (nom technique sans espace ni accents)</label>
                        <input type="text" id="nameManual" name="name" class="form-control" required>
                    </div>
                    <div class="form-check mb-3" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                        <label for="publicUsage" class="form-check-label">Visibilité publique (diffusion immédiate)</label>
                        <input type="checkbox" class="form-check-input" id="publicUsage" name="publicUsage">
                    </div>
                    <div class="form-group mb-3" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" >
                        <label for="roleNames" class="form-label">Nom du role autorisé à accéder au formulaire</label>
                        <select id="roleNames" class="slim-select" type="text" name="roleNames" multiple>
                            <th:block th:each="newRole : ${roles}">
                                <option th:text="${newRole}" th:value="${newRole}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="workflowIdManual" class="form-label">Circuit associé</label>
                        <select class="slim-select-simple" id="workflowIdManual" name="workflowId">
                            <th:block th:each="workflowType : ${workflowTypes}">
                                <option th:value="${workflowType.id}" th:text="${workflowType.description}"></option>
                            </th:block>
                        </select>
                    </div>
                    <hr>
                    <h2>Champs</h2>
                    <div id="repeatingInputFields">
                        <div class="entry inline-form col-xs-12">
                            <input class="form-control" name="fieldNames[]" type="text" placeholder="Nom"/>
                            <select name="fieldTypes[]" class="form-select">
                                <th:block th:each="fieldType : ${T(org.esupportail.esupsignature.entity.enums.FieldType).values()}">
                                    <option th:value="${fieldType}" th:text="${fieldType.name()}"></option>
                                </th:block>
                            </select>
                            <button id="btn-add-field" type="button" class="btn btn-success">
                                <span class="fi fi-rr-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <input class="btn btn-success float-end" type="submit" value="Valider"/>
                </form>
            </div>
        </div>
    </div>
</div>
<div data-bs-focus="false" class="modal fade" id="newForm"  role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nouveau formulaire</h5>
                <button type="button" class="btn-close" title="Fermer" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="addModel" th:action="'/' + ${workflowRole} + '/forms/generate?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label for="title" class="form-label">Titre (affiché aux utilisateurs)</label>
                        <input type="text" id="title" name="title" class="form-control" onchange="" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="name" class="form-label">Nom (nom technique sans espace ni accents)</label>
                        <input type="text" id="name" name="name" class="form-control" required>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Modèle PDF Form</label>
                        <div class="custom-file">
                            <input aria-describedby="inputGroupFileAddon01" class="form-control" data-buttonText="Choisir fichier" id="modelFile" name="multipartFile" type="file" required/>
                        </div>
                    </div>
                    <div class="form-group mb-3" th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                        <label for="managerRole">Pour quel rôle ce formulaire pourra être diffusé</label>
                        <select id="managerRole" name="managerRole" class="form-select" required>
                            <th:block th:each="role : ${roles}">
                                <option th:value="${role}" th:text="${role}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-check mb-3" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                        <label for="publicUsage" class="form-check-label">Visibilité publique (diffusion immédiate)</label>
                        <input type="checkbox" class="form-check-input" id="publicUsage" name="publicUsage">
                    </div>
                    <div class="form-group mb-3" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" >
                        <label for="roleNames2" class="form-label">Nom du role autorisé à accéder au formulaire</label>
                        <select id="roleNames2" class="slim-select" type="text" name="roleNames" multiple>
                            <th:block th:each="newRole : ${roles}">
                                <option th:text="${newRole}" th:value="${newRole}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="workflowId" class="form-label">Circuit associé</label>
                        <select class="slim-select-simple" id="workflowId" name="workflowId">
                            <th:block th:each="workflowType : ${workflowTypes}">
                                <option th:value="${workflowType.id}" th:text="${workflowType.description}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="prefillType" class="form-label">Type de pré-remplissage</label>
                        <select class="slim-select-simple" id="prefillType" name="prefillType">
                            <th:block th:each="preFillType : ${preFillTypes}">
                                <option th:selected="${preFillType.name == 'default'}" th:value="${preFillType.name}"
                                        th:text="${preFillType.description}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <input type="submit" class="btn btn-success" value="Valider">
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
