<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="field" type="org.esupportail.esupsignature.entity.Field"*/-->
<!--/*@thymesVar id="form" type="org.esupportail.esupsignature.entity.Form"*/-->
<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/nav"></header>
<main role="main">
    <div class="wrapper">
        <nav th:insert="fragments/side-admin"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/forms">Liste des formulaires</a></li>
                <li class="breadcrumb-item active" th:text="'Liste des champs du formulaire : ' + ${form.name}"></li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="card col-lg-12">
                <div class="card-body">
                <table class="table table-borderless table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th class="align-middle">Nom</th>
                            <th class="align-middle">Type</th>
                            <th class="align-middle">Requis</th>
                            <th class="align-middle">lecture seule</th>
                            <th class="align-middle">Pré-remplissage : Nom du service</th>
                            <th class="align-middle">Pré-remplissage : Type</th>
                            <th class="align-middle">Pré-remplissage : Attribut retourné</th>
                            <th class="align-middle">Auto-completion : Nom du service</th>
                            <th class="align-middle">Auto-completion : Type</th>
                            <th class="align-middle">Auto-completion : Attribut retourné</th>
                            <th class="align-middle">Etapes autorisées</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="field : ${form.fields}">
                        <tr>
                            <form th:action="'/admin/forms/' + ${form.id} + '/field/' + ${field.id} + '/update'" th:method="'put'">
                            <td><span th:text="${field.name}"></span></td>
                            <td><span th:text="${field.type}" /></td>
                            <td><input type="text" name="required" th:value="${field.required}" size="4"/></td>
                            <td><input type="text" name="readOnly" th:value="${field.readOnly}" size="4"/></td>
                            <td><input type="text" name="extValueServiceName" th:value="${field.extValueServiceName}" size="7"/></td>
                            <td><input type="text" name="extValueType" th:value="${field.extValueType}"  size="7"/></td>
                            <td><input type="text" name="extValueReturn" th:value="${field.extValueReturn}" size="7"/></td>
                            <td><input type="text" name="searchServiceName" th:value="${field.searchServiceName}"  size="7"/></td>
                            <td><input type="text" name="searchType" th:value="${field.searchType}"  size="7"/></td>
                            <td><input type="text" name="searchReturn" th:value="${field.searchReturn}"  size="7"/></td>
                            <td><input type="text" name="stepNumbers" th:value="${field.stepNumbers}"  size="7"/></td>
                            <td><button type="submit" class="btn btn-sm btn-success"><i class="fas fa-save"></i></button></td>
                            </form>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>