<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="field" type="org.esupportail.esupsignature.entity.Field"*/-->
<!--/*@thymesVar id="form" type="org.esupportail.esupsignature.entity.Form"*/-->
<head th:replace="fragments/head"></head>
<script th:inline="javascript" type="module">
    import {default as FormUi} from "/static/js/modules/ui/forms/FormUi.js";
    new FormUi([[${form.id}]]);
</script>
<body>
<header th:replace="fragments/nav"></header>
<main role="main">
    <div class="wrapper">
        <nav th:insert="fragments/side-admin"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/forms">Liste des formulaires</a></li>
                <li class="breadcrumb-item active" th:text="'Liste des champs du formulaire : ' + ${form.name}"></li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="fixed-action-btns active" >
                <ul class="list-unstyled">
                    <li>
                        <a id="btn-save-fields" title="Enregistrer les modifications" type="button" class="btn-floating btn-lg bg-success">
                            <i class="fas fa-save"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Modifier les paramètres du formulaire" type="button" th:href="'/admin/forms/update/' + ${form.id}"
                           class="btn-floating btn-lg bg-warning">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card col-lg-10 mx-auto">
                <div class="card-body">
                <table class="table table-borderless table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th class="align-middle">Nom</th>
                            <th class="align-middle">Type</th>
                            <th class="align-middle">Requis</th>
                            <th class="align-middle">lecture seule</th>
                            <th class="align-middle">Pré-remplissage : Nom du service</th>
                            <th class="align-middle">Pré-remplissage : Type</th>
                            <th class="align-middle">Pré-remplissage : Attribut retourné</th>
                            <th class="align-middle">Auto-completion : Nom du service</th>
                            <th class="align-middle">Auto-completion : Type</th>
                            <th class="align-middle">Auto-completion : Attribut retourné</th>
                            <th class="align-middle">Etapes autorisées</th>
                        </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="field : ${form.fields}">
                        <tr>
                            <form th:name="field-update" th:id="${field.id}" th:action="'/admin/forms/' + ${form.id} + '/field/' + ${field.id} + '/update'" th:method="'put'">
                            <td><span th:text="${field.name}"></span></td>
                            <td><span th:text="${field.type}" /></td>
                            <td><input type="checkbox" name="required" th:value="true" th:checked="${field.required}"/></td>
                            <td><input type="checkbox" name="readOnly" th:value="true" th:checked="${field.readOnly}"/></td>
                            <td><input type="text" name="extValueServiceName" th:value="${field.extValueServiceName}" size="7"/></td>
                            <td><input type="text" name="extValueType" th:value="${field.extValueType}"  size="7"/></td>
                            <td><input type="text" name="extValueReturn" th:value="${field.extValueReturn}" size="7"/></td>
                            <td><input type="text" name="searchServiceName" th:value="${field.searchServiceName}"  size="7"/></td>
                            <td><input type="text" name="searchType" th:value="${field.searchType}"  size="7"/></td>
                            <td><input type="text" name="searchReturn" th:value="${field.searchReturn}"  size="7"/></td>
                            <td><input type="text" name="stepNumbers" th:value="${field.stepNumbers}"  size="7"/></td>
                            </form>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>