<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="field" type="org.esupportail.esupsignature.entity.Field"*/-->
<!--/*@thymesVar id="form" type="org.esupportail.esupsignature.entity.Form"*/-->
<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/nav"></header>
<main role="main">
    <div class="wrapper">
        <nav th:insert="fragments/side-admin"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/forms">Liste des formulaires</a></li>
                <li class="breadcrumb-item active" th:text="'Liste des champs du formulaire : ' + ${form.name}"></li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="fixed-action-btn" >
                <a title="Créer un nouveau circuit" type="button" th:href="'/admin/forms/update/' + ${form.id}"
                   class="btn-floating btn-lg bg-warning">
                    <i class="fas fa-pencil-alt"></i>
                </a>
            </div>
            <div class="card col-lg-10 mx-auto">
                <div class="card-body">
                <table class="table table-borderless table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Type</th>
                        <th>ExtValue</th>
                        <th>Etapes autorisées</th>
                        <th>Utilisateurs concernés</th>
                        <th class="d-none">Aperçu</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="field : ${form.fields}">
                        <tr>
                            <td th:text="${field.name}"></td>
                            <td th:text="${field.label}"></td>
                            <td th:text="${field.type}"></td>
                            <td th:text="${field.extValue}"></td>
                            <td th:text="${field.stepNumbers}"></td>
                            <td th:text="${field.eppnEditRight}"></td>
                            <td  class="d-none">
                                <div class="form-group">
                                    <div th:switch="${#strings.toString(field.type)}">
                                        <input th:case="radio" type="radio" th:name="${field.name}"
                                               th:placeholder="${field.name}"/>
                                        <input th:case="checkbox" type="checkbox" th:name="${field.name}"
                                               th:placeholder="${field.name}"/>
                                        <input th:case="'text'" type="text" class="form-control" th:name="${field.name}"
                                               th:placeholder="${field.label}"/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
