<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="field" type="org.esupportail.esupsignature.entity.Field"*/-->
<!--/*@thymesVar id="form" type="org.esupportail.esupsignature.entity.Form"*/-->
<head th:replace="~{fragments/head :: head}"></head>
<script th:inline="javascript" type="module">
    import {default as FormSignsUi} from '/js/modules/ui/forms/FormSignsUi.js?version=@[(${versionApp})]@';
    new FormSignsUi("admin", [[${form.id}]], [[${_csrf}]]);
</script>
<body>
<header th:replace="~{fragments/nav :: nav}"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="~{fragments/sides/side-admin :: side-admin}"></nav>
        <nav th:replace="~{fragments/sides/side-manager :: side-manager}"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Administration</a></li>
                <li class="breadcrumb-item"><a href="/admin/forms">Liste des formulaires</a></li>
                <li class="breadcrumb-item active" th:text="'Liste des champs signatures du formulaire : ' + ${form.name}"></li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="fixed-action-btns active" th:if="${form.workflow != null}">
                <ul class="list-unstyled">
                    <li>
                        <a id="save" title="Enregistrer" type="button" class="btn-floating btn-lg bg-success" onclick="window.location.reload();">
                            <i class="fa-solid fa-save fa-2xl"></i>
                        </a>
                    </li>
                    <li th:if="${form.document != null && form.signRequestParams != null}">
                        <a id="addSignRequestParams" title="Modifier les champs signature" type="button" data-bs-toggle="modal" data-bs-target="#updateSignsModal" class="btn-floating btn-lg bg-warning">
                            <i class="fa-solid fa-pencil fa-2xl"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="nav nav-tabs nav-tab-admin" style="top: 86px;z-index: 1000;">
                <li class="nav-item">
                    <a class="nav-link" th:href="'/' + ${workflowRole} + '/forms/update/' + ${form.id}">Paramètres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/' + ${workflowRole} + '/forms/' + ${form.id} + '/fields'">Configuration des champs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="'/' + ${workflowRole} + '/forms/' + ${form.id} + '/signs'">Configuration des signatures</a>
                </li>
            </ul>
            <div th:replace="~{admin/forms/includes/tools :: tools}"></div>
            <div style="position: fixed; z-index: 999;width: 300px;">
            <div th:insert="~{admin/workflows/cards/stepscard-light :: stepscard-light}"></div>
            </div>
            <div th:replace="~{admin/forms/includes/workspace :: workspace}"></div>
        </div>
    </div>
</main>
<script th:inline="javascript" type="module">
    import {SignUi} from '/js/modules/ui/signrequests/SignUi.js?version=@[(${versionApp})]@';
    new SignUi(
        [[${form.id}]],
        null,
        [[${form.id}]],
        null,
        [[${user.defaultSignImageNumber}]],
        'form',
        true,
        true,
        [[${spots}]],
        [[${document != null && document.contentType == 'application/pdf'}]],
        1,
        false,
        false,
        null,
        null,
        [[${workflowRole}]],
        "forms",
        [[${_csrf}]],
        null,
        null,
        'pending',
        null,
        1,
        true,
        false,
        false,
        false,
        true,
        null,
        false
    );
</script>
<div th:if="${form.signRequestParams != null}" data-bs-focus="false" class="modal fade" id="updateSignsModal" tabindex="-1" aria-labelledby="updateSignsModalTitle"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="updateSignsModalTitle">Modifier les champs signatures</h1>
                <button type="button" class="btn-close" title="Fermer" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless table-hover">
                    <thead class="table-secondary">
                    <tr>
                        <th class="align-middle th-fixed">Champ signature</th>
                        <th class="align-middle th-fixed">Étapes</th>
                        <th class="align-middle th-fixed">Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="signRequestParams : ${form.signRequestParams}">
                        <form id="form">
                            <tr>
                                <td><span th:if="${signRequestParams.pdSignatureFieldName != null}" th:text="${signRequestParams.pdSignatureFieldName} + ' :'" ></span> page <span th:text="${signRequestParams.signPageNumber + ' (' + signRequestParams.xPos + ', ' + signRequestParams.yPos + ')'}"></span></td>
                                <td>
                                    <select th:id="'srp_' + ${signRequestParams.id}"  name="test[]" class="form-select" data-placeholder="Choisir des étapes">
                                        <option data-placeholder="true"></option>
                                        <th:block th:each="workflowStep, iterator : ${workflow.workflowSteps}">
                                            <option th:value="${iterator.index + 1}" th:text="${iterator.index + 1}" th:selected="${srpMap.get(iterator.index + 1) == signRequestParams.id}"></option>
                                        </th:block>
                                    </select>
                                </td>
                                <td>
                                    <a class="btn btn-danger" th:href="'#modal-warning-' + ${signRequestParams.id}" role="button" title="Supprimer" data-bs-toggle="modal">
                                        <i class="fa-solid fa-trash-alt pr-2"></i>
                                    </a>
                                </td>
                            </tr>
                        </form>

                    </th:block>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button id="saveButton" type="button" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
    </div>
</div>
<th:block th:if="${form.signRequestParams != null}" th:each="signRequestParams : ${form.signRequestParams}">
<div class="modal" th:id="'modal-warning-' + ${signRequestParams.id}" >
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="'/' + ${workflowRole} + '/forms/remove-signRequestParams/' + ${form.id} + '/' + ${signRequestParams.id}" th:method="delete">
                <div class="modal-header">
                    <button type="button" class="btn-close" title="Fermer" data-bs-dismiss="modal"
                            aria-label="Close">

                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger text-center">
                        Confirmez-vous la suppression du champ signature ?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left"
                            data-bs-dismiss="modal">Non
                    </button>
                    <button type="submit"
                            class="btn btn-outline pull-left btn-danger">
                        Oui
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</th:block>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>