<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="preFillTypes" type="java.util.List<org.esupportail.esupsignature.service.interfaces.prefill.PreFill>"*/-->
<head th:replace="~{fragments/head :: head}"></head>
<script th:inline="javascript" type="module">
    import {FormUi} from '/js/modules/ui/forms/FormUi.js?version=@[(${versionApp})]@';
    new FormUi();
</script>
<body>
<header th:replace="~{fragments/nav :: nav}"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="~{fragments/sides/side-admin :: side-admin}"></nav>
        <nav th:replace="~{fragments/sides/side-manager :: side-manager}"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Administration</a></li>
                <li class="breadcrumb-item"><a href="/admin/forms">Liste des formulaires</a></li>
                <li class="breadcrumb-item active" th:text="'Modifier le formulaire : ' + ${form.name}"></li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="fixed-action-btns">
                <ul class="list-unstyled">
                    <li>
                        <a role="button" title="Modifier le modèle" type="button" class="btn-floating btn-lg bg-primary" data-bs-toggle="modal" data-bs-target="#updateModel">
                            <i class="fa-solid fa-pen fa-2xl"></i>
                        </a>
                    </li>
                    <li>
                        <a role="button" title="Importer la configuration d'un circuit" type="button" class="btn-floating btn-lg bg-primary" data-bs-toggle="modal" data-bs-target="#importWorkflow">
                            <i class="fa-solid fa-file-import fa-2xl"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating btn-lg bg-primary" title="Exporter le circuit" role="button" th:href="'/' + ${workflowRole} + '/forms/export/' + ${form.id}">
                            <i class="fa-solid fa-file-export fa-2xl"></i>
                        </a>
                    </li>
                    <li>
                        <a id="saveButton" title="Enregistrer" role="button" class="btn-floating btn-lg bg-success"
                            onclick="$('#formUpdate').submit();">
                            <i class="fa-solid fa-save fa-2xl"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" th:href="'/' + ${workflowRole} + '/forms/update/' + ${form.id}">Paramètres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/' + ${workflowRole} + '/forms/' + ${form.id} + '/fields'">Configuration des champs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/' + ${workflowRole} + '/forms/' + ${form.id} + '/signs'">Configuration des signatures</a>
                </li>
            </ul>
            <div class="card text-bg-light col-lg-11 m-2">
                <div class="card-body">
                    <h3>FORM ID : <input type="text" readonly disabled th:value="${form.id}"></h3>
                    <h5>Circuit associé : <a th:if="${form.workflow != null}" th:href="'/' + ${workflowRole} + '/workflows/update/' + ${form.workflow.id}" th:text="${form.workflow.description}"></a>, Modèle actuel : <a th:href="'/' + ${workflowRole} + '/forms/get-file/' + ${form.id}" target="_blank"><span th:text="${form.document.fileName}"></span></a></h5>
                    <form id="formUpdate" th:action="'/' + ${workflowRole} + '/forms'" th:object="${form}" th:method="'put'">
                        <input type="hidden" th:field="*{id}">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <h5>Généralités</h5>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="form-group mb-3">
                                            <label for="title"><strong>Titre (affiché aux utilisateurs)</strong></label>
                                            <input id="title" class="form-control" type="text" th:field="*{title}"/>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="name"><strong>Nom (nom technique sans espace ni accents)</strong></label>
                                            <input id="name" class="form-control" type="text" th:field="*{name}"/>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="workflowType"><strong>Circuit associé au formulaire</strong></label>
                                            <select class="slim-select-simple" id="workflowType" th:field="*{workflow}">
                                                <option value="">-- dissocier d'un circuit --</option>
                                                <th:block th:each="workflowType : ${workflowTypes}">
                                                    <option th:if="${workflowType != null}" th:value="${workflowType.id}"
                                                            th:text="${workflowType.description}"></option>
                                                </th:block>
                                            </select>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="description"><strong>Description</strong></label>
                                            <input id="description" class="form-control" type="text" th:field="*{description}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <h5>Autorisations</h5>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="form-group mb-3">
                                            <label><strong>Types de délégation autorisés</strong></label>
                                            <th:block th:each="shareType : ${T(org.esupportail.esupsignature.entity.enums.ShareType).values()}">
                                                <div class="form-check text-left">
                                                    <input th:checked="${form.authorizedShareTypes.contains(shareType)}" th:id="'check-' + ${shareType.name()}" type="checkbox" class="form-check-input" name="types" th:value="${shareType.name()}"/>
                                                    <label class="form-check-label" th:for="'check-' + ${shareType.name()}" th:text="#{'usershare.sharetype.' + ${shareType.name()}}"></label>
                                                </div>
                                            </th:block>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label><strong>Autorisations</strong></label>
                                            <div class="form-check" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                                <input id="publicUsage" type="checkbox" class="form-check-input" th:field="*{publicUsage}"/>
                                                <label for="publicUsage">Accès public</label>
                                            </div>
                                            <div class="form-group mt-2">
                                                <label for="roles" class="form-check-label">Accès au formulaire pour les rôles</label>
                                                <select id="roles" class="slim-select-filter mb-2" type="text" th:field="*{roles}" data-placeholder="Choisir des roles" multiple>
                                                    <th:block th:each="newRole : ${roles}">
                                                        <option th:text="${newRole}" th:value="${newRole}" th:selected="${#lists.contains(form.roles, newRole)}"></option>
                                                    </th:block>
                                                </select>
                                            </div>
                                            <div class="form-check mb-2">
                                                <input id="hideButton" type="checkbox" class="form-check-input" th:field="*{hideButton}"/>
                                                <label for="hideButton">Masquer la tuile sur la page d’accueil (en vue des tests)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                        <h5>Options</h5>
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="form-group mb-3">
                                            <label for="workflowType" class="col-form-label"><strong>Type de pré-remplissage</strong></label>
                                            <select class="slim-select-simple" id="prefillType" th:field="*{preFillType}">
                                                <option value="">Pas de pré-remplissage</option>
                                                <th:block th:each="preFillType : ${preFillTypes}">
                                                    <option th:selected="${form.preFillType == preFillType.name}" th:value="${preFillType.name}" th:text="${preFillType.description}"></option>
                                                </th:block>
                                            </select>
                                        </div>
                                        <div class="form-check">
                                            <input id="pdfDisplay" type="checkbox" class="form-check-input" th:field="*{pdfDisplay}"/>
                                            <label for="pdfDisplay">Mise en forme avec le PDF ?</label>
                                        </div>
                                        <div class="form-check">
                                            <input id="activeVersion" type="checkbox" class="form-check-input" th:field="*{activeVersion}"/>
                                            <label for="activeVersion">Version active</label>
                                        </div>
                                        <div th:switch="${model}">
                                            <div th:case="null">
                                                <h2>Champs</h2>
                                                <div id="repeatingInputFields">
                                                    <div class="entry inline-form col-xs-12">
                                                        <input class="form-control" name="fieldNames[]" type="text" placeholder="Nom"/>
                                                        <input class="form-control" name="fieldTypes[]" type="text" placeholder="Type"/>
                                                        <button type="button" class="btn btn-success btn-add-field">
                                                            <span class="fa-solid fa-plus fa-2xl" aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="actionDiv">Actions (javascript)</label>
                                            <textarea id="actionText" class="form-control" type="text" th:field="*{action}"></textarea>
                                            <div id="actionDiv"></div>
                                            <script language="JavaScript">
                                                ace.require("ace/ext/language_tools");
                                                let editor = ace.edit("actionDiv", {
                                                    mode: "ace/mode/javascript",
                                                    autoScrollEditorIntoView: true,
                                                    enableBasicAutocompletion: true,
                                                    selectionStyle: "text"
                                                });
                                                let textarea = $('#actionText');
                                                textarea.hide();
                                                editor.getSession().setValue(textarea.val());
                                                editor.getSession().on('change', function(){
                                                    textarea.val(editor.getSession().getValue());
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                        <h5>Tags</h5>
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="d-inline-flex justify-content-around w-100">
                                            <select id="tags" name="tags" class="slim-select-simple" data-placeholder="Choisir un ou plusieurs tags" multiple>
                                                <th:block th:each="tag : ${allTags}">
                                                    <option th:style="'color:' + ${tag.color}" th:data-html="'<span class=\'badge\' style=\'background-color:' + ${tag.color} + '\'>' + ${tag.name} + '</span>'" th:value="${tag.id}" th:text="${tag.name}" th:selected="${form.tags.contains(tag)}"></option>
                                                </th:block>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                                        <h5>Communication</h5>
                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="form-group mb-3">
                                            <label for="message"><strong>Message d’accueil</strong></label>
                                            <textarea id="message" class="summer-note" th:field="*{message}"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<div data-bs-focus="false" class="modal fade" id="updateModel"  role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="formUpdateModel" th:action="'/' + ${workflowRole} + '/forms/update-model/' + ${form.id} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" th:method="'post'" enctype="multipart/form-data">
                <div class="modal-header">
                    <h3 class="modal-title">Modifier le modèle PDF</h3><button type="button" class="btn-close" title="Fermer" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <div class="custom-file">
                            <label for="multipartModel" class="custom-file-label"> Choisir un nouveau modèle au format PDF</label>
                            <input id="multipartModel" type="file" accept="application/pdf" class="form-control" name="multipartModel" value="Choose a file" aria-describedby="multipartModel"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="submitFormSetup" type="submit" class="btn btn-primary">Importer le circuit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div data-bs-focus="false" class="modal fade" id="importWorkflow"  role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="importFormSetup" th:action="'/' + ${workflowRole} + '/forms/import/' + ${form.id} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" th:method="'post'" enctype="multipart/form-data">
                <div class="modal-header">
                    <h3 class="modal-title">Importer une configuration</h3><button type="button" class="btn-close" title="Fermer" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <div class="custom-file">
                            <label for="multipartFormSetup" class="custom-file-label"> Choisir un fichier de configuration au format JSON</label>
                            <input id="multipartFormSetup" type="file" class="form-control" name="multipartFormSetup" value="Choisir un fichier" aria-describedby="multipartFormSetup"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="submitFormSetup" type="submit" class="btn btn-primary">Importer le circuit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
