<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="certificats" type="java.util.List<org.esupportail.esupsignature.entity.Certificat>"*/-->
<!--/*@thymesVar id="sealCertificats" type="java.util.List<eu.europa.esig.dss.token.DSSPrivateKeyEntry>"*/-->
<head th:replace="~{fragments/head :: head}"></head>
<body>
<header th:replace="~{fragments/nav :: nav}"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="~{fragments/sides/side-admin :: side-admin}"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol id="breadcrumb-ol" class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Administration</a></li>
                <li class="breadcrumb-item active">Certificats</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="card mb-1 col-lg-10 mx-auto" th:if="${sealCertificats != null && sealCertificats.size() > 0}">
                <div class="card-body">
                    <h5 class="text-center"><b>Certificat cachet</b></h5>
                    <table class="table table-sm table-hover">
                        <thead class="table-secondary">
                        <tr>
                            <th>Titre</th>
                            <th>Date de création</th>
                            <th>Date de fin</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="certificat : ${sealCertificats}">
                            <tr>
                                <td th:text="${certificat.certificate.subject.principal}"></td>
                                <td th:text="${#dates.format(certificat.certificate.creationDate, 'dd/MM/yyyy HH:mm')}"></td>
                                <td th:text="${#dates.format(certificat.certificate.notAfter, 'dd/MM/yyyy HH:mm')}"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="addButton" class="fixed-action-btn-simple" onmouseover="$('#addButton').toggleClass('active');" onmouseout="$('#addButton').toggleClass('active');">
                <a title="Ajouter un certificat" data-bs-toggle="modal" data-bs-target="#newCertificat" class="btn-floating btn-lg bg-primary waves-effect"><i class="fas fa-plus"></i></a>
            </div>
            <div class="card mb-1 col-lg-10 mx-auto">
                <div class="card-body">
                    <h5 class="text-center"><b>Certificats pour les rôles</b></h5>
                    <table class="table table-sm table-hover">
                        <thead class="table-secondary">
                        <tr>
                            <th>Nom</th>
                            <th>Date d’expiration</th>
                            <th>Roles</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="certificat : ${certificats}">
                            <tr>
                                <td><span th:text="${certificat.keystore.fileName}"></span></td>
                                <td><span th:text="${#dates.format(certificat.expireDate, 'dd/MM/yyyy HH:mm')}"></span></td>
                                <td><span th:text="${certificat.roles}"></span></td>
                                <td>
                                    <a class="btn btn-danger" th:href="'#modal-warning'" role="button" title="Supprimer" data-bs-toggle="modal" th:data-bs-target="'#modal-warning'">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                    <div data-bs-focus="false" class="modal modal-warning fade in" th:id="'modal-warning'">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form th:action="'/admin/certificats'" th:method="delete">
                                                    <input type="hidden" name="id" th:value="${certificat.id}">
                                                    <div class="modal-header">
                                                        <h2>Attention</h2>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="alert alert-danger">Confirmez-vous la suppression de cette demande ?</div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary float-start" data-bs-dismiss="modal">Non</button>
                                                        <button type="submit" class="btn btn-danger">Oui</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div data-bs-focus="false" class="modal fade" id="newCertificat"  role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un certificat</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                    </button>
                </div>
                <form id="addCertificat" th:action="'/admin/certificats?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group mb-3">
                            <label class="col-form-label">Keystore au format PKCS12</label>
                            <div class="custom-file">
                                <input aria-describedby="inputGroupFileAddon01" class="form-control"
                                       data-buttonText="Choisir fichier" id="keystore" name="keystore"
                                       type="file" required/>
                                <label class="custom-file-label" for="keystore" id="inputGroupLabel01">
                                    Choisir un fichier
                                </label>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="roleNames" class="col-form-label">Nom du role autorisé utiliser ce certificat</label>
                            <select id="roleNames" class="form-select" type="text" name="roleNames" multiple>
                                <th:block th:each="newRole : ${roles}">
                                    <option th:text="${newRole}" th:value="${newRole}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="password" class="col-form-label">Mot de passe du keystore</label>
                            <input id="password" class="form-control" type="password" name="password">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <input type="submit" class="btn btn-success" value="Valider">
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>