<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/nav"></header>
<main role="main">
    <div class="wrapper">
        <nav th:insert="fragments/sides/side"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="navbar-nav">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Outil de validation</li>
                </ol>
            </div>
        </nav>
        <div id="content" class="content">
            <div class="card col-lg-10 mx-auto">
                <div class="card-body">
                    <div id="collapseHelp" aria-expanded="true" style="">
                        <div class="alert alert-dark">
                            Vous pouvez contrôler la signature électronique d'un document ainsi que la compatibilité PDF/A pour les fichiers pdf.
                        </div>
                    </div>
                    <br/>
                    <form th:action="'/user/validation?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" enctype="multipart/form-data" method="post">
                        <div class="form-group">
                        <div class="custom-file">
                            <input required="required" class="form-control" id="multipartSignedDoc" name="multipartSignedDoc" type="file"/>
                            <label class="custom-file-label" for="multipartSignedDoc">
                                Choisir un fichier signé
                            </label>
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="custom-file">
                            <input class="form-control" id="multipartSignature" name="multipartSignature" type="file"/>
                            <label class="custom-file-label" for="multipartSignature">
                                Choisir un fichier signature (si la signature est détachée)
                            </label>
                        </div>
                        </div>
                        <div class="form-group">
                        <input alt="Upload" class="btn btn-success float-end" id="Upload" title="Upload" type="submit" value="Envoyer"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>