<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="preFillTypes" type="java.util.List<org.esupportail.esupsignature.service.interfaces.prefill.PreFill>"*/-->
<head th:replace="fragments/head :: head"></head>
<script th:inline="javascript" type="module">
    import {FormUi} from '/js/modules/ui/forms/FormUi.js?version=[[${versionApp}]]';
    new FormUi();
</script>
<body>
<header th:replace="fragments/nav :: nav"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="fragments/sides/side-manager :: side-manager"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/manager/forms">Liste des formulaires</a></li>
                <li class="breadcrumb-item active" th:text="'Modifier le formulaire : ' + ${form.name}"></li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="fixed-action-btn" >
                <a id="saveButton" title="Enregistrer" role="button" class="btn-floating btn-lg bg-success wave-effect"
                onclick="$('#formUpdate').submit();">
                    <i class="fas fa-save"></i>
                </a>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#" onclick="return false;">Paramètres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/manager/forms/' + ${form.id} + '/fields'">Configuration des champs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/manager/forms/' + ${form.id} + '/signs'">Configuration des signatures</a>
                </li>
            </ul>
            <br>
            <div class="card col-lg-10 mx-auto">
                <div class="card-body">
                    <h3>FORM ID : <input type="text" readonly disabled th:value="${form.id}"></h3>
                    <form id="formUpdateModel" th:action="'/manager/forms/update-model/' + ${form.id} + '/?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" th:method="'post'" enctype="multipart/form-data">
                        <div class="form-group mb-3" th:if="${form.document != null}">
                            Modele actuel : <a th:href="'/manager/forms/get-file/' + ${form.id}" target="_blank">
                            <span th:text="${form.document.fileName}"></span></a>
                        </div>
                        <div class="form-group mb-3">
                            <div class="custom-file">
                                <input id="multipartModel" type="file" accept="application/pdf"
                                       class="form-control" name="multipartModel" value="Choose a file"
                                       aria-describedby="multipartModel"/>
                                <label for="multipartModel" class="custom-file-label"> Choisir un nouveau modèle au format PDF</label>
                            </div>
                        </div>
                        <button id="submitModel" type="submit" class="btn btn-success d-none">Modifier le modèle</button>
                    </form>
                    <form id="formUpdate" th:action="'/manager/forms'" th:object="${form}" th:method="'put'">
                        <input type="hidden" th:field="*{id}">
                        <div class="form-group mb-3">
                            <label for="title">Titre (affiché aux utilisateurs)</label>
                            <input id="title" class="form-control" type="text" th:field="*{title}"/>
                        </div>
                        <div class="form-group mb-3">
                            <label for="name">Nom (nom technique sans espace ni accents)</label>
                            <input id="name" class="form-control" type="text" th:field="*{name}"/>
                        </div>
                        <div class="form-group mb-3">
                            <label for="description">Description</label>
                            <input id="description" class="form-control" type="text" th:field="*{description}"/>
                        </div>
                        <div class="form-group mb-3">
                            <label for="message">Message d'accueil</label>
                            <textarea id="message" class="summer-note"   th:field="*{message}"></textarea>
                        </div>
                        <div class="form-group mb-3">
                            <label><strong>Types de délégation autorisés</strong></label>
                            <th:block th:each="shareType : ${T(org.esupportail.esupsignature.entity.enums.ShareType).values()}">
                                <div class="form-check text-left">
                                    <input th:checked="${form.authorizedShareTypes.contains(shareType)}" th:id="'check-' + ${shareType.name()}" type="checkbox" class="form-check-input" name="types" th:value="${shareType.name()}"/>
                                    <label class="form-check-label" th:for="'check-' + ${shareType.name()}" th:text="#{'usershare.sharetype.' + ${shareType.name()}}"></label>
                                </div>
                            </th:block>
                        </div>
                        <div class="form-group mb-3">
                            <label><strong>Autorisations</strong></label>
                            <div class="form-check">
                                <input id="publicUsage" type="hidden" class="form-check-input" th:field="*{publicUsage}" value="false"/>
                            </div>
                            <label for="roles">
                                Rôle
                            </label>
                            <select id="roles" class="slim-select-simple" type="text" th:field="*{roles}" multiple>
                                <option th:text="${form.managerRole}" th:value="${form.managerRole}"></option>
                            </select>
                        </div>
                        <div class="form-group mb-3" id="managers">
                            <label for="managersSelect"><strong>Superviseur(s) du formulaire</strong>
                                <button class="btn btn-sm btn-transparent" data-bs-target="#collapseHelp1" data-bs-toggle="collapse"
                                        type="button">
                                    <span class="fas fa-info-circle text-info"></span>
                                </button>
                                <div class="collapse" id="collapseHelp1">
                                    <div class="alert alert-info">
                                        Les superviseurs peuvent consulter les demandes et en exporter les données
                                    </div>
                                </div>
                            </label>
                            <select id="managersSelect" class="select-users" multiple="multiple" name="managers">
                                <option data-placeholder="true"></option>
                                <th:block th:each="manager : ${form.managers}">
                                    <option selected="selected" th:value="${manager}" th:text="${manager}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="workflowType">Type de workflow</label>
                            <select class="slim-select-simple" id="workflowType" th:field="*{workflow}">
                                <option value="">-- dissocier d'un circuit --</option>
                                <th:block th:each="workflowType : ${workflowTypes}">
                                    <option th:if="${workflowType != null}" th:value="${workflowType.id}"
                                            th:text="${workflowType.description}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="workflowType" class="col-form-label">Type de pré-remplissage</label>
                            <select class="slim-select-simple" id="prefillType" th:field="*{preFillType}">
                                <option value="">Pas de pré-remplissage</option>
                                <th:block th:each="preFillType : ${preFillTypes}">
                                    <option th:selected="${form.preFillType == preFillType.name}" th:value="${preFillType.name}" th:text="${preFillType.description}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="form-check">
                            <input id="pdfDisplay" type="checkbox" class="form-check-input" th:field="*{pdfDisplay}"/>
                            <label for="pdfDisplay">Mise en forme avec le PDF ?</label>
                        </div>

                        <div class="form-check">
                            <input id="activeVersion" type="checkbox" class="form-check-input" th:field="*{activeVersion}"/>
                            <label for="activeVersion">Version active</label>
                        </div>
                        <div th:switch="${model}">
                            <div th:case="null">
                                <h2>Champs</h2>
                                <div id="repeatingInputFields">
                                    <div class="entry inline-form col-xs-12">
                                        <input class="form-control" name="fieldNames[]" type="text"
                                               placeholder="Nom"/> <input class="form-control"
                                                                          name="fieldTypes[]" type="text"
                                                                          placeholder="Type"/>
                                        <button type="button" class="btn btn-success btn-add-field">
                                            <span class="fas fa-plus" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="actionDiv">Actions (javascript)</label>
                            <textarea id="actionText" class="form-control" type="text" th:field="*{action}"></textarea>
                            <div id="actionDiv"></div>
                            <script language="JavaScript">
                                ace.require("ace/ext/language_tools");
                                let editor = ace.edit("actionDiv", {
                                    mode: "ace/mode/javascript",
                                    autoScrollEditorIntoView: true,
                                    enableBasicAutocompletion: true,
                                    selectionStyle: "text"
                                });
                                let textarea = $('#actionText');
                                textarea.hide();
                                editor.getSession().setValue(textarea.val());
                                editor.getSession().on('change', function(){
                                    textarea.val(editor.getSession().getValue());
                                });
                            </script>
                        </div>
                    </form>
                    <form id="importFormSetup" th:action="'/manager/forms/import/' + ${form.id} + '/?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" th:method="'post'" enctype="multipart/form-data">
                        <label class="form-label">Importer une configuration</label>
                        <div class="form-group mb-3">
                            <div class="custom-file">
                                <input id="multipartFormSetup" type="file" class="form-control" name="multipartFormSetup" value="Choisir un fichier"
                                       aria-describedby="multipartFormSetup"/>
                                <label for="multipartFormSetup" class="custom-file-label"> Choisir un fichier de configuration au format JSON</label>
                            </div>
                        </div>
                        <button id="submitFormSetup" type="submit" class="btn btn-primary">Charger la configuration</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
