<!DOCTYPE html>
<!--/*@thymesVar id="workflow" type="org.esupportail.esupsignature.entity.Workflow"*/-->
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/nav :: nav"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="fragments/sides/side-manger"></nav>
        <nav id="breadcrumb" class="breadcrumb-nav breadcrumb-nav-full" aria-label="breadcrumb">
            <ol class="breadcrumb col-12">
                <li class="breadcrumb-item active"><a href="/manager">Liste des circuits</a></li>
                <li aria-current="page" class="breadcrumb-item active">Circuit prédéfini
                    : <span th:text="${workflow.name}"></span>
                </li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="card bg-light">
                <div class="card-header">Circuit : <span th:text="${workflow.name}"></span></div>
                <div class="card-body">
                    <dl class="row border-bottom m-0">
                        <dt class="col-lg-5">Description</dt>
                        <dd th:text="${workflow.description}"></dd>
                    </dl>
                    <dl class="row border-bottom m-0">
                        <dt class="col-lg-5">Circuit de signatures</dt>
                        <div th:replace="managers/workflows/cards/stepscard-light"></div>
                    </dl>
                    <dl class="row border-bottom m-0">
                        <dt class="col-lg-5">Superviseur(s) du circuit</dt>
                        <dd>
                            <div class="alert alert-dark col-12">
                                <th:block th:each="manager : ${workflow.managers}">
                                    <i class="fas fa-users-cog"></i> <span th:text="${manager}"></span>
                                    <br/>
                                </th:block>
                            </div>
                        </dd>
                    </dl>
                    <dl class="row border-bottom m-0">
                        <dt class="col-lg-5">Protocole pour la source des documents</dt>
                        <dd th:text="#{'signbook.documentiotype.' + ${workflow.sourceType}}"></dd>
                    </dl>
                    <div th:if="${workflow.sourceType.name() != 'none'}">
                        <dl class="row border-bottom m-0">
                            <dt class="col-lg-5">Lien pour la source des documents</dt>
                            <dd th:text="${workflow.documentsSourceUri}"></dd>
                        </dl>
                    </div>
                    <dl class="row border-bottom m-0">
                        <dt class="col-lg-5">Protocole pour la destination des documents
                        </dt>
                        <dd th:text="#{'signbook.documentiotype.' + ${workflow.targetType}}"></dd>
                    </dl>
                    <div th:if="${workflow.targetType.name() != 'none'}">
                        <dl class="row border-bottom m-0">
                            <dt class="col-lg-5">Lien pour la destination des documents</dt>
                            <dd th:text="${workflow.documentsTargetUri}"></dd>
                        </dl>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/message"></div>
</body>
</html>