<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="logs" type="java.util.List<org.esupportail.esupsignature.entity.Log>"*/-->
<!--/*@thymesVar id="signRequest" type="org.esupportail.esupsignature.entity.SignRequest"*/-->
<!--/*@thymesVar id="auditTrail" type="org.esupportail.esupsignature.entity.AuditTrail"*/-->
<head th:replace="~{fragments/head-lite :: head-lite}"></head>
<body>
<header th:replace="~{fragments/nav-empty :: nav-empty}"></header>
<main role="main">
    <div class="col-10 mx-auto" style="margin-top: 60px" th:fragment="control">
        <div class="alert alert-primary mb-1 text-center">
            <h5>Vérification de la conformité du document : <span th:text="${token}"></span></h5>
        </div>
        <div th:if="${error}" class="alert alert-danger mb-1">
            <h5>Le document que vous avez fourni n’est pas conforme : </h5>
            <ul>
                <li>Soit, vous n’avez pas sélectionné le bon document</li>
                <li>Soit, le document a été modifié depuis qu’il a été signé</li>
            </ul>
        </div>
        <th:block th:if="${signRequest}">
            <th:block th:if="${signRequest.status != T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).draft && signRequest.status != T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).pending && signRequest.status != T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).refused}">
                <div class="card mb-1" th:if="${auditTrail != null}">
                    <div class="alert alert-success mb-1 text-center">
                        <h5>Le document est conforme</h5>
                        <div th:if="${viewAccess}">
                            Vous avez accès à cette demande : <a th:href="'/user/signrequests/' + ${signRequest.id}">Voir la demande</a>
                        </div>
                    </div>
                    <div class="card-header"><h5>Dossier de preuves</h5></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="alert alert-light border-secondary mx-auto mb-1">
                            <h4>Informations générales sur le document</h4>
                            <dl class="row border-bottom m-0">
                                <dt class="col-3">Nom de document : </dt>
                                <dd class="col-9" th:text="${auditTrail.documentName}"></dd>
                            </dl>
                            <dl class="row border-bottom m-0">
                                <dt class="col-3">Type de document : </dt>
                                <dd class="col-9" th:text="${auditTrail.documentType}"></dd>
                            </dl>
                            <dl class="row border-bottom m-0">
                                <dt class="col-3">Taille : </dt>
                                <dd class="col-9" th:text="${size} + ' (' + ${auditTrail.documentSize} + ')'"></dd>
                            </dl>
                            </div>
                            <div class="alert alert-light border-secondary mx-auto mb-1" style="page-break-after: always;">
                                <h4>Signatures</h4>
                                <table class="table table-sm table-hover">
                                    <thead class="table-secondary">
                                    <tr>
                                        <th></th>
                                        <th>Date</th>
                                        <th>Nom</th>
                                        <th>Email</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="auditStep, iterator : ${auditTrail.auditSteps}">
                                        <tr data-bs-toggle="collapse" data-bs-target="#collapseExample" style="cursor: pointer;" title="Cliquez ici pour afficher le detail">
                                            <td><i class="fas fa-plus"></i></td>
                                            <td class="text-left"><span
                                                    th:text="${#dates.format(auditStep.timeStampDate, 'dd/MM/yyyy HH:mm:ss')}"></span></td>
                                            <td class="text-left"><span th:text="${auditStep.firstname} + ' ' + ${auditStep.name}"></span></td>
                                            <td class="text-left"><span
                                                    th:text="${auditStep.email}"></span></td>
                                        </tr>
                                        <tr class="collapse" id="collapseExample">
                                            <td colspan="6">
                                                <dl class="row border-bottom m-0">
                                                    <dt class="col-lg-5">Login : </dt>
                                                    <dd th:text="${auditStep.authenticationDetails}"></dd>
                                                </dl>
                                                <dl class="row border-bottom m-0">
                                                    <dt class="col-lg-5">Authentification : </dt>
                                                    <dd th:text="${auditStep.authenticationDetails}"></dd>
                                                </dl>
                                                <dl class="row border-bottom m-0">
                                                    <dt class="col-lg-5">Certificat signature : </dt>
                                                    <dd th:text="${auditStep.signCertificat}"></dd>
                                                </dl>
                                                <dl class="row border-bottom m-0">
                                                    <dt class="col-lg-5">Certificat timestamp : </dt>
                                                    <dd th:text="${auditStep.timeStampCertificat}"></dd>
                                                </dl>
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                                <div th:utext="${simpleReport}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-success mb-1 text-center" th:unless="${auditTrail != null}">
                    <h5>Le document a été signé sur cette plateforme mais il ne possède pas de dossier de preuve</h5>
                </div>

            </th:block>
            <th:block th:if="${signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).pending}">
                <div class="alert alert-warning mb-1">
                    <h5>Le document est en cours de signature</h5>
                </div>
            </th:block>
            <div class="alert alert-light border-secondary mx-auto" style="page-break-after: auto;">
                <h4>Journal des actions</h4>
                <table class="table table-sm table-hover">
                    <thead class="table-secondary">
                    <tr>
                        <th>Date</th>
                        <th>Nom</th>
                        <th>Statut</th>
                        <th>Action</th>
                        <th>Commentaire</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="log : ${logs}">
                        <tr>
                            <td class="text-left"><span
                                    th:text="${#dates.format(log.logDate, 'dd/MM/yyyy HH:mm:ss')}"></span></td>
                            <td class="text-left"><span th:text="${log.user.firstname} + ' ' + ${log.user.name}"></span></td>
                            <td class="text-left">
                                <span th:text="#{'signbook.status.' + ${log.finalStatus}}"></span>
                            </td>
                            <td class="text-left">
                                <span th:text="${log.action}"></span>
                            </td>
                            <td class="text-left" th:if="${log.action == 'Apposition de la signature'}">
                                <span th:text="'Apposition d`un visuel en page ' + ${log.pageNumber} + ' aux coordonnées (' + ${log.posX} + ', ' + ${log.posY} + ')'"></span>
                            </td>
                            <td class="text-left" th:unless="${log.action == 'Apposition de la signature'}">
                                <span th:text="${log.comment}"></span>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <th:block th:if="${signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).refused}">
                <div class="alert alert-danger mb-1">
                    <h5>Le document a été refusé</h5>
                    <ul th:each="userHasRefused : ${usersHasRefused}">
                        <li th:text="${userHasRefused.firstname} + ' ' + ${userHasRefused.name}"></li>
                    </ul>
                </div>
            </th:block>
        </th:block>
        <th:block th:unless="${signRequest}">
            <div class="alert alert-success mx-auto mt-1 mb-1" th:if="${auditTrail != null}">
                <h4>Le document a été signé par cette plateforme</h4>
                <dl class="row border-bottom m-0">
                    <dt class="col-3">Nom de document : </dt>
                    <dd class="col-9" th:text="${auditTrail.documentName}"></dd>
                </dl>
                <dl class="row border-bottom m-0">
                    <dt class="col-3">Type de document : </dt>
                    <dd class="col-9" th:text="${auditTrail.documentType}"></dd>
                </dl>
                <dl class="row border-bottom m-0">
                    <dt class="col-3">Taille : </dt>
                    <dd class="col-9" th:text="${size} + ' (' + ${auditTrail.documentSize} + ')'"></dd>
                </dl>
            </div>
            <div class="alert alert-light border-secondary">
                <h5>Merci de déposer le document à contrôler pour vérifier sa conformité et accéder aux informations détaillées</h5>
                <form th:action="'/public/control/' + ${token} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" method="post" enctype="multipart/form-data">
                    <input required class="form-control mb-2" data-buttontext="Choisir fichier" id="multipartFile" name="multipartFile" type="file">
                    <input class="btn btn-success" type="submit">
                </form>
            </div>
        </th:block>
    </div>
</main>
<footer th:replace="~{fragments/footer-light :: footer}"></footer>
</body>
</html>
