<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="logs" type="java.util.List<org.esupportail.esupsignature.entity.Log>"*/-->
<!--/*@thymesVar id="signRequest" type="org.esupportail.esupsignature.entity.SignRequest"*/-->
<!--/*@thymesVar id="auditTrail" type="org.esupportail.esupsignature.entity.AuditTrail"*/-->
<head th:replace="~{fragments/head-lite :: head-lite}"></head>
<body>
<header th:replace="~{fragments/nav-empty :: nav-empty}"></header>
<main role="main">
    <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
        <ol id="breadcrumb-ol" class="breadcrumb">
            <li th:if="${(auditTrail != null || simpleReport != null || (error != null && error)) && generatePdf != true}" class="breadcrumb-item active"><a href="/public/control">Retour</a></li>
        </ol>
    </nav>
    <div class="content content-full">
        <div class="col-10 mx-auto" style="" th:fragment="control">
            <div class="alert alert-primary mb-1 text-center">
                <h5>Vérification de la conformité du document <span th:if="${token != null && token != 'null'}" th:text="' : ' + ${token}"></span></h5>
            </div>
            <div th:if="${error}" class="alert alert-warning mb-1">
                <h5>Le document que vous avez fourni ne peux pas être totalement validé sur cette plateforme :</h5>
                <ul>
                    <li>Soit, le document a été modifié depuis qu’il a été signé</li>
                    <li>Soit, le document n’a pas été signé sur cette plateforme</li>
                </ul>
            </div>
            <th:block th:if="${(auditTrail != null) || signRequest != null || (viewAccess != null && viewAccess)}">
                <th:block th:if="${auditTrail != null}">
                    <div class="alert alert-success mx-auto mt-1 mb-1">
                        <h5>Le document est bien référencé comme signé sur cette plateforme.</h5>
                        <dl class="row border-bottom m-0">
                            <dt class="col-3">Nom de document : </dt>
                            <dd class="col-9" th:text="${auditTrail.documentName}"></dd>
                        </dl>
                        <dl class="row border-bottom m-0">
                            <dt class="col-3">Type de document : </dt>
                            <dd class="col-9" th:text="${auditTrail.documentType}"></dd>
                        </dl>
                        <dl class="row border-bottom m-0">
                            <dt class="col-3">Taille : </dt>
                            <dd class="col-9" th:text="${size} + ' (' + ${auditTrail.documentSize} + ')'"></dd>
                        </dl>
                        <div class="alert alert-info mb-1" th:if="${signRequest != null && viewAccess != null && viewAccess}">
                            Vous avez accès à cette demande : <a th:href="'/user/signrequests/' + ${signRequest.id}">Voir la demande</a>
                        </div>
                    </div>
                    <div class="row" th:if="${(auditTrailChecked != null && auditTrailChecked) || (signRequest != null && viewAccess != null && viewAccess)}">
                        <div class="alert alert-success mx-auto mb-1">
                            <h5>Le document n’a pas été modifié depuis sa signature.</h5>
                        </div>
                        <div class="alert alert-light border-secondary mx-auto mb-1" style="page-break-after: always;">
                            <h4>Signatures</h4>
                            <table class="table table-sm table-hover">
                                <thead class="table-secondary">
                                <tr>
                                    <th></th>
                                    <th>Date</th>
                                    <th>Nom</th>
                                    <th>Email</th>
                                    <th>Document lu</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="auditStep, iterator : ${auditTrail.auditSteps}">
                                    <tr data-bs-toggle="collapse" th:data-bs-target="'#collapse-' + ${iterator.index}" style="cursor: pointer;" title="Cliquez ici pour afficher le detail">
                                        <td>
                                            <i class="fa-solid caret-toggle"></i>
                                        </td>
                                        <td class="text-left"><span
                                                th:text="${#dates.format(auditStep.timeStampDate, 'dd/MM/yyyy HH:mm:ss')}"></span></td>
                                        <td class="text-left"><span th:text="${auditStep.firstname} + ' ' + ${auditStep.name}"></span></td>
                                        <td class="text-left"><span th:text="${auditStep.email}"></span></td>
                                        <td class="text-left" th:text="${auditStep.getAllScrolled()} ? 'lu' : 'non lu'"></td>
                                    </tr>
                                    <tr class="collapse" th:id="'collapse-' + ${iterator.index}">
                                        <td colspan="6">
                                            <dl class="row border-bottom m-0">
                                                <dt class="col-lg-5">Login : </dt>
                                                <dd th:text="${auditStep.login}"></dd>
                                            </dl>
                                            <dl class="row border-bottom m-0">
                                                <dt class="col-lg-5">Authentification : </dt>
                                                <dd>
                                                    <pre class="prettyprint" style="max-width: 600px; overflow-x: auto;"><code class="language-json" th:text="${auditStep.pettyPrintAuthenticationDetails}"></code></pre>
                                                </dd>
                                            </dl>
                                            <link rel="stylesheet" th:href="@{/webjars/highlightjs/styles/github.min.css}">
                                            <script th:src="@{/webjars/highlightjs/highlight.min.js}"></script>
                                            <script type="module">
                                                hljs.highlightAll();
                                            </script>
                                            <dl class="row border-bottom m-0">
                                                <dt class="col-lg-5">Id signature : </dt>
                                                <dd th:text="${auditStep.signId}"></dd>
                                            </dl>
                                            <dl class="row border-bottom m-0">
                                                <dt class="col-lg-5">Certificat signature : </dt>
                                                <dd th:text="${auditStep.signCertificat}"></dd>
                                            </dl>
                                            <dl class="row border-bottom m-0">
                                                <dt class="col-lg-5">Id timestamp : </dt>
                                                <dd th:text="${auditStep.timeStampId}"></dd>
                                            </dl>
                                            <dl class="row border-bottom m-0">
                                                <dt class="col-lg-5">Certificat timestamp : </dt>
                                                <dd th:text="${auditStep.timeStampCertificat}"></dd>
                                            </dl>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </th:block>
                <th:block th:if="${auditTrail != null && auditTrail.getDocumentCheckSum() == null && usersHasRefused != null && !usersHasRefused.isEmpty()}">
                    <div class="alert alert-danger mb-1 mt-1">
                        <h5>Le document a été refusé</h5>
                        <ul th:each="userHasRefused : ${usersHasRefused}">
                            <li th:text="${userHasRefused.firstname} + ' ' + ${userHasRefused.name}"></li>
                        </ul>
                    </div>
                </th:block>
                <th:block th:if="${auditTrail == null}">
                    <div class="alert alert-warning mb-1 text-center">
                        <h5>Le document est en cours de signature</h5>
                    </div>
                </th:block>
                <div th:if="${signRequest != null || (auditTrailChecked != null && auditTrailChecked)}" class="alert alert-light border-secondary mx-auto mb-1" style="page-break-after: auto;">
                    <h5>Journal des actions</h5>
                    <table class="table table-sm table-hover">
                        <thead class="table-secondary">
                        <tr>
                            <th>Date</th>
                            <th>Nom</th>
                            <th>Statut</th>
                            <th>Action</th>
                            <th>Commentaire</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="log : ${logs}">
                            <tr>
                                <td class="text-left"><span
                                        th:text="${#dates.format(log.logDate, 'dd/MM/yyyy HH:mm:ss')}"></span></td>
                                <td class="text-left"><span th:if="${log.user != null}" th:text="${log.user.firstname} + ' ' + ${log.user.name}"></span></td>
                                <td class="text-left">
                                    <span th:text="#{'signbook.status.' + ${log.finalStatus}}"></span>
                                </td>
                                <td class="text-left">
                                    <span th:text="${log.action}"></span>
                                </td>
                                <td class="text-left" th:if="${log.action == 'Apposition de la signature'}">
                                    <span th:text="'Apposition d`un visuel en page ' + ${log.pageNumber} + ' aux coordonnées (' + ${log.posX} + ', ' + ${log.posY} + ')'"></span>
                                </td>
                                <td class="text-left" th:unless="${log.action == 'Apposition de la signature'}">
                                    <span th:text="${log.comment}"></span>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </th:block>
            <th:block th:if="${(auditTrailChecked == null || !auditTrailChecked) && (error == null || !error) && signRequest == null}">
                <div class="alert alert-light border-secondary">
                    <h5>Vous pouvez déposer ici le document en votre possession pour vérifier sa conformité et accéder aux informations détaillées</h5>
                    <form th:action="'/public/control/' + ${token} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" method="post" enctype="multipart/form-data">
                        <input required class="form-control mb-2" data-buttontext="Choisir fichier" id="multipartFile" name="multipartFile" type="file">
                        <input class="btn btn-success" type="submit">
                    </form>
                </div>
            </th:block>
            <div class="alert alert-primary mb-1 gap-1" th:if="${simpleReport != null}">
                <h5>Le document contient une ou plusieurs signature(s) électronique(s).</h5>
                <div th:utext="${simpleReport}"></div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer-light :: footer}"></footer>
</body>
</html>
