<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="currentPage=#{label.tsls.summary}">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<header th:replace="~{fragments/nav :: nav}"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="~{fragments/sides/side-admin :: side-admin}"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol id="breadcrumb-ol" class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Administration</a></li>
                <li class="breadcrumb-item active"><a href="/admin/dss">Statut DSS</a></li>
                <li class="breadcrumb-item active">Liste des listes d’approbation</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="p-2">
                <p th:if="${lotlInfo == null}">Aucune info trouvée pour ce LOTL</p>
                <div th:if="${lotlInfo != null}">
                    <div class="lotl"
                        th:with="downloadResult=${lotlInfo.downloadCacheInfo}, parsingResult=${lotlInfo.parsingCacheInfo}, validationResult=${lotlInfo.validationCacheInfo}">
                        <h2>
                            <a th:href="@{'/admin/dss/lotl/' + ${lotlInfo.getDSSId().asXmlId()}}">
                                <span th:if="${parsingResult.resultExist and parsingResult.territory != null}"
                                th:class="${'lotl-flag small_flag mt-2 flag_' + parsingResult.territory}"
                                th:title="${parsingResult.territory}"></span>
                            </a>
                            <span th:text="#{label.summary.lotl}"></span>&nbsp;
                            <a class="h5 fw-bold" th:href="${lotlInfo.url}" th:text="'(' + ${lotlInfo.url} + ')'" target="_blank"></a>
                        </h2>

                        <!-- LOTL Info -->
                        <div th:replace="~{fragments/lotl-info-fragments :: lotl-info-summary(downloadResult=${downloadResult}, parsingResult=${parsingResult}, validationResult=${validationResult}, parsingResult=${parsingResult}, validationResult=${validationResult})}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
