<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<nav th:replace="fragments/nav :: nav(activeNav)"></nav>
<main role="main">
    <div class="wrapper">
        <div id="sidebar">
            <div class="nav flex-column nav-pills m-1" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button title="Accueil" type="button" onclick="location.href='/'" class="mb-1 col-12 btn btn-transparent text-left">
                    <i class="fas fa-home"></i> <span class="sidebar-label">Accueil</span>
                </button>
                <a class="nav-link btn-transparent active" id="v-pills-share-tab" data-toggle="pill" href="#v-pills-share" role="tab" aria-controls="v-pills-share" aria-selected="true">
                    <i class="fa fa-share"></i> Délégations <span class="badge badge-light" th:if="${toSignDocs != null}" th:text="${toSignDocs.size()}"></span>
                </a>
                <a class="nav-link btn-transparent" id="v-pills-properties-tab" data-toggle="pill" href="#v-pills-properties" role="tab" aria-controls="v-pills-properties" aria-selected="false">
                    <i class="fa fa-bookmark"></i> Favoris <span th:if="${pendingDocs != null}" class="badge badge-warning" th:text="${pendingDocs != null}? ${pendingDocs.getTotalElements()}"></span>
                </a>
                <a class="nav-link btn-transparent" th:href="${signServerUrl} +'/user/users/?form&referer=true'">
                    <i class="fa fa-signature"></i> Paramètres de signature
                </a>
            </div>
        </div>
        <div class="content">
            <nav th:replace="fragments/breadcrumb :: breadcrumb"></nav>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="v-pills-share" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="card">
                        <div class="card-header">
                            <h2>Délégations
                                <button type="button" data-toggle="modal" data-target="#newShareModal" class="btn btn-success btn-circle btn-xl float-right">
                                    <i class="fas fa-plus fa-2x"></i>
                                </button>
                            </h2>

                        </div>
                        <div class="card-body text-center">
                            <table class="table table-hover table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Service</th>
                                    <th>Utilisateurs</th>
                                    <th>Date de début</th>
                                    <th>Date de fin</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="userShare : ${userShares}">
                                    <tr>
                                        <td>
                                            <span th:text="${userShare.form.name}"></span>
                                        </td>
                                        <td>
                                            <th:block th:each="toUser : ${userShare.toUsers}">
                                                <span th:text="${toUser.firstname} + ' ' + ${toUser.name}"></span>
                                            </th:block>
                                        </td>
                                        <td>
                                            <span th:text="${#dates.format(userShare.beginDate, 'dd/MM/yyyy')}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${#dates.format(userShare.endDate, 'dd/MM/yyyy')}"></span>
                                        </td>
                                        <td>
                                            <button type="button" title="Supprimer"
                                                    data-toggle="modal" data-target="#modal-warning"
                                                    th:attr="data-target='#modal-warning'+${userShare.id }"
                                                    class="btn btn-danger">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                            <div class="modal modal-warning fade in"
                                                 th:id="modal-warning+${userShare.id}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <form id="command" th:action="'/user/del-share/' + ${userShare.id}" th:method="delete">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="alert alert-danger text-center">Confirmez-vous la suppression ?</div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-outline pull-left"
                                                                        data-dismiss="modal">Fermer
                                                                </button>
                                                                <button type="submit"
                                                                        class="btn btn-outline pull-left btn-danger">Valider
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-properties" role="tabpanel" aria-labelledby="v-pills-signed-tab">
                    <div class="card">
                        <div class="card-header">
                            <h2>Favoris</h2>
                        </div>
                        <div class="card-body text-center">
                            <table class="table table-hover table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Service</th>
                                    <th>Etape</th>
                                    <th>Signataire</th>
                                    <th>Destinataire</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="userProperties : ${userProperties}">
                                    <tr>
                                        <td>
                                            <span th:text="${userProperties.form.name}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${userProperties.step}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${userProperties.recipientEmail}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${userProperties.targetEmail}"></span>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="newShareModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter une délégation</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="shareForm" th:action="'/user/' + ${eppn} + '/add-share'" method="post">
                        <div class="form-group">
                            <label for="selectForm">Service à déléguer</label>
                            <select id="selectForm" name="formId">
                                <th:block th:each="form : ${forms}">
                                    <option th:value="${form.id}" th:text="${form.name}"></option>
                                </th:block>
                            </select>
                            <script>
                                new SlimSelect({
                                    select: '#selectForm'
                                })
                            </script>
                        </div>
                        <div class="form-group">
                            <label for="selectUsers">Choix des utilisateurs</label>
                            <select id="selectUsers" name="userIds" multiple="multiple">
                                <th:block th:each="user : ${users}">
                                    <option th:value="${user.id}" th:text="${user.firstname} + ' ' + ${user.name}"></option>
                                </th:block>
                            </select>
                            <script>

                                new SlimSelect({
                                    select: '#selectUsers'
                                })
                            </script>
                        </div>
                        <div class="form-group">
                            <label for="selectUsers">Date de début</label>
                            <input type="text" name="beginDate" class="form-control datepicker">
                        </div>
                        <div class="form-group">
                            <label for="selectUsers">Date de fin</label>
                            <input type="text" name="endDate" class="form-control datepicker">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <input type="button" onclick="document.getElementById('shareForm').submit();" class="btn btn-success" value="Valider">
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>