<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="userProperties" type="java.util.List<org.esupportail.esupsignature.entity.UserPropertie>"*/-->
<!--/*@thymesVar id="fieldProperties" type="java.util.List<org.esupportail.esupsignature.entity.fieldPropertie>"*/-->
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/nav :: nav"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="fragments/sides/side-user :: side-user"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol id="breadcrumb-ol" class="breadcrumb">
                <li class="breadcrumb-item active">Favoris</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="row">
                <div class="card col-lg-5 mx-auto">
                    <div class="card-body text-center">
                        <h5 class="text-center"><b>Champs utilisateur</b></h5>
                        <table class="table table-hover table-borderless table-striped">
                            <thead class="table-secondary">
                            <tr>
                                <th class="text-left">Destinataire</th>
                                <th class="text-left">Dernière date d'utilisation</th>
                                <th class="text-left">Suppression</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:if="${userProperties != null}" th:each="userPropertie : ${userProperties}">
                                <tr>
                                    <td class="text-left">
                                        <span th:text="${userPropertie.key.firstname + ' ' + userPropertie.key.name}"></span>
                                    </td>
                                    <td class="text-left">
                                        <span th:text="${#dates.format(userPropertie.value, 'dd/MM/yyyy HH:mm')}"></span>
                                    </td>
                                    <td>
                                        <form th:action="'/user/users/delete-user-propertie/' + ${userPropertie.key.id}" th:method="'delete'">
                                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card col-lg-5 mx-auto">
                    <div class="card-body text-center">
                        <h5 class="text-center"><b>Champs de formulaires</b></h5>
                        <table class="table table-hover table-borderless table-striped">
                            <thead class="table-secondary">
                            <tr>
                                <th class="text-left">Valeur</th>
                                <th class="text-left">Dernière date d'utilisation</th>
                                <th class="text-left">Suppression</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:if="${fieldProperties != null}" th:each="fieldPropertie : ${fieldProperties}">
                                <th:block th:each="favorite : ${fieldPropertie.favorites}">
                                    <tr>
                                        <td class="text-left">
                                            <span th:text="${fieldPropertie.field.name + ' : ' + favorite.key}"></span>
                                        </td>
                                        <td class="text-left">
                                            <span th:text="${#dates.format(favorite.value, 'dd/MM/yyyy HH:mm')}"></span>
                                        </td>
                                        <td>
                                            <form th:action="'/user/users/delete-field-propertie/' + ${fieldPropertie.id}" th:method="'delete'">
                                                <input type="hidden" name="key" th:value="${favorite.key}">
                                                <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                </th:block>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>