<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="userShare" type="org.esupportail.esupsignature.entity.UserShare"*/-->
<!--/*@thymesVar id="forms" type="java.util.List<org.esupportail.esupsignature.entity.Form>"*/-->
<head th:replace="~{fragments/head :: head}"></head>
<script th:inline="javascript" type="module">
    import {default as ShareUi} from '/js/modules/ui/users/ShareUi.js?version=@[(${versionApp})]@';
    new ShareUi();
</script>
<body>
<header th:replace="~{fragments/nav :: nav}"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="~{fragments/sides/side-user :: side-user}"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol id="breadcrumb-ol" class="breadcrumb">
                <li class="breadcrumb-item active">Remplacements</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="fixed-action-btn">
                <a th:if="${user.replaceByUser == null}" title="Mettre en place une redirection" data-bs-toggle="modal" data-bs-target="#newReplaceModal" type="button"
                    class="btn-floating btn-lg bg-primary">
                    <i class="fa-solid fa-plus fa-2xl"></i>
                </a>
            </div>
            <div class="alert border-secondary-subtle" th:if="${user.replaceByUser != null}">
                Vos demandes seront redirigées vers <b th:text="${user.replaceByUser.name + ' ' + user.replaceByUser.firstname}"></b>
                <span th:if="${user.replaceBeginDate != null}"> du <b th:text="${#dates.format(user.replaceBeginDate, 'dd/MM/yyyy HH:mm')}"></b> au <b th:text="${#dates.format(user.replaceEndDate, 'dd/MM/yyyy HH:mm')}"></b></span>
                <div th:if="${signRequests.size() > 0 && user.currentReplaceByUser != null}" class="m-2">
                    <a onclick="return confirm('Merci de confirmer le transfert de toutes vos demandes. Les demandes ne pourront plus être récupérées')"
                        class="btn btn-primary" href="/user/users/replace/transfer">Transférer toutes mes demandes en cours</a>
                </div>
                <form id="shareForm" th:action="'/user/users/replace/update'" method="post" class="m-2">
                    <input type="submit" class="btn btn-danger" value="Supprimer la redirection">
                </form>
            </div>
            <div class="alert alert-secondary" th:unless="${user.replaceByUser != null}">
                Aucun remplacement n’est mise en place actuellement
            </div>
            </div>
        </div>
    </div>
    <div data-bs-focus="false" class="modal fade" id="newReplaceModal"  role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mettre en place une redirection pour les demandes qui me sont adressées</h5>
                    <button type="button" class="btn-close" title="Fermer" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="shareForm" th:action="'/user/users/replace/update'" method="post">
                    <div class="modal-body">

                        <div class="form-group mb-3">
                            <label for="selectUsers">Choix du destinataire</label>
                            <select id="selectUsers" class="auto-select-users" name="userIds"
                                    required="required"></select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="beginDate">Date de début</label>
                            <input type="datetime-local" name="beginDate" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <label for="endDate">Date de fin</label>
                            <input type="datetime-local" name="endDate" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                        <input type="submit" class="btn btn-success" value="Valider">
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>