<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<div class="header-fixed fixed-top">

		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<nav class="nav justify-content-between" aria-label="breadcrumb">
			<ol class="breadcrumb col-11">
				<li class="breadcrumb-item active">Paramètres utilisateur</li>
			</ol>
			<div class="navbar-nav align-self-center">
				<button data-target="#collapseHelp" data-toggle="collapse" type="button" class="btn btn-info">
					<span class="fas fa-info-circle"> <!--  -->
					</span>
				</button>
			</div>
		</nav>
		<div id="ribbon" class="card">
			<div class="card-body">
				<button type="button" onclick="location.href='/user/users/?form'" class="mr-2 btn btn-outline-dark btn-light float-left">
					<p class="text-center">
						<i class="far fa-edit fa-2x"></i> <br /> Modifier
					</p>
				</button>
			</div>
		</div>
	</div>
	<main role="main" class="container">
	<div class="card card-header">
		<dl class="row border-bottom m-0">
			<dt class="col-lg-5">Nom</dt>
			<dd th:text="${user.name}"></dd>
		</dl>
		<dl class="row border-bottom m-0">
			<dt class="col-lg-5">Prénom</dt>
			<dd th:text="${user.firstname}"></dd>
		</dl>
		<dl class="row border-bottom m-0">
			<dt class="col-lg-5">Identifiant</dt>
			<dd th:text="${user.eppn}"></dd>
		</dl>
		<dl class="row border-bottom m-0">
			<dt class="col-lg-5">Email</dt>
			<dd th:text="${user.email}"></dd>
		</dl>
		<dl class="row border-bottom m-0">
			<dt class="col-lg-5">Image de la signature</dt>
			<dd>
				<img th:if="${signFile != null}" alt="signature" th:src="'data:image/png;base64, ' + ${signFile}" /> <i th:if="${signFile == null}" class="fas fa-ban"> <!--  -->
				</i>
			</dd>
		</dl>
		<dl class="row border-bottom m-0">
			<dt class="col-lg-5">KeyStore</dt>
			<dd>
				<div th:if="${keystore != null}">
					<button type="button" class="btn btn-warning" th:onclick="'location.href=/user/users/get-keystore-file/' + ${user.id}">
						<i class="fas fa-download"> <!--  -->
						</i> Télécharger le keystore
					</button>
					<br /> <br />
					<form action="/user/users/viewCert" method="get">
						<div class="input-group mb-2">
							<div th:if="${!isPasswordSet}">
								<input class="form-control" placeholder="Mot de passe" type="password" name="password" />
							</div>
							<div class="input-group-append">
								<input class="btn btn-primary" type="submit" value="Afficher le certificat" />
							</div>
						</div>
					</form>
				</div>
				<i th:if="${keystore == null}" class="fas fa-ban"> <!--  -->
				</i>
			</dd>
		</dl>

		<dl class="row border-bottom m-0">
			<dt class="col-lg-5">Paramètres</dt>
			<dd>
				Type de signature :
				<div class="alert alert-dark text-center" id="type_${defaultSignBook.id}" th:text="#{'signbook.signtype.' + ${defaultSignBook.signRequestParams[0].signType}}"></div>
				Page de garde :
				<div class="alert alert-dark text-center" id="type_${defaultSignBook.id}" th:text="#{'signbook.newpagetype.' + ${defaultSignBook.signRequestParams[0].newPageType}}"></div>
			</dd>
		</dl>
		<dl class="row border-bottom m-0" th:if="${user.emailAlertFrequency == null}">
			<dt class="col-lg-5">Fréquence d'alerte</dt>
			<dd>non paramétrée (par défaut, une alerte sera envoyée à chaque nouvelle demande)</dd>
		</dl>
		<dl class="row border-bottom m-0" th:unless="${user.emailAlertFrequency == null}">
			<dt class="col-lg-5">Paramètre des alertes mails</dt>
			<dd th:text="#{'user.emailAlertFrequency.' + ${user.emailAlertFrequency}}"></dd>
		</dl>

		<th:block th:switch="${user.emailAlertFrequency}">
			<div th:case="'daily'">
				<dl class="row border-bottom m-0">
					<dt class="col-lg-5">Heure dans la journée</dt>
					<dd th:text="${user.emailAlertHour}"></dd>
				</dl>
			</div>
			<div th:case="'weekly'">
				<dl class="row border-bottom m-0">
					<dt class="col-lg-5">Jour de la semaine</dt>
					<dd th:text="#{'user.emailAlertDay.' + ${user.emailAlertDay}}"></dd>
				</dl>
			</div>
		</th:block>
		</div>
	</main>
	<div th:replace="fragments/message :: message"></div>

</body>
</html>
