<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
    <th:block th:if="${referer == null}">
        <nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
    </th:block>
    <th:block th:unless="${referer == null}">
        <nav th:replace="fragments/emptyBar :: emptyBar"></nav>
    </th:block>
<main role="main">
    <div class="wrapper">
        <nav th:insert="fragments/side :: side" onmouseover="autoShowSideBar();" onmouseout="hideSideBar();"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="text-uppercase breadcrumb-nav">
            <ol id="breadcrumb-ol" class="breadcrumb">
                <li class="breadcrumb-item active">Paramètres : <span th:text="${user.firstname} + ' ' + ${user.name}"></span></li>
            </ol>
        </nav>
        <div id="content" class="content d-flex">
            <div class="fixed-action-btn" style="bottom: 100px; right: 50px;">
                <a onclick="document.getElementById('fu_org_esupportail_esupsignature_domain_User').submit();" class="btn-floating btn-lg bg-success">
                    <i class="fas fa-save"></i>
                </a>
            </div>
            <form id="fu_org_esupportail_esupsignature_domain_User" th:object="${user}" th:action="'/user/users?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" enctype="multipart/form-data" method="post">
                <input type="hidden" name="referer" th:value="${referer}"/>
                <input type="hidden" name="id" th:value="${user.id}"/>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="text-center"><b>Paramètres de signature</b></h5>
                        <div id="signImageForm" class="form-group">
                            <label class="col-form-label" for="inputGroupFile01">
                                <strong>Image de la signature</strong>
                                <button data-target="#collapseHelpSignImage" data-toggle="collapse" type="button" class="btn btn-sm btn-info">
                                <i class="fas fa-info-circle "></i>
                                </button>
                                <div class="collapse" id="collapseHelpSignImage">
                                    <div class="alert alert-info">
                                        <small> Après avoir sélectionné une image, vous pourrez ajuster sa taille pour que la signature entre dans le carré blanc. Si votre signature est grande (contient un tampon par exemple), il est possible
                                            d'élargir
                                            le carré blanc (la signature prendra plus de place sur le document) <br/> Une image de la signature sera toujours nécessaire pour signer un PDF
                                        </small>
                                    </div>
                                </div>
                            </label>
                            <div class="row">
                                <div class="col-12">
                                    <div th:if="${signFile != null}">
                                    Image actuelle
                                    <img alt="signature" th:src="'data:image/png;base64,' + ${signFile}"/>
                                    </div>
                                    <div th:unless="${signFile != null}" class="alert alert-danger">
                                        Pas d'image de la signature
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label>Dessiner une signature</label>
                                        <br/>
                                <canvas onmouseover="this.style.cursor= 'pointer';" onmousedown="firstClearSignaturePad();" id="canvas" width="200" height="150" style="border: 1px solid black;"></canvas>
                                    <br>
                                <button type="button" class="btn btn-light btn-outline-dark" onclick="saveSignaturePad();">Valider la signature</button>
                                <button type="button" class="btn btn-light btn-outline-dark" onclick="clearSignaturePad();">Effacer</button>
                                <button type="button" class="btn btn-light btn-outline-dark" onclick="resetSignaturePad();">Réinitialiser</button>
                                <script language="JavaScript">
                                    /*<![CDATA[*/
                                    var lastSign = "data:image/png;base64,[[${signFile}]]";
                                    var canvas = document.querySelector("canvas");
                                    var signaturePad = new SignaturePad(canvas);
                                    var firstClear = false;

                                    var ratio =  Math.max(window.devicePixelRatio || 1, 1);
                                    if(ratio == 1) {
                                        signaturePad.fromDataURL(lastSign);
                                    } else {
                                        firstClearSignaturePad();
                                    }

                                    function firstClearSignaturePad() {
                                        if(!firstClear) {
                                            clearSignaturePad();
                                            firstClear = true;
                                        }
                                    }
                                    function saveSignaturePad() {
                                        console.log(signaturePad.toDataURL("image/png"));
                                        $('#signImageBase64').val(signaturePad.toDataURL("image/png"));
                                        $('#canvas').css("backgroundColor", "rgba(0, 255, 0, .5)");
                                    }
                                    function clearSignaturePad() {
                                        $('#canvas').css("backgroundColor", "rgba(255, 255, 255, 1)");
                                        signaturePad.clear();
                                        $('#signImageBase64').val(lastSign);
                                    }
                                    function resetSignaturePad() {
                                        $('#canvas').css("backgroundColor", "rgba(255, 255, 255, 1)");
                                        signaturePad.clear();
                                        signaturePad.fromDataURL(lastSign);
                                        $('#signImageBase64').val(lastSign);
                                    }

                                    //signaturePad.fromDataURL("data:image/png;base64,[[${signFile}]]");
                                    /*]]>*/
                                </script>
                                    <h5 class="hr">ou</h5>
                                    <label>Choisissez un fichier image</label>
                                    <div class="form-group">
                                        <div class="custom-file">
                                            <input type="file" class="vanilla-upload custom-file-input " id="inputGroupFile01" value="Choose a file" accept="image/*" aria-describedby="inputGroupFileAddon01"/>
                                            <label class="custom-file-label" id="inputGroupLabel01" for="inputGroupFile01">
                                                Choisir une nouvelle image
                                            </label>
                                        </div>
                                    </div>
                                    <div class="alert alert-light text-dark text-center">
                                            <button type="button" class="btn btn-dark vanilla-rotate" data-deg="90"><i class="fas fa-undo"></i></button>
                                            Rotation de l'image
                                            <button type="button" class="btn btn-dark vanilla-rotate" data-deg="-90"><i class="fas fa-redo"></i></button>
                                            <div id="vanilla-crop"></div>
                                    </div>
                                </div>
                        </div>
                        <input type="hidden" th:field="*{signImageBase64}"/>
                        </div>
                        <div id="keyForm" class="form-group">
                            <label class="col-form-label" for="inputGroupFile02"><strong>Keystore</strong>
                                <button data-target="#collapseHelpKeyStore" data-toggle="collapse" type="button" class="btn btn-sm btn-info">
                            <span class="fas fa-info-circle "> <!-- -->
                            </span>
                                </button>
                                <div class="collapse collapse" id="collapseHelpKeyStore">
                                    <div class="alert alert-info">
                                        <small> Il est possible de générer un keystore en suivant cette procédure <a href="https://services.renater.fr/tcs/certcentral/orders/request-certificate" target="_blank">https://services.renater.fr/tcs/certcentral/orders/request-certificate</a>
                                        </small>
                                    </div>
                                </div>
                            </label>
                            <div th:if="${user.keystore != null}" class="alert alert-secondary">
                                Keystore actuel : <a th:href="'/user/documents/getfile/' + ${user.keystore.id}"><span th:text="${user.keystore.fileName}"></span></a>
                                <br>
                                <button type="button" th:if="${user.getKeystore() != null && referer == null  }" class="btn btn-sm btn-primary text-left" data-toggle="modal" data-target="#testKeystore">
                                    <i class="fas fa-certificate"></i> <span class="sidebar-label">Tester mon certificat</span>
                                </button>
                            </div>
                            <div class="form-group">
                                <div class="custom-file">
                                    <input type="file" accept="application/x-pkcs12" class="custom-file-input" name="multipartKeystore" id="inputGroupFile02" value="Choose a file" aria-describedby="inputGroupFileAddon02"/> <label
                                        class="custom-file-label" id="inputGroupLabel02" for="inputGroupFile02"> Choisir un keystore
                                </label>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="text-center"><b>Fréquence des alertes</b></h5>
                        <div class="form-group" id="_c_org_esupportail_esupsignature_domain_user_emailAlertFrequency">
                            <label class="col-form-label" for="_emailAlertFrequency_id"> <strong>Fréquence d'alerte</strong>
                                <button data-target="#collapseHelpEmailAlertFrequency" data-toggle="collapse" type="button" class="btn btn-sm btn-info">
									<span class="fas fa-info-circle "> <!--  -->
									</span>
                                </button>
                                <div class="collapse" id="collapseHelpEmailAlertFrequency">
                                    <div class="alert alert-info">
                                        <small>Vous pouvez choisir une fréquence pour les alertes</small>
                                    </div>
                                </div>
                            </label>
                            <select class="form-control" id="_emailAlertFrequency_id" name="emailAlertFrequency" size="1" onchange="checkAlertFrequency();">
                                <option selected="selected" value="">-- Choisir votre préférence d'alerte --</option>
                                <th:block th:each="emailAlertFrequency : ${emailAlertFrequencies}">
                                    <option th:if="${emailAlertFrequency == user.emailAlertFrequency}" selected="selected" th:value="${emailAlertFrequency}" th:text="#{'user.emailAlertFrequency.' + ${emailAlertFrequency}}"></option>
                                    <option th:unless="${emailAlertFrequency == user.emailAlertFrequency}" th:value="${emailAlertFrequency}" th:text="#{'user.emailAlertFrequency.' + ${emailAlertFrequency}}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="form-group" id="_c_org_esupportail_esupsignature_domain_user_emailAlertHour" style="display: none;">
                            <label class="col-form-label" for="emailAlertHour"> <strong>Heure d'alerte</strong>
                            </label>
                            <input id="emailAlertHour" name="emailAlertHour" class="form-control" type="time" th:value="${user.emailAlertHour}" autocomplete="off"/>
                        </div>
                        <div class="form-group" id="_c_org_esupportail_esupsignature_domain_user_emailAlertDay" style="display: none;">
                            <label class="col-form-label" for="_emailAlertDay_id"> <strong>Jour de l'alerte</strong></label>
                            <select class="form-control" id="_emailAlertDay_id" name="emailAlertDay">
                                <th:block th:each="emailAlertDay : ${daysOfWeek}" var="emailAlertDay">
                                    <option th:if="${emailAlertDay == user.emailAlertDay}" selected="selected" th:value="${emailAlertDay}" th:text="#{'user.emailAlertDay.' + ${emailAlertDay}}"></option>
                                    <option th:unless="${emailAlertDay == user.emailAlertDay}" th:value="${emailAlertDay}" th:text="#{'user.emailAlertDay.' + ${emailAlertDay}}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
    <div class="modal fade" id="testKeystore" tabindex="-1" role="dialog" aria-labelledby="testKeystore" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form action="/user/users/view-cert" method="get">
                    <div class="modal-header">
                        <h3 class="modal-title">Tester mon certificat</h3>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-2">
                            <div th:if="${password == null}">
                                <input class="form-control" placeholder="Mot de passe" type="password" name="password" />
                            </div>
                            <div th:unless="${password == null}">
                                Mot de passe en cache
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Annuler</button>
                        <input class="btn btn-primary" type="submit" value="Afficher le certificat" />

                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>