<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="signRequest" type="org.esupportail.esupsignature.entity.SignRequest"*/-->
<div id="stepscard" th:fragment="stepscard" style="display: none;">
    <div class="card card-body mb-1">
        <h5 class="text-center text-dark"><b>Etapes du circuit</b></h5>
            <th:block th:if="${signRequest.parentSignBook.workflowSteps != null}">
                <div id="stepper" class="bs-stepper vertical">
                    <div class="bs-stepper-header" role="tablist">
                        <th:block th:each="workflowStep,iterator : ${signRequest.parentSignBook.workflowSteps}">
                            <div class="step border border-dark rounded" th:name="'step_' + ${iterator.index}">
                                    <span title="Étape en cours" th:if="${iterator.index + 1 == signRequest.parentSignBook.currentWorkflowStepNumber}" class="bs-stepper-circle bg-primary">
                                        <i class="fa fa-play"></i>
                                    </span>
                                    <span title="Étape à venir" th:if="${iterator.index + 1 > signRequest.parentSignBook.currentWorkflowStepNumber}" class="bs-stepper-circle">
                                        <i class="fa fa-pause"></i>
                                    </span>
                                    <span title="Étape effectuée" th:unless="${iterator.index + 1 > signRequest.parentSignBook.currentWorkflowStepNumber || iterator.index + 1 == signRequest.parentSignBook.currentWorkflowStepNumber}" class="bs-stepper-circle bg-success">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <div class="bs-stepper-label">
                                        <span  th:text="#{'signbook.signtype.' + ${workflowStep.getSignType()}}"></span>
                                        <span title="Tous les participants doivent signer" th:if="${workflowStep.allSignToComplete}" class="text-danger"><i class="fas fa-users"></i></span>
                                        <span title="Une signature suffit" th:unless="${workflowStep.allSignToComplete}"><i class="fas fa-user"></i></span>
                                        <br/>
                                        <span th:if="${workflowStep.name != null}" th:text="${workflowStep.name}"></span>
                                        <ul>
                                        <th:block th:each="recipient : ${workflowStep.recipients}">
                                            <li>
                                                <span th:text="${recipient.user.firstname + ' ' + recipient.user.name}"></span>
                                                <th:block th:if="${iterator.index + 1 > signRequest.parentSignBook.currentWorkflowStepNumber || iterator.index + 1 == signRequest.parentSignBook.currentWorkflowStepNumber}" th:switch="${recipient.signed}">
                                                    <i title="a signé le document" th:case="true" class="fas fa-check-circle text-success"></i>
                                                    <i title="n'a pas signé le document" th:case="false" class="fas fa-exclamation-circle text-danger"></i>
                                                </th:block>

                                            </li>
                                        </th:block>
                                        </ul>
                                        </table>
                                    </div>
                            </div>
                            <div th:if="${signRequest.parentSignBook.workflowSteps.size() > iterator.index + 1}" class="bs-stepper-line"></div>
                        </th:block>
                        <th:block th:if="${signRequest.parentSignBook.documentsTargetUri != null}">
                            <div class="bs-stepper-line"></div>
                            <div class="step">
                                <div title="Export" th:classappend="${signRequest.status.name() == 'exported'} ? 'bg-success'" class="bs-stepper-circle"><i class="fas fa-file-export"></i></div>
                                <div class="bs-stepper-label text-break" th:text="${signRequest.parentSignBook.targetType}"></div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </th:block>
    </div>
</div>
</html>