<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="SignRequestStatus" type="org.esupportail.esupsignature.entity.enums.SignRequestStatus"*/-->
<!--/*@thymesVar id="globalProperties" type="org.esupportail.esupsignature.config.GlobalProperties"*/-->
<nav th:fragment="admin-side" id="sidebar">
    <div class="ml-1 mt-1">
        <a title="Toutes les demandes" type="button" href="/admin/signrequests" class="mb-1 col-12 btn btn-light text-left" th:classappend="${activeMenu == 'adminsignrequests'} ? 'bg-secondary'">
            <i class="fas fa-paste"></i> <span class="sidebar-label">Demandes</span>
        </a>
        <a th:classappend="${activeMenu == 'workflows'} ? 'bg-secondary'"  title="Circuits de signature" href="/admin/workflows" class="btn btn-light col-12 mb-1 text-left">
            <i class="fas fa-project-diagram"></i> <span class="sidebar-label">Circuits</span>
        </a>
        <a th:classappend="${activeMenu == 'forms'} ? 'bg-secondary'"  title="Formulaires" href="/admin/forms" class="btn btn-light col-12 mb-1 text-left">
            <i class="fas fa-file-alt"></i> <span class="sidebar-label">Formulaires</span>
        </a>
        <a th:classappend="${activeMenu == 'currentSessions'} ? 'bg-secondary'"  title="Sessions courantes" href="/admin/currentsessions" class="btn btn-light col-12 mb-1 text-left">
            <i class="fas fa-users"></i> <span class="sidebar-label">Sessions courantes</span>
        </a>
        <a th:if="${globalProperties.enableSu}" th:classappend="${activeMenu == 'su'} ? 'bg-secondary'"  title="Sessions courantes" href="/admin/su" class="btn btn-light col-12 mb-1 text-left">
            <i class="fas fa-user-secret"></i> <span class="sidebar-label">Switch user</span>
        </a>
        <a th:classappend="${activeMenu == 'messages'} ? 'bg-secondary'"  title="Messages" href="/admin/messages" class="btn btn-light col-12 mb-1 text-left">
            <i class="fas fa-envelope"></i> <span class="sidebar-label">Messages</span>
        </a>
        <a th:classappend="${activeMenu == 'dss'} ? 'bg-secondary'"  title="Doc des APIs" type="button" href="/admin/dss" class="mb-1 col-12 btn btn-light text-left">
            <i class="fas fa-certificate"></i> <span class="sidebar-label">DSS certs</span>
        </a>
        <a title="Doc des APIs" target="_blank" type="button" href="/swagger-ui.html" class="mb-1 col-12 btn btn-light text-left">
            <i class="fas fa-code"></i> <span class="sidebar-label">APIs Doc</span>
        </a>

    </div>
</nav>
</html>