<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="emptyBar" class="header-fixed fixed-top">
<nav class="nav nav-pills navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
	<button aria-label="Toggle navigation" aria-expanded="false" aria-controls="_navbar" data-target="#_navbar" data-toggle="collapse" type="button" class="navbar-toggler">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-between">
	<div class="navbar-brand">Esup Signature</div>
	<ul class="navbar-nav">
		<li class="nav-item">
			<span class="float-right text-light" th:if="${user != null}" th:text="${user.firstname} + ' ' + ${user.name}"></span>
		</li>
	</ul>
	</div>
</nav>
</header>
</html>
