<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<!--/*@thymesVar id="globalProperties" type="org.esupportail.esupsignature.config.GlobalProperties"*/-->
<th:block th:if="${error == null}">
<div th:replace="fragments/message"></div>
</th:block>
<footer id="footer" class="footer bg-secondary fixed-bottom text-center text-white">
		<span th:text="#{application.footer}"></span> - <span th:text="${#dates.year(#dates.createNow())}"></span> - <span th:text="${versionApp}"></span><span th:if="${profile != null}" th:text="' - ' + ${profile}"></span>
</footer>
</html>
