<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<!--/*@thymesVar id="version" type="java.lang.String"*/-->
	<head th:fragment="head-lite">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="googlebot" content="noindex" />
		<meta name="robots" content="noindex" />
		<base href="/" />

		<link rel="stylesheet" th:href="@{/webjars/jquery-ui/jquery-ui.css}" />
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}" />
		<link rel="stylesheet" th:href="'/css/app.css?version=' + ${versionApp}" />

		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/jquery-ui/jquery-ui.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/webjars/bootbox/dist/bootbox.min.js}"></script>
		<script th:src="@{/webjars/croppie/croppie.min.js}"></script>
		<script th:src="@{/webjars/momentjs/moment.js}"></script>
		<script th:src="@{/webjars/momentjs/locale/fr.js}"></script>

		<link rel="icon" type="image/png" th:href="@{/images/favicon.ico}" />

		<title th:text="#{application.title}"></title>

	</head>

</html>
