<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
	<head th:fragment="head">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<base href="/">

		<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.js}"></script>
		<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
		<script th:src="@{/webjars/popper.js/2.5.4/umd/popper.js}"></script>
		<script th:src="@{/webjars/bootbox/5.5.2/bootbox.js}"></script>
		<script th:src="@{/webjars/bootbox/5.5.2/bootbox.locales.js}"></script>
		<script th:src="@{/webjars/croppie/2.6.3/croppie.min.js}"></script>
		<script th:src="@{/webjars/bootstrap-fileinput/5.1.0/js/plugins/piexif.min.js}"></script>
		<script th:src="@{/webjars/bootstrap-fileinput/5.1.0/js/plugins/sortable.min.js}"></script>
		<script th:src="@{/webjars/bootstrap-fileinput/5.1.0/js/plugins/purify.min.js}"></script>
		<script th:src="@{/webjars/bootstrap-fileinput/5.1.0/js/fileinput.js}"></script>
		<script th:src="@{/webjars/bootstrap-fileinput/5.1.0/themes/explorer-fas/theme.js}"></script>
		<script th:src="@{/webjars/bootstrap-fileinput/5.1.0/themes/fas/theme.js}"></script>
		<script th:src="@{/webjars/bootstrap-fileinput/5.1.0/js/locales/fr.js}"></script>
		<script th:src="@{/webjars/momentjs/2.24.0/min/moment-with-locales.min.js}"></script>
		<script th:src="@{/webjars/summernote/0.8.10/summernote-lite.js}"></script>
		<script th:src="@{/webjars/ace-builds/src-noconflict/ace.js}"></script>
		<script th:src="@{/webjars/ace-builds/src-noconflict/ext-language_tools.js}"></script>
		<script th:src="@{/webjars/ace-builds/src-noconflict/mode-javascript.js}"></script>
		<script th:src="@{/webjars/ace-builds/src-noconflict/worker-javascript.js}"></script>
		<script th:src="@{/webjars/ace-builds/src-noconflict/ext-keybinding_menu.js}"></script>
		<script th:src="@{/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.js}"></script>
		<script th:src="@{/webjars/pdfjs-dist/2.5.207/build/pdf.js}"></script>
		<script th:src="@{/webjars/pdfjs-dist/2.5.207/web/pdf_viewer.js}"></script>
		<script th:src="@{/js/customs/pdf.worker.2.5.207.js}"></script>
		<script th:src="@{/webjars/slim-select/1.24.0/dist/slimselect.min.js}"></script>
		<script th:src="@{/js/customs/fileinput-custom.js}"></script>
		<script th:src="@{/webjars/intro.js/3.0.1/intro.js}"></script>
		<script th:src="@{/webjars/spectrum-seballot/2.0.5/spectrum.min.js}"></script>
		<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>
		<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>

		<link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}" />
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.2/css/all.min.css}" />
		<link rel="stylesheet" th:href="@{/webjars/croppie/2.6.3/croppie.css}" />
		<link rel="stylesheet" th:href="@{/webjars/bootstrap-fileinput/5.1.0/css/fileinput.css}" />
		<link rel="stylesheet" th:href="@{/webjars/summernote/0.8.10/summernote-lite.css}" />
		<link rel="stylesheet" th:href="@{/webjars/pdfjs-dist/2.5.207/web/pdf_viewer.css}" />
		<link rel="stylesheet" th:href="@{/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css}" />
		<link rel="stylesheet" th:href="@{/webjars/slim-select/1.24.0/dist/slimselect.min.css}" />
		<link rel="stylesheet" th:href="@{/webjars/intro.js/3.0.1/introjs.css}">
		<link rel="stylesheet" th:href="@{/webjars/spectrum-seballot/2.0.5/spectrum.min.css}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
		<link rel="stylesheet" th:href="@{/css/app.css}" />

		<link rel="icon" type="image/png" th:href="@{/images/favicon.ico}" />

		<title th:text="#{application.title}"></title>
	</head>
	<script th:inline="javascript" type="module">
		import {GlobalUi} from "../../static/js/modules/ui/GlobalUi.js";
		new GlobalUi([[${_csrf}]]);
	</script>
</html>
