<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<!--/*@thymesVar id="versionApp" type="java.lang.String"*/-->
	<head th:fragment="head">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="googlebot" content="noindex" />
		<meta name="robots" content="noindex" />
		<base href="/">
		<link rel="stylesheet" th:href="@{/webjars/pdfjs-dist/web/pdf_viewer.css}" />
		<link rel="stylesheet" th:href="@{/webjars/jquery-ui/jquery-ui.css}" />
		<link rel="stylesheet" th:href="'/webjars/bootstrap/5.1.3/css/bootstrap.min.css'" />
		<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}" />
		<link rel="stylesheet" th:href="@{/webjars/croppie/croppie.css}" />
		<link rel="stylesheet" th:href="@{/webjars/bootstrap-fileinput/css/fileinput.css}" />
		<link rel="stylesheet" th:href="@{/webjars/bootstrap-fileinput/themes/explorer-fas/theme.css}" />
		<link rel="stylesheet" th:href="@{/webjars/summernote/dist/summernote-lite.css}" />
		<link rel="stylesheet" th:href="@{/webjars/Eonasdan-bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}" />
		<link rel="stylesheet" th:href="@{/webjars/slim-select/dist/slimselect.min.css}" />
		<link rel="stylesheet" th:href="@{/webjars/intro.js/introjs.css}" />
		<link rel="stylesheet" th:href="@{/webjars/spectrum-seballot/spectrum.min.css}" />
		<link rel="stylesheet" th:href="@{/webjars/bs-stepper/dist/css/bs-stepper.css}" />
		<link rel="stylesheet" th:href="@{/webjars/google-code-prettify/bin/prettify.min.css}" />
		<link rel="stylesheet" th:href="'/css/app.css?version=' + ${versionApp}" />

		<script src="https://cdn.jsdelivr.net/npm/js-captcha@1.3.0/dist/js/index.min.js"></script>
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/jquery-ui/jquery-ui.js}"></script>
		<script th:src="@{/webjars/jquery-ui/jquery-ui.js}"></script>
		<script th:src="@{/js/customs/jquery.ui.touch-punch.js}"></script>
		<script th:src="'/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js'"></script>
		<script th:src="@{/webjars/bootbox/bootbox.js}"></script>
		<script th:src="@{/webjars/bootbox/bootbox.locales.js}"></script>
		<script th:src="@{/webjars/croppie/croppie.min.js}"></script>
		<script th:src="@{/webjars/bootstrap-fileinput/js/fileinput.js}"></script>
		<script th:src="@{/webjars/bootstrap-fileinput/themes/explorer-fas/theme.js}"></script>
		<script th:src="@{/webjars/bootstrap-fileinput/js/locales/fr.js}"></script>
		<script th:src="@{/webjars/momentjs/moment.js}"></script>
		<script th:src="@{/webjars/momentjs/locale/fr.js}"></script>
		<script th:src="@{/webjars/summernote/dist/summernote-lite.js}"></script>
		<script th:src="@{/webjars/ace-builds/src-noconflict/ace.js}"></script>
		<script th:src="@{/webjars/ace-builds/src-noconflict/ext-language_tools.js}"></script>
		<script th:src="@{/webjars/ace-builds/src-noconflict/mode-javascript.js}"></script>
		<script th:src="@{/webjars/ace-builds/src-noconflict/worker-javascript.js}"></script>
		<script th:src="@{/webjars/ace-builds/src-noconflict/ext-keybinding_menu.js}"></script>
		<script th:src="@{/webjars/Eonasdan-bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
		<script th:src="@{/webjars/pdfjs-dist/build/pdf.js}"></script>
		<script th:src="@{/webjars/pdfjs-dist/build/pdf.worker.js}"></script>
		<script th:src="@{/webjars/pdfjs-dist/web/pdf_viewer.js}"></script>
		<script th:src="@{/webjars/slim-select/dist/slimselect.js}"></script>
		<script th:src="@{/js/customs/fileinput-custom.js}"></script>
		<script th:src="@{/js/customs/jquery.simulate.js}"></script>
		<script th:src="@{/webjars/intro.js/intro.js}"></script>
		<script th:src="@{/webjars/spectrum-seballot/spectrum.min.js}"></script>
		<script th:src="@{/webjars/signature_pad/dist/signature_pad.js}"></script>
		<script th:src="@{/webjars/bs-stepper/dist/js/bs-stepper.js}"></script>
		<script th:src="@{/webjars/flatted/es.js}"></script>
		<script th:src="@{/webjars/google-code-prettify/bin/prettify.min.js}"></script>

		<script th:inline="javascript" type="module" th:if="${versionApp != null}">
			sessionStorage.setItem("globalProperties", [[${globalPropertiesJson}]]);
			import {GlobalUi} from '/js/modules/ui/GlobalUi.js?version=[[${versionApp}]]';
			new GlobalUi([[${authUserEppn}]], [[${_csrf}]], [[${applicationEmail}]]);
		</script>

		<link rel="icon" type="image/png" th:href="@{/images/favicon.ico}" />

		<title th:text="#{application.title}"></title>

	</head>
</html>
