<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<!--/*@thymesVar id="versionApp" type="java.lang.String"*/-->
	<head th:fragment="head">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="googlebot" content="noindex" />
		<meta name="robots" content="noindex" />
        <meta name="_csrf" th:content="${_csrf.token}">
        <meta name="_csrf_header" th:content="${_csrf.headerName}">
		<base href="/">
		<link rel="stylesheet" th:href="@{/webjars/pdfjs-dist/legacy/web/pdf_viewer.css}" />
		<link rel="stylesheet" th:href="@{/webjars/jquery-ui/dist/themes/vader/jquery-ui.css}" />
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}" />
		<link rel="stylesheet" th:href="@{/webjars/croppie/croppie.css}" />
		<link rel="stylesheet" th:href="@{/webjars/bootstrap-fileinput/css/fileinput.css}" />
		<link rel="stylesheet" th:href="@{/webjars/bootstrap-fileinput/themes/explorer-fa6/theme.css}" />
        <link rel="preload" th:href="@{/webjars/flaticon__flaticon-uicons/css/uicons-regular-rounded-IYSBBSWN.woff2}" as="font" type="font/woff2" crossorigin>
        <link rel="preload" th:href="@{/webjars/flaticon__flaticon-uicons/css/uicons-thin-rounded-HOOVQNVT.woff2}" as="font" type="font/woff2" crossorigin>
        <link rel="stylesheet" th:href="@{/webjars/flaticon__flaticon-uicons/css/thin/rounded.css}" />
        <link rel="stylesheet" th:href="@{/webjars/flaticon__flaticon-uicons/css/regular/rounded.css}" />
		<link rel="stylesheet" th:href="@{/webjars/Eonasdan-bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}" />
		<link rel="stylesheet" th:href="@{/webjars/slim-select/dist/slimselect.css}" />
		<link rel="stylesheet" th:href="@{/webjars/intro.js/minified/introjs.min.css}" />
		<link rel="stylesheet" th:href="@{/webjars/bs-stepper/dist/css/bs-stepper.css}" />
		<link rel="stylesheet" th:href="@{/webjars/intl-tel-input/build/css/intlTelInput.css}" />
		<link rel="stylesheet" th:href="'/css/app.css?version=' + ${versionApp}" />

		<script th:if="${globalProperties != null && globalProperties.enableCaptcha}" src="https://cdn.jsdelivr.net/npm/js-captcha@1.3.0/dist/js/index.min.js"></script>
		<script th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
		<script th:src="@{/webjars/jquery-ui/dist/jquery-ui.js}"></script>
		<script th:src="@{/js/customs/jquery.ui.touch-punch.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/webjars/bootbox/dist/bootbox.min.js}"></script>
		<script th:src="@{/webjars/croppie/croppie.min.js}"></script>
		<script th:src="@{/webjars/bootstrap-fileinput/js/fileinput.js}"></script>
		<script th:src="@{/webjars/bootstrap-fileinput/themes/explorer-fa6/theme.js}"></script>
		<script th:src="@{/webjars/bootstrap-fileinput/js/locales/fr.js}"></script>
		<script th:src="@{/webjars/momentjs/moment.js}"></script>
		<script th:src="@{/webjars/momentjs/locale/fr.js}"></script>
		<script th:src="@{/webjars/Eonasdan-bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
		<script type="module" th:src="@{/webjars/pdfjs-dist/legacy/build/pdf.min.mjs}"></script>
		<script type="module" th:src="@{/webjars/pdfjs-dist/legacy/build/pdf.worker.min.mjs}"></script>
		<script type="module" th:src="@{/webjars/pdfjs-dist/legacy/web/pdf_viewer.mjs}"></script>
		<script th:src="@{/webjars/slim-select/dist/slimselect.js}"></script>
		<script th:src="@{/js/customs/jquery.simulate.js}"></script>
		<script th:src="@{/webjars/intro.js/minified/intro.min.js}"></script>
		<script th:src="@{/webjars/signature_pad/dist/signature_pad.umd.js}"></script>
		<script th:src="@{/webjars/bs-stepper/dist/js/bs-stepper.js}"></script>
		<script th:src="@{/webjars/flatted/es.js}"></script>
		<script th:src="@{/webjars/chart.js/dist/chart.umd.js}"></script>
		<script type="module" th:src="@{/webjars/intl-tel-input/build/js/intlTelInputWithUtils.js}"></script>

		<script th:inline="javascript" type="module" th:if="${versionApp != null}">
			sessionStorage.setItem("globalProperties", [[${globalPropertiesJson}]]);
			sessionStorage.setItem("enableSms", [[${enableSms}]]);
			import {GlobalUi} from '/js/modules/ui/GlobalUi.js?version=@[(${versionApp})]@';
			new GlobalUi([[${authUserEppn}]], [[${_csrf}]], [[${applicationEmail}]], [[${globalProperties.maxUploadSize}]], [[${maxInactiveInterval}]]);
		</script>

		<link rel="icon" type="image/png" th:href="@{/images/favicon.ico}" />

		<title th:text="#{application.title}"></title>

	</head>
</html>
