<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<!--/*@thymesVar id="version" type="java.lang.String"*/-->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<base href="/">

<!--		<link rel="stylesheet" th:href="@{/webjars/jquery-ui/jquery-ui.css}" />-->
<!--		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />-->
<!--		<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}" />-->
<!--		<link rel="stylesheet" th:href="@{/webjars/google-code-prettify/bin/prettify.min.css}" />-->
<!--		<link rel="stylesheet" th:href="'/css/app.css?version=' + ${versionApp}" />-->

<!--		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>-->
<!--		<script th:src="@{/webjars/jquery-ui/jquery-ui.js}"></script>-->
<!--		<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>-->
<!--		<script th:src="@{/webjars/bootbox/bootbox.js}"></script>-->
<!--		<script th:src="@{/webjars/bootbox/bootbox.locales.js}"></script>-->
<!--		<script th:src="@{/webjars/croppie/croppie.min.js}"></script>-->
<!--		<script th:src="@{/webjars/momentjs/moment.js}"></script>-->
<!--		<script th:src="@{/webjars/momentjs/locale/fr.js}"></script>-->

<!--		<link rel="icon" type="image/png" th:href="@{/images/favicon.ico}" />-->

    <link rel="stylesheet" href="/webjars/jquery-ui/1.12.1/jquery-ui.css" />
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/webjars/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="/webjars/google-code-prettify/1.0.5/bin/prettify.min.css" />
    <link rel="stylesheet" th:href="'/css/app.css?version=' + ${version}" />

    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/jquery-ui/1.12.1/jquery-ui.js"></script>
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="/webjars/bootbox/5.5.2/bootbox.js"></script>
    <script src="/webjars/bootbox/5.5.2/bootbox.locales.js"></script>
    <script src="/webjars/croppie/2.6.5/croppie.min.js"></script>
    <script src="/webjars/momentjs/2.29.1/moment.js"></script>
    <script src="/webjars/momentjs/2.29.1/locale/fr.js"></script>

	<link rel="icon" type="image/png" href="/images/favicon.ico" />

	<title th:text="#{application.title}"></title>

</html>
