<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="help" id="help">
    <h5>Bienvenue sur l’application Esup-Signature.</h5>
    <br>
    <div th:if="${currentUri != null && (currentUri == '/user' || currentUri == '/user/users' || (signRequest != null && currentUri == '/user/signrequests/' + signRequest.id))}" class="col-12 text-center">
        <button th:if="${splashMessage == null || splashMessage == 'null'}" class="btn btn-primary mx-auto" id="helpStartButton">Lancer le didacticiel</button>
    </div>
    <br>
    <ul>
        <li class="mb-2" th:if="${user != null && user.userType != null && user.userType.name() != 'external'}">
            Pour effectuer des signatures calligraphiques sur un PDF, il faut au préalable déposer un fichier image de votre
            signature dans vos paramètres : <a href='user/users' target='_blank'>Mes paramètres</a>
            <br>
            Un tutoriel video est disponible à cette adresse : <a href="https://drive.univ-rouen.fr/f/9f0f4b96e2c34ca2a10c/" target="_blank">Insérer sa signature</a>
        </li>
        <li class="mb-2">
            Il est possible de signer électroniquement des documents à l'aide d'un support cryptographique USB (agréé eIDAS, ex RGS **).
            <br>
            Pour cela, vous devez installer l’application
            Esup-DSS-Client disponible ici : <a target="_blank" href="https://github.com/EsupPortail/esup-dss-client/releases/latest">Esup-DSS-Client</a>
            <br>
            Une fois l’application installée et lancée, vous pourrez choisir "Certificat présent sur mon poste ou sur clé USB" comme mode de signature au moment de la validation.
        </li>
        <a href="https://www.esup-portail.org/wiki/display/SIGN/Documentation+utilisateur#Documentationutilisateur-Lessignatures%C3%A9lectroniques" target="_blank">Cliquez ici pour en savoir plus sur les autres types de signature</a>
    </ul>
    <hr>
    <p>
        Un guide utilisateur est accessible sur le portail de la communauté ESUP : <a href="https://www.esup-portail.org/wiki/display/SIGN/Documentation+utilisateur" target="_blank">Documentation utilisateur</a>
    </p>
    <p>
        Pour toutes questions merci d'utiliser ce contact :
        <a th:if="${workflow == null || workflow.mailFrom == null}" th:href="'mailto:' + ${globalProperties.applicationEmail}" target="_blank" th:text="${globalProperties.applicationEmail}"></a>
        <a th:if="${workflow != null && workflow.mailFrom != null}" th:href="'mailto:' + ${workflow.mailFrom}" target="_blank" th:text="${workflow.mailFrom}"></a>
    </p>
</div>
</html>
