<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="SignRequestStatus" type="org.esupportail.esupsignature.entity.enums.SignRequestStatus"*/-->
<nav th:fragment="manager-side" id="sidebar">
    <div class="ml-1 mt-1">
        <button title="Accueil" type="button" onclick="location.href='/'" class="mb-1 col-12 btn btn-transparent text-left">
            <i class="fas fa-home"></i> <span class="sidebar-label">Accueil</span>
        </button>
        <a th:classappend="${activeMenu == 'workflows'} ? 'bg-secondary'"  title="Circuits de signature" href="/manager/workflows" class="btn btn-transparent col-12 mb-1 text-left">
            <i class="fas fa-project-diagram"></i> <span class="sidebar-label">Circuits</span>
        </a>
        <a th:classappend="${activeMenu == 'forms'} ? 'bg-secondary'"  title="Modèles de documents" href="/manager/forms" class="btn btn-transparent col-12 mb-1 text-left">
            <i class="fas fa-file-alt"></i> <span class="sidebar-label">Formulaires</span>
        </a>
    </div>
</nav>
</html>