<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.sprinfgramework.org/schema/security">
<header th:fragment="menu(activeMenu)" class="header-fixed fixed-top">
	<nav id="navbar" class="nav nav-pills navbar navbar-expand-sm navbar-dark bg-dark">
<div style="width: 245px;">
	<button type="button" id="sidebarCollapse" class="btn text-white float-left">
		<i class="fas fa-bars"></i>
	</button>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_toggle" aria-controls="navbar_toggle" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<img src="/images/logo.svg" height="41"/>
</div>
	<div id="navbar_toggle" class="collapse navbar-collapse justify-content-between">
		<ul class="navbar-nav">
			<li class="nav-item dropdown">
				<a th:class="'nav-link dropdown-toggle ' + ${userMenu}" href="#" id="userMenuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Utilisateur
				</a>
				<div class="dropdown-menu" aria-labelledby="userMenuDropdown">
					<a title="Demandes de signatures" href="/user/signrequests" class="dropdown-item">Mes documents</a>
					<a title="Valider la signature d'un document" type="button" href="/user/validation" class="dropdown-item bg-warning text-dark">
						<i class="fas fa-shield-alt"></i>Contrôler la signature d'un document
					</a>
				</div>
			</li>
			<th:block th:if="${#authorization != null}">
				<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_MANAGER')">
					<a th:class="'nav-link dropdown-toggle ' + ${managerMenu}" href="#" id="managerMenuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Gestionnaire
					</a>
					<div class="dropdown-menu" aria-labelledby="managerMenu">
						<a title="Parapheurs" href="/manager/signbooks" class="dropdown-item">Gestion des parapheurs</a>
						<a title="Circuits de visas" href="/manager/workflows" class="dropdown-item">Gestion de circuits de signature</a>
					</div>
				</li>
				<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a title="Admin" href="/admin/signrequests" th:class="'nav-link ' + ${adminMenu}">Admin</a></li>
			</th:block>
		</ul>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a href="/user/users/?form" class="nav-link  "> <span th:if="${user != null}" th:text="${user.firstname} + ' ' + ${user.name}"></span></a>
			</li>
			<li class="nav-item">
				<a title="Paramètres" href="/user/users/?form" class="btn btn-secondary mr-1" th:classappend="${paramMenu}">
					<i aria-hidden="true" class="fa fa-cog"></i>
				</a>
			</li>
			<li class="nav-item">
				<a data-target="#collapseHelp" data-toggle="collapse" class="btn btn-info text-white">
					<i class="fas fa-info-circle"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>
</header>
</html>
