<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.sprinfgramework.org/schema/security">
<header th:fragment="menu(activeMenu)" class="header-fixed fixed-top">
<nav id="navbar" class="nav nav-pills navbar navbar-expand-sm navbar-dark bg-dark">
	<div style="width: 245px;">
		<button aria-label="Masquer la barre de gauche" type="button" id="sidebarCollapse" class="btn text-white float-left">
			<i class="fas fa-bars"></i>
		</button>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_toggle" aria-controls="navbar_toggle" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<h1 aria-label="Esup-Signature" title="Esup-Signature"><img alt="Logo Esup-Signature" src="/images/logo.svg" height="41"/></h1>
	</div>
	<div id="navbar_toggle" class="collapse navbar-collapse justify-content-between">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a th:class="'nav-link ' + ${userMenu}" title="Utilisateur" href="#" role="button">
					Utilisateur
				</a>
			</li>
			<th:block th:if="${#authorization != null}">
				<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_MANAGER')">
					<a th:class="'nav-link ' + ${managerMenu}" href="/manager/workflows" class="dropdown-item">Gestionnaire</a>
				</li>
				<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin/signrequests" th:class="'nav-link ' + ${adminMenu}">Admin</a></li>
			</th:block>
		</ul>
		<ul class="navbar-nav" th:if="${user.firstname != null}">
			<li class="nav-item">
				<a class="btn btn-transparent" aria-label="Paramètres utilisateur " title="Paramètres" href="/user/users/?form" th:classappend="${paramMenu}">
					<span th:text="${user.firstname} + ' ' + ${user.name}">
					</span>
					<button aria-label="Paramètres utilisateur" class="btn btn-secondary">
						<i class="fa fa-cog"></i>
					</button>
				</a>
			</li>
		</ul>
	</div>
</nav>
</header>
</html>
