<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="message" style="">
	<div th:if="${messageError != null}" id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000"  style="min-width: 300px; margin: 20px; position: fixed; top: 0; right: 0;">
		<div class="toast-header bg-danger">
			<strong class="mr-auto text-white">Erreur</strong>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
				<i class="fas fa-times"></i>
			</button>
		</div>
		<div class="toast-body">
			<span th:text="${messageError}"></span>
		</div>
	</div>

	<div th:if="${messageWarn != null}" id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="60000"  style="min-width: 300px; margin: 20px; position: fixed; top: 0; right: 0;">
		<div class="toast-header text-dark bg-warning">
			<strong class="mr-auto blinking">Attention</strong>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
				<i class="fas fa-times"></i>
			</button>
		</div>
		<div class="toast-body">
			<span th:text="${messageWarn}"></span>
		</div>
	</div>

	<div th:if="${messageSuccess != null}" id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000"  style="min-width: 300px; margin: 20px; position: fixed; top: 0; right: 0;">
		<div class="toast-header bg-success">
			<strong class="mr-auto text-white">Confirmation</strong>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
				<i class="fas fa-times"></i>
			</button>
		</div>
		<div class="toast-body">
			<span th:text="${messageSuccess}"></span>
		</div>
	</div>

	<div th:if="${messageInfo != null}" id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000"  style="min-width: 300px; margin: 20px; position: fixed; top: 0; right: 0;">
		<div class="toast-header">
			<strong class="mr-auto text-dark">Information</strong>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
				<i class="fas fa-times"></i>
			</button>
		</div>
		<div class="toast-body">
			<span th:text="${messageInfo}"></span>
		</div>
	</div>

	<div th:if="${messageCustom != null}" id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="30000" style="min-width: 300px; margin: 20px; position: fixed; top: 0; right: 0;">
		<div class="toast-header">
			<strong class="mr-auto text-dark">Message</strong>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
				<i class="fas fa-times"></i>
			</button>
		</div>
		<div class="toast-body">
			<pre th:text="${messageCustom}"></pre>
		</div>
	</div>
	<script>$('#toast').toast('show');</script>
</div>
</html>