<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="messageNews" type="java.util.List<org.esupportail.esupsignature.entity.Message>"*/-->
<!--/*@thymesVar id="messageError" type="java.lang.String"*/-->
<!--/*@thymesVar id="messageWarn" type="java.lang.String"*/-->
<!--/*@thymesVar id="messageSuccess" type="java.lang.String"*/-->
<!--/*@thymesVar id="messageInfo" type="java.lang.String"*/-->
<!--/*@thymesVar id="messageCustom" type="java.lang.String"*/-->
<!--/*@thymesVar id="form" type="org.esupportail.esupsignature.entity.Form"*/-->
<div th:fragment="message">
	<div id="snackbar" class="es-notification es-notification--snackbar" role="alert" aria-live="assertive" aria-atomic="true" aria-hidden="true" data-es-delay="3000"></div>
	<div id="toast-backdrop" class="es-notification-backdrop"></div>
	<div style="width: 100%; position: absolute; left: 0; top: 0; pointer-events: none;">
		<script th:inline="javascript" type="module">
			import NotificationCenter from '../../js/modules/ui/NotificationCenter.js?version=@[(${versionApp})]@';
			const backendMessage = /*[[${message}]]*/ null;
			new NotificationCenter(backendMessage);
		</script>
		<th:block th:each="messageNew : ${messageNews}">
		<div th:id="'toast-message-' + ${messageNew.id}" class="toast toast-es toast-xl es-notification es-notification--panel es-notification--xl bg-white" role="alert" aria-live="assertive" aria-atomic="true" aria-hidden="true" data-es-delay="999999999" data-es-notification-kind="news">
			<div class="toast-header pt-3">
				<h4 class="me-auto">Information !</h4>
				<button type="button" class="btn-close" title="Fermer" data-es-dismiss="notification" aria-label="Close">

				</button>
			</div>
			<div class="toast-body toast-body-news es-notification__body--news">
				<div th:utext="${messageNew.text}"></div>
			</div>
			<div class="toast-footer es-notification__footer">
				<button th:id="'markAsReadButton_' + ${messageNew.id}" class="btn btn-success me-2 mb-2 float-end" data-es-dismiss="notification" aria-label="Close">
				<i class="fi fi-rr-eye-crossed"></i>
					Marquer comme lu
				</button>
			</div>
			<progress id="progress-message" class="progress-bar bg-white"></progress>
		</div>
		</th:block>
		<div id="toast-custom" class="toast toast-es toast-md es-notification es-notification--panel es-notification--md bg-white" role="alert" aria-live="assertive" aria-atomic="true" aria-hidden="true" data-es-delay="30000" data-es-backdrop="true" data-es-notification-kind="custom">
			<div class="toast-body">
				<button type="button" class="btn-close" title="Fermer float-end" data-es-dismiss="notification" aria-label="Close">
				</button>
				<h4 class="me-auto text-dark">Message</h4>
				<h5 id="message-custom"></h5>
			</div>
			<progress id="progress-custom" class="progress-bar bg-white"></progress>
		</div>
		<div id="toast-help" class="toast toast-es toast-xl es-notification es-notification--panel es-notification--xl bg-white" role="alert" aria-live="assertive" aria-atomic="true" aria-hidden="true" data-es-delay="999999999" data-es-backdrop="true" data-es-notification-kind="help">
			<div class="toast-body toast-body-news es-notification__body--news">
				<button type="button" class="btn-close" title="Fermer float-end" data-es-dismiss="notification" aria-label="Close">
				</button>
				<h4 class="me-auto text-dark">Aide</h4>
				<h5 id="message-help"></h5>
			</div>
			<div class="toast-footer es-notification__footer">
				<button th:if="${form}" th:id="'markHelpAsReadButton_' + ${form.id}" class="btn btn-success me-2 mb-2 float-end" data-es-dismiss="notification" aria-label="Close">
					<i class="fi fi-rr-eye-crossed"></i>
					Marquer comme lu
				</button>
			</div>
		</div>
	</div>
</div>
</html>