<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.sprinfgramework.org/schema/security">
<!--/*@thymesVar id="suUsers" type="java.util.List<org.esupportail.esupsignature.entity.User>"*/-->
<header th:fragment="nav-empty" class="fixed-top">
    <nav id="navbar" data-bs-theme="dark" class="nav nav-pills navbar navbar-expand-sm navbar-dark bg-dark">
        <h1 aria-label="Esup-Signature" title="Esup-Signature" style="width: 204px; margin-left: 5px;">
            <img id="logo" alt="Logo Esup-Signature" src="/images/logo.svg"/>
        </h1>
    </nav>
</header>

</html>
