<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<!--/*@thymesVar id="user" type="org.esupportail.esupsignature.entity.User"*/-->
<!--/*@thymesVar id="authUser" type="org.esupportail.esupsignature.entity.User"*/-->
<!--/*@thymesVar id="suUsers" type="java.util.List<org.esupportail.esupsignature.entity.User>"*/-->
<!--/*@thymesVar id="globalProperties" type="org.esupportail.esupsignature.config.GlobalProperties"*/-->
<!--/*@thymesVar id="keystoreFileName" type="java.lang.String"*/-->
<header id="header" th:fragment="nav" class="fixed-top" th:with="isUserOnSu = ${userEppn != authUserEppn}">
    <nav id="navbar" class="nav nav-pills navbar navbar-expand-sm" th:classappend="|${(isUserOnSu && user.name != null) ? 'bg-striped' : ''} ${#authorization.expression('hasAuthority(''ROLE_PREVIOUS_ADMINISTRATOR'')') ? 'bg-danger' : 'bg-dark'}">
        <button aria-label="Masquer la barre de gauche" type="button" id="sidebarCollapse"
                class="btn btn-lg text-white float-start position-fixed">
            <i class="fas fa-bars"></i>
        </button>
        <button aria-label="Retour" type="button" id="returnButton"
                class="btn btn-lg text-white float-start position-fixed d-none">
            <i class="fas fa-arrow-left"></i>
        </button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_toggle"
                aria-controls="navbar_toggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars text-white"></span>
        </button>
        <a href="/" class="navbar-brand" aria-label="Esup-Signature" title="Esup-Signature">
            <img id="logo" alt="Logo Esup-Signature" src="/images/logo.svg"/>
        </a>
        <div id="navbar_toggle" class="collapse navbar-collapse justify-content-between">
            <ul id="navbar-buttons" class="navbar-nav" th:if="${#authorization.expression('isAuthenticated()')}">
                <li class="nav-item text-white" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
                    <a th:classappend="${activeMenu == 'home'} ? 'bg-secondary'" title="Accueil" type="button"
                            href="/user" class="btn btn-transparent text-left me-1">
                        <i class="fas fa-home"></i> <span class="nav-item-label d-none d-xxl-inline">Accueil</span>
                        <span title="Demandes à signer" th:if="${nbToSign > 0  && userEppn == authUserEppn}" class="badge bg-danger d-none d-md-inline" th:text="${nbToSign}">
                        </span>
                    </a>
                </li>
                <li class="nav-item text-white" th:if="${userEppn == authUserEppn && #authorization.expression('hasRole(''ROLE_USER'')')}">
                    <a th:classappend="${activeMenu == 'signbooks'} ? 'bg-secondary'" title="Tableau de bord"
                        th:if="${userEppn == authUserEppn || isOneSignShare || isOneReadShare}"
                        href="/user/signbooks" class="btn btn-transparent text-left me-1">
                        <i class="fas fa-paste"></i> <span
                            class="nav-item-label d-none d-xl-inline">Tableau de bord</span>
                        <span title="Demandes en attente" th:if="${nbSignRequests > 0  && userEppn == authUserEppn}" class="badge bg-warning d-none d-md-inline" th:text="${nbSignRequests}">
                        </span>
                    </a>
                </li>
                <li class="nav-item text-white" th:if="${userEppn == authUserEppn && reportNumber > 0}">
                    <a th:classappend="${activeMenu == 'reports'} ? 'bg-secondary'" title="Rapport"
                        href="/user/reports" class="btn btn-transparent text-left me-1">
                        <i class="fas fa-file-contract"></i> <span
                            class="nav-item-label d-none d-xl-inline">Rapports</span>
                    </a>
                </li>
                <li class="nav-item dropdown" th:if="${userEppn == authUserEppn && #authorization.expression('hasRole(''ROLE_USER'')')}">
                    <a class="btn btn-transparent text-left me-1 text-white dropdown-toggle" href="#" id="navbarDropdown"
                        role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-toolbox"></i> <span class="nav-item-label d-none d-lg-inline">Outils</span>
                    </a>
                    <div class="dropdown-menu bg-dark border-secondary align-items-center" aria-labelledby="navbarDropdown" >
                        <a th:if="${managedWorkflowsSize > 0}" th:classappend="${activeMenu == 'manage'} ? 'bg-secondary'"
                            title="Vue manager" href="/user/manage"
                            class="btn text-white btn-transparent text-left m-1" style="width: 250px;" >
                            <i class="fas fa-tasks"></i> <span class="nav-item-label d-inline">Espace superviseur</span>
                        </a>
                        <div th:if="${managedWorkflowsSize > 0}" class="dropdown-divider"></div>
                        <a id="start-wizard-button" th:unless="${globalProperties.hideWizard}" role="button" class="btn text-white btn-transparent text-left m-1" data-bs-toggle="modal"
                            data-bs-target="#wizModal"
                            title="Créez un nouveau circuit à l'aide de l'assistant">
                                <i class="fas fa-magic"></i> Assistant de création de circuit
                        </a>
<!--                        <a role="button" href class="btn text-white btn-transparent text-left m-1" style="width: 250px;"-->
<!--                           data-bs-toggle="modal"-->
<!--                           data-bs-target="#fastSignRequestModal"-->
<!--                           title="Vous devez signer un document présent sur votre poste">-->
<!--                            <i class="fas fa-signature"></i><span class="nav-item-label d-none d-xl-inline"> Auto signature</span>-->
<!--                        </a>-->
<!--                        <a role="button" href class="btn text-white btn-transparent text-left m-1" style="width: 250px;"-->
<!--                           data-bs-toggle="modal"-->
<!--                           data-bs-target="#sendSignRequestModal"-->
<!--                           title="Demander la signature d'un document présent sur votre poste">-->
<!--                            <i class="fas fa-paper-plane"></i><span class="nav-item-label d-none d-xl-inline"> Demander une signature</span>-->
<!--                        </a>-->
                        <div th:unless="${globalProperties.hideWizard}" class="dropdown-divider"></div>
                        <a class="btn text-white btn-transparent text-left m-1" style="width: 250px;" aria-label="Paramètres utilisateur " title="Paramètres" th:href="'/'+${user.userType.name() == 'external' ? 'otp' : 'user'}+'/users'">
                            <i class="fas fa-user-cog"></i> Modifier mes paramètres
                        </a>
                        <div class="dropdown-divider"></div>
                        <a th:classappend="${activeMenu == 'validation'} ? 'bg-secondary'"
                            title="Valider la signature d'un document" href="/user/validation"
                            class="btn text-white btn-transparent text-left m-1" style="width: 250px;" >
                            <i class="fas fa-shield-alt"></i> <span class="nav-item-label d-inline">Contrôler un document</span>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown" th:if="${userEppn == authUserEppn && globalProperties.shareMode > 0 && #authorization.expression('hasRole(''ROLE_USER'')')}">
                    <a class="btn btn-transparent text-left text-white me-1 dropdown-toggle"
                       th:classappend="${activeMenu == 'shares'} ? 'bg-secondary'"
                       href="#" id="navbarShareDropdown"
                       role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-users-cog"></i> <span class="nav-item-label d-none d-lg-inline">Autorisations</span>
                    </a>
                    <div class="dropdown-menu bg-dark border-secondary align-items-center" aria-labelledby="navbarShareDropdown" >
                        <a class="btn text-white btn-transparent text-left m-1" style="width: 250px;" aria-label="Paramètres utilisateur " title="Remplacement" href="/user/users/replace">
                            <i class="fas fa-people-arrows"></i> <span class="nav-item-label d-none d-lg-inline">Remplacement</span>
                        </a>
                        <a class="btn text-white btn-transparent text-left m-1" style="width: 250px;" aria-label="Paramètres utilisateur " title="Paramètres" href="/user/users/shares">
                            <i class="fas fa-users"></i> <span class="nav-item-label d-none d-lg-inline">Délégations</span>
                        </a>
                        <div th:if="${suUsers != null && suUsers.size() > 0 && userEppn == authUserEppn}" class="dropdown-divider"></div>
                        <th:block th:each="suUser : ${suUsers}">
                            <a th:unless="${suUser == user}" role="button" th:href="'/user/users/shares/change?eppn=' + ${suUser.eppn} + '&userShareId=' + ${suUser.userShareId}"  class="btn text-white btn-transparent text-left m-1" style="width: 250px;">
                                <i class="fas fa-user"></i> <span class="nav-item-label d-none d-xl-inline" th:text="${suUser.firstname} + ' ' + ${suUser.name} "></span>
                            </a>
                        </th:block>
                    </div>
                </li>
                <li class="nav-item dropdown" th:if="${userEppn != authUserEppn  && globalProperties.shareMode > 0}">
                    <a th:if="${userEppn != authUserEppn}" th:href="'/user/users/shares/change'" class="btn btn-transparent text-left">
                        <i class="fas fa-stop-circle"></i><span class="nav-item-label d-none d-xl-inline"> Désactiver la délégation en cours</span>
                    </a>
                </li>
                <li class="nav-item text-white me-1" th:if="${isManager && userEppn == authUserEppn}" title="Menu gestionnaire">
                    <a href="/admin/workflows" class="btn text-white btn-transparent"
                        th:classappend="${managerMenu == 'active'} ? 'bg-secondary'">
                        <i class="fas fa-user-tie"></i> <span class="nav-item-label d-none d-xxl-inline">Gestionnaire</span>
                    </a>
                </li>
                <li class="nav-item text-white" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') && userEppn == authUserEppn}" title="Menu admin">
                    <a href="/admin" class="btn text-white btn-transparent"
                        th:classappend="${adminMenu == 'active'} ? 'bg-secondary' : ''">
                        <i class="fas fa-crown"></i><span class="nav-item-label d-none d-xxl-inline">Admin</span>
                        <span title="Statut DSS" th:if="${dssStatus == null || dssStatus == true}" class="badge bg-danger d-none d-md-inline ms-1">
                            !
                        </span>
                    </a>
                </li>
            </ul>
            <ul id="user-buttons" class="navbar-nav" th:if="${user.name != null}">
                <li class="nav-item" th:if="${#authorization.expression('hasAuthority(''ROLE_PREVIOUS_ADMINISTRATOR'')')}" title="Logout SU">
                    <form th:action="'/su-logout'" method="POST">
                        <button type="submit" class="btn bg-dark text-white m-1"><i class="fas fa-user-secret"></i></button>
                    </form>
                </li>
<!--                <li class="nav-item text-white" >-->
<!--                <a th:unless="${isUserOnSu}" class="btn text-white btn-transparent"-->
<!--                   aria-label="Paramètres utilisateur "-->
<!--                   title="Paramètres" href="/user/users?form">-->
<!--                    <i class="fas fa-user-cog"></i>-->
<!--                </a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="btn btn-transparent user-toggle d-inline-flex text-white align-middle me-1" id="user-toggle"
                        th:classappend="${paramMenu}" type="button" href="#user-infos"
                        aria-expanded="false"
                        aria-controls="user-infos"
                        data-bs-toggle="collapse">
                        <b class="nav-item-label d-none d-md-inline"
                            th:text="${user.firstname} + ' ' + ${user.name}"></b>
                        <div class="user-toggle align-middle ms-2"><i class="fas fa-user"></i></div>
                    </a>
                </li>
                <li class="nav-item">
                <a rel="noreferrer" title="Aide en ligne" data-bs-toggle="modal"
                    data-bs-target="#helpModal" aria-label="Guide utilisateur" style="background-color: #096fb2;" class="btn text-white float-end align-middle d-none d-md-inline" href="https://www.esup-portail.org/wiki/display/SIGN/Documentation+utilisateur"><i class="fas fa-question"></i></a>
                </li>
            </ul>
        </div>
    </nav>
    <div th:if="${user.name != null}" id="user-infos" class="position-absolute user-infos collapse overflow-y-scroll drop-shadows">
        <div class="card card-body user-infos text-center">
            <div id="manageShare" class="d-none">
            <h3 th:if="${isUserOnSu}">
                Vous avez activé la délégation
            </h3>
            <h5 th:unless="${isUserOnSu}">
                <b>Délégations</b>
            </h5>
            <form id="changeSuEppn" th:action="'/user/users/shares/change'" method="post">
                <select id="suEppn" class="slim-select-simple" name="suEppn" onchange="document.getElementById('changeSuEppn').submit();">
                    <option th:if="${isUserOnSu}" value="" selected>Désactiver la délégation en cours</option>
                    <option th:unless="${isUserOnSu}" selected disabled>Choisir un mandant
                    </option>
                    <th:block th:each="suUser : ${suUsers}">
                        <option th:if="${user.eppn == suUser.eppn}" th:value="${suUser.eppn}"
                                th:text="${suUser.firstname} + ' ' + ${suUser.name} " selected></option>
                        <option th:unless="${user.eppn == suUser.eppn}" th:value="${suUser.eppn}"
                                th:text="${suUser.firstname} + ' ' + ${suUser.name} "></option>
                    </th:block>
                </select>
            </form>
            <a th:unless="${isUserOnSu}" class="btn btn-sm light btn-outline-dark mt-1"
                aria-label="Paramètres utilisateur "
                title="Paramètres" href="/user/users/shares">
                <i class="fas fa-share-alt"></i> Gérer mes délégations
            </a>
            <hr>
            </div>
            <h5><b>Vos informations</b></h5>
            <table class="table table-sm table-borderless text-left">
                <tbody>
                <tr>
                    <th class="text-break w-40">Nom</th>
                    <td class="text-break w-60" th:text="${user.name}"></td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td th:text="${user.firstname}"></td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td th:text="${user.email}"></td>
                </tr>
                <tr>
                    <th>Identifiant</th>
                    <td th:text="${user.eppn}"></td>
                </tr>
                <tr th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" >
                    <th>Auth</th>
                    <td th:text="${securityServiceName}"></td>
                </tr>
                <tr>
                    <th>Mes signatures</th>
                    <td>
                        <div style="width: 250px;" th:if="${userImagesIds.size() > 0 && userImagesIds.get(0) != null}" id="carouselSign" class="carousel slide border rounded border-secondary" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <th:block th:each="signImageId, iterator : ${userImagesIds}">
                                    <div class="carousel-item" th:classappend="${iterator.index == 0} ? 'active'">
                                        <img width="250" th:src="'/ws-secure/users/get-sign-image/' + ${signImageId}" />
                                    </div>
                                </th:block>
                            </div>
                            <button class="carousel-control-prev" href="#carouselSign" role="button" data-bs-slide="prev">
                                <span class="text-dark" aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
                                <span class="sr-only">Previous</span>
                            </button>
                            <button class="carousel-control-next" href="#carouselSign" role="button" data-bs-slide="next">
                                <span class="text-dark" aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
                                <span class="sr-only">Next</span>
                            </button>
                        </div>
                        <div th:unless="${userImagesIds.size() > 0 && userImagesIds.get(0) != null}" class="alert alert-danger">
                            Pas de signature
                        </div>
                    </td>
                </tr>
                <tr th:if="${!globalProperties.disableCertStorage}">
                    <th>Magasin de certificats</th>
                    <td>
                        <div th:unless="${keystoreFileName == null}" class="alert alert-secondary">
                            Keystore PKCS12 :
                            <br>
                            <a href="/ws-secure/users/get-keystore">
                                <span th:text="${keystoreFileName}"></span>
                            </a>
                        </div>
                        <div th:if="${keystoreFileName == null}" class="alert alert-danger">
                            Pas de magasin de certificats
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <a th:unless="${isUserOnSu}" class="btn btn-sm btn-light btn-outline-dark"
                aria-label="Paramètres utilisateur "
                title="Paramètres" th:href="'/'+${user.userType.name() == 'external' ? 'otp' : 'user'}+'/users'">
                <i class="fas fa-user-cog"></i> Modifier mes paramètres
            </a>
            <hr>
            <a th:unless="${isUserOnSu}" class="btn btn-sm btn-light btn-outline-dark"
                aria-label="Paramètres utilisateur "
                title="Déconnexion" href="/logout">
                <i class="fas fa-power-off"></i> Déconnexion
            </a>
        </div>
    </div>
</header>
</html>
