<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="workflow" type="org.esupportail.esupsignature.entity.Workflow"*/-->
<!--/*@thymesVar id="forms" type="java.util.List<org.esupportail.esupsignature.entity.Form>"*/-->
<div id="new-tools" th:fragment="new-tools" class="clear" th:with="isUserOnSu = ${userEppn != authUserEppn}">
    <div class="w-100 d-flex flex-row flex-wrap justify-content-center justify-content-lg-between gap-2 gap-md-3 gap-lg-4">
        <a tabindex="0" id="new-self-sign" th:if="${userEppn == authUserEppn}" th:unless="${globalProperties.hideAutoSign}" role="button"
           class="global-button btn btn-material border border-secondary-subtle btn-light text-center overflow-hidden p-2 flex-fill"
           style="height: auto; margin: 0;"
           data-bs-toggle="modal"
           data-bs-target="#wiz-self-sign-modal"
           title="Signer vos documents présents sur votre poste de travail">
            <div class="d-flex flex-column align-items-center justify-content-start h-100 w-100 gap-1 text-dark-emphasis">
                <div style="height: clamp(45px, 6vw, 70px);" class="d-flex align-items-center">
                    <i class="fi fi-tr-attribution-pencil" style="font-size: clamp(32px, 4vw, 50px);"></i>
                </div>
                <h5 class="mb-1" style="font-size: clamp(0.85rem, 1.5vw, 1.25rem);">Auto signature</h5>
                <small style="font-size: clamp(0.7rem, 1.1vw, 0.875rem);" class="d-none d-xxl-block">Signer vos documents</small>
            </div>
        </a>
        <a tabindex="0" id="new-fast-sign" th:if="${!isUserOnSu}" th:unless="${globalProperties.hideSendSignRequest}" role="button" data-bs-dismiss="modal"
           class="global-button btn btn-material border border-secondary-subtle btn-light text-center overflow-hidden p-2 flex-fill"
           style="height: auto; margin: 0;"
           data-bs-toggle="modal"
           data-bs-target="#wiz-fast-sign-modal"
           title="Envoyer un/des documents à vos destinataires">
            <div class="d-flex flex-column align-items-center justify-content-start h-100 w-100 gap-1 text-dark-emphasis">
                <div style="height: clamp(45px, 6vw, 70px);" class="d-flex align-items-center">
                    <i class="fi fi-tr-paper-plane-launch" style="font-size: clamp(32px, 4vw, 50px);"></i>
                </div>
                <h5 class="mb-1" style="font-size: clamp(0.85rem, 1.5vw, 1.25rem);">Demander une signature</h5>
                <small style="font-size: clamp(0.7rem, 1.1vw, 0.875rem);" class="d-none d-xxl-block">Envoyer un/des documents à vos destinataires</small>
            </div>
        </a>
        <a tabindex="0" id="start-wizard-custom-button" th:if="${!isUserOnSu}"
           th:unless="${globalProperties.hideWizard}" role="button"
           class="global-button btn btn-material border border-secondary-subtle btn-light text-center overflow-hidden p-2 flex-fill"
           style="height: auto; margin: 0;"
           data-bs-toggle="modal" data-bs-target="#wiz-custom-sign-modal"
           title="Envoyer des documents dans un circuit à plusieurs étapes">
            <div class="d-flex flex-column align-items-center justify-content-start h-100 w-100 gap-1 text-dark-emphasis">
                <div style="height: clamp(45px, 6vw, 70px);" class="d-flex align-items-center">
                    <i class="fi fi-tr-plan"  style="font-size: clamp(32px, 4vw, 50px);"></i>
                </div>
                <h5 class="mb-1" style="font-size: clamp(0.85rem, 1.5vw, 1.25rem);">Demande personnalisée</h5>
                <small style="font-size: clamp(0.7rem, 1.1vw, 0.875rem);" class="d-none d-xxl-block">Envoyer des documents dans un circuit à plusieurs étapes</small>
            </div>
        </a>
        <a tabindex="0" id="all-modal-button" th:if="${!isUserOnSu}"
           class="global-button btn btn-material border border-secondary-subtle btn-light text-center overflow-hidden p-2 flex-fill"
           style="height: auto; margin: 0;"
           data-bs-toggle="modal" data-bs-target="#allModal"
           title="Afficher la liste complète des circuits et formulaires disponibles">
            <div class="d-flex flex-column align-items-center justify-content-start h-100 w-100 gap-1 text-dark-emphasis">
                <div style="height: clamp(45px, 6vw, 70px);" class="d-flex align-items-center">
                    <i class="fi fi-tr-category" style="font-size: clamp(32px, 4vw, 50px);"></i>
                </div>
                <h5 class="mb-1" style="font-size: clamp(0.85rem, 1.5vw, 1.25rem);">Circuits et formulaires</h5>
                <small style="font-size: clamp(0.7rem, 1.1vw, 0.875rem);" class="d-none d-xxl-block">Afficher la liste complète des circuits et formulaires disponibles</small>
            </div>
        </a>
    </div>
</div>
</html>