<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="workflow" type="org.esupportail.esupsignature.entity.Workflow"*/-->
<!--/*@thymesVar id="forms" type="java.util.List<org.esupportail.esupsignature.entity.Form>"*/-->
<div id="new-workflow" th:fragment="new-workflow" class="clear">
    <div class="d-inline-flex flex-wrap">
        <div class="" style="height: 184px;">
            <button tabindex="10" role="button"
                class="start-wizard-buttons workflow-btn btn btn-material border border-secondary-subtle border-opacity-10 btn-light text-center me-2 mb-2 overflow-hidden p-0"
                data-bs-toggle="modal" data-bs-target="#wiz-modal"
                style="width: 120px; display: inline-flex; flex-direction: column;"
                title="Créez un nouveau circuit à l'aide de l'assistant">
                <div class="d-flex flex-column align-items-center justify-content-center h-100 w-100 gap-3">
                    <i class="fi fi-tr-customization" style="font-size: 50px;"></i>
                    <h6>Créez un nouveau circuit à l’aide de l’assistant</h6>
                </div>
            </button>
        </div>
        <th:block th:each="workflow : ${workflows}">
            <div th:id="'btn-workflow-' + ${workflow.id}" class="workflow-button" style="height: 184px;">
                <div class="favorite-icon">
                    <button th:title="${user.uiParams.get(T(org.esupportail.esupsignature.entity.enums.UiParams).favoriteWorkflows) != null && user.uiParams.get(T(org.esupportail.esupsignature.entity.enums.UiParams).favoriteWorkflows).contains('' + workflow.id)} ? 'Supprimer des favoris' : 'Ajouter aux favoris'"
                            class="btn btn-transparent btn-sm text-dark toggle-workflow-start rounded-2"
                            style="margin-top: -6px; margin-left: -6px;"
                            type="button"
                            th:id="'star_' + ${workflow.id}">
                        <i class="fa-solid fa-star" th:classappend="${user.uiParams.get(T(org.esupportail.esupsignature.entity.enums.UiParams).favoriteWorkflows) != null && user.uiParams.get(T(org.esupportail.esupsignature.entity.enums.UiParams).favoriteWorkflows).contains('' + workflow.id)} ? 'text-warning' : 'text-secondary'"></i>
                    </button>
                </div>
                <a tabindex="10" role="button" class="workflow-btn start-wizard-workflow-button btn btn-material border border-secondary-subtle border-opacity-10 btn-light text-center me-2 mb-2 overflow-hidden p-0 workflow-button"
                    data-bs-toggle="modal"
                    data-bs-target="#wiz-workflow-sign-modal"
                    th:id="'workflow-button-' + ${workflow.id}"
                    th:href="'/user/start-workflow/' + ${workflow.id}"
                    style="width: 120px; display: inline-flex; flex-direction: column;"
                    th:title="'Lancer le circuit : ' + ${workflow.description}"
                    th:data-es-workflow-id="${workflow.id}"
                    th:alt="'Circuit : ' + ${workflow.description}">
                    <div class="d-flex flex-column align-items-center justify-content-center h-100 w-100 gap-3">
                        <i class="fi fi-tr-diagram-project project-diagram-color" style="font-size: 50px;"></i>
                        <h6 style="height: 50px;" th:text="${workflow.description}"></h6>
                    </div>
                </a>
                <div style="margin-top: -39px; margin-right: 8px; text-align: end;">
                    <button title="Éditer le circuit" class="btn btn-transparent btn-sm text-dark toggle-mini-menu rounded-0"
                            th:if="${workflow.createBy.eppn == userEppn}" type="button" th:id="'menu-toggle_' + ${workflow.id}"
                            th:data-bs-target="'#menu-' + ${workflow.id}" data-bs-toggle="collapse">
                        <i class="fa-solid fa-ellipsis-h"></i>
                    </button>
                </div>
                <div style="margin-top: -30px;" class="collapse rounded-0 border-0 text-start" th:if="${workflow.createBy.eppn == userEppn}" th:id="'menu-' + ${workflow.id}">
                    <div class="inline-flex">
                        <form th:id="${'deleteWorkflow_' + workflow.id}" th:action="'/user/wizard/delete-workflow/' + ${workflow.id}" th:method="'delete'">
                        </form>
                        <button role="button" class="btn btn-sm workflow-button workflow-delete-button ms-1" title="Supprimer" type="button" th:data-id="${workflow.id}">
                            <i class="fa-solid fa-trash-alt"></i>
                        </button>
                        <button  class="btn btn-sm workflow-button workflow-update-button ms-2" title="Modifier" th:data-id="${workflow.id}" type="button">
                            <i class="fa-solid fa-cog"></i>
                        </button>
                    </div>
                </div>
            </div>
        </th:block>

        <script>
            document.querySelectorAll('.toggle-workflow-start').forEach(btn => {
                btn.addEventListener('click', async () => {
                    const id = btn.id.replace('star_', '');
                    const icon = btn.querySelector('i');

                    try {
                        location.href=`/user/toggle-favorite-workflow/${id}`;
                    } catch (err) {
                        console.error('Erreur lors de la mise en favori :', err);
                    }
                });
            });
        </script>

        <th:block th:if="${workflows != null && workflows.size() == 0}">
            <div class="alert alert-secondary">
                <h6>Aucun circuit</h6>
            </div>
        </th:block>
    </div>
</div>
</html>
