<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="form" type="org.esupportail.esupsignature.entity.Form"*/-->
<!--/*@thymesVar id="forms" type="java.util.List<org.esupportail.esupsignature.entity.Form>"*/-->
<div id="new-form" th:fragment="new-form" class="clear">
    <div class="d-inline-flex flex-wrap">
        <th:block th:each="form : ${forms}">
            <div th:id="'btn-form2-' + ${form.id}" class="form-button" style="height: 184px;">
                <div class="favorite-icon">
                    <button th:title="${user.uiParams.get(T(org.esupportail.esupsignature.entity.enums.UiParams).favoriteForms) != null && user.uiParams.get(T(org.esupportail.esupsignature.entity.enums.UiParams).favoriteForms).contains('' + form.id)} ? 'Supprimer des favoris' : 'Ajouter aux favoris'"
                            class="btn btn-transparent btn-sm text-dark toggle-form-start rounded-2"
                            style="margin-top: -6px; margin-left: -6px;"
                            type="button"
                            th:id="'star_' + ${form.id}">
                        <i class="fa-solid fa-star" th:classappend="${user.uiParams.get(T(org.esupportail.esupsignature.entity.enums.UiParams).favoriteForms) != null && user.uiParams.get(T(org.esupportail.esupsignature.entity.enums.UiParams).favoriteForms).contains('' + form.id)} ? 'text-warning' : 'text-secondary'"></i>
                    </button>
                </div>
                <a tabindex="10" role="button" class="form-btn start-form-button btn btn-material border border-secondary-subtle border-opacity-10 btn-light text-center me-2 mb-2 overflow-hidden p-0"
                    data-bs-toggle="modal"
                    data-bs-target="#wiz-start-form-modal"
                    th:id="'form-button-' + ${form.id}"
                    th:href="'/user/start-form/' + ${form.id}"
                    style="width: 120px; height: 170px;"
                    th:title="'Lancer le formulaire : ' + ${form.title}"
                    th:data-es-form-id="${form.id}"
                    th:classappend="${form.hideButton} ? 'd-none' : ''"
                    >
                    <div class="d-flex flex-column align-items-center justify-content-center h-100 w-100 gap-3">
                        <i class="fi fi-tr-poll-h file-alt-color" style="font-size: 50px;"></i>
                        <!--                                <img th:src="'/user/datas/forms/' + ${form.id} + '/get-image/'" height="150px"/>-->
                        <h6 style="height: 50px;" th:text="${form.title}"></h6>
                    </div>
                </a>
            </div>
        </th:block>
        <script>
            document.querySelectorAll('.toggle-form-start').forEach(btn => {
                btn.addEventListener('click', async () => {
                    const id = btn.id.replace('star_', '');
                    const icon = btn.querySelector('i');
                    const favoriteItem = $('#myFavoritesForms [data-es-form-id="' + id + '"]');

                    try {
                        const response = await fetch(`/user/toggle-favorite-form/${id}`, {
                            method: 'GET',
                            headers: {
                                'X-Requested-With': 'XMLHttpRequest'
                            }
                        });

                        if (response.ok) {
                            if (icon.classList.contains('text-secondary')) {
                                const noFavoritesForms = document.getElementById('noFavoritesForms');
                                if(noFavoritesForms) noFavoritesForms.remove();
                                icon.classList.remove('text-secondary');
                                icon.classList.add('text-warning');
                                btn.title = 'Supprimer des favoris';
                                favoriteItem.removeClass("d-none");
                            } else {
                                icon.classList.remove('text-warning');
                                icon.classList.add('text-secondary');
                                btn.title = 'Ajouter aux favoris';
                                favoriteItem.addClass("d-none");
                            }
                        }
                    } catch (err) {
                        console.error('Erreur lors de la mise en favori :', err);
                    }
                });
            });
        </script>
        <th:block th:if="${forms != null && forms.size() == 0}">
            <div class="alert alert-secondary">
                <h6>Aucun formulaire</h6>
            </div>
        </th:block>
    </div>
</div>
</html>
