<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="workflow" type="org.esupportail.esupsignature.entity.Workflow"*/-->
<!--/*@thymesVar id="forms" type="java.util.List<org.esupportail.esupsignature.entity.Form>"*/-->
<div th:fragment="new" class="w-100" th:with="isUserOnSu = ${userEppn != authUserEppn}">
    <div class="card border-0 mb-2 w-100" th:unless="${#authorization.expression('hasRole(''ROLE_OTP'')')}">
        <div class="card-body bg-light">
            <button id="toggleNewGrid" class="btn btn-transparent text-dark float-end"><i class="fas fa-th"></i> Affichage</button>
            <h5 class="text-center"><b>Nouveau</b></h5>
            <div id="newScroll" class="text-center text-nowrap col-12 text-wrap scrollbar-lite">
                <div id="newContainer" class="d-inline">
                    <h5 class="newToggled d-none">Outils de signature</h5>
                    <a id="newfastSign" th:if="${userEppn == authUserEppn}" th:unless="${globalProperties.hideAutoSign}" role="button" data-bs-dismiss="modal" class="globalButton btn btn-material btn-light text-center me-2 mb-2 overflow-hidden p-0" data-bs-toggle="modal"
                       data-bs-target="#fastSignRequestModal" style="width: 150px; height: 200px;"
                       title="Vous devez signer un document présent sur votre poste de travail">
                        <div class="crop">
                            <i class="fas fa-signature fa-4x"></i>
                        </div>
                        <h6>Auto signature</h6>
                    </a>

                    <a id="newSignDemand" th:if="${!isUserOnSu}" th:unless="${globalProperties.hideSendSignRequest}" role="button" data-bs-dismiss="modal" class="globalButton btn btn-material btn-light text-center me-2 mb-2 overflow-hidden p-0" data-bs-toggle="modal"
                       data-bs-target="#sendSignRequestModal" style="width: 150px; height: 200px;"
                       title="Demander la signature d'un document présent sur votre poste de travail">
                        <div class="crop">
                            <i class="fas fa-paper-plane fa-4x"></i>
                        </div>
                        <h6>Demander une signature</h6>
                    </a>

                    <a id="startWizardCustomButton" th:if="${!isUserOnSu}"
                       th:unless="${globalProperties.hideWizard}"
                       role="button" class="globalButton btn btn-material btn-light text-center me-2 mb-2 overflow-hidden p-0" data-bs-toggle="modal"
                       data-bs-target="#wizModalCustom" style="width: 150px; height: 200px;"
                       title="Créer une nouvelle demande à l'aide de l'assistant">
                        <div class="crop">
                            <span class="fa-stack fa-3x">
                                <i class="fas fa-paper-plane fa-stack-1x me-4"></i>
                                <i class="fas fa-cog fa-stack-1x ms-4 mt-4 text-black-50"></i>
                            </span>
                        </div>
                        <h6>Créer une demande personnalisée</h6>
                    </a>
                    <hr class="newHr d-none">
                    <h5 class="newToggled d-none">Circuits</h5>
<!--                    <a th:unless="${globalProperties.hideWizard}" role="button" class="globalButton btn btn-material btn-light text-center me-2 mb-2 overflow-hidden align-bottom p-0 workflow-button" data-bs-toggle="modal"-->
<!--                        data-bs-target="#wizModal" style="width: 150px; height: 200px;"-->
<!--                        title="Ajoutez des documents et créez un nouveau circuit à l'aide de l'assitant"-->
<!--                        onclick="$('#wizIframe').attr('src', '/user/wizard/wiz1');">-->
<!--                        <div class="crop">-->
<!--                            <i class="fas fa-magic fa-4x "></i>-->
<!--                        </div>-->
<!--                        <h6>Assistant de création de demande</h6>-->
<!--                    </a>-->
                    <div class="d-inline-block" id="newWorkflow">
                        <th:block th:each="workflow : ${workflows}">
                            <a role="button" class="start-wizard-workflow-button btn btn-material btn-light text-center me-2 mb-2 overflow-hidden p-0 workflow-button"
                                style="width: 150px; height: 200px;"
                                th:attr="data-workflow-id=${workflow.id}, data-workflow-name=${workflow.name} "
                                th:title="'Circuit : ' + ${workflow.description}">
                                <div class="crop">
                                    <i class="fas fa-project-diagram fa-4x project-diagram-color"></i>
                                </div>
                                <h6 th:text="'Circuit : ' + ${workflow.description}"></h6>
                                <form th:id="${'deleteWorkflow_' + workflow.id}" th:if="${workflow.createBy.eppn == userEppn}" th:action="'/user/wizard/delete-workflow/' + ${workflow.id}" th:method="'delete'">
                                </form>
                                <button role="button" class="btn btn-sm workflow-button workflow-delete-button" th:if="${workflow.createBy.eppn == userEppn}" title="Supprimer" type="button" th:data-id="${workflow.id}">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                                <button  class="btn btn-sm workflow-button workflow-update-button" th:if="${workflow.createBy.eppn == userEppn}" title="Modifier" th:data-id="${workflow.id}" type="button">
                                    <i class="fas fa-cog"></i>
                                </button>
                            </a>
                        </th:block>
                    </div>
                    <th:block th:if="${workflows != null && workflows.size() == 0}">
                        <a role="button" class="btn btn-material btn-light text-center me-2 overflow-hidden p-0 noWorkflow d-none"
                           style="width: 150px; height: 200px;">
                            <div class="crop">
                            </div>
                            <h6>Aucun circuit</h6>
                        </a>
                    </th:block>

                    <hr class="newHr d-none">

                    <h5 class="newToggled d-none">Formulaires</h5>

                    <div class="d-inline-block" id="newForm">
                        <th:block th:each="form : ${forms}">
                            <a role="button" class="btn btn-material btn-light text-center me-2 overflow-hidden p-0 formButton"
                               style="width: 150px; height: 200px;" data-bs-toggle="modal" th:data-bs-target="'#sendModal_' + ${form.id}"
                               th:title="'Formulaire : ' + ${form.title}">
                                <div class="crop">
                                    <i class="fas fa-file-alt fa-4x file-alt-color"></i>
    <!--                                <img th:src="'/user/datas/forms/' + ${form.id} + '/get-image/'" height="150px"/>-->
                                </div>
                                <h6 th:text="${form.title}"></h6>
                            </a>
                        </th:block>
                    </div>
                    <th:block th:if="${forms != null && forms.size() == 0}">
                        <a role="button" class="btn btn-material btn-light text-center me-2 overflow-hidden p-0 noForm d-none"
                           style="width: 150px; height: 200px;">
                            <div class="crop">
                            </div>
                            <h6>Aucun formulaire</h6>
                        </a>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
</html>