<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<!--/*@thymesVar id="SignRequestStatus" type="org.esupportail.esupsignature.entity.enums.SignRequestStatus"*/-->
<nav th:fragment="side-home" id="sidebar">
    <div class="ml-1 mt-3">
        <div class="hr">Filtrer</div>
        <button id="noFilterButton" title="Tout voir" type="button" class="mb-1 col-12 btn text-left btn-secondary">
            <i class="fas fa-eye"></i> <span class="sidebar-label">Tout voir</span>
        </button>
        <button id="globalFilterButton" title="Circuits" type="button" class="mb-1 col-12 btn btn-light text-left">
            <i class="fas fa-tools"></i> <span class="sidebar-label">Outils de signature</span>
        </button>
        <button id="workflowFilterButton" title="Circuits" type="button" class="mb-1 col-12 btn btn-light text-left">
            <i class="fas fa-project-diagram"></i> <span class="sidebar-label">Circuits</span>
        </button>
        <button id="formFilterButton" th:classappend="${activeMenu == 'datas'} ? 'bg-secondary'" title="Formulaires" class="btn btn-light col-12 mb-1 text-left">
            <i class="fas fa-file-alt"></i> <span class="sidebar-label">Formulaires</span>
        </button>
    </div>
</nav>
</html>