<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="SignRequestStatus" type="org.esupportail.esupsignature.entity.enums.SignRequestStatus"*/-->
<script type="module">
    import globalUi from "/js/main.js";
    globalUi.resetMode();
</script>
<nav th:fragment="side-dashboard" id="sidebar" class="scrollbar-lite">
    <div class="ml-1 mt-1">
        <a th:classappend="${status == statusFilter} ? 'btn-secondary' : 'btn-light'" class="btn col-3 col-md-12 mb-1 text-left" href="/user/signrequests">Tout voir</a>
        <div class="hr">En cours</div>
        <a th:classappend="${statusFilter == 'tosign'} ? 'btn-secondary' : 'btn-light'" class="btn col-3 col-md-12 mb-1 text-left" href="/user/signrequests/?statusFilter=tosign">A signer</a>
        <div class="hr">Mes demandes</div>
        <a th:classappend="${statusFilter == 'pending'} ? 'btn-secondary' : 'btn-light'" class="btn col-3 col-md-12 mb-1 text-left" href="/user/signrequests/?statusFilter=pending">Mes demandes envoyées</a>
        <a th:classappend="${statusFilter == 'completed'} ? 'btn-secondary' : 'btn-light'" class="btn col-3 col-md-12 mb-1 text-left" href="/user/signrequests/?statusFilter=completed">Mes demandes signées</a>
        <a th:classappend="${statusFilter == 'refused'} ? 'btn-secondary' : 'btn-light'" class="btn col-3 col-md-12 mb-1 text-left" href="/user/signrequests/?statusFilter=refused">Mes demandes refusées</a>
        <div class="hr">Historique</div>
        <a th:classappend="${statusFilter == 'signedByMe'} ? 'btn-secondary' : 'btn-light'" class="btn col-3 col-md-12 mb-1 text-left" href="/user/signrequests/?statusFilter=signedByMe">Demandes que j'ai signées</a>
        <a th:classappend="${statusFilter == 'refusedByMe'} ? 'btn-secondary' : 'btn-light'" class="btn col-3 col-md-12 mb-1 text-left" href="/user/signrequests/?statusFilter=refusedByMe">Demandes que j'ai refusées</a>
        <a th:classappend="${statusFilter == 'sharedSign'} ? 'btn-secondary' : 'btn-light'" class="btn col-3 col-md-12 mb-1 text-left" href="/user/signrequests/?statusFilter=sharedSign">Signées en délégation</a>
    </div>
</nav>
</html>