<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="side" id="sidebar">
    <div class="m-1">
        <button title="Accueil" type="button" onclick="location.href='/'" class="mb-1 col-12 btn btn-transparent text-left">
            <i class="fas fa-home"></i> <span class="sidebar-label">Accueil</span>
        </button>
        <a th:classappend="${activeMenu == 'new'} ? 'bg-secondary'" title="Nouveau" href="/user/new" class="btn btn-transparent col-12 mb-1 text-left">
            <i class="fas fa-file-medical"></i> <span class="sidebar-label">Nouveau</span>
        </a>
        <a th:classappend="${activeMenu == 'tosign'} ? 'bg-secondary'"  title="Documents à signer" href="/user/signrequests/to-sign" class="btn btn-transparent col-12 mb-1 text-left">
            <i class="fas fa-file-signature"></i> <span class="sidebar-label">A signer</span>
        </a>
        <a th:classappend="${activeMenu == 'datas'} ? 'bg-secondary'" title="Mes documents" href="/user/datas" class="btn btn-transparent col-12 mb-1 text-left">
            <i class="fas fa-file-alt"></i> <span class="sidebar-label">Mes documents</span>
        </a>
        <a th:classappend="${activeMenu == 'signrequests'} ? 'bg-secondary'" title="Recents" href="/user/signrequests" class="btn btn-transparent col-12 mb-1 text-left">
            <i class="fas fa-copy"></i> <span class="sidebar-label">Mes demandes</span>
        </a>
        <a th:classappend="${activeMenu == 'validation'} ? 'bg-secondary'" title="Valider la signature d'un document" href="/user/validation" class="btn btn-transparent col-12 mb-1 text-left">
            <i class="fas fa-shield-alt"></i> <span class="sidebar-label">Contrôler la signature d'un document</span>
        </a>
    </div>
</nav>
</html>