<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="signrequestparam">
    <div id="crossTools" class="badge pill bg-light cross-tools">
        <div id="defaultTools_0" class="">
            <input id="signColorPicker_0" value='#000000' class="d-none"/>
            <button type="button" id="watermark_0"
                    title="Filigrane"
                    class="btn btn-sm btn-light text-start"
                    style="z-index: 3;">
                <i class="fi fi-rr-background"></i> Filigrane
            </button>
            <button type="button" id="signImage_0"
                    title="Masquer l'image de votre signature"
                    class="btn btn-sm btn-light text-start"
                    style="z-index: 3;">
                <i class="fi fi-rr-eye-crossed"></i> Masquer l'image
            </button>
            <button type="button" id="signExtra_0"
                    title="Ajouter les informations complémentaires (nom, date et heure...)"
                    class="btn btn-sm btn-light text-start d-none"
                    style="z-index: 3;">
                <i class="fi fi-rr-receipt"></i> Textes complémentaires
            </button>
            <button type="button" id="signExtraOnTop_0"
                    title="Texte au dessus/texte sur la droite"
                    class="btn btn-sm btn-light text-start mb-1"
                    disabled
                    style="z-index: 3;">
                <i class="fi fi-rr-arrows-retweet"></i> <span>Au dessus</span>
            </button>
            <br>
            <button type="button" id="extraType_0"
                    title="Afficher/Masquer le type de signature"
                    class="btn btn-sm btn-light text-start"
                    style="z-index: 3;">
                Type de signature
            </button>
            <button type="button" id="extraName_0"
                    title="Afficher/Masquer le nom"
                    class="btn btn-sm btn-light text-start"
                    style="z-index: 3;">
                Prénom et nom
            </button>
            <button type="button" id="extraDate_0"
                    title="Afficher/Masquer la date"
                    class="btn btn-sm btn-light text-start"
                    style="z-index: 3;">
                Date de signature
            </button>
            <button type="button" id="extraText_0"
                    title="Ajouter/Masquer un texte libre"
                    class="btn btn-sm btn-light text-start"
                    style="z-index: 3;">
                Texte libre
            </button>
        </div>
    </div>
    <div id="cross_0" style="width:300px; height: 150px; border: 1px solid green; position: relative; z-index:2;pointer-events: auto;cursor: move;background-repeat: no-repeat; background-position: left bottom;">
        <div id="border_0" class="anim-border" style="width: 100%; height: 100%;">
        </div>
        <div id="canvas_0" class="text-center" style="position: absolute; width: 300px; height: 150px;bottom: 0">
            <i class="fa-solid fa-signature fa-8x mx-auto align-middle"></i>
        </div>
    </div>
</div>
</html>