<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<div id="sign-modal" th:fragment="sign-modal">
<div th:if="${signable && !(signRequests != null && signRequest.parentSignBook.liveWorkflow.currentStep != null && signRequest.parentSignBook.liveWorkflow.currentStep.repeatable != null && signRequest.parentSignBook.liveWorkflow.currentStep.repeatable)}" th:with="signType = ${currentSignType}" data-bs-focus="false" class="modal fade" id="signModal" role="dialog" aria-labelledby="signModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="signModalLabel">
                    <span th:if="${signRequests != null && signType == T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}">Confirmer le visa du document</span>
                    <span th:if="${signRequests != null && signType != T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}">Confirmer la signature du document</span>
                    <span th:if="${signRequests == null}">Confirmer la signature en masse des documents sélectionnés</span>
                </h3>
                <button type="button" class="btn-close" title="Fermer" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="visaFormConfirm" th:if="${signType == T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}">
                    <div class="alert alert-primary mb-1">
                        <p th:utext="'<p>Le visa vous permet de valider le document et de le passer à l’étape suivante.</p><p>L’opération sera enregistrée mais aucune trace n’apparaîtra sur le document.</p>'"></p>
                    </div>
                </div>
                <div id="signFormConfirm" th:if="${signRequests!= null && signType != T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}">
                    <div class="alert alert-primary mb-1">
                        <span th:utext="'Niveau de signature minimum pour signer ce document : <b>' + #{'signlevel.' + ${currentStepMinSignLevel}} + '</b>'"></span>
                    </div>
                </div>
                <div id="noSeal" th:if="${!sealCertOK}" class="alert alert-warning mb-1" style="display: none;">
                    La signature par certificat cachet d’établissement est temporairement indisponible pour des raisons de maintenance. Si possible, vous pouvez utiliser un autre type de signature sinon merci de refaire un essai ultérieurement.
                </div>
                <div id="selectTypeDiv" class="alert alert-secondary mb-1" th:if="${signType != T(org.esupportail.esupsignature.entity.enums.SignType).visa && signType != T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa && signWiths.size() > 0}">
                    <label for="certType">Si besoin, merci de sélectionner le type de signature que vous souhaitez utiliser parmi ceux disponibles</label>
                    <div class="input-group mt-2 mb-2">
                        <select id="certType" name="certType" class="form-control form-select border-light-subtle" required>
                            <th:block th:each="signWith : ${signWiths}">
                                <th:block th:if="${signWith.name != 'sealCert'}">
                                    <option th:value="${signWith}" th:text="#{'signwith.' + ${signWith}}"></option>
                                </th:block>
                                <th:block th:if="${signWith.name == 'sealCert'}">
                                    <option th:if="${sealCertOK}" th:value="${signWith}" th:text="#{'signwith.' + ${signWith}}"></option>
                                    <option th:unless="${sealCertOK}" value="" th:text="#{'signwith.' + ${signWith}}" disabled></option>
                                </th:block>
                            </th:block>
                        </select>
                        <button id="refresh-certType" type="button" class="btn btn-primary border-light-subtle" title="Actualiser la liste des types de signature"><i class="fa-solid fa-arrows-rotate"></i></button>
                    </div>
                    <input type="text" autocomplete="username" name="username" class="d-none">
                    <input class="form-control mt-2 mb-1" autocomplete="new-password" type="password" id="password" name="password" value="" placeholder="Saisir le passe de votre magasin de certificats" />
                    <div id="sealChoose">
                        <label for="certType">Merci de sélectionner le certificat à utiliser</label>
                        <div class="input-group mt-2">
                            <select id="sealCertificat" name="sealCertificat" class="form-control form-select border-light-subtle">
                                <th:block th:each="sealCertificatProperties : ${sealCertificatPropertieses}">
                                    <option th:value="${sealCertificatProperties.sealCertificatName}" th:text="${sealCertificatProperties.sealCertificatTitle}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div id="nexuCheck" class="d-none">
                        <div id="nexu_version_alert" class="alert alert-warning mt-1 mb-1 col-12 text-center" style="display: none;">
                            L'application Esup-DSS-Client n’a pas la bonne version
                            <br>
                            <button onclick="location.reload();" class="mt-2 mx-auto btn btn-warning">
                                <i class="fa-solid fa-sync-alt fa-2xl"></i><br> Cliquez ici après le lancement de Esup-DSS-Client
                            </button>
                        </div>
                        <div id="no-options" class="alert alert-warning mt-1 mb-1 col-12" style="display: none;">
                            <p class="mx-auto">Votre environnement ne remplit pas les conditions nécessaires pour signer cette demande.</p>
                            <p>Si une signature avancée ou qualifiée est requise, merci d’installer et de démarrer <strong>Esup-DSS-Client</strong> pour utiliser votre certificat :</p>
                            <p>
                                <a href="https://github.com/EsupPortail/esup-dss-client/releases/latest" target="_blank">
                                    > Télécharger la dernière version d'Esup-DSS-Client
                                </a>
                            </p>
                            <p>Choisissez le fichier adapté à votre système : <em>esup-dss-client-win64.zip</em> (Windows), <em>esup-dss-client.pkg</em> (macOS) ou <em>esup-dss-client-installer.jar</em> (Linux).</p>
                            <p>En cas de difficulté, merci de contacter la personne ou le service émetteur de cette demande.</p>
                        </div>
                        <div id="nexu_ready_alert" class="alert alert-success mt-1 mb-1 col-12 text-center" style="display: none;">
                            L’application Esup-DSS-Client est fonctionnelle
                            <br/>
                            <small>Après validation, vous allez être redirigé vers le système signature eIDas</small>
                        </div>
                        <div id="nexu_missing_alert" class="alert alert-warning mt-1" style="display: none;">
                            <p>L’application Esup-DSS-Client n’a pas été détectée</p>
                            <p  class="text-left">Si vous devez signer à l’aide d’un certificat présent sur votre poste ou sur clé USB, merci de lancer l’application Esup-DSS-Client sur votre poste puis de cliquer sur le bouton "Actualiser".<br/>
                                Pour plus d’informations sur l’utilisation de Esup-DSS-Client merci de consulter la documentation à cette adresse :
                                <a target="_blank" href="https://www.esup-portail.org/wiki/display/SIGN/Esup-DSS-Client">https://www.esup-portail.org/wiki/display/SIGN/Esup-DSS-Client</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div id="alert-sign-present" class="alert alert-danger mb-1" th:if="${signRequest != null && !(signRequest.parentSignBook.liveWorkflow.currentStep.signType == T(org.esupportail.esupsignature.entity.enums.SignType).signature) && signatureIds.size() > 0}">
                    Attention ce document comporte <span th:text="${signatureIds.size()}"></span> signature(s) électronique(s). Le fait d’apposer une signature calligraphique ou un visa visuel aura pour effet de détruire les précédentes signatures
                </div>
                <div id="warningSelectDiv" class="alert alert-danger" th:if="${signType != T(org.esupportail.esupsignature.entity.enums.SignType).visa && signType != T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa && signWiths.size() == 0}">
                    En raison de la configuration des prochaines étapes, aucun mode de signature n'est disponible pour garantir l'intégrité du document ou de la signature. Merci de contacter le gestionnaire du circuit si besoin.
                </div>
                <div id="signCommentDiv" class="mb-1">
                    <label for="signComment">Commentaire (facultatif)</label>
                    <textarea id="signComment" placeholder="Votre commentaire sera visible de tous les participants."  onfocus="this.placeholder = ''" class="form-control" name="comment"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <div th:if="${signType == T(org.esupportail.esupsignature.entity.enums.SignType).visa || signType == T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa || signWiths.size() > 0}">
                    <button id="checkValidateSignButtonEnd"
                            class="btn btn-success me-1" title="Signer/Viser" th:value="${signRequest != null ? signRequest.id : ''}" autofocus>
                        <span th:unless="${signType == T(org.esupportail.esupsignature.entity.enums.SignType).visa || signType == T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}">Signer</span>
                        <span th:if="${signType == T(org.esupportail.esupsignature.entity.enums.SignType).visa || signType == T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}">Viser</span>
                    </button>
                    <button id="checkValidateSignButtonNext" th:if="${nextSignRequest != null}"
                            th:data-es-next-url="'/user/signrequests/' + ${nextSignRequest.id}"
                            class="btn btn-success" title="Signer/viser et aller à la suivante" th:value="${signRequest != null ? signRequest.id : ''}" autofocus>
                        <span th:unless="${signType == T(org.esupportail.esupsignature.entity.enums.SignType).visa || signType == T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}">Signer et aller à la suivante </span>
                        <span th:if="${signType == T(org.esupportail.esupsignature.entity.enums.SignType).visa || signType == T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}">Viser et aller à la suivante </span>
                        <i class="fa-solid fa-arrow-alt-circle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</html>