<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sign-modal(signable, currentSignType, signRequest, signRequests, signWiths, sealCertOK, sealCertificatPropertieses, currentStepMinSignLevel, signatureIds, stepRepeatable, signBook, currentStepRepeatableSignType, signTypes, liveWorkflowStepCount, currentStepNumber, steps, nextSignRequestId, urlProfil)"
     th:if="${signable}"
     th:with="signType = ${currentSignType}"
     id="signModal" data-bs-focus="false" class="modal fade es-signrequest-sidepanel" role="dialog" aria-labelledby="signModalLabel" aria-hidden="true"
     th:attr="data-es-step-repeatable=${stepRepeatable}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="signModalLabel">
                    <span th:if="${signRequest != null && signType == T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}"><i class="fi fi-rr-registration-paper"></i> Valider le document</span>
                    <span th:if="${signRequest != null && signType != T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}"><i class="fi fi-rr-signature-lock"></i> Valider la signature</span>
                    <span th:if="${signRequest == null}"><i class="fi fi-rr-signature-lock"></i> Confirmer la signature en masse des documents sélectionnés</span>
                </h4>
                <button type="button" class="btn-close" title="Fermer" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="visaFormConfirm" th:if="${signType == T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}">
                    <div class="alert alert-primary mb-1">
                        <p th:utext="'<p>La validation vous permet d’approuver le document et de le passer à l’étape suivante.</p><p>L’opération sera enregistrée mais aucune trace n’apparaîtra sur le document.</p>'"></p>
                    </div>
                </div>
                <div id="signFormConfirm" th:if="${(signRequest != null || signRequests != null) && signType != T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}">
                    <div class="alert alert-light mb-1">
                        <span th:utext="'Niveau de signature minimum pour signer ce document : <b>' + #{'signlevel.' + ${currentStepMinSignLevel}} + '</b>'"></span>

                    </div>
                </div>
                <div id="alert-sign-present" class="alert alert-danger mb-1" th:if="${signRequest != null && currentSignType != T(org.esupportail.esupsignature.entity.enums.SignType).signature && signatureIds.size() > 0}">
                    Attention ce document comporte <span th:text="${signatureIds.size()}"></span> signature(s) électronique(s). Le fait d’apposer une signature calligraphique ou un visa visuel aura pour effet de détruire les précédentes signatures
                </div>
                <div id="no-options" class="alert alert-danger mb-1" style="display: none;">
                    Aucun mode de signature n'est actuellement disponible.
                </div>
                <div id="warningSelectDiv" class="alert alert-danger warning-select-signwith-unavailable" th:if="${signType != T(org.esupportail.esupsignature.entity.enums.SignType).visa && signType != T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}" style="display: none;">
                    En raison de la configuration des prochaines étapes, aucun mode de signature n'est disponible pour garantir l'intégrité du document ou de la signature. Merci de contacter le gestionnaire du circuit si besoin.
                </div>
                <div id="no-options-alert" class="alert alert-warning mb-1" style="display: none;">
                    Sélectionnez un autre type de signature ou contactez le gestionnaire du circuit si le problème persiste.
                </div>
                <div id="noSeal" th:if="${!sealCertOK}" class="alert alert-secondary mb-1" style="display: none;">
                    La signature par certificat cachet d’établissement est temporairement indisponible pour des raisons de maintenance. Si possible, utiliser un autre type de signature sinon merci de refaire un essai ultérieurement.
                </div>
                <div id="selectTypeDiv" class="mt-3 mb-3" th:if="${signType != T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}">
                    <label class="form-label" for="certType">Type de signature</label>
                    <div class="d-flex align-items-start gap-2">
                        <select id="certType" name="certType" class="form-select" required title="Choix du type de signature">
                            <option value="" disabled selected hidden>Choix du type de signature</option>
                            <th:block th:each="signWith : ${signWiths}">
                                <th:block th:if="${signWith.name != 'sealCert'}">
                                    <option th:value="${signWith}" th:text="#{'signwith.' + ${signWith}}" th:unavailable="${signWith.name == 'nexuCert'} ? 'unavailable'"></option>
                                </th:block>
                                <th:block th:if="${signWith.name == 'sealCert'}">
                                    <option th:if="${sealCertOK}" th:value="${signWith}" th:text="#{'signwith.' + ${signWith}}"></option>
                                    <option th:unless="${sealCertOK}" value="" th:text="#{'signwith.' + ${signWith}}" disabled></option>
                                </th:block>
                            </th:block>
                        </select>
                        <button id="refresh-certType" type="button" class="btn btn-outline-secondary" title="Actualiser la liste des types de signature">
                            <i class="fi fi-rr-refresh"></i>
                        </button>
                    </div>
                </div>
                <div id="sealChoose" class="mb-3 d-none" th:if="${sealCertificatPropertieses != null && !sealCertificatPropertieses.isEmpty()}">
                    <label class="form-label" for="sealCertificat">Certificat cachet à utiliser</label>
                    <select id="sealCertificat" name="sealCertificat" class="form-select">
                        <option th:each="sealCertificatProperties : ${sealCertificatPropertieses}"
                                th:value="${sealCertificatProperties.sealCertificatName}"
                                th:text="${sealCertificatProperties.sealCertificatTitle != null && !#strings.isEmpty(sealCertificatProperties.sealCertificatTitle) ? sealCertificatProperties.sealCertificatTitle : sealCertificatProperties.sealCertificatName}"></option>
                    </select>
                </div>
                <div id="signCommentDiv" class="mt-3" th:if="${signRequest != null}">
                    <label class="form-label" for="signComment">Commentaire</label>
                    <textarea id="signComment" name="comment" class="form-control" rows="3" placeholder="Ajouter un commentaire facultatif"></textarea>
                </div>
                <div id="signGotoNextContainer" class="form-group my-3" th:if="${signRequest != null && nextSignRequestId != null}">
                    <div class="form-check form-switch form-switch-md">
                        <label class="form-check-label" for="signGotoNext">Après signature, ouvrir la demande suivante</label>
                        <input type="checkbox" class="form-check-input" id="signGotoNext"
                               th:data-es-next-url="'/' + ${urlProfil} + '/signrequests/' + ${nextSignRequestId}"/>
                    </div>
                </div>
                <hr>
                <div th:if="${signRequest != null && stepRepeatable != null && stepRepeatable}">
                    <h5 class="" id="stepRepeatableModalLabel" th:if="${stepRepeatable != null && stepRepeatable}">Ajout d'une étape ?</h5>
                    <p>
                        Vous avez la possibilité de demander la signature d’une personne supplémentaire avant l'étape suivante. Pour cela, cliquez sur le bouton "Ajouter une étape" ci-dessous.
                    </p>
                    <button id="enableInfinite" class="mb-2 w-100 btn btn-success" title="Signer" th:value="${signBook.id}">
                        <i class="fi fi-rr-angle-small-down"></i> Ajouter une étape <i class="fi fi-rr-angle-small-down"></i>
                    </button>
                    <form id="infiniteForm" class="d-none">
                        <input type="submit" id="infiniteFormSubmit" class="d-none">
                        <label class="form-label" for="recipientsEmails">Choisir les participants *</label>
                        <div class="form-group mb-3">
                            <select class="auto-select-users" data-es-check-cert="true" name="recipientsEmails" id="recipientsEmails" multiple="multiple" required="required">
                                <option data-placeholder="true"></option>
                            </select>
                            <div id="tempUsers-recipientsEmails"></div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="form-check form-switch form-switch-md">
                                <label  class="form-check-label" for="allSignToComplete">Tous les participants doivent signer pour valider l'étape</label>
                                <input type="checkbox" class="form-check-input" name="allSignToComplete" id="allSignToComplete"/>
                            </div>
                        </div>
                        <div class="form-group mb-3" id="multi-sign">
                            <div class="form-check form-switch form-switch-md">
                                <label  class="form-check-label" for="multiSign">L'utilisateur peut apposer plusieurs signatures ?</label>
                                <input type="checkbox" class="form-check-input" name="multiSign" id="multiSign"/>
                            </div>
                        </div>
                        <div class="form-group mb-3" th:if="${currentStepRepeatableSignType == null}">
                            <button data-bs-target="#collapseHelpSignType" data-bs-toggle="collapse" title="Aide sur les types de signature"
                                    type="button" class="btn btn-sm btn-transparent">
                                <span class="fi fi-rr-info text-info"></span>
                            </button>
                            <div class="collapse" id="collapseHelpSignType">
                                <div class="alert alert-info">
                                    <small>
                                        <ul>
                                            <li><b>Signature :</b> La signature modifie le document en ajoutant une image et/ou en verrouillant le document, en fonction du niveau choisi.</li>
                                            <li><b>Visa :</b> Le visa est une version simplifiée de la signature simple, l’utilisateur ne peut pas modifier le visuel de son visa. Le visa ne permet pas la signature avancée, mais il est possible de vérrouiller le document via le certificat cachet si votre plateforme en possède un.</li>
                                            <li><b>Vérification :</b> La vérification permet juste de valider un document sans l’altérer</li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <b>Signature simple :</b> adaptée aux documents internes ou aux échanges ne présentant pas de risque particulier, lorsqu’il n’existe pas d’obligation légale imposant un niveau supérieur. (apposition d’une image + traces)
                                            </li>
                                            <li>
                                                <b>Signature avancée :</b> recommandée pour les documents nécessitant de pouvoir identifier le signataire et disposer d’un élément de preuve supplémentaire, par exemple pour des contrats ou des engagements comportant un risque juridique modéré. (nécessite un certificat électronique)
                                            </li>
                                            <li>
                                                <b>Signature qualifiée :</b> à privilégier pour les actes à portée européenne ou pour les situations à fort enjeu (importance juridique ou financière), car elle bénéficie d’une reconnaissance mutuelle dans l’Union européenne et d’une présomption de fiabilité équivalente à une signature manuscrite. (nécessite un certificat eIDas)
                                            </li>
                                        </ul>
                                    </small>
                                </div>
                            </div>
                            <label for="repeatableSignType">Choisir un type de signature *</label>
                            <select name="signType" id="repeatableSignType" class="form-select">
                                <th:block th:each="signType : ${signTypes}">
                                    <option th:value="${signType}"
                                            th:text="#{'signbook.signtype.' + ${signType}}"></option>
                                </th:block>
                            </select>
                        </div>
                        <input th:if="${currentStepRepeatableSignType != null}" type="hidden" id="signTypeHidden" name="signType" th:value="${currentStepRepeatableSignType}">
                        <button type="button" id="launch-infinite-sign-button" class="mb-1 col-12 btn btn-success" title="Signer" th:value="${signBook.id}">
                        <span th:if="${currentSignType != T(org.esupportail.esupsignature.entity.enums.SignType).visa && currentSignType != T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}">
                            <i class="fi fi-rr-attribution-pencil"></i> Confirmer la signature et l’ajout de l’étape
                        </span>
                            <span th:if="${currentSignType == T(org.esupportail.esupsignature.entity.enums.SignType).visa}">
                            <i class="fi fi-rr-check"></i> Confirmer le visa et l’ajout de l’étape
                        </span>
                            <span th:if="${currentSignType == T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}">
                            <i class="fi fi-rr-check"></i> Confirmer la validation et l’ajout de l’étape
                        </span>
                        </button>
                    </form>
                    <hr>
                    <p id="signCommentNoInfinite">
                        Sans ajout d'étape supplémentaire,
                        <span th:if="${liveWorkflowStepCount == currentStepNumber}">
                            vous resterez le dernier destinataire de ce document et le circuit se terminera
                        </span>
                        <span th:unless="${liveWorkflowStepCount == currentStepNumber}">
                            le document partir pour l’étape suivante 
                            <span th:if="${steps.size() >= (currentStepNumber + 1) && steps[currentStepNumber].description != null}"
                                  th:text="${steps[currentStepNumber].description}">
                            </span>
                            <span th:unless="${steps.size() >= (currentStepNumber + 1) && steps[currentStepNumber].description != null}"
                                  th:text="${currentStepNumber + 1}">
                            </span>
                            .
                        </span>
                    </p>
                    <button id="launchNoInfiniteSignButton" class="mt-1 col-12 btn btn-success" title="Signer"
                            th:value="${signBook.id}">
                        <span th:if="${currentSignType != T(org.esupportail.esupsignature.entity.enums.SignType).visa && currentSignType != T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}">
                            <i class="fi fi-rr-attribution-pencil"></i> Signer le document sans ajout d’étape
                        </span>
                        <span th:if="${currentSignType == T(org.esupportail.esupsignature.entity.enums.SignType).visa}">
                            <i class="fi fi-rr-check"></i> Viser le document sans ajout d’étape
                        </span>
                        <span th:if="${currentSignType == T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}">
                            <i class="fi fi-rr-check"></i> Valider le document sans ajout d’étape
                        </span>
                    </button>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <div th:if="${signRequest != null}" th:unless="${stepRepeatable != null && stepRepeatable}">
                    <button id="checkValidateAdvancedSignButton"
                            class="btn btn-success" th:value="${signRequest.id}" autofocus>
                        <span th:unless="${signType == T(org.esupportail.esupsignature.entity.enums.SignType).visa || signType == T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}">Confirmer la signature</span>
                        <span th:if="${signType == T(org.esupportail.esupsignature.entity.enums.SignType).visa}">Confirmer le visa</span>
                        <span th:if="${signType == T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}">Confirmer la validation</span>
                    </button>
                </div>
                <div th:if="${signRequest == null && (signType == T(org.esupportail.esupsignature.entity.enums.SignType).visa || signType == T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa || signWiths.size() > 0)}">
                <button id="checkValidateSignButtonEnd"
                            class="btn btn-success me-1" th:value="${signRequest != null ? signRequest.id : ''}" autofocus>
                        <span th:unless="${signType == T(org.esupportail.esupsignature.entity.enums.SignType).visa || signType == T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}">Signer</span>
                        <span th:if="${signType == T(org.esupportail.esupsignature.entity.enums.SignType).visa}">Viser</span>
                        <span th:if="${signType == T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}">Valider</span>
                    </button>
                    <button id="checkValidateSignButtonNext" th:if="${nextSignRequestId != null}"
                            th:data-es-next-url="'/' + ${urlProfil} + '/signrequests/' + ${nextSignRequestId}"
                            class="btn btn-success" th:value="${signRequest != null ? signRequest.id : ''}" autofocus>
                        <span th:unless="${signType == T(org.esupportail.esupsignature.entity.enums.SignType).visa || signType == T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}">Signer et aller à la suivante </span>
                        <span th:if="${signType == T(org.esupportail.esupsignature.entity.enums.SignType).visa}">Viser et aller à la suivante </span>
                        <span th:if="${signType == T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}">Valider et aller à la suivante </span>
                        <i class="fi fi-ss-arrow-circle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>