<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="SignRequestStatus" type="org.esupportail.esupsignature.entity.enums.SignRequestStatus"*/-->
<nav th:fragment="home-side" id="sidebar">
    <div class="ml-1 mt-3">
        <a class="btn btn-light col-12 mb-1 text-left" href="/user/users/?form" title="Paramètres de signature">
            <i class="fas fa-user-cog"></i> <span class="sidebar-label">Paramètres de signature</span>
        </a>
        <a class="btn btn-light col-12 mb-1 text-left" href="/user/users/shares" title="Délégations">
            <i class="fas fa-share-alt"></i> <span class="sidebar-label">Délégations</span>
        </a>
        <a class="btn btn-light col-12 mb-1 text-left" href="/user/users/properties" title="Favoris">
            <i class="fas fa-bookmark"></i> <span class="sidebar-label">Favoris</span>
        </a>
    </div>
</nav>
</html>