<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="workflow" type="org.esupportail.esupsignature.entity.Workflow"*/-->
<head th:replace="~{fragments/head :: head}"></head>
<body>
<script th:inline="javascript" type="module">
    import {WorkflowUi} from '/js/modules/ui/workflows/WorkflowUi.js?version=[[${versionApp}]]';
    new WorkflowUi();
</script>
<header th:replace="~{fragments/nav :: nav}"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="~{fragments/sides/side :: side}"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb col-12">
                <li class="breadcrumb-item active"><a href="/">Accueil</a></li>
                <li aria-current="page" class="breadcrumb-item active">Circuit : <span th:text="${workflow.description}"></span>
                </li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div id="addButton" class="fixed-action-btns"  onmouseover="$('#addButton').toggleClass('active');" onmouseout="$('#addButton').toggleClass('active');">
                <ul id="collapseExample" class="list-unstyled">
                    <li>
                        <a th:if="${workflow.documentsSourceUri != null}" title="Scanner la source" type="button" th:href="'/user/workflows/get-files-from-source/' + ${workflow.id}" class="btn-lg btn-floating bg-success waves-effect">
                            <i class="fa-solid fa-binoculars"></i>
                        </a>
                    </li>
                    <li>
                        <a id="saveButton" onclick="$('#params').submit();" class="btn-floating btn-lg bg-success waves-effect" title="Enregistrer">
                            <i class="fa-solid fa-save fa-2xl"></i>
                        </a>
                    </li>
                    <li>
                        <a role="button" title="Ajouter une étape" class="btn-lg btn-floating bg-dark waves-effect" data-bs-toggle="modal" data-bs-target="#addStep">
                            <i class="fa-solid fa-shoe-prints fa-2xl"></i>
                        </a>
                    </li>
                    <li>
                        <form id="delete" th:action="'/user/workflows/' + ${workflow.id}" th:method="delete">
                            <a id="delete-button" role="button" title="Supprimer" class="btn-lg btn-floating bg-danger waves-effect">
                                <i class="fa-solid fa-trash-alt fa-2xl"></i>
                            </a>
                        </form>
                    </li>
                </ul>
            </div>

            <div class="card col-lg-10 mx-auto mb-1">
                <div class="card-body">
                    <h5 class="text-center"><b>Paramètres généraux</b></h5>
                    <form id="params" th:action="'/user/workflows/' + ${workflow.id}" th:method="'put'">
                        <div class="form-group">
                            <label for="name">Nom du circuit</label>
                            <input type="text" class="form-control" name="name" id="name" th:value="${workflow.description}"/>
                        </div>
                        <div class="form-group">
                            <label for="viewersSelect">Observateurs</label>
                            <select id="viewersSelect" class="select-users" multiple="multiple" name="viewers">
                                <option data-placeholder="true"></option>
                                <th:block th:each="viewer : ${workflow.viewers}">
                                    <option selected="selected" th:value="${viewer.email}" th:text="${viewer.firstname} + ' ' + ${viewer.name} + ' (' + ${viewer.email} + ')'"></option>
                                </th:block>
                            </select>
                        </div>
                        <button title="Enregistrer" type="submit" class="btn btn-success mt-2 float-end"><i class="fa-solid fa-save"></i></button>
                    </form>
                </div>
            </div>
            <div class="card col-lg-10 mx-auto">
                <div class="card-body">
                    <dl class="row border-bottom m-0">
                        <dt class="col-lg-5">Circuit de signatures</dt>
                        <dd>
                            <div th:if="${workflow.workflowSteps.size() > 0}" th:replace="~{admin/workflows/cards/stepscard :: stepscard}"></div>
                            <div th:unless="${workflow.workflowSteps.size() > 0}" class="alert alert-secondary">
                                Vous pouvez ajouter des étapes
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
            <div data-bs-focus="false" class="modal fade" id="addStep"  role="dialog" aria-labelledby="addStepLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <form th:action="'/user/workflows/add-step/' + ${workflow.id}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addStepLabel">Ajouter une étape</h5>
                            </div>
                            <div class="modal-body">
                                <div class="form-group mb-3">
                                    <label>Description de l’étape:</label>
                                    <input name="description" type="text" class="form-control" />
                                </div>
                                <div class="form-group mb-3">
                                    <label>
                                        <strong>L'utilisateur peut modifier les participants</strong>
                                        <button data-bs-target="#collapseHelpChangeable" data-bs-toggle="collapse" type="button" class="btn btn-sm btn-transparent">
                                            <span class="fa-solid fa-info-circle text-info"></span>
                                        </button>
                                        <div class="collapse" id="collapseChangeable">
                                            <div class="alert alert-info">
                                                <small>
                                                    L'utilisateur pourra changer les noms des participants au moment de valider sa demande de signature
                                                </small>
                                            </div>
                                        </div>
                                    </label>
                                    <label class="switch">
                                        <input type="checkbox" class="form-check-input" name="changeable"/>
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <div class="form-group mb-3">
                                    <select class="select-users" name="recipientsEmails" id="stepRecipientsEmails" multiple="multiple"></select>
                                </div>
                                <div class="form-group mb-3" id="allSignToComplete-wf">
                                    <label for="allSignToComplete">
                                        <strong> Tous les participants doivent-ils signer ? </strong>
                                        <button data-bs-target="#collapseHelpAllSign" data-bs-toggle="collapse" type="button" class="btn btn-sm btn-transparent">
                                            <span class="fa-solid fa-info-circle text-info"></span>
                                        </button>
                                        <div class="collapse" id="collapseHelpAllSign">
                                            <div class="alert alert-info">
                                                <small>
                                                    <ul>
                                                        <li>
                                                            Oui : Tous les participants doivent signer pour que la demande passe au status "Signé"
                                                        </li>
                                                        <li>
                                                            Non : Une seule signature suffit
                                                        </li>
                                                    </ul>
                                                </small>
                                            </div>
                                        </div>
                                    </label>
                                    <label class="switch">
                                        <input type="checkbox" class="form-check-input" name="allSignToComplete" id="allSignToComplete"/>
                                        <span class="slider round"></span>
                                    </label>
                                </div>

                                <div class="form-group mb-3" id="_signType_div_id">
                                    <label for="signType_id"> <strong> Type de signature
                                        par défaut
                                        <button data-bs-target="#collapseHelpSignType"
                                                data-bs-toggle="collapse" type="button"
                                                class="btn btn-sm btn-transparent">
                                            <i class="fa-solid fa-info-circle text-info"></i>
                                        </button>
                                    </strong>
                                        <div class="collapse" id="collapseHelpSignType">
                                            <div class="alert alert-info">
                                                <ul>
                                                    <li>PAdES/XAdES : s'appuie sur le certificat P12
                                                        uploader au niveau de vos paramètres
                                                    </li>
                                                    <li>Apposition de la signature : ajoute simplement
                                                        l'image de votre signature sur un PDF à l'endroit voulu
                                                    </li>
                                                    <li>PAdES/XAdES eIDas: s'appuie l'application Esup-DSS-Client
                                                        qui permet l'utilisation d'un certificat matériel
                                                    </li>
                                                    <li>Confirmation de lecture : permet de valider la
                                                        lecture d'un document
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </label>
                                    <div class="col-lg-10">
                                        <select class="slim-select-simple" id="signType_id" name="signType" size="1">
                                            <th:block th:each="signType : ${signTypes}">
                                                <option th:value="${signType}" th:text="#{'signbook.signtype.' + ${signType}}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <button type="submit" class="btn btn-success">Ajouter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>