.lotl-card {
    padding: 0;
}

.lotl-card .card-header {
    padding: .75rem 1.25rem;
}

/* Certificate validation */

.certificate-form {
    position: relative;
}

#certificate-switcher {
    position: absolute;
    right: 0;
    z-index: 1;
}

.certificate-form-switcher {
    position: absolute;
    width: 100%;
}
/* End Certificate validation */

/* TL-Loading */
.summary-table tbody:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}
.tl-info-body .collapse:not(.show) {
    display: block;
    height: 0;
    overflow: hidden;
}
.tl-info-preview {
    background-color: white;
}
.tl-info-preview::after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f077";
    opacity: 0.3;
    right: -25px;
    margin-top: 4px;
    height: 100%;
}
.tl-info-preview.collapsed::after {
    content: "\f078";
}
.tl-info-preview:hover::after {
    opacity: 0.6;
}
.sha2-star {
    margin-left: 0.2em;
}
.tl-info-country {
    display: table-row;
    text-align: center;
    vertical-align: middle;
}
.tl-info-country > * {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.tl-info-country > .tl-info-country-name-td {
    width: 100%;
    margin-left: 4px;
}
.tl-card-country-name {
    color: #fff;
    font-size: 18px;
    margin-left: 10px;
}
/* End TL-Loading */
