@font-face {
    font-family: 'FontAwesome';
    src: url('/webjars/font-awesome/6.2.0/webfonts/fa-solid-900.woff2') format('woff2'),
    url('/webjars/font-awesome/6.2.0/webfonts/fa-solid-900.ttf') format('truetype');
}

@font-face {
    font-family: 'LiberationSans-Regular';
    src: url('/fonts/LiberationSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend-Medium.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend-Medium.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend-Regular.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend-Light.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'Signature';
    src: url('/fonts/Signature.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Signature';
    src: url('/fonts/Signature.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Signature';
    src: url('/fonts/Signature.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Signature';
    src: url('/fonts/Signature/otf') format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: 'Signature';
    src: url('/fonts/Signature.otf') format('opentype');
    font-weight: 100;
}