html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px;
    width: 100%;
}

header {
    z-index: 1029 !important;
}

#navbar {
    height: 50px;
    padding: 0;
    padding-right: 5px;
}

.navbar-brand {
    width: 250px;
}

.navbar-nav {
    margin-right: 5px;
}

#logo {
    position: relative;
    margin-left: 60px;
    height: 40px;
}

#user-infos {
    z-index: 10;
    right: 0;
    margin-top:-3px;
    margin-right: 5px;
}

#infos {
    position: absolute;
    right: 0;
    max-width: 400px;
    margin-top: 95px;
}

.wrapper {
    display: block;
}

.content {
    /*width: calc(100vw - 275px);*/
    margin-top: 86px;
    margin-left: 260px;
    padding-left: 6px;
    padding-right: 4px;
}

.content-full {
    /*width: calc(100vw - 75px);*/
    margin-left: 60px;
}

.th-fixed{
    z-index: 1 !important;
}

.table {
    margin-bottom: revert !important;
}

.table-fix-head {
    overflow-y: auto;
    height: calc(100vh - 150px);
}

.table-fix-head thead th {
    z-index: 1;
    vertical-align: middle;
    position: sticky;
    top: 0;
}

.new-width {
    width: calc(100vw - 270px);
}

.new-width-full {
    width: calc(100vw - 70px);
}


.new-min-h {
    min-height: 70vh;
}

.new-max-w {
    width: calc(100vw - 280px);
}

.new-height {
    height: calc(100vh - 120px) !important;
    overflow: auto;
}

.workspace {
    margin-top: 128px;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.workspace-pdf {
    margin-top: 128px;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.workspace-sign {
    margin-top: 170px;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.workspace-margin-top {
    margin-top: 128px;
}

.workspace-margin-top-admin {
    margin-top: 175px;
}

#actionDiv {
    position: relative;
    width: 100%;
    height: 600px;
}

.footer {
    width: 100%;
    height: 38px;
    line-height: 38px;
}

.cross-tools {
    border: 1px solid #ccc;
    left: 0px;
    top: -45px;
    z-index: 10;
    user-select: none;
    -moz-user-select: none;
    -khtms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.extra-tools {
    right: -186px;
    top: -1px;
    position: absolute;
}

.workflow-btn {
    height: 170px;
    z-index: 10;
}

.workflow-btn-perso {
    height: 150px;
}

.div-scrollable {
    overflow-y: auto;
    height: calc(100vh - 426px);
}

.page {
    position: relative;
}

#sidebar {
    top: 50px;
    padding-right: 5px;
    padding-bottom: 12px;
    position: fixed;
    z-index: 1030;
    min-width: 260px;
    max-width: 260px;
    height: calc(100vh - 80px);
    overflow-y: auto;
}

#sidebar.active {
    min-width: 60px;
    max-width: 60px;
}

.sidebar-mobile {
    display: block !important;
    width: 260px !important;
    max-width: 260px !important;
    position: absolute !important;
    top: 100px !important;
    height: calc(100vh - 138px) !important;
    z-index: 1 !important;
}

.tools {
    top: 81px;
    padding-top: 5px;
    background-color: white;
    width: 100%;
    z-index: 1028;
    position: fixed;
    padding-left: 10px;
}

.tools-admin {
    top: 128px;
}

.second-tools {
    top: 48px;
    z-index: 1;
}

#ws-tabs {
    width: fit-content !important;
    flex-wrap: nowrap !important;
}

.nav-tab-admin {
    position: fixed;
    top: 86px;
    z-index: 1000;
    width: 100%;
}

.breadcrumb {
    padding: 0 !important;
    padding-top: 2px !important;
    padding-left: 15px !important;
}

.breadcrumb-nav {
    top:50px;
    padding: 5px;
    position: fixed;
    margin-left: 260px;
    width: calc(100vw - 269px);
    z-index: 1028;
}

.breadcrumb-nav-full {
    padding: 5px;
    margin-left: 60px;
    width: calc(100vw - 75px);
}

.breadcrumb {
    margin: 0 !important;
}

.sign-space {
    cursor: pointer !important;
    position: absolute;
    z-index: 2 !important;
}

.sign-menu {
    max-width: 150px;
    position: fixed;
}

#sign-crop {
    position: relative;
}

.crop {
    overflow: hidden;
    margin: 0;
    padding-bottom: 10px;
}

#signPad {
    display:block;
    position: relative;
    width: 600px;
    height: 300px;
    justify-content: center;
    margin: auto auto 50px;
}

.not-viewed-position {
    position: fixed;
    bottom: 100px;
    left: 300px;
}