@media (min-width: 1900px) {
    .d-xxxxl-table-cell {
        display: table-cell !important;
    }

    .d-xxxxl-block { display: block !important; }

    .d-xxxxl-none { display: none !important; }

    .d-xxxxl-inline {
        display: inline !important;
    }
    .d-xxxxl-inline-flex {
        display: inline-flex !important;
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 1620px) {
    .d-xxxl-table-cell {
        display: table-cell !important;
    }

    .d-xxxl-block { display: block !important; }

    .d-xxxl-none { display: none !important; }

    .d-xxxl-inline {
        display: inline !important;
    }
    .d-xxxl-inline-flex {
        display: inline-flex !important;
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 1800px) {
    .d-xxxxl-table-cell {
        display: table-cell !important;
    }

    .d-xxxxl-inline {
        display: inline !important;
    }
    .d-xxxl-inline-flex {
        display: inline-flex !important;
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 1400px) {
    th.col-nom { min-width: 130px; }
}

@media (max-width: 1200px) {

    .fixed-action-btns {
        height: 100px;
        width: 100%;
        overflow: revert;
    }

    .fixed-action-btns ul {
        -webkit-box-orient: revert;
        -webkit-box-direction: revert;
        -ms-flex-direction: revert;
        flex-direction: revert;
    }

    .new-max-w {
        width: 100%;
    }

    .second-tools {
        top: 104px;
    }

    #breadcrumb {
        /*display: none;*/
        margin-left: 0;
    }

    .tools {
        top: 50px;
    }

    .workspace-pdf {
        margin-top: 55px;
    }

    .workspace {
        margin-top: 0;
    }

    .content {
        margin-top: 100px;
        width: 100vw;
        margin-left: 0;
    }

    #sidebar {
        z-index: 10002;
        display: none;
    }

    #sidebar2 {
        display: none;
    }

    #sidebar {
        top : 56px;
        position: relative;
        max-width: initial;
        min-height: 0px;
    }

    #sidebar.active {
        top : 0px;
        position: relative;
        max-width: initial;
        min-width: initial;
    }

    #sidebarCollapse {
        display: none;
    }

    .not-viewed-position {
        left: 50px;
    }

    .pdf-alerts-btn {
        left: 16px;
        top:105px;
        position: fixed;
        z-index: 9999;
    }

}

@media (max-width: 992px) {
    th.col-nom { min-width: 110px; }
}

@media (max-width: 768px) {

    #returnButton {
        display: none;
    }

    #logo {
        margin-left: 5px;
    }

    /*.new-width-full {*/
    /*    width: calc(100vw);*/
    /*}*/

    #breadcrumb {
        display: none;
    }

    .workspace-sign {
        display: flex;
    }

    .fixed-action-btns {
        bottom: 25px;
        right: -5px;
    }

    .sign-menu {
        max-width: initial;
        position: relative !important;
    }

    .sign-preview {
        overflow: auto;
        margin-left: initial;
    }

    .pdf-alerts {
        max-width: 350px !important;
    }

    th.col-nom {
        width: 90px;
        /*overflow: hidden;*/
        /*text-overflow: ellipsis;*/
    }

}

@media (max-width: 575px) {

    .fixed-action-btns {
        height: 100px;
        width: 100%;
        overflow: revert;
    }

    .fixed-action-btns ul {
        -webkit-box-orient: revert;
        -webkit-box-direction: revert;
        -ms-flex-direction: revert;
        flex-direction: revert;
    }

    .nav-item-label {
        display: inline !important;
    }

    .navbar-collapse {
        position: absolute;
        width: 100%;
        top: 50px;
        background-color: #343a40 !important;
    }

    #breadcrumb {
        display: none;
    }

    .tools {
        top: 50px;
        overflow-x: scroll;
    }

    .workspace-pdf {
        padding: 10px;
        margin-top: 50px;
    }

    .workspace {
        width: min-content;
        margin-top: 0;
        padding: 3px;
    }

    .content-full-fixed {
        width: 100% ;
    }

    .content {
        overflow: auto;
        margin-top: 55px;
    }

    #returnButton {
        display: none;
    }

    #logo {
        float: right;
        height: 30px;
    }

    .not-viewed-position {
        left: revert;
        right: 0px;
    }

    .pdf-alerts {
        font-size: 10px;
        top:101px;
        left:0px;
        position: fixed;
    }

    .pdf-alerts .btn {
        font-size: 10px !important;
    }

    .pdf-alerts .alert {
        padding: 2px !important;
    }
}

@media (max-width: 319px) {
    body {
        visibility: hidden;
    }

    body::after {
        position: absolute;
        top: 0;
        left: 0;
        visibility: visible;
        content: 'Résolution trop faible !!!';
    }
}