<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<!--/*@thymesVar id="SignRequestStatus" type="org.esupportail.esupsignature.entity.enums.SignRequestStatus"*/-->
<!--/*@thymesVar id="globalProperties" type="org.esupportail.esupsignature.config.GlobalProperties"*/-->
<nav th:fragment="side-manager" id="sidebar" th:if="${managerMenu == 'active'}">
    <div class="ms-1 mt-2">
        <h5 class="text-center"><b>Management</b></h5>

        <a th:classappend="${activeMenu == 'workflows'} ? 'bg-dark-subtle' : 'text-dark btn-transparent'"
           title="Circuits de signature" href="/manager/workflows" class="btn col-12 mb-1 text-left border-light-subtle">
            <i class="fi fi-rr-diagram-project project-diagram-color"></i> <span class="sidebar-label">Circuits</span>
        </a>
        <a th:classappend="${activeMenu == 'forms'} ? 'bg-dark-subtle' : 'text-dark btn-transparent'"
           title="Formulaires" href="/manager/forms" class="btn col-12 mb-1 text-left border-light-subtle">
            <i class="fi fi-rr-poll-h file-alt-color"></i> <span class="sidebar-label">Formulaires</span>
        </a>
        <a th:classappend="${activeMenu == 'rolesManagers'} ? 'bg-dark-subtle' : 'text-dark btn-transparent'"
           title="Gestionnaires de rôles" href="/manager/roles-managers" class="btn col-12 mb-1 text-left border-light-subtle">
            <i class="fi fi-rr-employee-man-alt"></i> <span class="sidebar-label">Gestionnaires de rôles</span>
        </a>

    </div>
</nav>
</html>