<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<!--/*@thymesVar id="toSignDocument" type="org.esupportail.esupsignature.entity.Document"*/-->
<!--/*@thymesVar id="workflow" type="org.esupportail.esupsignature.entity.Workflow"*/-->
<nav th:fragment="side-sign">
    <div class="ms-1 mt-1">
        <div class="hr">Statut</div>
        <div class="card card-body bg-light">
            <th:block th:if="${signRequest != null}">
                <div th:insert="~{user/signbooks/includes/status :: status(signBook=${signBook})}" class="mb-1"></div>
                <div class="text-center mb-1">
                    <div class="badge rounded-pill badge-status bg-secondary" th:if="${signBook.archiveStatus != null && signBook.archiveStatus.name != 'none'}">
                        <i class="fa-solid fa-box-archive"></i> <span th:text="#{'signbook.archivestatus.' + ${signBook.archiveStatus}}"></span>
                    </div>
                </div>
                <p class="mb-2" th:if="${signRequest != null}">Créé par <b th:text="${signRequest.createBy.firstname + ' ' + signRequest.createBy.name}"></b></p>
                <th:block th:if="${signBook.viewers.size() > 0 }">
                    <p>
                    Suivi par :
                        <ul>
                            <li th:each="user : ${signBook.viewers}" >
                                <span th:if="${user.firstname != '' && user.name != ''}" th:text="${user.firstname + ' ' + user.name}"></span>
                                <span th:unless="${user.firstname != '' && user.name != ''}" th:text="${user.email}"></span>
                            </li>
                        </ul>
                    </p>
                </th:block>
            </th:block>
            <th:block th:unless="${signRequest != null}">
                <div th:insert="~{user/signbooks/includes/status :: status(signBook=${signBook})}"></div>
            </th:block>
        </div>
<!--        <div class="hr sidebar-label" th:if="${toSignDocument != null && toSignDocument.contentType == 'application/pdf'}">Changer de mode</div>-->
<!--        <button data-bs-toggle="modal" data-bs-target="#signAllModal"-->
<!--                class="btn btn-light col-3 col-md-12 mb-1 text-left d-none"-->
<!--                th:classappend="${signable != 'ok' || nbSignRequestInSignBookParent < 2} ? 'd-none' ">-->
<!--            <i class="fa-solid fa-bolt"></i> <span class="sidebar-label">Tout signer</span>-->
<!--        </button>-->
<!--        <button id="signModeButton" class="btn btn-light col-12 mb-1 text-left" th:if="${signRequest != null && signable}">-->
<!--            <i style="font-size: 0.6rem;" class="fa-solid fa-signature"></i><i class="fa-solid fa-pen"></i> <span class="sidebar-label">Remplir et signer</span>-->
<!--        </button>-->
<!--        <button th:if="${toSignDocument != null && toSignDocument.contentType == 'application/pdf'}" id="commentModeButton" class="btn btn-light col-12 mb-1 text-left">-->
<!--            <i class="ms-1 fa-solid fa-comment"></i><i class="me-2"></i> <span class="sidebar-label">Annoter</span>-->
<!--            <span th:if="${signRequest.comments.size() > 0}" class="float-end badge rounded-pill bg-warning mt-1" ><span th:text="${signRequest.comments.size()}"></span></span>-->
<!--        </button>-->

        <div th:if="${signRequest != null}" th:insert="~{user/signrequests/cards/stepscard :: stepscard}"></div>
        <div th:if="${signRequest != null}" th:insert="~{user/signrequests/cards/comments :: comments}"></div>
    </div>
</nav>
</html>
