<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<!--/*@thymesVar id="toSignDocument" type="org.esupportail.esupsignature.entity.Document"*/-->
<!--/*@thymesVar id="workflow" type="org.esupportail.esupsignature.entity.Workflow"*/-->
<nav th:fragment="side-sign" id="sidebar" class="scrollbar-lite scrollbar-style">
    <div th:unless="${user.userType.name() == 'external'}" class="ms-1 mt-3 d-none d-lg-block">
        <div class="hr sidebar-label">Statut</div>
        <div class="card card-body bg-light">
            <th:block th:if="${signRequest != null}">
                <div th:insert="~{user/signbooks/includes/status :: status(signBook=${signBook})}" class="mb-1"></div>
                <span th:if="${workflow != null}" th:text="'Circuit : ' + ${workflow.description}"></span>
                <span>Créé par <span th:text="${signRequest.createBy.firstname + ' ' + signRequest.createBy.name}"></span></span>
                <th:block th:if="${signBook.viewers.size() > 0 }">
                    <span>
                    Suivi par :
                        <ul>
                            <li th:each="user : ${signBook.viewers}" >
                                <span th:text="${user.firstname + ' ' + user.name}"></span>

                            </li>
                        </ul>
                    </span>
                </th:block>
            </th:block>
            <th:block th:unless="${signRequest != null}">
                <div th:insert="~{user/signbooks/includes/status :: status(signBook=${signBook})}"></div>
            </th:block>
        </div>
<!--        <div class="hr sidebar-label" th:if="${toSignDocument != null && toSignDocument.contentType == 'application/pdf'}">Changer de mode</div>-->
<!--        <button data-bs-toggle="modal" data-bs-target="#signAllModal"-->
<!--                class="btn btn-light col-3 col-md-12 mb-1 text-left d-none"-->
<!--                th:classappend="${signable != 'ok' || nbSignRequestInSignBookParent < 2} ? 'd-none' ">-->
<!--            <i class="fas fa-bolt"></i> <span class="sidebar-label">Tout signer</span>-->
<!--        </button>-->
<!--        <button id="signModeButton" class="btn btn-light col-12 mb-1 text-left" th:if="${signRequest != null && signable}">-->
<!--            <i style="font-size: 0.6rem;" class="fas fa-signature"></i><i class="fas fa-pen"></i> <span class="sidebar-label">Remplir et signer</span>-->
<!--        </button>-->
<!--        <button th:if="${toSignDocument != null && toSignDocument.contentType == 'application/pdf'}" id="commentModeButton" class="btn btn-light col-12 mb-1 text-left">-->
<!--            <i class="ms-1 fas fa-comment"></i><i class="me-2"></i> <span class="sidebar-label">Annoter</span>-->
<!--            <span th:if="${signRequest.comments.size() > 0}" class="float-end badge bg-warning mt-1" ><span th:text="${signRequest.comments.size()}"></span></span>-->
<!--        </button>-->

        <!--    <div th:replace="user/signbooks/includes/statusdetails :: statusdetails"></div>-->


        <div th:if="${signRequest != null}" th:insert="~{user/signrequests/cards/stepscard :: stepscard}"></div>
    </div>
</nav>
</html>
