<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<!--/*@thymesVar id="statusFilter" type="org.esupportail.esupsignature.entity.enums.SignRequestStatus"*/-->
<nav th:fragment="side-dashboard" id="sidebar" class="scrollbar-lite scrollbar-style offcanvas-xl offcanvas-start" tabindex="-1" aria-labelledby="signbooks-sidebar-title">
    <div class="offcanvas-header d-xl-none border-bottom">
        <h2 class="offcanvas-title fs-6" id="signbooks-sidebar-title">Filtres du tableau de bord</h2>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebar" aria-label="Fermer"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column ms-1 mt-2 gap-1">
        <a th:classappend="${statusFilter == ''} ? 'bg-dark-subtle' : 'text-dark btn-transparent'" class="btn text-left rounded-2 d-flex align-items-center gap-2" href="/user/signbooks?statusFilter=all">
            <i class="fi fi-rr-search"></i><span class="sidebar-label">Tout voir</span>
        </a>
        <div class="hr"><span class="sidebar-label"> Demandes reçues</span></div>
        <a th:classappend="${statusFilter == 'toSign'} ? 'bg-dark-subtle' : 'text-dark btn-transparent'" class="btn text-left rounded-2 d-flex align-items-center gap-2" href="/user/signbooks?statusFilter=toSign">
            <i class="fi fi-rr-inbox-full"></i>
            <span class="sidebar-label">A signer</span>
            <span title="Demandes à signer" th:if="${nbToSign > 0  && userEppn == authUserEppn}" class="badge rounded-pill bg-danger d-none d-lg-inline" th:text="${nbToSign}">
            </span>
        </a>
        <a th:classappend="${statusFilter == 'signedByMe'} ? 'bg-dark-subtle' : 'text-dark btn-transparent'" class="btn text-left rounded-2 d-flex align-items-center gap-2" href="/user/signbooks?statusFilter=signedByMe">
            <i class="fi fi-rr-flag"></i><span>J’ai signé</span>
        </a>
        <a th:classappend="${statusFilter == 'refusedByMe'} ? 'bg-dark-subtle' : 'text-dark btn-transparent'" class="btn text-left rounded-2 d-flex align-items-center gap-2" href="/user/signbooks?statusFilter=refusedByMe">
            <i class="fi fi-rr-cross-circle"></i><span>J’ai refusé</span>
        </a>
        <div class="hr"><span class="sidebar-label"> Demandes envoyées</span></div>
        <a th:classappend="${statusFilter == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).pending.name()} ? 'bg-dark-subtle' : 'text-dark btn-transparent'" class="btn text-left rounded-2 d-flex align-items-center gap-2" href="/user/signbooks?statusFilter=pending">
            <i class="fi fi-rr-pending"></i>
            <span class="sidebar-label">En cours</span>
            <span title="Demandes en attente" th:if="${nbSignRequests > 0  && userEppn == authUserEppn}" class="badge rounded-pill bg-warning d-none d-lg-inline" th:text="${nbSignRequests}">
            </span>
        </a>
        <a th:classappend="${statusFilter == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).completed.name()} ? 'bg-dark-subtle' : 'text-dark btn-transparent'" class="btn text-left rounded-2 d-flex align-items-center gap-2" href="/user/signbooks?statusFilter=completed">
            <i class="fi fi-rr-flag"></i><span>Signées</span>
        </a>
        <a th:classappend="${statusFilter == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).refused.name()} ? 'bg-dark-subtle' : 'text-dark btn-transparent'" class="btn text-left rounded-2 d-flex align-items-center gap-2" href="/user/signbooks?statusFilter=refused">
            <i class="fi fi-rr-cross-circle"></i><span>Refusées</span>
        </a>
        <div class="hr sidebar-label"><span> Autres demandes</span></div>
        <a th:classappend="${statusFilter == 'followByMe'} ? 'bg-dark-subtle' : 'text-dark btn-transparent'" class="btn text-left rounded-2 d-flex align-items-center gap-2" href="/user/signbooks?statusFilter=followByMe">
            <i class="fi fi-rr-binoculars"></i><span>Demandes suivies</span>
            <span title="Demandes suivie" th:if="${nbFollowByMe > 0  && userEppn == authUserEppn}" class="badge rounded-pill bg-primary d-none d-md-inline" th:text="${nbFollowByMe}">
            </span>
        </a>
        <a th:classappend="${statusFilter == 'sharedSign'} ? 'bg-dark-subtle' : 'text-dark btn-transparent'" class="btn text-left rounded-2 d-flex align-items-center gap-2" href="/user/signbooks?statusFilter=sharedSign">
            <i class="fi fi-rr-share"></i><span>Demandes en délégation</span>
        </a>
        <a th:classappend="${statusFilter == 'hided'} ? 'bg-dark-subtle' : 'text-dark btn-transparent'" class="btn text-left rounded-2 d-flex align-items-center gap-2" href="/user/signbooks?statusFilter=hided">
            <i class="fi fi-rr-eye-crossed"></i><span>Demandes masquées</span>
        </a>
        <a th:if="${nbEmpty > 0}" th:classappend="${statusFilter == 'empty'} ? 'bg-dark-subtle' : 'text-dark btn-transparent'" class="btn text-left rounded-2 d-flex align-items-center gap-2" href="/user/signbooks?statusFilter=empty">
            <i class="fi fi-rr-file"></i><span>Demandes vides</span>
        </a>
        <div class="hr sidebar-label"><span> Brouillons</span></div>
        <a th:classappend="${statusFilter == 'draft'} ? 'bg-dark-subtle' : 'text-dark btn-transparent'" class="btn text-left rounded-2 d-flex align-items-center gap-2" href="/user/signbooks?statusFilter=draft">
            <i class="fi fi-rr-file-exclamation"></i><span>Brouillons</span>
            <span title="Brouillons" th:if="${nbDraft > 0  && userEppn == authUserEppn}" class="badge rounded-pill bg-secondary d-none d-md-inline" th:text="${nbDraft}">
            </span>
        </a>
        <div class="hr sidebar-label"><span> Corbeille</span></div>
        <a th:classappend="${statusFilter == 'deleted'} ? 'bg-dark-subtle' : 'text-dark btn-transparent'" class="btn text-left rounded-2 d-flex align-items-center gap-2" href="/user/signbooks?statusFilter=deleted">
            <i class="fi fi-rr-trash"></i><span>Demandes supprimées</span>
            <span title="Demandes à signer" th:if="${nbDeleted > 0  && userEppn == authUserEppn}" class="badge rounded-pill bg-dark d-none d-lg-inline" th:text="${nbDeleted}"></span>
        </a>
    </div>
</nav>
</html>
