<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="recipient" type="org.esupportail.esupsignature.entity.Recipient"*/-->
<!--/*@thymesVar id="data" type="org.esupportail.esupsignature.entity.Data"*/-->
<!--/*@thymesVar id="step" type="org.esupportail.esupsignature.entity.WorkflowStep"*/-->
<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/menu"></header>
<main role="main">
    <div class="wrapper">
        <nav th:insert="fragments/side" class="auto-hide"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="text-uppercase breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/user/datas">Mes brouillons</a></li>
                <li class="breadcrumb-item active" aria-current="page">Formulaire : <span th:text="${form.name}"></span>
                </li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div th:if="${data.status == null}" class="fixed-action-btn" style="bottom: 100px; right: 50px;">
                <a role="button" title="Enregistrer les modifications" th:if="${data.signBook == null || data.signBook.signRequests.size() == 0}" type="button" onclick="document.getElementById('newDataSubmit').click();" class="btn-floating btn-lg bg-success wave-effect">
                    <i class="fas fa-save"></i><br/>
                </a>
            </div>
            <div id="addButton" th:unless="${data.status == null}"  class="fixed-action-btn" style="bottom: 100px; right: 50px;" onmouseover="$('#addButton').toggleClass('active');" onmouseout="$('#addButton').toggleClass('active');">
                <a class="btn-floating btn-lg bg-primary waves-effect">
                    <i class="fas fa-ellipsis-v"></i>
                </a>
                <ul id="collapseExample" class="list-unstyled">
                    <li>
                        <a role="button" title="Envoyer le document" th:if="${data.signBook == null || data.signBook.signRequests.size() == 0}" type="button" data-toggle="modal" data-target="#sendModal" class="btn-floating bg-warning">
                        <i class="fas fa-paper-plane"></i></a>
                    </li>
                    <li>
                        <a target="_blank" title="Exporter en PDF" th:if="${data.status.name() == 'draft'}"
                           th:href="'/user/datas/' + ${data.id} + '/export-pdf'"
                           class="btn-floating bg-danger">
                            <i class="fas fa-file-pdf"></i>
                        </a>
                    </li>
                    <li><a role="button" title="Enregistrer les modifications" th:if="${data.signBook == null || data.signBook.signRequests.size() == 0}" type="button" onclick="document.getElementById('newDataSubmit').click();" class="btn-floating bg-success">
                        <i class="fas fa-save"></i></a>
                    </li>
                </ul>
            </div>
            <div class="tools">
                <div class="d-flex mb-1">
                    <a title="Abandonner" href="/user/datas/" class="btn btn btn-outline-dark btn-light ml-1">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                    <div class="bg-light ml-1 p-1 pt-2 d-inlinebirder"><span>Page <span id="page_num"></span> / <span id="page_count"></span></span></div>
                    <button title="Page précédente" id="prev" class="btn btn-light btn-outline-dark ml-1" aria-label="Précédent">
                        <i class="fas fa-arrow-up"></i>
                    </button>
                    <button title="Page suivante" id="next" class="btn btn-light btn-outline-dark ml-1" aria-label="Prochain">
                        <i class="fas fa-arrow-down"></i>
                    </button>
                    <button id="zoomout" class="btn btn-light btn-outline-dark ml-1 d-none d-lg-block"><i class="fas fa-search-minus"></i></button>
                    <button id="zoomin" class="btn btn-light btn-outline-dark ml-1 d-none d-lg-block"><i class="fas fa-search-plus"></i></button>
                    <div class="bg-light ml-1 p-1 pt-2 d-inline d-none"><span id="zoom"></span> %</div>
                    <button title="Rotation à droite" id="rotateleft" class="btn btn-light btn-outline-dark ml-1 d-none d-lg-block"><i class="fas fa-undo"></i></button>
                    <button title="Rotation à gauche" id="rotateright" class="btn btn-light btn-outline-dark ml-1 d-none d-lg-block"><i class="fas fa-redo"></i></button>
                </div>
            </div>
            <div id="workspace" class="workspace alert alert-secondary fadein">
                <form id="newData" th:action="'/user/datas/form/' + ${form.id}" method="post">
                    <input id="newDataSubmit" type="submit" style="display: none;"/>
                    <input id="dataId" type="hidden" name="dataId" th:value="${data.id}"/>
                    <div class="form-group">
                        <label for="name">Nom du document</label>
                        <input id="name" autocomplete="no" class="form-control" type="text" name="name" placeholder="Saisir un nom pour ce document" th:value="${data.name}" required="true" />
                    </div>
                    <div id="pdf" class="drop-shadows"></div>
                </form>
            </div>
        </div>
    </div>
</main>

<div th:if="${data.status != null && data.status.name() == 'draft'}" class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <h3 class="modal-title">Envoi pour signature</h3>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="'/user/datas/' + ${data.id} + '/send'" method="post" id="send">
                        <p>
                            <span th:text="'La procedure ' + ${form.name} + ' comporte ' + ${steps.size()} + ' étapes.'"></span>
                        <p>
                            Les signataires sont pré-séléctionnés en fonction de vos précédentes saisis.
                            <br>
                            Si aucun signataire n'est présent ou si la selection de convient pas, vous pouvez modifier les valeurs.
                        </p>
                        <th:block th:each="step,iterator : ${steps}">
                            <div th:if="${step.changeable == true}" class="form-group">
                                <label th:text="'Etape ' + ${iterator.index + 1} + ' : ' + ${step.description}"></label>
                                <select th:id="'recipientEmailsSelect_' + ${step.stepNumber}" multiple="multiple" name="recipientEmails" required>
                                    <th:block th:each="recipient : ${step.recipients}">
                                        <option th:if="${recipient.user.email != null}" selected="selected" th:text="${recipient.user.email}" th:value="${step.stepNumber} + '*' + ${recipient.user.email}"></option>
                                    </th:block>
                                </select>
                                <script language="JavaScript">
                                    /*<![CDATA[*/
                                    new SlimSelect({
                                        select: '#recipientEmailsSelect_[[${step.stepNumber}]]',
                                        placeholder: 'Choisir un ou plusieurs utilisateurs',
                                        searchText: 'Aucun résultat',
                                        searchPlaceholder: 'Rechercher',
                                        searchHighlight: true,
                                        searchFilter: (option, search) => {
                                            return true;
                                        },
                                        ajax: function (search, callback) {
                                            if (search.length < 3) {
                                                callback('Merci de saisir au moins 3 caractères')
                                                return
                                            }
                                            fetch('/ws/search-user?searchString=' + search)
                                                .then(function (response) {
                                                    return response.json()
                                                })
                                                .then(function (json) {
                                                    let data = []
                                                    for (let i = 0; i < json.length; i++) {
                                                        data.push({text: json[i].displayName, value: '[[${step.stepNumber}]]*' + json[i].mail});
                                                    }
                                                    callback(data)
                                                })
                                                .catch(function (error) {
                                                    callback(false)
                                                })
                                        }

                                    });
                                    recipientEmailsSelect_[[${step.stepNumber}]] = document.getElementById('recipientEmailsSelect_[[${step.stepNumber}]]');
                                    recipientEmailsSelect_[[${step.stepNumber}]].style.display = 'block';
                                    recipientEmailsSelect_[[${step.stepNumber}]].classList.add('hide-select')

                                    /*]]>*/
                                </script>
                            </div>
                            <div th:unless="${step.changeable == true}" class="form-group d-inline">
                                <span th:text="'Etape ' + ${iterator.index + 1} + ' : ' + ${step.description} + ' ('"></span>
                                <th:block th:if="${step.recipients.size() > 0}" th:each="recipient,iterator : ${step.recipients}">
                                    <span th:if="${iterator.index > 0}"> ou </span>
                                    <span th:text="${recipient.user.firstname} + ' ' + ${recipient.user.name}"></span>
                                </th:block>
                                <span>)</span>
                            </div>
                        </th:block>
                        <div th:if="${form.targetType.name() == 'mail'}" class="form-group">
                            <label>Etape finale : Envoi par mail à </label>
                            <select id="targetEmailsSelect" multiple="multiple" name="targetEmails" required>
                                <th:block th:each="targetEmail : ${targetEmails}">
                                    <option selected="selected" th:text="${targetEmail}" th:value="${targetEmail}"></option>
                                </th:block>
                            </select>
                            <script language="JavaScript">
                                /*<![CDATA[*/
                                new SlimSelect({
                                    select: '#targetEmailsSelect',
                                    placeholder: 'Choisir un ou plusieurs utilisateurs',
                                    searchText: 'Aucun résultat',
                                    searchPlaceholder: 'Rechercher',
                                    searchHighlight: true,
                                    searchFilter: (option, search) => {
                                        return true;
                                    },
                                    ajax: function (search, callback) {
                                        if (search.length < 3) {
                                            callback('Merci de saisir au moins 3 caractères')
                                            return
                                        }
                                        fetch('/ws/search-user?searchString=' + search)
                                            .then(function (response) {
                                                return response.json()
                                            })
                                            .then(function (json) {
                                                let data = []
                                                for (let i = 0; i < json.length; i++) {
                                                    data.push({text: json[i].displayName, value: json[i].mail});
                                                }
                                                callback(data)
                                            })
                                            .catch(function (error) {
                                                callback(false)
                                            })
                                    }

                                });
                                var targetEmailsSelect = document.getElementById('targetEmailsSelect');
                                targetEmailsSelect.style.display = 'block';
                                targetEmailsSelect.classList.add('hide-select')

                                /*]]>*/
                            </script>
                        </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Annuler</button>
                <button type="button" onclick="document.getElementById('send').submit();" class="btn btn-success">Envoyer</button>
            </div>
        </div>
    </div>
</div>

<div id="wait" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5>Signature en cours</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated active" style="width: 100%;" id="bar">
                    </div>
                </div>
                <span id="bar-text"></span>
                <div style="display: none;" id="passwordError" class="alert alert-danger" role="alert">
                    Mauvais mot de passe
                </div>
                <div style="display: none;" id="signError" class="alert alert-danger" role="alert">
                    Erreur du système de signature
                </div>
            </div>
            <div class="modal-footer">
                <button id="closeModal" type="button" class="btn btn-secondary align-self-center" data-dismiss="modal">
                    Fermer
                </button>
                <button id="validModal" onclick="location.reload();" class="btn btn-success">Terminer</button>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript" type="module">
    import {PdfViewer} from "/js/modules/pdfViewer.js";
    let pdfViewer = new PdfViewer('/user/documents/getfile/[[${form.document.id}]]', null);
    pdfViewer.setDataFields([[${fields}]]);
    pdfViewer.scale = 1.5;
</script>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
