<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="recipient" type="org.esupportail.esupsignature.entity.Recipient"*/-->
<!--/*@thymesVar id="data" type="org.esupportail.esupsignature.entity.Data"*/-->
<!--/*@thymesVar id="form" type="org.esupportail.esupsignature.entity.Form"*/-->
<!--/*@thymesVar id="step" type="org.esupportail.esupsignature.entity.WorkflowStep"*/-->
<head th:replace="fragments/head"></head>
<script th:inline="javascript" type="module">
    import {CreateDataUi} from "/js/modules/createDataUi.js";
    new CreateDataUi([[${form.document.id}]], [[${fields}]]);
</script>
<body>
<header th:replace="fragments/nav"></header>
<main role="main">
    <div class="wrapper">
        <nav th:insert="fragments/side" class="auto-hide"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/user/datas">Mes brouillons</a></li>
                <li class="breadcrumb-item active" aria-current="page">Formulaire : <span th:text="${form.name}"></span>
                </li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div th:if="${data.status == null && (data.signBook == null || data.signBook.signRequests.size() == 0)}" class="fixed-action-btn" style="bottom: 100px; right: 50px;">
                <a th:if="${form.needName}" role="button" title="Enregistrer les modifications" type="button" class="btn-floating btn-lg bg-success wave-effect" data-toggle="modal" data-target="#saveModal">
                    <i class="fas fa-save"></i><br/>
                </a>
                <a th:unless="${form.needName}" onclick="return false;" id="saveButton" href="#" title="Enregistrer les modifications" class="btn-floating btn-lg bg-success wave-effect">
                    <i class="fas fa-save"></i><br/>
                </a>
            </div>
            <div id="addButton" th:unless="${data.status == null}"  class="fixed-action-btn" style="bottom: 100px; right: 50px;" onmouseover="$('#addButton').toggleClass('active');" onmouseout="$('#addButton').toggleClass('active');">
                <div id="signButtons" class="fixed-action-btn active" style="width: 100px; bottom: 50px; right: 50px;">
                    <ul class="list-unstyled">
                        <li>
                            <a role="button" title="Démarrer la procédure" th:if="${data.signBook == null || data.signBook.signRequests.size() == 0}" type="button" data-toggle="modal" data-target="#sendModal" class="btn-lg btn-floating bg-primary">
                                <i class="fas fa-play"></i></a>
                        </li>
<!--                        <li>-->
<!--                            <a target="_blank" title="Exporter en PDF" th:if="${data.status.name() == 'draft'}"-->
<!--                               th:href="'/user/datas/' + ${data.id} + '/export-pdf'"-->
<!--                               class="btn-lg btn-floating bg-danger">-->
<!--                                <i class="fas fa-file-pdf"></i>-->
<!--                            </a>-->
<!--                        </li>-->
                        <li>
                            <a th:unless="${form.needName}" onclick="return false;" id="saveButton" href="#" title="Enregistrer les modifications" class="btn-floating btn-lg bg-success wave-effect">
                                <i class="fas fa-save"></i><br/>
                            </a>
<!--                            <a role="button" title="Enregistrer les modifications" th:if="${data.signBook == null || data.signBook.signRequests.size() == 0}" type="button" onclick="document.getElementById('newDataSubmit').click();" class="btn-lg btn-floating bg-success">-->
<!--                            <i class="fas fa-save"></i></a>-->
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tools">
                <div class="d-flex mb-1">
                    <a title="Abandonner" href="/user/datas/" class="btn btn btn-outline-dark btn-light ml-1">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                    <div class="bg-light ml-1 p-1 pt-2 d-inline"><span>Page <span id="page_num"></span> / <span id="page_count"></span></span></div>
                    <button title="Page précédente" id="prev" class="btn btn-light btn-outline-dark ml-1" aria-label="Précédent">
                        <i class="fas fa-arrow-up"></i>
                    </button>
                    <button title="Page suivante" id="next" class="btn btn-light btn-outline-dark ml-1" aria-label="Prochain">
                        <i class="fas fa-arrow-down"></i>
                    </button>
                    <button id="zoomout" class="btn btn-light btn-outline-dark ml-1 d-none d-lg-block"><i class="fas fa-search-minus"></i></button>
                    <button id="zoomin" class="btn btn-light btn-outline-dark ml-1 d-none d-lg-block"><i class="fas fa-search-plus"></i></button>
                    <div class="bg-light ml-1 p-1 pt-2 d-inline d-none"><span id="zoom"></span> %</div>
                    <button title="Rotation à droite" id="rotateleft" class="btn btn-light btn-outline-dark ml-1 d-none d-lg-block"><i class="fas fa-undo"></i></button>
                    <button title="Rotation à gauche" id="rotateright" class="btn btn-light btn-outline-dark ml-1 d-none d-lg-block"><i class="fas fa-redo"></i></button>
                </div>
            </div>
            <div id="workspace" class="workspace alert alert-secondary fadein justify-content-center">
                <form id="newData" th:action="'/user/datas/form/' + ${form.id}" method="post">
                    <input id="newDataSubmit" type="submit" style="display: none;"/>
                    <input id="dataId" type="hidden" name="dataId" th:value="${data.id}"/>
                    <input id="name" type="hidden" name="name" th:value="${data.name}" required/>
                    <div id="pdf" class="drop-shadows mx-auto"></div>
                </form>
            </div>
        </div>
    </div>
</main>

<div th:if="${data.status != null && data.status.name() == 'draft'}" class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <h3 class="modal-title">Démarrer le circuit</h3>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <form th:action="'/user/datas/' + ${data.id} + '/send'" method="post" id="send">
            <div class="modal-body">
                    <p>
                        <span th:text="'La procedure \'' + ${form.name} + '\' comporte ' + ${steps.size()} + ' étape(s) : '"></span>
                    </p>
                    <th:block th:each="step,iterator : ${steps}">
                        <div th:if="${step.changeable == true}" class="form-group">
                            <span th:text="'Etape ' + ${iterator.index + 1} + ' : ' + ${step.description}"></span>
                        </div>
                        <div th:unless="${step.changeable == true}" class="form-group d-inline">
                            <span th:text="'Etape ' + ${iterator.index + 1} + ' : ' + ${step.description} + ' ('"></span>
                            <th:block th:if="${step.recipients.size() > 0}" th:each="recipient,iterator : ${step.recipients}">
                                <span th:if="${iterator.index > 0}"> ou </span>
                                <span th:text="${recipient.user.firstname} + ' ' + ${recipient.user.name}"></span>
                            </th:block>
                            <span>)</span>
                        </div>
                    </th:block>
                    <hr>
                    <th:block th:each="step,iterator : ${steps}">
                        <div th:if="${step.changeable == true}" class="form-group">
                            <label th:text="${step.name}"></label>
                            <select th:id="'recipientEmailsSelect_' + ${step.stepNumber}" multiple="multiple" name="recipientEmails" required="required" >
                                <th:block th:each="recipient : ${step.recipients}">
                                    <option th:if="${recipient.user.email != null}" selected="selected" th:text="${recipient.user.email}" th:value="${step.stepNumber} + '*' + ${recipient.user.email}"></option>
                                </th:block>
                            </select>
                            <script th:inline="javascript" type="module">
                                import {default as SelectUser} from "/js/modules/selectUser.js";
                                new SelectUser("recipientEmailsSelect_[[${step.stepNumber}]]", "[[${step.stepNumber}]]*", [[${step.maxRecipients}]]);
                            </script>
                        </div>
                    </th:block>
                    <div th:if="${form.targetType.name() == 'mail'}" class="form-group">
                        <label>Etape finale : Envoi par mail à </label>
                        <select id="targetEmailsSelect" multiple="multiple" name="targetEmails" required>
                            <th:block th:each="targetEmail : ${targetEmails}">
                                <option selected="selected" th:text="${targetEmail}" th:value="${targetEmail}"></option>
                            </th:block>
                        </select>
                        <script type="module">
                            import {default as SelectUser} from "/js/modules/selectUser.js";
                            new SelectUser("targetEmailsSelect");
                            // var targetEmailsSelect = document.getElementById('targetEmailsSelect');
                            // targetEmailsSelect.style.display = 'block';
                            // targetEmailsSelect.classList.add('hide-select')

                        </script>
                    </div>
                    <p class="small">
                        Les participants sont pré-sélectionnés en fonction de vos précédentes saisies.
                        <br>
                        Si aucun signataire n’est présent ou si la selection de convient pas, vous pouvez modifier les valeurs.
                    </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-success">Valider</button>
            </div>
            </form>
            <script type="javascript">
                $("#send").on('submit', function(e){
                    e.preventDefault();
                    alert("Merci de saisir les participants");
                    if( $(e.target).is(':invalid') ){
                        alert("Merci de saisir les participants");
                    }
                });
            </script>
        </div>
    </div>
</div>
<div id="saveModal" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Enregistrement du document</h5>
            </div>
            <form id="saveForm" onsubmit="">
            <div class="modal-body text-center">
                <div class="form-group">
                    <input id="tempName" autocomplete="no" class="form-control" type="text" name="name" placeholder="Saisir un nom pour ce document" th:value="${data.name}" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary align-self-center" data-dismiss="modal">
                    Fermer
                </button>
                <button type="submit" class="btn btn-success">Enregistrer</button>
            </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
