<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="recipient" type="org.esupportail.esupsignature.entity.Recipient"*/-->
<!--/*@thymesVar id="data" type="org.esupportail.esupsignature.entity.Data"*/-->
<!--/*@thymesVar id="form" type="org.esupportail.esupsignature.entity.Form"*/-->
<!--/*@thymesVar id="step" type="org.esupportail.esupsignature.entity.WorkflowStep"*/-->
<head th:replace="fragments/head"></head>
<script th:inline="javascript" type="module" th:if="${form.document != null}">
    import {CreateDataUi} from "/static/js/modules/ui/datas/CreateDataUi.js";
    import {Data} from "/static/js/prototypes/Data.js";
    let data = new Data([[${data}]]);
    console.log(data);
    new CreateDataUi([[${form.id}]], [[${form.action}]], [[${data}]], [[${fields}]], [[${_csrf}]]);
</script>
<body>
<script th:inline="javascript" type="module" th:unless="${form.document != null}">
    import {CreateDataUi} from "/static/js/modules/ui/datas/CreateDataUi.js";
    new CreateDataUi([[${form.id}]], [[${form.action}]], null, null, [[${_csrf}]]);</script>
<body>
<header th:replace="fragments/nav"></header>
<main role="main">
    <div class="wrapper">
        <nav th:insert="fragments/side"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/user/datas">Mes brouillons</a></li>
                <li class="breadcrumb-item active" aria-current="page">Formulaire&nbsp;<span
                        th:text="${form.title}"></span>&nbsp;<span th:if="${data.name}"
                                                                   th:text="' : ' + ${data.name}"></span>
                </li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div th:if="${data.status == null && (data.signBook == null || data.signBook.signRequests.size() == 0)}"
                 class="fixed-action-btn-simple">
                <a id="saveButton" type="button" title="Enregistrer les modifications" class="btn-floating btn-lg d-none bg-success wave-effect">
                    <i class="fas fa-save"></i><br/>
                </a>
            </div>
            <div id="addButton" th:unless="${data.status == null}" class="fixed-action-btns active">
                <ul class="">
                    <li>
                        <a id="sendModalButton" title="Démarrer la procédure"
                           th:if="${data.signBook == null || data.signBook.signRequests.size() == 0}" type="button"
                           class="btn-lg btn-floating bg-success wave-effect">
                            <i class="fas fa-play"></i></a>
                    </li>
                    <li class="d-none">
                        <a id="saveButton"
                           title="Enregistrer les modifications" class="btn-floating btn-lg bg-success wave-effect">
                            <i class="fas fa-save"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating btn-lg bg-danger wave-effect" href="#deleteModal" role="button"
                           title="Supprimer" data-toggle="modal" data-target="#deleteModal">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <!--            <div id="addButton" th:unless="${data.status == null}" class="fixed-action-btn"  onmouseover="$('#addButton').toggleClass('active');" onmouseout="$('#addButton').toggleClass('active');">-->
            <!--                <a role="button" title="Enregistrer les modifications" type="button" class="btn-floating btn-lg bg-success wave-effect" data-toggle="modal" data-target="#signButtons">-->
            <!--                    <i class="fas fa-ellipsis-v"></i>-->
            <!--                </a>-->
            <!--                <ul class="list-unstyled">-->
            <!--                    <li>-->
            <!--                        <a id="sendModalButton" role="button" title="Démarrer la procédure" th:if="${data.signBook == null || data.signBook.signRequests.size() == 0}" type="button" data-toggle="modal" data-target="#sendModal" class="btn-floating bg-primary wave-effect">-->
            <!--                            <i class="fas fa-play"></i></a>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <a target="_blank" title="Exporter en PDF" th:if="${data.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).draft}"-->
            <!--                           th:href="'/user/datas/' + ${data.id} + '/export-pdf'"-->
            <!--                           class="btn-floating bg-danger wave-effect">-->
            <!--                            <i class="fas fa-file-pdf"></i>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <a th:unless="${form.needName}" onclick="return false;" id="saveButton" href="#" title="Enregistrer les modifications" class="btn-floating bg-success wave-effect">-->
            <!--                            <i class="fas fa-save"></i><br/>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                </ul>-->
            <!--            </div>-->
            <div class="tools">
                <div class="d-flex mb-1">
                    <div class="bg-light ml-1 p-1 pt-2 d-none d-lg-inline"><span>Page <span
                            id="page_num"></span> / <span id="page_count"></span></span></div>
                    <button title="Page précédente" id="prev" class="btn btn-light btn-outline-dark ml-1"
                            aria-label="Précédent">
                        <i class="fas fa-arrow-up"></i>
                    </button>
                    <button title="Page suivante" id="next" class="btn btn-light btn-outline-dark ml-1"
                            aria-label="Prochain">
                        <i class="fas fa-arrow-down"></i>
                    </button>
                    <button id="zoomout" class="btn btn-light btn-outline-dark ml-1"><i class="fas fa-search-minus"></i>
                    </button>
                    <button id="zoomin" class="btn btn-light btn-outline-dark ml-1"><i class="fas fa-search-plus"></i>
                    </button>
                    <button id="fullwidth" title="Pleine largeur" class="btn btn-light btn-outline-dark ml-1"><i
                            class="fas fa-expand"></i></button>
                    <button id="fullheight" title="Pleine hauteur" class="btn btn-light btn-outline-dark ml-1"><i
                            class="fas fa-compress"></i></button>
                    <div class="bg-light ml-1 p-1 pt-2 d-inline d-none"><span id="zoom"></span> %</div>
                    <button title="Rotation à droite" id="rotateleft"
                            class="btn btn-light btn-outline-dark ml-1 d-none d-lg-block"><i class="fas fa-undo"></i>
                    </button>
                    <button title="Rotation à gauche" id="rotateright"
                            class="btn btn-light btn-outline-dark ml-1 d-none d-lg-block"><i class="fas fa-redo"></i>
                    </button>
                </div>
            </div>
            <div id="workspace" class="workspace alert alert-secondary fadein justify-content-center">
                <form th:if="${form.document != null}" id="newData" th:action="'/user/datas/form/' + ${form.id}" method="post">
                    <input id="realDataSubmit" type="submit" style="display: none;"/>
                    <input id="simulateDataSubmit" type="submit" style="display: none;"/>
                    <input id="dataId" type="hidden" name="dataId" th:value="${data.id}"/>
                    <div id="pdf" class="drop-shadows mx-auto"></div>
                </form>
                <form th:unless="${form.document != null}" id="newData" th:action="'/user/datas/form/' + ${form.id}" method="post" class="vw-100">
                    <input id="realDataSubmit" type="submit" style="display: none;"/>
                    <input id="simulateDataSubmit" type="submit" style="display: none;"/>
                    <input id="dataId" type="hidden" name="dataId" th:value="${data.id}"/>
                    <input id="name" type="hidden" name="name" th:value="${data.name}" required/>
                    <th:block th:each="field : ${fields}">
                        <div class="form-group">
                            <input th:if="${field.type.name() == 'checkbox'}" type="checkbox" class="form-check-input" th:name="${field.name}" th:placeholder="${field.name}" th:required="${field.required}"/>
                            <label th:for="${field.name}" th:text="${field.name}"></label>
                            <input th:if="${field.type.name() == 'text'}" type="text" class="form-control" th:name="${field.name}" th:value="${field.defaultValue}" th:placeholder="${field.label}" th:required="${field.required}"/>
                        </div>
                    </th:block>
                </form>
            </div>
        </div>
    </div>
</main>

<div th:if="${data.status != null && data.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).draft}"
     class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <h3 th:if="${steps.size() > 0}" class="modal-title">Démarrer le circuit</h3>
                <h3 th:unless="${steps.size() > 0}" class="modal-title">Valider le document</h3>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <form th:action="'/user/datas/' + ${data.id} + '/send'" method="post" id="send">
                <div class="modal-body">
                    <p th:unless="${steps.size() > 0}">Après la validation, vous pourrez télécharger le document</p>
                    <div th:if="${steps.size() > 0}">
                        <p>
                            La procédure "<span th:text="${form.title}"></span>" comporte <span
                                th:text="${steps.size()}"></span> étape<span th:if="${steps.size()} > 1">s</span>
                        </p>
                        <th:block th:each="step,iterator : ${steps}">
<!--                            <div class="form-group">-->
<!--                                <span th:text="'Etape ' + ${iterator.index + 1} + ' : ' + ${step.description}"></span>-->
<!--                            </div>-->
                            <div class="form-group d-inline">
                                <span th:text="'Etape ' + ${iterator.index + 1} + ' : ' + ${step.description}"></span>
                                <th:block th:if="${step.users.size() > 0}">
                                <span>(</span>
                                <th:block th:each="user, iterator : ${step.users}">
                                    <span th:text="${user.firstname} + ' ' + ${user.name}"></span>
                                </th:block>
                                <span>)</span>
                                </th:block>
                            </div>
                            <br/>
                        </th:block>
                        <hr>
                        <th:block th:each="step, iterator : ${steps}">
                            <div th:if="${step.changeable == true}" class="form-group">
                                <label><span th:text="'Merci de saisir l\' étape ' + ${iterator.index + 1} + ' ' + ${step.description}"></span><span
                                        th:if="${step.name}" th:text="' : ' + ${step.name}"></span></label>
                                <select class="select-users" th:id="'recipientEmailsSelect_' + ${iterator.index + 1}"
                                        multiple="multiple" name="recipientEmails" required="required">
                                    <th:block th:each="user : ${step.users}">
                                        <option th:if="${user.email != null}" selected="selected"
                                                th:text="${user.email}"
                                                th:value="${iterator.index + 1} + '*' + ${user.email}"></option>
                                    </th:block>
                                </select>
                                <p class="small">
                                    Les signataires sont pré-sélectionnés en fonction de vos précédentes saisies.
                                </p>
                            </div>
                        </th:block>
                        <div th:if="${form.targetType.name() == 'mail'}" class="form-group">
                            <label>Etape finale : Envoi par mail à </label>
                            <select class="select-users" id="targetEmailsSelect" multiple="multiple" name="targetEmails" required>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success">Valider</button>
                </div>
            </form>
            <script type="javascript">
                $("#send").on('submit', function (e) {
                    e.preventDefault();
                    alert("Merci de saisir les participants");
                    if ($(e.target).is(':invalid')) {
                        alert("Merci de saisir les participants");
                    }
                });
            </script>
        </div>
    </div>
</div>
<div class="modal modal-warning fade in" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="command" th:action="'/user/datas/'+ ${data.id}" th:method="delete">
                <div class="modal-header">
                    <h2>Attention</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">Confirmez-vous la suppression de ce brouillon ?</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Non</button>
                    <button type="submit" class="btn btn-danger">Oui</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
