<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml">
<!--/*@thymesVar id="data" type="org.esupportail.esupsignature.entity.Data"*/-->
<!--/*@thymesVar id="forms" type="java.util.List<org.esupportail.esupsignature.entity.Form>"*/-->
<!--/*@thymesVar id="datas" type="org.springframework.data.domain.Page<org.esupportail.esupsignature.entity.Data>"*/-->
<head th:replace="fragments/head"></head>
<script th:inline="javascript" type="module">
    import ListDataUi from "/static/js/modules/ui/datas/ListDataUi.js";
    new ListDataUi([[${_csrf}]]);
</script>
<body>
<header th:replace="fragments/nav"></header>
<main role="main">
    <div class="wrapper">
        <nav th:insert="fragments/side"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb col-12">
                <li class="breadcrumb-item active">Mes brouillons</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="fixed-action-btns active">
                <ul id="buttonList" class="list-unstyled">
                <li>
                    <a type="button" id="deleteMultipleButton"
                       class="btn-floating btn-lg bg-danger wave-effect d-none">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </li>
                <li>
                <a title="Créer un nouveau circuit" data-toggle="modal" data-target="#newFomModal" type="button"
                   class="btn-floating btn-lg bg-primary wave-effect">
                    <i class="fas fa-plus"></i>
                </a>
                </li>
                </ul>
            </div>
            <div class="card col-lg-10 mx-auto">
                <div class="card-body">
                    <h5 class="text-center"><b>Documents en cours de saisie</b></h5>
                    <div id="listSignRequestTable" class="table-fix-head">
                        <table th:if="${datas.getContent().size() > 0}" class="table table-sm table-hover">
                            <thead class="thead-dark">
                            <tr>
                                <th class="w-20 d-none d-lg-table-cell">
                                    <div class="position-relative">
                                        <button type="button" id="menu-toggle-multiple" class="btn text-light toggle-mini-menu" title="Menu global" data-target="#menu-multiple" aria-controls="menu-multiple" data-toggle="collapse">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="card position-absolute collapse mini-menu-thead" id="menu-multiple">
                                            <div class="card-body">
                                                <button id="selectAllButton" class="btn btn-transparent text-dark text-left col-12" title="Consulter" role="button">
                                                    <i class="far fa-check-square"></i> Tout sélectionner
                                                </button>
                                                <button id="unSelectAllButton" class="btn btn-transparent text-dark text-left col-12" title="Consulter" role="button">
                                                    <i class="far fa-minus-square"></i> Tout dé-sélectionner
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                <th class="text-center">Type</th>
                                <th class="text-center">Nom</th>
                                <th class="text-center"><a class="sorted" sd:pagination-sort="createDate">Date de création</a></th>
                                <th class="text-center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="data : ${datas}">
                            <tr th:data-href="'/user/datas/' + ${data.id} + '/update'">
                                <td class="w-20 d-none d-lg-table-cell"><input type="checkbox" class="datas-ids" name="ids[]" th:value="${data.id}"></td>
                                <td class="clickable-td"><span th:if="${data.form != null}" th:text="${data.form.name}"></span></td>
                                <td class="clickable-td" th:text="${data.name}"></td>
                                <td class="clickable-td" th:text="${#dates.format(data.createDate, 'dd/MM/yyyy HH:mm')}"></td>
                                <td class="">
                                    <button type="button" th:id="'menu-toggle-' + ${data.id}" class="btn text-dark toggle-mini-menu" th:title="'Actions ' + ${data.name}" th:data-target="'#menu-' + ${data.id}" th:aria-controls="'menu-' + ${data.id}" data-toggle="collapse">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div class="card position-absolute collapse mini-menu" th:id="'menu-' + ${data.id}" style="width:200px; right: 100px;z-index: 1000;">
                                        <div class=" card-body">
                                            <a class="btn btn-transparent text-dark text-left col-12" role="button" title="Modifier" th:href="'/user/datas/' + ${data.id} + '/update'">
                                                <i class="fas fa-pencil-alt pr-2"></i>Modifier
                                            </a>
                                            <a class="btn btn-transparent text-dark text-left col-12" title="Télécharger" role="button" th:href="'/user/datas/' + ${data.id} + '/export-pdf'" target="_blank">
                                                <i class="fas fa-download pr-2"></i>Télécharger
                                            </a>
                                            <a class="btn btn-transparent text-dark text-left col-12" th:href="'#modal-warning-' + ${data.id}" role="button" title="Supprimer" data-toggle="modal" th:data-target="'#modal-warning-' + ${data.id}">
                                                <i class="fas fa-trash-alt pr-2"></i>Supprimer
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <div class="modal modal-warning fade in" th:id="'modal-warning-' + ${data.id}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form id="command" th:action="'/user/datas/'+ ${data.id}" th:method="delete">
                                                <div class="modal-header">
                                                    <h2>Attention</h2>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="alert alert-danger">Confirmez-vous la suppression de ce brouillon ?</div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Non</button>
                                                    <button type="submit" class="btn btn-danger">Oui</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            </th:block>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="100%">
                                        <nav th:replace="fragments/pagination :: pagination"></nav>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div th:unless="${datas.getContent().size() > 0}" class="alert alert-secondary">
                            Aucun document pour le moment
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="newFomModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div th:replace="fragments/new"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>
