<!doctype html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="data" type="org.esupportail.esupsignature.entity.Data"*/-->
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/menu :: menu(activeMenu)"></header>
<main role="main">
    <div class="wrapper">
        <nav th:insert="fragments/side :: side"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="text-uppercase breadcrumb-nav">
            <ol  id="breadcrumb-ol" class="breadcrumb">
                <li class="breadcrumb-item"><a href="/user/datas">Mes documents</a></li>
                <li class="breadcrumb-item active" aria-current="page">Formulaire : <span th:text="${data.name}"></span>
                </li>
            </ol>
        </nav>
        <div class="content" id="content v-pills-tabContent">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    Vous consultez les données brutes du document <span th:text="${data.name}"></span>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <th:block th:each="item : ${data.datas}">
                            <li class="list-group-item"><b th:text="${item.key}"></b> : <span
                                    th:text="${item.value}"></span></li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>

<div class="modal modal-warning fade" id="modal-warning" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="command" th:action="'/user/' + ${user.eppn} + '/data/' + ${data.id}" method="post"><input type="hidden" name="_method" value="delete">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger text-center">Confirmez-vous
                        la suppression ?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Non</button>
                    <button type="submit" class="btn btn-outline pull-left btn-danger">Oui</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</html>
