<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="signBook" type="org.esupportail.esupsignature.entity.SignBook"*/-->
<!--/*@thymesVar id="signRequest" type="org.esupportail.esupsignature.entity.SignRequest"*/-->
<head th:replace="fragments/head-lite :: head-lite"></head>
<body>
<header th:replace="fragments/nav-empty :: nav-empty"></header>
<main role="main">
    <div class="wrapper">
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav-full">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Erreur</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <h1>Accès refusé</h1>
            <a class="btn btn-success" href="/">Retour à l'accueil</a>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer-light :: footer"></footer>
</body>
</html>
