<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="signBookLight" type="org.esupportail.esupsignature.entity.SignBook"*/-->
<!--/*@thymesVar id="signRequest" type="org.esupportail.esupsignature.entity.SignRequest"*/-->
<head th:replace="~{fragments/head-lite :: head}"></head>
<body>
<header th:replace="~{fragments/nav-empty :: nav-empty}"></header>
<main role="main">
    <div class="es-wrapper">
        <nav id="breadcrumb" aria-label="breadcrumb" class="es-breadcrumb-nav es-breadcrumb-nav-full-fixed es-breadcrumb-nav-full">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Erreur</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <h1>Accès refusé</h1>
            <a class="btn btn-success" href="/">Retour à l'accueil</a>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer-light :: footer}"></footer>
</body>
</html>
