<!DOCTYPE html>
<html>
<head>
<style>

tr:nth-child(even) {
  background-color: #f2f2f2
}

table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
}
</style>
</head>
<body>
<p>Bonjour</p>
<p>Voici la liste des demandes de signatures en attente : </p>

<table>
<tr style="font-weight: bold;">
	<th>Nom</th>
	<th>Date de création</th>
	<th>Créé par</th>
	<th>Consulter</th>
</tr>
#foreach( $signRequest in $signRequests )
<tr>
	<td>$signRequest.title</td>
	<td>$signRequest.createDate</td>
	<td>$signRequest.createBy</td>
	<td><a href="$rootUrl/user/signrequests/$signRequest.id">Voir</a></td>
</tr>
#end
</body>
</html>