<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<nav th:replace="fragments/nav-empty"></nav>
<main role="main">
    <div class="card col-lg-10 mx-auto" style="top: 60px;">
        <div class="card-body">
            <h1>Une erreur s’est produite (<span th:text="${error}"></span>)</h1>
            <p>Merci de contacter le gestionnaire de cette application</p>
            <a class="btn btn-success" href="javascript:window.history.back();">Retour</a>
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseError">
                <i class="fa fa-chevron-down"></i> Détails de l’erreur
            </button>
            <div id="collapseError" class="collapse mt-2">
            <table class="table table-striped">
                <tr class="row rowDesign">
                    <td class="col-md-4 ml-auto">
                        <span class="legend">Date</span>
                    </td>
                    <td class="col-md-8">
                        <span th:text="${timestamp}"></span>
                    </td>
                </tr>
                <tr class="row rowDesign">
                    <td class="col-md-4 ml-auto">
                        <span class="legend">Path</span>
                    </td>
                    <td class="col-md-8">
                        <span th:text="${path}"></span>
                    </td>
                </tr>
                <tr class="row rowDesign">
                    <td class="col-md-4 ml-auto">
                        <span class="legend">Error</span>
                    </td>
                    <td class="col-md-8">
                        <span th:text="${error}"></span>
                    </td>
                </tr>
                <tr class="row rowDesign">
                    <td class="col-md-4 ml-auto">
                        <span class="legend">Status</span>
                    </td>
                    <td class="col-md-8">
                        <span th:text="${status}"></span>
                    </td>
                </tr>
                <tr class="row rowDesign">
                    <td class="col-md-4 ml-auto">
                        <span class="legend">Message</span>
                    </td>
                    <td class="col-md-8">
                        <span th:text="${message}"></span>
                    </td>
                </tr>
                <tr class="row rowDesign">
                    <td class="col-md-4 ml-auto">
                        <span class="legend">Exception</span>
                    </td>
                    <td class="col-md-8">
                        <span th:text="${exception}"></span>
                    </td>
                </tr>
                <tr class="row rowDesign">
                    <td class="col-md-4 ml-auto">
                        <span class="legend">Trace</span>
                    </td>
                    <td class="col-md-8">
                        <span th:text="${trace}"></span>
                    </td>
                </tr>
            </table>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>