<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/menu"></header>
<main role="main">
    <div class="wrapper">
        <nav id="sidebar">
            <div class="m-1">
                <button title="Accueil" type="button" onclick="location.href='/'" class="mb-1 col-12 btn btn-transparent text-left">
                    <i class="fas fa-home"></i> <span class="sidebar-label">Accueil</span>
                </button>
            </div>
        </nav>
        <div class="content">
            <div class="alert alert-info">
                <div class="alert alert-dark">
                    <h5>Bienvenue sur l'application Esup-Signature.</h5>
                    <ul>
                        <li>
                            Pour effectuer des signatures calligraphiques sur un PDF il faut déposer un fichier image de votre
                            signature dans vos paramètres.
                        <li>
                            Pour utiliser la signature électronique, il est possible d'importer un keystore au format PKCS12
                            dans votre profil.
                            <br/>
                            Vous pouvez générer des certificats sur la plateforme <a target="_blank"
                                                                                     href="https://www.digicert.com/sso">https://www.digicert.com/sso</a>
                            (voir <a target="_blank"
                                     href="https://services.renater.fr/tcs/certcentral/orders/request-certificate">https://services.renater.fr/tcs/certcentral/orders/request-certificate</a>
                            pour plus de détails).
                        </li>
                        <li>
                            Enfin il est possible d'utiliser une clé matérielle. Pour cela vous devez installer l'application
                            NexU disponible ici : <a target="_blank"
                                                     href="https://github.com/nowina-solutions/nexu/releases/download/nexu-1.22/nexu-bundle-1.22.zip">NexU</a>
                        </li>
                    </ul>
                    <p>
                        Vous pouvez modifier / compléter vos paramètres à tous moments en utilisant le bouton paramètres en haut
                        à droite.
                    </p>
                </div>

                <p>Liste des demandes de signatures concernant l'utilisateur courant (à signer ou envoyés pour signature)</p>
                <p>Statut des demandes de signatures :</p>
                <p>
                <span class="alert alert-primary">
                <i class="fas fa-clock"></i> <span th:text="#{'signbook.status.pending'}"></span>
                </span> La demande se trouve dans un ou plusieurs circuits, elle est en attente d'une ou plusieurs signatures
                </p>
                <p>
                <span class="alert alert-success">
                <i class="fas fa-file-signature"></i> <span th:text="#{'signbook.status.signed'}"></span>
                </span> Tous les critères de signatures sont remplis
                </p>
                <p>
                <span class="alert alert-success">
                <i class="fas fa-check-circle"></i> <span th:text="#{'signbook.status.checked'}"></span>
                </span> Le document a été validé par tous les participants
                </p>
                <p>
                <span class="alert alert-danger">
                <i class="fas fa-ban"></i> <span th:text="#{'signbook.status.refused'}"></span>
                </span> La demande a été refusée et retirée des circuits
                </p>
                <p>
                <span class="alert alert-warning">
                <i class="fas fa-flag-checkered"></i> <span th:text="#{'signbook.status.completed'}"></span>
                </span> La demande la demande est terminée </p>
                <p>
				<span class="alert alert-warning">
				<i class="fas fa-file-export"></i> <span th:text="#{'signbook.status.exported'}"></span>
                </span> La demande la demande a été exportée vers un autre système de stockage et retirée des circuits
                </p>
            </div>
        </div>
    </div>
</main>
</body>
</html>