<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<main role="main" class="container">
	<div id="col-lg-12">
		<div id="lastleoauth"><!--  --></div>
		<div id="debug"><!--  --></div>
		<spring:url value="/login" var="loginUrl"></spring:url>
		<H1>Bienvenue sur Esup Signature</H1>
		<sec:authorize access="not isAuthenticated()">
			<button class="btn btn-primary btn-lg btn-block" onclick="window.location='/login'">
			
				<h3><span class="float-left">Se connecter</span><span class="fas fa-arrow-right float-right"><!--  --></span></h3>
			</button>
		</sec:authorize>
	</div>
		</main>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>