<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="securityServices" type="java.util.List<org.esupportail.esupsignature.service.security.SecurityService>"*/-->
<head th:replace="fragments/head"></head>
<body>
<script>
    var ua = window.navigator.userAgent;
    var msie = ua.indexOf("MSIE ");
    if (isIE || msie > 0) // If Internet Explorer, return version number
    {
        document.body.innerHTML = "";
        alert("Votre navigateur n'est pas compatible");
        window.location.href="https://www.google.com/intl/fr_fr/chrome/";
    } else {
        var isIE = /*@cc_on!@*/false || !!document.documentMode;
        if (isIE) {
            document.body.innerHTML = "";
            alert("Votre navigateur n'est pas compatible");
            window.location.href="https://www.google.com/intl/fr_fr/chrome/";
        }
    }
</script>

<nav th:replace="fragments/nav-empty"></nav>
<main role="main">
    <div class="card col-lg-10 mx-auto" style="top: 60px;">
        <div class="card-body text-center">
            <div class="d-none" th:if="${#authorization.expression('isAuthenticated()')}">
                <span th:if="${auth != null}" th:text="${auth}"></span>
            </div>
            <div th:if="${#authorization.expression('isAnonymous()')}">
                <h3>Se connecter avec :</h3>
                <th:block th:each="securityConfig : ${securityServices}">
                    <button type="button" th:data-url="${securityConfig.loginUrl}"
                            onclick="location.href=this.getAttribute('data-url')" th:text="${securityConfig.title}"
                            class="btn btn-primary btn-lg col-6 mb-2"></button>
                </th:block>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>