<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head th:replace="fragments/head"></head>
<body>
<nav th:replace="fragments/nav"></nav>
<main role="main">
    <div class="wrapper">
        <div class="content content-full">
            <div class="card col-lg-11">
                <div class="card-body text-center">
                    <div class="d-none" sec:authorize="isAuthenticated()">
                        <span th:if="${auth != null}" th:text="${auth}"></span>
                    </div>
                    <div sec:authorize="isAnonymous()">
                        <h3>Se connecter avec :</h3>
                        <th:block th:each="securityConfig : ${securityConfigs}">
                            <button type="button" th:data-url="${securityConfig.loginUrl}"
                                    onclick="location.href=this.getAttribute('data-url')" th:text="${securityConfig.name}"
                                    class="btn btn-primary btn-lg col-6 mb-2"></button>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>