<h5>Bienvenue sur l'application Esup-Signature.</h5>
<ul>
    <li>
        Pour effectuer des signatures calligraphiques sur un PDF il faut déposer un fichier image de votre
        signature dans vos paramètres.
    <li>
        Pour utiliser la signature électronique, il est possible d'importer un keystore au format PKCS12
        dans votre profil.
        <br/>
        Vous pouvez générer des certificats sur la plateforme <a target="_blank"
                                                                 href="https://www.digicert.com/sso">https://www.digicert.com/sso</a>
        (voir <a target="_blank"
                 href="https://services.renater.fr/tcs/certcentral/orders/request-certificate">https://services.renater.fr/tcs/certcentral/orders/request-certificate</a>
        pour plus de détails).
    </li>
    <li>
        Enfin il est possible d'utiliser une clé matérielle. Pour cela vous devez installer l'application
        NexU disponible ici : <a target="_blank"
                                 href="https://github.com/nowina-solutions/nexu/releases/download/nexu-1.22/nexu-bundle-1.22.zip">NexU</a>
    </li>
</ul>
<p>
    Vous pouvez modifier / compléter vos paramètres à tous moments en utilisant le bouton paramètres en haut
    à droite.
</p>