<!doctype html>
<!--/*@thymesVar id="signBook" type="org.esupportail.esupsignature.entity.SignBook"*/-->
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/menu :: menu(activeMenu)"></header>
<main role="main">
    <div class="wrapper">
        <nav id="sidebar">
            <div class="m-1">
                <button title="Accueil" type="button" onclick="location.href='/'" class="mb-1 col-12 btn btn-transparent text-left">
                    <i class="fas fa-home"></i> <span class="sidebar-label">Accueil</span>
                </button>
                <form th:action="'/manager/signbooks/' + ${signBook.id}" th:method="delete">
                    <button title="Supprimer" type="submit" onclick="return confirm('Voulez-vous vraiment supprimer cet element ?');" class="mb-1 col-12 btn btn-danger text-left">
                        <i class="fas fa-trash"></i><span class="sidebar-label"> Supprimer</span>
                    </button>
                </form>
                <button title="Retour" type="button" class="mb-1 col-12 btn btn-light text-left"
                        value="Retour" onclick="location.href='/manager/signbooks'">
                    <i class="fas fa-door-open"></i><span class="sidebar-label"> Retour à la liste</span>
                </button>
            </div>
        </nav>
        <div id="content" class="content">
            <nav aria-label="breadcrumb" class="nav justify-content-between">
                <div class="navbar-nav col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/manager">Liste des
                            parapheurs</a></li>
                        <li aria-current="page" class="breadcrumb-item active">Parapheur
                            : <span th:text="${signBook.name}"></span>
                        </li>
                    </ol>
                </div>
            </nav>
            <div class="card bg-light rounded-0">
                <div class="card-header">Parapheur : <span th:text="${signBook.name}"></span></div>
                <div class="card-body">
                    <dl class="row border-bottom m-0">
                        <dt class="col-lg-5">Description</dt>
                        <dd th:text="${signBook.description}"></dd>
                    </dl>
                    <dl class="row border-bottom m-0">
                        <dt class="col-lg-5">Type de parapheur</dt>
                        <dd th:text="#{'signbook.signbooktype.' + ${signBook.signBookType}}"></dd>
                    </dl>
                    <div th:if="${signBook.signBookType.name() == 'group'}">
                        <dl class="row border-bottom m-0">
                            <dt class="col-lg-5">Destinataires</dt>
                            <dd>
                                <div class="alert alert-dark col-12">
                                    <table class="table table-sm table-striped">
                                    <th:block th:each="recipientEmail : ${signBook.recipientEmails}">
                                        <tr>
                                        <td><i class="fas fa-inbox"></i></td>
                                        <td><span th:text="${recipientEmail}"></span></td>
                                        <td>
                                            <form th:action="'/manager/signbooks/remove-recipient/' + ${id}" th:method="delete">
                                                <input type="hidden" name="recipientEmail" th:value="${recipientEmail}">
                                                <button type="submit" class="btn btn-danger" onclick="return confirm('Voulez-vous vraiment supprimer cet element ?');">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </form>
                                        </td>
                                        </tr>
                                    </th:block>
                                    </table>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="addStep" tabindex="-1" role="dialog" aria-labelledby="addStepLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <form th:action="'/manager/signbooks/add-step/' + ${id}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addStepLabel">Ajouter une étape</h5>
                            </div>
                            <div class="modal-body">
                                <div class="input-group">
                                    <select onchange="checkNbRecipients();" name="signBookNames" id="signBookNames" size="5" multiple="multiple" required="required">
                                        <th:block th:each="signBook : ${allSignBooks}">
                                            <option th:value="${signBook.name}" th:text="${signBook.name} + ' (' + ${signBook.signBookType} + ')'"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="form-group" id="_allSignToComplete_div_id">
                                    <label for="_allSignToComplete">
                                        <strong> Tous les participants doivent-ils signer ? </strong>
                                        <button data-target="#collapseHelpAllSign" data-toggle="collapse" type="button" class="btn btn-sm btn-info">
                                            <span class="fas fa-info-circle"></span>
                                        </button>
                                        <div class="collapse" id="collapseHelpAllSign">
                                            <div class="alert alert-info">
                                                <small>
                                                    <ul>
                                                        <li>
                                                            Oui : Tous les participants doivent signer pour que la demande passe au status "Signé"
                                                        </li>
                                                        <li>
                                                            Non : Une seule signature suffit
                                                        </li>
                                                    </ul>
                                                </small>
                                            </div>
                                        </div>
                                    </label>
                                    <div class="col-lg-8">
                                        <label class="switch">
                                            <input type="checkbox" name="allSignToComplete" id="_allSignToComplete"/>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group" id="_signType_div_id">
                                    <label for="_signType_id"> <strong> Type de signature
                                        par défaut
                                        <button data-target="#collapseHelpSignType"
                                                data-toggle="collapse" type="button"
                                                class="btn btn-sm btn-info">
                                            <i class="fas fa-info-circle"></i>
                                        </button>
                                    </strong>
                                        <div class="collapse" id="collapseHelpSignType">
                                            <div class="alert alert-info">
                                                <ul>
                                                    <li>PAdES/XAdES : s'appuie sur le certificat P12
                                                        uploader au niveau de vos paramètres
                                                    </li>
                                                    <li>Apposition de la signature : ajoute simplement
                                                        l'image de votre signature sur un PDF à l'endroit voulu
                                                    </li>
                                                    <li>PAdES/XAdES avec NexU : s'appuie l'application NexU
                                                        qui permet l'utilisation d'un certificat matériel
                                                    </li>
                                                    <li>Confirmation de lecture : permet de valider la
                                                        lecture d'un document
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </label>
                                    <div class="col-lg-8">
                                        <select id="_signType_id" name="signType" class="form-control" size="1">
                                            <th:block th:each="signType : ${signTypes}">
                                                <option th:value="${signType}" th:text="#{'signbook.signtype.' + ${signType}}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="_newPageType_div_id">
                                    <label for="_newPageType_id">
                                        <strong> Insérer unepage de garde </strong>
                                    </label>
                                    <div class="col-lg-8">
                                        <select id="_newPageType_id" name="newPageType"
                                                class="form-control" size="1">
                                            <th:block th:each="newPageType : ${newPageTypes}">
                                                <option th:value="${newPageType}" th:text="#{'signbook.newpagetype.' + ${newPageType}}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                <button type="submit" class="btn btn-success">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i> Ajouter
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="addRecipients" tabindex="-1" role="dialog" aria-labelledby="addRecipientsLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form th:action="'/manager/signbooks/add-recipients/' + ${id}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addRecipientsLabel">Ajouter un destinataire</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div th:if="${signBook.signBookType.name() == 'group'}" class="form-group" id="_c_org_esupportail_esupsignature_domain_SignRequest_recipientemails">
                                    <label for="recipientemailsSelect"> <strong> Destinataires </strong>
                                        <button class="btn btn-sm btn-info" data-target="#collapseHelp2" data-toggle="collapse" type="button">
                                            <i class="fas fa-info-circle"></i>
                                        </button>
                                        <div class="collapse" id="collapseHelp2">
                                            <div class="alert alert-info"></div>
                                        </div>
                                    </label>
                                    <select id="recipientemailsSelect" multiple="multiple" name="recipientEmails" required="required"></select>
                                    <script type="text/javascript">
                                        new SlimSelect({
                                            select: '#recipientemailsSelect',
                                            placeholder: 'Choisir un ou plusieurs utilisateurs',
                                            searchText: 'Aucun résultat',
                                            searchPlaceholder: 'Rechercher',
                                            searchHighlight: true,
                                            searchFilter: (option, search) => {
                                                return true;
                                            },
                                            ajax: function (search, callback) {
                                                if (search.length < 3) {
                                                    callback('Merci de saisir au moins 3 caractères')
                                                    return
                                                }
                                                fetch('/ws/searchLdap?searchString=' + search)
                                                    .then(function (response) {
                                                        return response.json()
                                                    })
                                                    .then(function (json) {
                                                        let data = []
                                                        for (let i = 0; i < json.length; i++) {
                                                            data.push({text: json[i].displayName + ' (' + json[i].uid + ')', value: json[i].mail});
                                                        }
                                                        callback(data)
                                                    })
                                                    .catch(function (error) {
                                                        callback(false)
                                                    })
                                            }

                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                <button type="submit" class="btn btn-primary">Ajouter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script language="JavaScript">
    var testSignBookName = document.getElementById("signBookNames");

    if (testSignBookName != null) {
        var signBookNamesSelect = new SlimSelect({
            select: '#signBookNames',
            placeholder: 'Choisir un ou plusieurs parapheur(s)',
            searchText: 'Aucun résultat',
            searchPlaceholder: 'Rechercher',
            searchHighlight: true,
            searchFilter: (option, search) => {
                return true;
            },
            ajax: function (search, callback) {
                if (search.length < 3) {
                    callback('Merci de saisir au moins 3 caractères')
                }
                fetch('/user/users/searchLdap?searchString=' + search)
                    .then(function (response) {
                        return response.json()
                    })
                    .then(function (json) {
                        let data = []
                        for (let i = 0; i < json.length; i++) {
                            data.push({text: json[i].displayName + ' (' + json[i].uid + ')', value: json[i].mail});
                        }
                        callback(data)
                    })
                    .catch(function (error) {
                        callback(false)
                    })
            }
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        allSignToComplete = document.getElementById("_allSignToComplete");
        signBookSelect = document.getElementById("signBookNames");
    });
</script>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/message :: message"></div>
</body>
</html>