<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
<main role="main">
    <div class="wrapper">
        <nav id="sidebar">
            <div class="m-1">
                <button title="Accueil" type="button" onclick="location.href='/'" class="mb-1 col-12 btn btn-transparent text-left">
                    <i class="fas fa-home"></i> <span class="sidebar-label">Accueil</span>
                </button>
                <button title="Abandonner" type="button" class="btn btn-light col-12 mb-1 text-left" value="Retour" onclick="window.history.back()">
                    <i class="fas fa-times"></i><span class="sidebar-label"> Retour</span>
                </button>
                <button type="submit" class="btn btn-success col-12 mb-1 text-left" onclick="document.getElementById('updateSignBook').submit();">
                    <i class="fas fa-save"></i> <span class="sidebar-label">Enregistrer</span>
                </button>
            </div>
        </nav>
        <div id="content" class="content">
            <nav aria-label="breadcrumb" class="nav justify-content-between">
                <div class="navbar-nav col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/manager">Liste des
                            parapheurs</a></li>
                        <li aria-current="page" class="breadcrumb-item active">Parapheur
                            : <span th:text="${signBook.name}"></span>
                        </li>
                    </ol>
                </div>
            </nav>
    <form th:object="${signBook}" th:action="'/manager/signbooks/update/' + ${signBook.id}" method="post" id="updateSignBook">
        <input type="hidden" th:field="*{id}">
        <div class="card card-body bg-light">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group" id="_c_org_esupportail_esupsignature_domain_SignRequest_managers">
                        <label for="managersSelect"><strong>Gestionnaire(s) du parapheur</strong>
                            <button class="btn btn-sm btn-light" data-target="#collapseHelp1" data-toggle="collapse" type="button">
                                <span class="fas fa-info-circle text-info"></span>
                            </button>
                            <div class="collapse" id="collapseHelp1">
                                <div class="alert alert-info">
                                    <!--  -->
                                </div>
                            </div>
                        </label>
                        <select id="managersSelect" multiple="multiple" name="managers">
                            <th:block th:each="manager : ${signBook.managers}">
                                <option selected="selected" th:value="${manager}" th:text="${manager}"></option>
                            </th:block>
                        </select>
                        <script type="text/javascript">
                            new SlimSelect({
                                select: '#managersSelect',
                                placeholder: 'Choisir un ou plusieurs utilisateurs',
                                searchText: 'Aucun résultat',
                                searchPlaceholder: 'Rechercher',
                                searchHighlight: true,
                                searchFilter: (option, search) => {
                                    return true;
                                },
                                ajax: function (search, callback) {
                                    if (search.length < 3) {
                                        callback('Merci de saisir au moins 3 caractères')
                                        return
                                    }
                                    fetch('/ws/searchUser?searchString=' + search)
                                        .then(function (response) {
                                            return response.json()
                                        })
                                        .then(function (json) {
                                            let data = []
                                            for (let i = 0; i < json.length; i++) {
                                                data.push({text: json[i].displayName + ' (' + json[i].uid + ')', value: json[i].mail});
                                            }
                                            callback(data)
                                        })
                                        .catch(function (error) {
                                            callback(false)
                                        })
                                }

                            });
                        </script>
                    </div>
                    <div class="form-group">
                        <label for="_sourceType_id">
                            <strong> Protocole pour la source des documents </strong>
                        </label>
                        <select class="form-control" id="_sourceType_id" th:field="*{sourceType}" size="1">
                            <th:block th:each="sourceType : ${sourceTypes}">
                                <option th:selected="${signBook.sourceType == sourceType}" th:value="${sourceType}" th:text="#{'signbook.documentiotype.' + ${sourceType}}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group" id="_c_org_esupportail_esupsignature_domain_SignBook_documentsSourceUri">
                        <label for="documentsSourceUri"> <strong>Lien pour la source des documents</strong></label>
                        <input id="documentsSourceUri" th:field="*{documentsSourceUri}" placeholder="Si autre que la valeur par défaut" class="form-control" type="text" value="" autocomplete="on">
                    </div>
                    <div class="form-group" id="c_org_esupportail_esupsignature_domain_SignBook_targetType">
                        <label for="_targetType_id">
                            <strong> Protocole pour la destination des documents </strong>
                        </label>
                        <select class="form-control" id="_targetType_id" th:field="*{targetType}" size="1">
                            <th:block th:each="targetType : ${targetTypes}">
                                <option th:selected="${signBook.targetType == targetType}" th:value="${targetType}" th:text="#{'signbook.documentiotype.' + ${targetType}}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group" id="_c_org_esupportail_esupsignature_domain_SignBook_documentsTargetUri">
                        <label for="documentsTargetUri"><strong>Lien pour la destination des documents</strong></label>
                        <input id="documentsTargetUri" th:field="*{documentsTargetUri}" placeholder="Si autre que la valeur par défaut" class="form-control" type="text" value="" autocomplete="on">
                    </div>
                    <div class="form-group" id="_c_org_esupportail_esupsignature_domain_SignBook_description">
                        <label for="_description_id"><strong>Description</strong></label>
                        <textarea id="_description_id" name="description" class="form-control" rows="5" cols="50"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
    </div>
</main>
<script type="text/javascript">
    var sourceSelector = document.getElementById("_sourceType_id");
    var targetSelector = document.getElementById("_targetType_id");
    var sourceUri = document
        .getElementById("_c_org_esupportail_esupsignature_domain_SignBook_documentsSourceUri");
    var targetUri = document
        .getElementById("_c_org_esupportail_esupsignature_domain_SignBook_documentsTargetUri");
    if (sourceUri.value == "") {
        sourceUri.style.display = "none";
    }
    if (targetUri.value == "") {
        targetUri.style.display = "none";
    }
    sourceSelector.onchange = function () {
        if (sourceSelector.value != "none") {
            sourceUri.style.display = "block";
        } else {
            sourceUri.style.display = "none";
        }
    };
    targetSelector.onchange = function () {
        if (targetSelector.value != "none") {
            targetUri.style.display = "block";
        } else {
            targetUri.style.display = "none";
        }
    };


    new SlimSelect({
        select: '#managersSelect',
        placeholder: 'Choisir un ou plusieurs utilisateurs',
        searchText: 'Aucun résultat',
        searchPlaceholder: 'Rechercher',
        searchHighlight: true,
        searchFilter: (option, search) => {
            return true;
        },
        ajax: function (search, callback) {
            if (search.length < 3) {
                callback('Merci de saisir au moins 3 caractères')
                return
            }
            fetch('/user/users/searchUser?searchString=' + search)
                .then(function (response) {
                    return response.json()
                })
                .then(function (json) {
                    let data = []
                    for (let i = 0; i < json.length; i++) {
                        data.push({text: json[i].displayName, value: json[i].mail});
                    }
                    callback(data)
                })
                .catch(function (error) {
                    callback(false)
                })
        }

    });
</script>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/message :: message"></div>
</body>
</html>