<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml"lang="fr" >
<!--/*@thymesVar id="signBook" type="org.esupportail.esupsignature.entity.SignBook"*/-->
<!--/*@thymesVar id="signRequest" type="org.esupportail.esupsignature.entity.SignRequest"*/-->
<!--/*@thymesVar id="signRequests" type="org.springframework.data.domain.Page<esupportail.esupsignature.entity.SignRequest>"*/-->
<!--/*@thymesVar id="statusFilter" type="org.esupportail.esupsignature.entity.enums.SignRequestStatus"*/-->
<!--/*@thymesVar id="infiniteScrolling" type="java.lang.Boolean"*/-->
<head th:replace="~{fragments/head :: head}"></head>
<script th:inline="javascript" type="module">
    import {ListSignBooksUi} from '/js/modules/ui/signbooks/ListSignBooksUi.js?version=@[(${versionApp})]@';
    new ListSignBooksUi([[${signBooks}]], [[${statusFilter}]], [[${recipientsFilter}]], [[${workflowFilter}]], [[creatorFilter]], [[${docTitleFilter}]], [[${infiniteScrolling}]], [[${_csrf}]], "user");
</script>
<body>
<header th:replace="~{fragments/nav :: nav}"></header>
<main role="main" th:style="${infiniteScrolling} ? '' : 'padding-bottom: 0px;'">
    <div class="wrapper">
        <nav th:replace="~{fragments/sides/side-dashboard :: side-dashboard}"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Tableau de bord</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div id="signButtons" class="fixed-action-btns active">
                <ul id="buttonList" class="list-unstyled">
                    <li>
                        <a type="button" id="massSignModalButton"
                            data-bs-toggle="modal" data-bs-target="#massSignModal"
                            title="Signer en masse les demandes sélectionnées"
                            class="btn-floating btn-lg bg-success d-none">
                            <i class="fa-solid fa-file-signature fa-2xl"></i>
                        </a>
                    </li>
                    <li>
                        <a type="button" id="deleteMultipleButton"
                            title="Supprimer en masse les demandes sélectionnées"
                            class="btn-floating btn-lg bg-danger d-none">
                            <i class="fa-solid fa-trash-alt fa-2xl"></i>
                        </a>
                    </li>
                    <li>
                        <a type="button" id="downloadMultipleButton"
                            title="Télécharger la selection"
                            class="btn-floating btn-lg bg-primary d-none">
                            <i class="fa-solid fa-download fa-2xl"></i>
                        </a>
                    </li>
                    <li>
                        <a type="button" id="downloadMultipleButtonWithReport"
                            title="Télécharger la selection avec les rapports"
                            class="btn-floating btn-lg bg-primary d-none">
                            <i class="fa-solid fa-file-archive fa-2xl"></i>
                        </a>
                    </li>
                    <li>
                        <a th:unless="${#authorization.expression('hasRole(''ROLE_OTP'')') || #authorization.expression('hasRole(''ROLE_FRANCECONNECT'')')}" data-bs-toggle="modal" data-bs-target="#newFomModal" type="button"
                            title="Créer une nouvelle demande"
                            class="btn-floating btn-lg bg-primary">
                            <i class="fa-solid fa-plus fa-2xl"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div tabindex="0" id="listSignRequestTable" class="table-fix-head scrollbar-style rounded-3 col-sm-9 col-md-10 col-xl-11 p-0 m-2" style="outline: none;">
                <div id="loader" class="loader" style="position: fixed; left: 50%; top: 40%; z-index:100000000; display: none;"></div>
                <table class="table table-borderless table-hover table-light">
                <thead class="table-secondary">
                <tr style="z-index: 2;">
                    <th class="w-20 d-none d-lg-table-cell">
                        <div class="dropdown position-relative">
                            <button type="button" id="menu-toggle_multiple" class="btn" title="Menu global" data-bs-target="#menu-multiple" aria-controls="menu-multiple" data-bs-toggle="dropdown">
                                <i class="fa-solid fa-ellipsis-v"></i>
                            </button>
                            <ul class="dropdown-menu position-absolute ps-2 pe-2 mt-2" id="menu-multiple">
                                <li>
                                    <button id="selectAllButton" class="btn btn-transparent text-dark text-left col-12" title="Consulter" role="button">
                                        <i class="fa-regular fa-check-square"></i> Tout sélectionner
                                    </button>
                                </li>
                                <li>
                                    <button id="unSelectAllButton" class="btn btn-transparent text-dark text-left col-12" title="Consulter" role="button">
                                        <i class="fa-regular fa-minus-square"></i> Tout dé-sélectionner
                                    </button>
                                </li>
                                <li>
                                    <button id="menuDeleteMultipleButton" class="btn btn-transparent text-dark text-left col-12 d-none"><i class="fa-solid fa-trash-alt pr-2"></i> Supprimer la sélection</button>
                                </li>
                                <li>
                                    <button id="menuDownloadMultipleButton" class="btn btn-transparent text-dark text-left col-12 d-none"><i class="fa-solid fa-download pr-2"></i> Télécharger la sélection</button>
                                </li>
                                <li>
                                    <button id="menuDownloadMultipleButtonWithReport" class="btn btn-transparent text-dark text-left col-12 d-none"><i class="fa-solid fa-download pr-2"></i> Télécharger la sélection avec rapports</button>
                                </li>
                            </ul>
                        </div>
                    </th>
                    <th class="w-20 d-none d-lg-table-cell"></th>
                    <th class="d-none d-xxl-table-cell text-center" style="width: 10%;">
                        <select id="workflowFilter" class="slim-select-filter sign-request-filter" data-placeholder="Circuit" data-allow-deselect="true">
                            <option data-placeholder="true"></option>
                            <option value="all">Tout</option>
                            <th:block th:each="workflow : ${workflowNames}">
                                <option th:value="${workflow}" th:selected="${workflowFilter == workflow}" th:text="${workflow}"></option>
                            </th:block>
                        </select>
                    </th>
                    <th class="text-center" style="width: 10%;">
                        <select es-search-text="Titre du document" es-search-url="/user/signbooks/search-doc-titles" id="docTitleFilter" class="slim-select-filter-search sign-request-filter" data-placeholder="Titre des documents" data-allow-deselect="true">
                            <option data-placeholder="true"></option>
                            <option value="all">Tout</option>
                        </select>
                    </th>
                    <th class="d-none d-xxxxl-table-cell">
                        <div class="d-flex text-center">
                            <select id="creatorFilter" class="slim-select-filter sign-request-filter" data-placeholder="Crée par" data-allow-deselect="true">
                                <option data-placeholder="true"></option>
                                <option value="all">Tout</option>
                                <th:block th:each="creator : ${creators}">
                                    <option th:value="${creator.eppn}" th:selected="${creatorFilter == creator.eppn}" th:text="${creator.firstname} + ' ' + ${creator.name}"></option>
                                </th:block>
                            </select>
                            <a class="sorted my-auto text-center ms-1" sd:pagination-sort="createBy"><i class="fa-solid fa-sort"></i></a>
                        </div>
                    </th>
                    <th class="d-none d-xl-table-cell">
                        <div class="d-flex text-center">
                            <input type="date" id="dateFilter" name="dateFilter" placeholder="Date de création" title="Date de création" class="form-control date sign-request-filter" th:value="${dateFilter}">
                            <a class="sorted my-auto text-center ms-1" sd:pagination-sort="createDate"><i class="fa-solid fa-sort"></i></a>
                        </div>
                    </th>
                    <th class="d-none d-xxxl-table-cell">
                        <select id="recipientsFilter" class="slim-select-filter sign-request-filter" data-placeholder="Participants" data-allow-deselect="true">
                            <option data-placeholder="true"></option>
                            <option value="all">Tout</option>
                            <th:block th:each="signRequestRecipient : ${signRequestRecipients}">
                                <option th:value="${signRequestRecipient.eppn}" th:selected="${recipientsFilter == signRequestRecipient.eppn}" th:text="${signRequestRecipient.firstname + ' ' + signRequestRecipient.name}"></option>
                            </th:block>
                        </select>
                    </th>
                    <th class="d-none d-xxxl-table-cell"><a class="sorted" sd:pagination-sort="endDate">Date dernière modification</a></th>
                    <th class=""><a class="sorted" sd:pagination-sort="status">Statut</a></th>
                    <th >Actions</th>
                </tr>
                </thead>
                <tbody id="signRequestTable">
                <tr th:replace="~{user/signbooks/includes/list-elem}"></tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="100%">
                        <a id="more-sign-request" href="javascript:void(0);" th:if="${infiniteScrolling}">Afficher plus d’éléments</a>
                    </td>
                </tr>
                </tfoot>
            </table>
            </div>
            <nav  th:unless="${infiniteScrolling}" th:insert="~{fragments/pagination :: pagination}"></nav>
        </div>
    </div>
</main>
<div data-bs-focus="false" class="modal fade" id="massSignModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="checkCertSignModalLabel">Signature en masse</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">Le système de signature en masse essaie de signer toutes les demandes sélectionnées, peu importe leur type ou leur statut. Cependant, il peut ne pas prendre en compte certaines demandes en fonction du type de signature, du statut du document ou de la présence d'un emplacement de signature. Après la signature, un rapport d'erreurs est généré pour identifier les problèmes éventuels.</div>
                <div id="selectTypeDiv" class="alert alert-secondary mt-1">
                    <label for="certType">Si besoin, merci de sélectionner le type de signature que vous souhaitez utiliser parmi ceux disponibles</label>
                    <div class="input-group mt-2">
                        <select id="certType" name="certType" class="form-control form-select border-light-subtle" required>
                            <th:block th:each="signWith : ${signWiths}">
                                <th:block th:if="${signWith.name != 'sealCert'}">
                                    <option th:value="${signWith}" th:text="#{'signwith.' + ${signWith}}"></option>
                                </th:block>
                                <th:block th:if="${signWith.name == 'sealCert'}">
                                    <option th:if="${sealCertOK}" th:value="${signWith}" th:text="#{'signwith.' + ${signWith}}"></option>
                                    <option th:unless="${sealCertOK}" value="" th:text="#{'signwith.' + ${signWith}}" disabled></option>
                                </th:block>
                            </th:block>
                        </select>
                        <button id="refresh-certType" type="button" class="btn border-light-subtle" title="Actualiser la liste des types de signature"><i class="fa-solid fa-arrows-rotate"></i></button>
                    </div>
                    <input type="text" autocomplete="username" name="username" class="d-none">
                    <input class="form-control mt-2 mb-1" autocomplete="new-password" type="password" id="password" name="password" value="" placeholder="Mot de passe du keystore" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button id="launchMassSignButton" class="btn btn-success" title="Lancer la signature en masse" autofocus>
                    <i class="fas fa-signature"></i> Lancer la signature en masse
                </button>
            </div>
        </div>
    </div>
</div>
<div data-bs-focus="false" class="modal fade" id="newFomModal"  role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Créer une nouvelle demande</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div th:replace="~{fragments/new :: new}"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div id="wait" data-bs-focus="false" class="modal fade"  role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5>Signature en cours</h5>
                <div id="signSpinner" class="justify-content-center">
                    <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;">
                        <span class="sr-only">En cours...</span>
                    </div>
                </div>
                <span id="bar-text"></span>
                <div id="signError" class="alert alert-danger mt-2 text-break" role="alert">
                    Erreur du système de signature
                </div>
            </div>
            <div class="modal-footer">
                <button id="closeModal" type="button" class="btn btn-secondary align-self-center" data-bs-dismiss="modal" onclick="location.reload();">
                    Fermer
                </button>
                <button id="validModal" onclick="location.href = '/user/reports';" class="btn btn-secondary">Voir le rapport complet</button>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>