<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data">
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/menu :: menu(activeMenu)"></header>
<main role="main">
    <div class="wrapper">
        <nav id="sidebar">
            <div class="m-1">
            <button title="Accueil" type="button" onclick="location.href='/'" class="mb-1 col-12 btn btn-transparent text-left">
                <i class="fas fa-home"></i> <span class="sidebar-label">Accueil</span>
            </button>
            <button title="Assistant de demande de signature"  type="button" data-toggle="modal" data-target="#wizardModal" class="mb-1 col-12 btn btn-light btn-outline-dark text-left">
                <i class="fas fa-magic"></i> <span class="sidebar-label">Nouvelle demande</span>
            </button>
            <button title="Assistant de demande de signature"  type="button" data-toggle="modal" data-target="#wizardModal" class="mb-1 col-12 btn btn-light btn-outline-dark text-left">
                <i class="fas fa-project-diagram"></i> <span class="sidebar-label">Nouveau circuit de signature</span>
            </button>
            <button title="Signature rapide"  type="button" data-toggle="modal" data-target="#fastSignRequestModal" class="d-none mb-1 col-12 btn btn-light btn-outline-dark text-left">
                <i class="fas fa-plus"></i> <span class="sidebar-label">Signature rapide</span>
            </button>
            <button title="Signature rapide"  type="button" data-toggle="modal" data-target="#fastSignRequestModal" class="d-none mb-1 col-12 btn btn-light btn-outline-dark text-left">
                <i class="fas fa-plus"></i> <span class="sidebar-label">Signature rapide</span>
            </button>
            <button title="Valider la signature d'un document" type="button" onclick="location.href='/user/validation'" class="mb-1 col-12 btn btn-light btn-outline-dark text-left">
                <i class="fas fa-shield-alt"></i> <span class="sidebar-label">Controler un document signé</span>
            </button>
            <button id="opendocs" class="mb-1 btn btn-outline-dark btn-light float-left" onclick="openCheckedDocs()" title="open docs" style="display: none;">
                <i class="far fa-eye fa-2x"></i> Ouvrir les documents sélectionnés
            </button>
            <button id="signdocs" class="mb-1 btn btn-outline-dark btn-light float-left" type="button" data-toggle="modal" data-target="#signModal" style="display: none;">
                <i class="fas fa-signature fa-2x"></i> Signer les documents sélectionnés
            </button>
            <button data-toggle="modal" data-target="#wait" id="complete" onclick="completeSignRequests()" title="Passer au statut terminé" class="d-none col-12 m-2 btn btn-outline-dark btn-light float-left">
                <i class="fas fa-flag-checkered"></i> Passer au statut terminé
            </button>
            </div>
        </nav>
        <div id="content" class="content">
           <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Liste des demandes</li>
                </ol>
            </nav>
            <div class="card rounded-0">
                <div class="card-header">
                    Documents à signer
                </div>
                <div class="card-body">
                    <div th:if="${#lists.size(signBooksToView) > 0}" class="table-responsive">
                        <table class="table table-sm table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="">Titre</th>
                                <th class="d-none d-md-table-cell">Date de création</th>
                                <th class="d-none d-lg-table-cell">Créé par</th>
                                <th>Voir</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="signBook : ${signBooksToView}">
                                <tr>
                                    <td class="text-break" th:text="${signBook.name}"></td>
                                    <td class="d-none d-md-table-cell"><span th:text="${#dates.format(signBook.createDate, 'dd/MM/yyyy HH:mm')}"></span></td>
                                    <td class="d-none d-lg-table-cell"><span th:text="${signBook.createBy}"></span></td>
                                    <td class="utilbox">
                                        <a class="btn btn-info far fa-eye" title="Voir" th:href="'/user/signbooks/' + ${signBook.id} + '/0'"></a>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                    <span th:unless="${#lists.size(signBooksToView) > 0}" class="table-responsive">
				Aucun document à signer pour le moment
			</span>
                </div>
            </div>
            <br/>
            <div class="card rounded-0">
                <div class="card-header">
                    <h5>Mes demandes</h5>
                    <form class="" action="" method="get">
                        <div class="card">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Statut</div>
                                </div>
                                <select class="form-control" name="statusFilter" id="statusFilter" onchange="submit();">
                                    <option value="" disabled="disabled" selected="selected">Choisir un statut</option>
                                    <option value="all">Tous</option>
                                    <th:block th:each="status : ${statuses}">
                                        <option th:if="${status == statusFilter}" th:value="${status}" selected="selected" th:text="#{'signbook.status.' + ${status}}"></option>
                                        <option th:unless="${status == statusFilter}" th:value="${status}" th:text="#{'signbook.status.' + ${status}}"></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div style="display: none;" id="alertsigndocs" class="alert alert-danger" role="alert">Impossible de signer en masse la selection actuelle</div>
                </div>
                <div class="card-body">
                        <table class="table table-sm table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="none">Titre</th>
                                <th class="d-none d-xl-table-cell"><a class="sorted" sd:pagination-sort="createDate">Date de création</a></th>
                                <th class="d-none d-xl-table-cell">Status</th>
                                <th>Voir</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="signBook : ${signBooksCreateByCurrentUser}">
                                <tr>
                                    <td class="text-break" th:title="${signBook.name}" th:text="${signBook.name}"></td>
                                    <td class="d-none d-xl-table-cell"><span th:text="${#dates.format(signBook.createDate, 'dd/MM/yyyy HH:mm')}"></span></td>
                                    <td class="d-none d-xl-table-cell"><span th:text="${signBook.status}"></span></td>
                                    <td class="utilbox">
                                        <button class="btn btn-info fas fa-eye" title="Voir" th:onclick="'location.href=\'/user/signbooks/' + ${signBook.id} + '/0\''">
                                            <!--  -->
                                        </button>
                                    </td>
                                    <td class="utilbox">
                                        <button class="btn btn-warning fas fa-pen" title="Modifier" th:onclick="'location.href=\'/user/signbooks/' + ${signBook.id} + '?form\''">
                                            <!--  -->
                                        </button>
                                    </td>
                                    <td class="utilbox">
                                        <form class="delete" th:action="'/user/signbooks/' + ${signBook.id}" th:method="'delete'">
                                            <button onclick="return confirm('Voulez-vous vraiment supprimer cet element ?');" value="Supprimer Sign Request" type="submit" title="Supprimer Sign Request"
                                                    class="btn btn-danger far fa-trash-alt"></button>
                                        </form>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                </div>
                <div c lass="card-footer">
                    <nav th:replace="fragments/pagination :: pagination"></nav>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="wizardModal" tabindex="-1" role="dialog" aria-labelledby="addSignRequestLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Création d'une demande</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe id="wizIframe" frameborder="0" src="/user/signbooks/wizard/wiz1"  style="width: 100%; height: 500px;" ></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addSignRequestModal" tabindex="-1" role="dialog" aria-labelledby="addSignRequestLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form th:action="'/user/signrequests'" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="addSignRequestLabel">Créer une nouvelle demande</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="form-group" id="_c_org_esupportail_esupsignature_domain_SignRequest_title">
                            <label for="title"><strong>Titre de la demande</strong></label>
                            <input id="title" name="title" class="form-control" required="required" type="text" value="" autocomplete="on">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" id="register-form-submit" class="btn btn-success">
                        Suivant <i class="fas fa-angle-right"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="fastSignRequestModal" tabindex="-1" role="dialog" aria-labelledby="addSignRequestLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form th:action="'/user/signrequests/fast-sign-request?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="fastSignRequestLabel">Créer une nouvelle demande</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <div class="custom-file">
                                <input required aria-describedby="inputGroupFileAddon01" class="custom-file-input" data-buttontext="Choisir fichier" id="inputGroupFile01" name="multipartFile" type="file">
                                <label class="custom-file-label" for="inputGroupFile01" id="inputGroupLabel01">
                                    Choisir un document
                                </label>
                            </div>
                        </div>
                        <label for="signType">Choisir un type de signature</label>
                        <select name="signType" id="signType" class="form-control">
                            <th:block th:each="signType : ${signTypes}">
                                <option th:value="${signType}" th:text="#{'signbook.signtype.' + ${signType}}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" id="fast-form-submit" class="btn btn-success">
                        Suivant <i class="fas fa-angle-right"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/message :: message"></div>
</body>
</html>
