<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="signBook" type="org.esupportail.esupsignature.entity.SignBook"*/-->
<!--/*@thymesVar id="signRequest" type="org.esupportail.esupsignature.entity.SignRequest"*/-->
<!--/*@thymesVar id="log" type="org.esupportail.esupsignature.entity.Log"*/-->
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/menu :: menu(activeMenu)"></header>
<main role="main">
    <div class="wrapper">
        <nav id="sidebar">
            <div class="m-1">
                <button title="Accueil" type="button" onclick="location.href='/'" class="mb-1 col-12 btn btn-transparent text-left">
                    <i class="fas fa-home"></i> <span class="sidebar-label">Accueil</span>
                </button>
                <div class="alert alert-secondary col-12 mb-1 p-2">
                    <label class="control-label">Navigation : </label>
                    <span>page <span id="page_num"></span> / <span id="page_count"></span></span>
                    <br/>
                        <button id="prev" class="btn btn-light btn-outline-dark" aria-label="Précédent">
                            <i class="fas fa-arrow-left"></i>
                        </button>
                        <button id="next" class="btn btn-light btn-outline-dark" aria-label="Prochain">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                </div>
                <div class="alert alert-secondary col-3 col-md-12 mb-1 p-2">
                    <label class="control-label">Zoom</label>
                    <br/>
                    <button id="zoomout" class="btn btn-light btn-outline-dark"><i class="fas fa-search-minus"></i></button>
                    <button id="zoomin" class="btn btn-light btn-outline-dark"><i class="fas fa-search-plus"></i></button>
                </div>
                <div class="alert alert-secondary col-3 col-md-12 mb-1 p-2">
                    <label class="control-label">Rotation</label>
                    <br/>
                    <button id="rotateleft" class="btn btn-light btn-outline-dark"><i class="fas fa-undo"></i></button>
                    <button id="rotateright" class="btn btn-light btn-outline-dark"><i class="fas fa-redo"></i></button>
                </div>
                <div class="alert alert-success col-3 col-md-12 mb-1 p-1" th:classappend="${signable != 'ok'} ? 'd-none' ">
                    <div id="signmode" class="form-check">
                        <label>Activer le mode signature</label>
                        <label class="switch">
                            <input type="checkbox" id="signmod" name="signmod" onchange="toggleSignMode();">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <button class="btn btn-danger col-3 col-md-12 mb-1 text-left" th:classappend="${signable != 'ok'} ? 'd-none'" onclick="toggleSignRefuseMode();">
                    <i class="fas fa-ban"></i><span class="sidebar-label"> Refuser</span>
                </button>
                <a th:unless="${referer != null}" title="Abandonner" class="btn btn-light col-12 mb-1 text-left" value="Retour" href="/user/signbooks">
                    <i class="fas fa-arrow-left"></i><span class="sidebar-label"> Retour</span>
                </a>
            </div>
        </nav>
        <div id="content" class="content">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/user/signrequests">Parapheurs</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Parapheur : <span th:text="${signBook.name}"></span>
                    </li>
                </ol>
            </nav>
            <nav class="nav nav-tabs">
                <th:block th:each="signRequestTab, iterator : ${signBook.signRequests}">
                    <a th:classappend="${doc == iterator.index} ? 'active'" class="nav-item nav-link" th:href="'/user/signbooks/' + ${signBook.id} + '/' + ${iterator.index}">
                        <i class="fas fa-file-pdf text-danger"></i> <span th:text="${signRequestTab.title}"></span>
                    </a>
                </th:block>
            </nav>
            <div id="workspace" class="alert alert-secondary fadein" style="transition: all 0.3s;">
                <div class="row">
                    <div class="col-lg-9">
                        <form th:action="'/user/signrequests/comment/' + ${signRequest.id}" method="post">
                            <canvas th:if="${signable != 'ok'}" title="Cliquez pour ajouter une annotation" id="pdf" style="border : 1px solid black;">
                            </canvas>
                            <canvas th:if="${signable == 'ok'}" title="Cliquez pour ajouter une annotation" id="pdf" style="border : 1px solid black;" onmouseup="action();" ontouchend="action();" ontouchmove="point(event);" onmousemove="point(event);">
                            </canvas>
                            <th:block th:if="${signable == 'ok' && signRequest.status.name() != 'signed' && signRequest.parentSignBook.currentWorkflowStep.signType.name() != 'visa'}">
                                <div onclick="dragSignature();" id="cross" ontouchstart="this.style.backgroundColor= 'rgba(0, 255, 0, .5)'; dragSignature();"
                                     ontouchend="savePosition();" onmousedown="dragSignature();" onmouseup="savePosition();"
                                     onmouseover="this.style.backgroundColor= 'rgba(0, 255, 0, .5)';"
                                     onmouseout="this.style.backgroundColor= 'rgba(255, 0, 0, .0)';"
                                     th:style="'display: none;background-repeat: no-repeat; background-position: left bottom; background-size: ' + ${signWidth} + 'px;background-image: url(\'data:image/png;base64,' + ${signFile} + '\'); width: ' + ${signWidth} + 'px; height: ' + ${signHeight} + 'px; line-height: ' + ${signHeight} + 'px; text-align: center; left: ' + ${signRequest.signRequestParams.get(signRequest.parentSignBook.currentWorkflowStepNumber - 1).XPos + 100} + 'px;position:absolute;pointer-events: auto;cursor: move;'">
                                    <div id="borders" class="anim-border" th:style="'text-align:left;line-height:normal;width: ' + ${signWidth} + 'px; height: ' + ${signHeight} + 'px;'"></div>
                                </div>
                            </th:block>
                            <th:block th:if="${signable == 'ok' && signRequest.status.name() != 'signed' && signRequest.parentSignBook.currentWorkflowStep.signType.name() == 'visa'}">
                                <div onclick="dragSignature();" id="cross" ontouchstart="this.style.backgroundColor= 'rgba(0, 255, 0, .5)'; dragSignature();"
                                     ontouchend="savePosition();" onmousedown="dragSignature();" onmouseup="savePosition();"
                                     onmouseover="this.style.backgroundColor= 'rgba(0, 255, 0, .5)';"
                                     onmouseout="this.style.backgroundColor= 'rgba(255, 0, 0, .0)';"
                                     th:style="'display: none;background-repeat: no-repeat; background-position: left bottom; background-size: 100px;background-image: url(\'/images/sceau.png\'); width: 100px; height: 75px; line-height: 75px; text-align: center; left: ' + ${signRequest.signRequestParams.get(signRequest.parentSignBook.currentWorkflowStepNumber - 1).XPos} + 'px;top: ' + ${signRequest.signRequestParams.get(signRequest.parentSignBook.currentWorkflowStepNumber - 1).YPos} + 'px;position:absolute;pointer-events: auto;cursor: move;'">
                                    <div id="borders" class="anim-border"
                                         th:style="'text-align:left;line-height:normal;width:  ' + ${signWidth} + 'px; height:  ' + ${signHeight} + 'px;user-select: none;-moz-user-select: none;-khtml-user-select: none;-webkit-user-select: none;-o-user-select: none;'">
                                        <span id="textVisa" style="font-size: 8px;" th:text="'Visé par ' + ${user.firstname} + ' ' + ${user.name}"></span>
                                        <br>
                                    </div>
                                </div>
                            </th:block>
                            <script>
                                var url = '/user/documents/getfile/[[${documentId}]]';

                                var pdfDoc = null,
                                    pageNum = 1,
                                    pageRendering = false,
                                    pageNumPending = null,
                                    scale = 0.75,
                                    rotation = 0;

                            </script>
                            <div id="postit" class="postit" style="display: none;position: absolute;left: 0px;top: 0px;z-index: 2;">
                                <span onclick="hideComment()" class="float-right" style="cursor: pointer;">X</span>
                                <textarea id="comment" name="comment" class="postitarea" placeholder="Saisir une annotation"></textarea>
                                <button type="submit" class="btn btn-sm float-right">
                                    <i class="fas fa-save"></i>
                                </button>
                            </div>
                            <th:block th:each="log : ${logs}">
                                <div th:id="${log.id}" class="circle" th:style="'position: absolute;z-index:1000;left:' + ${log.posX} + 'px; top:' + ${log.posY} + 'px;'"></div>
                            </th:block>

                            <input class="form-control form-control-sm col-6 d-none" value="0" id="signPageNumber" type="text" name="pageNumber"/>
                            <input class="form-control form-control-sm col-6 d-none" value="0" id="xPos" type="text" name="posX"/>
                            <input class="form-control form-control-sm col-6 d-none" value="0" id="yPos" type="text" name="posY"/>
                            <input class="form-control form-control-sm col-6 d-none" type="checkbox" name="visual" id="visual"/>
                            <input class="form-control form-control-sm col-6 d-none" type="checkbox" name="addDate" id="addDate"/>

                            <script th:inline="javascript">
                                /*<![CDATA[*/

                                var signId = [[${signRequest.id}]];

                                signMode = false;
                                refuseMode = false;
                                pointItEnable = true;

                                var pdfjsLib = window['pdfjs-dist/build/pdf'];
                                pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';

                                var canvas = document.getElementById('pdf');
                                var ctx = canvas.getContext('2d');

                                function renderPage(num) {
                                    document.getElementById('signPageNumber').value = num;
                                    pageRendering = true;
                                    pdfDoc.getPage(num).then(function (page) {
                                        var viewport = page.getViewport(scale, rotation);
                                        canvas.height = viewport.height;
                                        canvas.width = viewport.width;
                                        var renderContext = {
                                            canvasContext: ctx,
                                            viewport: viewport
                                        };
                                        var renderTask = page.render(renderContext);
                                        renderTask.promise.then(function () {
                                            pageRendering = false;
                                            if (pageNumPending !== null) {
                                                // New page rendering is pending
                                                renderPage(pageNumPending);
                                                pageNumPending = null;
                                            }
                                        });
                                    });
                                    document.getElementById('page_num').textContent = num;
                                    refreshSign();
                                }

                                function queueRenderPage(num) {
                                    if (pageRendering) {
                                        pageNumPending = num;
                                    } else {
                                        renderPage(num);
                                    }
                                }

                                function prevPage() {
                                    if (pageNum <= 1) {
                                        return;
                                    }
                                    pageNum--;
                                    queueRenderPage(pageNum);
                                }

                                document.getElementById('prev').addEventListener('click', prevPage);

                                function nextPage() {
                                    if (pageNum >= pdfDoc.numPages) {
                                        return;
                                    }
                                    pageNum++;
                                    queueRenderPage(pageNum);
                                }

                                document.getElementById('next').addEventListener('click', nextPage);

                                function zoomIn() {
                                    if (scale >= 1.75) {
                                        return;
                                    }
                                    scale = scale + 0.25;
                                    queueRenderPage(pageNum);
                                }

                                document.getElementById('zoomin').addEventListener('click', zoomIn);

                                function zoomOut() {
                                    if (scale <= 0.75) {
                                        return;
                                    }
                                    scale = scale - 0.25;
                                    queueRenderPage(pageNum);
                                }

                                document.getElementById('zoomout').addEventListener('click', zoomOut);

                                function rotateLeft() {
                                    if (rotation < -90) {
                                        return;
                                    }
                                    rotation = rotation - 90;
                                    queueRenderPage(pageNum);
                                }

                                document.getElementById('rotateleft').addEventListener('click', rotateLeft);

                                function rotateRight() {
                                    if (rotation > 90) {
                                        return;
                                    }
                                    rotation = rotation + 90;
                                    queueRenderPage(pageNum);
                                }

                                document.getElementById('rotateright').addEventListener('click', rotateRight);

                                pdfjsLib.getDocument(url).promise.then(function (pdfDoc_) {
                                    pdfDoc = pdfDoc_;
                                    document.getElementById('page_count').textContent = pdfDoc.numPages;

                                    // Initial/first page rendering
                                    renderPage(pageNum);
                                });

                                var posX,
                                    posY;

                                function action() {
                                    if(signMode) {
                                        savePosition();
                                    } else {
                                        displayComment();
                                    }
                                }

                                function point(e) {
                                    if(signMode) {
                                        pointIt(e);
                                    } else {
                                        pointIt2(e)
                                    }

                                }

                                function pointIt2(e) {
                                    if (pointItEnable) {
                                        console.log("mouse");
                                        posX = e.offsetX ? (e.offsetX)
                                            : e.clientX - pointerDiv.offsetLeft;
                                        posY = e.offsetY ? (e.offsetY)
                                            : e.clientY - pointerDiv.offsetTop;
                                        console.log('point' + posX + ' : ' + posY);
                                        document.getElementById("xPos").value = Math.round(posX / scale);
                                        document.getElementById("yPos").value = Math.round(posY / scale);
                                    }
                                }

                                function displayComment() {
                                    if(signMode) {

                                        return;
                                    }
                                    pointItEnable = false;
                                    document.getElementById("postit").style.left = posX + "px";
                                    document.getElementById("postit").style.top = posY + "px";
                                    $("#postit").show();
                                    //document.getElementById("postit").style.display = "block";
                                }

                                function hideComment() {
                                    if(signMode) {
                                        return;
                                    }
                                    pointItEnable = true;
                                    $("#postit").hide();
                                }

                                function toggleSignRefuseMode() {
                                    $('#workspace').toggleClass('alert-danger alert-secondary');
                                    if(signMode) {
                                        toggleSignMode();
                                    }
                                    if(!refuseMode) {
                                        refuseMode = true;
                                        $('#signtools').fadeTo(300, 0);
                                        $('#signtools').hide();
                                        $('#refusetools').fadeTo(300, 1);
                                        $('#refusetools').show();
                                    }else{
                                        refuseMode = false;
                                        $('#refusetools').fadeTo(300, 0);
                                        $('#refusetools').hide();
                                    }

                                }

                                function toggleSignMode() {
                                    $('#workspace').toggleClass('alert-success alert-secondary');
                                    if(refuseMode) {
                                        toggleSignRefuseMode();
                                    }
                                    if(signMode) {
                                        $('#signmod').prop( "checked", false );
                                        signMode = false;
                                        pointItEnable = true;
                                        $('#cross').hide();
                                        $('#comments').show();
                                        $('#rotateleft').prop('disabled', false);
                                        $('#rotateright').prop('disabled', false);
                                        $('#signtools').fadeTo(300, 0);
                                        $('#signtools').hide();
                                    } else {
                                        signMode = true;
                                        pointItEnable = false;
                                        //scale = 1;
                                        rotation = 0;
                                        queueRenderPage(pageNum);
                                        $('#cross').show();
                                        $('#comments').hide();
                                        $('#rotateleft').prop('disabled', true);
                                        $('#rotateright').prop('disabled', true);
                                        $('#signtools').show();
                                        $('#signtools').fadeTo(300, 1);
                                        document.getElementById("xPos").value = Math.round([[${signRequest.signRequestParams.get(signRequest.parentSignBook.currentWorkflowStepNumber - 1).XPos}]]);
                                        document.getElementById("yPos").value = Math.round([[${signRequest.signRequestParams.get(signRequest.parentSignBook.currentWorkflowStepNumber - 1).YPos}]]);

                                    }
                                }

                                function refreshSign() {
                                    $('#cross').css('left', [[${signRequest.signRequestParams.get(signRequest.parentSignBook.currentWorkflowStepNumber - 1).XPos}]] * scale + 15);
                                    $('#cross').css('top', [[${signRequest.signRequestParams.get(signRequest.parentSignBook.currentWorkflowStepNumber - 1).YPos}]] * scale);
                                    $('#cross').css('backgroundSize', [[${signWidth}]] * scale);
                                    $('#cross').css('width', [[${signWidth}]] * scale);
                                    $('#cross').css('height', [[${signHeight}]] * scale);
                                    $('#borders').css('width', [[${signWidth}]] * scale);
                                    $('#borders').css('height', [[${signHeight}]] * scale);
                                    $('#textVisa').css('font-size', 8 * scale);
                                }

                                function toggleVisual() {
                                    document.getElementById("cross").classList.toggle('d-none');
                                    document.getElementById("_visual").toggleAttribute("checked");
                                }

                                function activeDate() {

                                    var addDate = document.getElementById("_addDate");
                                    var cross = document.getElementById("cross");
                                    var borders = document.getElementById("borders");
                                    var textDate;

                                    if(addDate.checked) {
                                        cross.style.width = 200;
                                        cross.style.height = cross.offsetHeight + 20;
                                        borders.style.width = 200;
                                        borders.style.height = borders.offsetHeight + 20;
                                        borders.insertAdjacentHTML("beforeend", "<span id='textDate' class='align-top' style='font-size:" + 8 * scale + "px;'>Le XX/XX/XXXX XX:XX</span>");

                                    } else {
                                        cross.style.width = 100;
                                        cross.style.height = cross.offsetHeight - 20;
                                        borders.style.width = 100;
                                        borders.style.height = borders.offsetHeight - 20;
                                        textDate = document.getElementById("textDate");
                                        textDate.remove();
                                    }
                                }


                                /*]]>*/
                            </script>
                        </form>
                    </div>
                    <div class="col-lg-3">
                        <div th:replace="user/signrequests/includes/statusdetails :: statusdetails"></div>
                        <div id="signtools" style="display: none; opacity : 0;transition: all 0.3s;">
                            <div class="btn btn-light col-3 col-md-12 m-1" th:if="${signRequest.parentSignBook.currentWorkflowStep.signType.name() != 'pdfImageStamp'}">
                                <label class="control-label" for="_visual" >Insérer un visuel</label>
                                <br/>
                                <label class="switch">
                                    <input onclick="toggleVisual();" type="checkbox" name="visual" id="_visual" checked/>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="btn btn-light col-3 col-md-12 m-1">
                                <label class="control-label" for="_addDate">Afficher la date</label>
                                <br/>
                                <label class="switch">
                                    <input onclick="activeDate();" type="checkbox" name="addDate" id="_addDate"/>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <input th:classappend="${signRequest.parentSignBook.currentWorkflowStep.signType.name() != 'certSign' && signRequest.parentSignBook.currentWorkflowStep.signType.name() != 'nexuSign'} ? 'd-none'" class="form-control" type="password" id="password" name="password" value="" placeholder="Mot de passe du keystore"/>
                            <button class="mb-1 col-12 btn btn-lg btn-success" title="Signer" th:token="${signRequest.token}" onclick="launchSign(this.getAttribute('token'));">
                                <i class="fas fa-signature"></i> <span class="sidebar-label">Signer</span>
                            </button>
                        </div>
                        <div id="refusetools" style="display: none; opacity : 0;transition: all 0.3s;">
                            <button class="mb-1 col-12 btn btn-lg btn-danger" title="Refuser" th:token="${signRequest.token}" onclick="refuse(this.getAttribute('token'));">
                                <i class="fas fa-ban"></i> <span class="sidebar-label">Confirmer le refus</span>
                            </button>
                        </div>
                        <div id="comments" th:if="${signable == 'ok'}" style="transition: all 0.3s;">
                            <div class="alert alert-warning">Vous pouvez ajouter des commentaires en cliquant sur l'endroit concerné du document</div>
                            <th:block th:each="log : ${logs}">
                            <div th:id="'log' + ${log.id}" class="postit angle" style="position: relative;user-select: none;-moz-user-select: none;-khtml-user-select: none;-webkit-user-select: none;-o-user-select: none;cursor: pointer"
                                 th:onmouseover="'$(\'#' + ${log.id} + '\').show(); queueRenderPage(' + ${log.pageNumber} + ')'" th:onmouseout="'$(\'#' + ${log.id} + '\').hide()'">
                                <b th:text="${@userService.getNameFromEppn(log.eppn)}"></b>
                                <span th:text="${#dates.format(log.logDate, 'dd/MM/yyyy HH:mm')}"></span>
                                <p class="postitarea" th:text="${log.comment}"></p>
                            </div>
                            <script>
                                /*<![CDATA[*/
                                var c = document.getElementById("log[[${log.id}]]");
                                c.style.setProperty("--angle", Math.round(Math.random()) * 6 - 3 + "deg");
                                /*]]>*/
                            </script>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div id="wait" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5>Signature en cours</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated active" style="width: 100%;" id="bar">
                        <strong> <span id="bar-text"></span>
                        </strong>
                    </div>
                </div>
                <div style="display: none;" id="passwordError" class="alert alert-danger" role="alert">
                    Mauvais mot de passe
                </div>
                <div style="display: none;" id="signError" class="alert alert-danger" role="alert">
                    Erreur du système de signature
                </div>
            </div>
            <div class="modal-footer">
                <button id="closeModal" type="button" class="btn btn-secondary align-self-center" data-dismiss="modal">
                    Fermer
                </button>
                <button id="validModal" onclick="location.reload();" class="btn btn-success">Terminer</button>
            </div>
        </div>
    </div>
</div>

<script>
    function launchSign(token) {

        //TODO : Faire apparaitre le signature !!!!

        console.log(token);
        submitSignRequest();
        $('#wait').modal('show');
        $('#wait').modal({backdrop: 'static', keyboard: false})

        /*
        var wait = $.ajax({
            url: "/user/signrequests/wait-for-sign/" + token, success: function (result) {
                location.reload();
            }
        });
        $('#wait').on('hidden.bs.modal', function () {
            console.log('abort ajax');
            wait.abort();
        })

         */
    }
</script>
</body>
</html>
