<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="signBook" type="org.esupportail.esupsignature.entity.SignBook"*/-->
<!--/*@thymesVar id="signRequest" type="org.esupportail.esupsignature.entity.SignRequest"*/-->
<!--/*@thymesVar id="postit" type="org.esupportail.esupsignature.entity.Log"*/-->
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/menu :: menu(activeMenu)"></header>
<main role="main">
    <div class="wrapper">
        <nav id="sidebar">
            <div class="m-1">
                <button title="Accueil" type="button" onclick="location.href='/'" class="mb-1 col-12 btn btn-transparent text-left">
                    <i class="fas fa-home"></i> <span class="sidebar-label">Accueil</span>
                </button>
                <button id="signButton" onclick="enableSignMode()" class="btn btn-light col-3 col-md-12 mb-1 text-left" th:classappend="${signable != 'ok'} ? 'd-none' ">
                    <i class="fas fa-signature"></i> Signer
                </button>
                <button id="commentButton" onclick="enableCommentMode();" class="btn btn-light col-3 col-md-12 mb-1 text-left" th:classappend="${signable != 'ok'} ? 'd-none' ">
                    <i class="fas fa-comment"></i> Commenter
                </button>
                <button id="refuseButton" onclick="enableRefuseMode();" class="btn btn-light col-3 col-md-12 mb-1 text-left" th:classappend="${signable != 'ok'} ? 'd-none'">
                    <i class="fas fa-ban"></i><span class="sidebar-label"> Refuser</span>
                </button>
                <button th:unless="${referer != null}" title="Abandonner" class="btn btn-light col-12 mb-1 text-left" value="Retour" onclick="window.history.back();">
                    <i class="fas fa-arrow-left"></i><span class="sidebar-label"> Retour</span>
                </button>
            </div>
        </nav>
        <div id="content" class="content">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/user/signrequests">Parapheurs</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Parapheur : <span th:text="${signBook.name}"></span>
                    </li>
                </ol>
            </nav>
            <nav class="nav nav-tabs">
                <th:block th:each="signRequestTab : ${signBook.signRequests}">
                    <a th:classappend="${signRequestId == signRequestTab.id} ? 'active'" class="nav-item nav-link" th:href="'/user/signbooks/' + ${signBook.id} + '/' + ${signRequestTab.id}">
                        <i class="fas fa-file text-dark"></i> <span th:text="${signRequestTab.title}"></span>
                    </a>
                </th:block>
            </nav>
                <div class="d-flex mt-1 mb-1" th:if="${documentType == 'pdf'}">
                    <div class="border border-dark rounded p-1 d-inline ml-1"><span>Page <span id="page_num"></span> / <span id="page_count"></span></span></div>
                    <button id="prev" class="btn btn-light btn-outline-dark ml-1" aria-label="Précédent">
                        <i class="fas fa-arrow-left"></i>
                    </button>
                    <button id="next" class="btn btn-light btn-outline-dark ml-1" aria-label="Prochain">
                        <i class="fas fa-arrow-right"></i>
                    </button>
                    <div class="border ml-3 mr-3 "></div>
                    <button id="zoomout" class="btn btn-light btn-outline-dark ml-1"><i class="fas fa-search-minus"></i></button>
                    <button id="zoomin" class="btn btn-light btn-outline-dark ml-1"><i class="fas fa-search-plus"></i></button>
                    <div class="border border-dark rounded p-1 d-inline ml-1"><span id="zoom"></span> %</div>
                    <div class="border ml-3 mr-3 "></div>
                    <button id="rotateleft" class="btn btn-light btn-outline-dark ml-1"><i class="fas fa-undo"></i></button>
                    <button id="rotateright" class="btn btn-light btn-outline-dark ml-1"><i class="fas fa-redo"></i></button>
                    <div class="border ml-3 mr-3 "></div>
                    <div id="signtools" th:if="${signable == 'ok'}">
                        <button id="pen" th:if="${@signRequestService.getCurrentSignType(signRequest).name() != 'pdfImageStamp'}" title="Inserer un visuel" class="btn btn-outline-success ml-1" onclick="toggleVisual()"><i class="fas fa-pen"></i></button>
                        <button id="clock" th:if="${@signRequestService.getCurrentSignType(signRequest).name() != 'pdfImageStamp'}" title="Inserer la date" class="btn btn-outline-secondary ml-1" onclick="toggleDate()"><i class="fas fa-clock"></i></button>
                        <button class="btn btn-success" title="Signer" data-toggle="modal" data-target="#signModal">
                            <i class="fas fa-signature"></i> <span class="sidebar-label">Signer</span>
                        </button>
                    </div>
                    <div id="refusetools" th:if="${signable == 'ok'}" style="display: none;">
                        <button class="mb-1 col-12 btn btn-danger" title="Refuser" th:token="${signRequest.token}" data-toggle="modal" data-target="#refuseModal">
                            <i class="fas fa-ban"></i> <span class="sidebar-label">Confirmer le refus</span>
                        </button>
                    </div>
                    <div th:if="${user.eppn == signRequest.createBy}">
                        <th:block th:if="${signRequest.status.name() == 'signed' || signRequest.status.name() == 'completed' || signRequest.status.name() == 'checked'}">
                            <a class="btn btn-outline-dark mb-1 text-left" th:href="'/user/signrequests/get-last-file/' + ${id}" target="_blank" title="Enregistrer le document signé sous">
                                <i class="fas fa-save"></i>
                            </a>
                            <a title="Export SEDA" class="btn btn-outline-dark mb-1 text-left" th:href="'/user/signrequests/get-last-file-seda/' + ${id}">
                                <i class="fa fa-file-export"></i>
                            </a>
                            <a class="btn btn-outline-dark mb-1 text-left" th:href="'/user/validation/document/' + ${id}" title="Contrôler le document">
                                <i class="fas fa-shield-alt "></i>
                            </a>
                        </th:block>
                    </div>
                </div>
            <div id="workspace" class="alert alert-secondary fadein" style="transition: all 0.3s;">
                <div class="collapse">
                    <div th:replace="user/signbooks/cards/stepscard :: stepscard"></div>
                </div>
                <div th:replace="user/signrequests/includes/workspace :: workspace"></div>
            </div>
        </div>
    </div>
</main>

<div id="wait" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5>Signature en cours</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated active" style="width: 100%;" id="bar">
                        <strong> <span id="bar-text"></span>
                        </strong>
                    </div>
                </div>
                <div style="display: none;" id="passwordError" class="alert alert-danger" role="alert">
                    Mauvais mot de passe
                </div>
                <div style="display: none;" id="signError" class="alert alert-danger" role="alert">
                    Erreur du système de signature
                </div>
            </div>
            <div class="modal-footer">
                <button id="closeModal" type="button" class="btn btn-secondary align-self-center" data-dismiss="modal">
                    Fermer
                </button>
                <button id="validModal" onclick="location.reload();" class="btn btn-success">Terminer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="refuseModal" tabindex="-1" role="dialog" aria-labelledby="refuseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form th:action="'/user/signrequests/refuse/' + ${signRequest.id}">
                <div class="modal-header">
                    <h5 class="modal-title" id="refuseModalLabel">Refuser la demande de signature</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea placeholder="Vous pouvez ajouter un commentaire" class="form-control" name="comment" required></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Refuser</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function launchSign(token) {

        //TODO : Faire apparaitre le signature !!!!

        console.log(token);
        submitSignRequest();
        $('#wait').modal('show');
        $('#wait').modal({backdrop: 'static', keyboard: false})

        /*
        var wait = $.ajax({
            url: "/user/signrequests/wait-for-sign/" + token, success: function (result) {
                location.reload();
            }
        });
        $('#wait').on('hidden.bs.modal', function () {
            console.log('abort ajax');
            wait.abort();
        })

         */
    }
</script>
</body>
</html>
