<!DOCTYPE html>
<!--/*@thymesVar id="signBook" type="org.esupportail.esupsignature.entity.SignBook"*/-->
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<header th:replace="~{fragments/nav :: nav}"></header>
<main role="main">
    <div class="wrapper">
        <nav th:unless="${user.userType.name() == 'external'}" id="sidebar" class="scrollbar-lite scrollbar-style" th:insert="~{fragments/sides/side-sign :: side-sign}"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/user/signrequests">Tableau de bord</a></li>
                <li class="breadcrumb-item"><a th:href="'/user/signrequests/' + ${signBook.signRequests.get(0).id}" th:text="${signBook.subject}"></a></li>
                <li class="breadcrumb-item active" aria-current="page">Edition</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="fixed-action-btns active" onmouseover="$('#addButton').toggleClass('active');" onmouseout="$('#addButton').toggleClass('active');">
                <ul id="buttonList" class="list-unstyled">
                    <li>
                        <a th:if="${signBook.isEditable() && signBook.createBy.eppn == userEppn}" title="Ajouter un document à signer" role="button" data-bs-toggle="modal" data-bs-target="#addDoc"  class="btn-floating btn-lg text-dark bg-primary float-end">
                            <i class="fi fi-rr-add-document fa-2xl" style="margin-top: 16px"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Ajouter une étape au circuit" role="button" data-bs-toggle="modal" data-bs-target="#addStep" class="btn-floating btn-lg bg-primary float-end m-2">
                            <i class="fi-rr-workflow-setting fa-2xl" style="margin-top: 16px"></i>
                        </a>
                    </li>
                    <li>
                        <a id="saveButton" onclick="$('#params').submit();" class="btn-floating btn-lg bg-success" title="Enregistrer">
                            <i class="fi fi-rr-disk fa-2xl" style="margin-top: 16px"></i>
                        </a>
                    </li>
                    <li>
                        <a id="cancelButton" th:href="'/user/signbooks/' + ${signBook.id}" class="btn-floating btn-lg bg-secondary" title="Retour au parapheur">
                            <i class="fi fi-rr-leave fa-2xl" style="margin-top: 16px"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-11 card text-bg-light border-light m-2">
                <div class="card-header bg-transparent border-light-subtle p-0 pt-1">
                    <h5 class="ms-4"><b>Paramètres généraux</b></h5>
                </div>
                <div class="card-body">
                    <form id="params" th:action="'/user/signbooks/update/' + ${signBook.id}" th:method="put">
                        <div class="form-group">
                            <label for="subject">Titre</label>
                            <input type="text" class="form-control" name="subject" id="subject" th:value="${signBook.subject}">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea id="description" name="description" class="form-control" th:text="${signBook.description}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="viewersSelect">Observateurs</label>
                            <select id="viewersSelect" class="auto-select-users" multiple="multiple" name="viewers">
                                <th:block th:each="viewer : ${signBook.viewers}">
                                    <option selected="selected" th:value="${viewer.email}" th:text="${viewer.firstname} + ' ' + ${viewer.name} + ' (' + ${viewer.email} + ')'"></option>
                                </th:block>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-11 card text-bg-light border-light m-2">
                <div class="card-header bg-transparent border-light-subtle p-0 pt-1">
                    <h5 class="ms-4"><b>Documents à signer dans ce parapheur</b></h5>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-hover">
                            <thead class="table-secondary">
                            <tr>
                                <th>Titre</th>
                                <th class="d-none d-md-table-cell">Date de création</th>
                                <th class="d-none d-lg-table-cell">Créé par</th>
                                <th th:if="${signBook.isEditable()}" class="">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="signRequest : ${signBook.signRequests}">
                                <tr>
                                    <td class="text-break" th:text="${signRequest.title}"></td>
                                    <td class="d-none d-md-table-cell"><span th:text="${#dates.format(signRequest.createDate, 'dd/MM/yyyy HH:mm')}"></span></td>
                                    <td class="d-none d-lg-table-cell"><span th:text="${signRequest.createBy.firstname} + ' ' + ${signRequest.createBy.name}"></span></td>
                                    <td th:if="${signBook.isEditable() && signRequest.createBy.eppn == userEppn}" class="">
                                        <div class="dropdown position-relative">
                                            <button type="button" th:id="'menu-toggle-' + ${signRequest.id}" class="btn text-dark" th:title="'Actions ' + ${signRequest.title}" th:data-bs-target="'#menu-' + ${signRequest.id}" th:aria-controls="'menu-' + ${signRequest.id}" data-bs-toggle="dropdown">
                                                <i class="fa-solid fa-ellipsis-v"></i>
                                            </button>
                                            <ul class="dropdown-menu position-absolute ps-2 pe-2" th:id="'menu-' + ${signRequest.id}">
                                                <li>
                                                    <a class="btn btn-transparent text-dark text-left col-12" th:href="'#modal-warning-' + ${signRequest.id}" role="button" title="Supprimer" data-bs-toggle="modal" data-bs-target="#modal-warning" th:data-bs-target="'#modal-warning-' + ${signRequest.id}">
                                                        <i class="fa-solid fa-trash-alt pr-2"></i> Supprimer
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div data-bs-focus="false" class="modal modal-warning fade in" th:id="'modal-warning-' + ${signRequest.id}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <form id="command" th:action="'/user/signrequests/' + ${signRequest.id}" th:method="delete">
                                                        <div class="modal-header">
                                                            <h2>Attention</h2>
                                                            <button type="button" class="btn-close" title="Fermer" data-bs-dismiss="modal" aria-label="Close">

                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="alert alert-danger">Confirmez-vous la suppression de cette demande ?</div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary float-start" data-bs-dismiss="modal">Non</button>
                                                            <button type="submit" class="btn btn-danger">Oui</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    <div th:unless="${#lists.size(signBook.signRequests) > 0}" class="alert alert-secondary">
                        Aucun document à signer pour le moment
                    </div>
                </div>
            </div>
            <th:block th:if="${signBook.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).draft || signBook.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).pending}">
                <div th:replace="~{user/signrequests/cards/stepscard-updatable :: stepscard-updatable}"></div>
            </th:block>
        </div>
    </div>
</main>

<div data-bs-focus="false" class="modal fade" id="addDoc" role="dialog" aria-labelledby="addSignRequestLabel" aria-hidden="true" th:if="${signBook.createBy.eppn == userEppn && signBook.isEditable()}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form th:action="'/user/signbooks/add-docs/' + ${signBook.id} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h3 class="modal-title" id="fastSignRequestLabel">Ajouter un document</h3>
                    <button type="button" class="btn-close" title="Fermer" data-bs-dismiss="modal" aria-label="Close">

                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="form-group mb-3">
                            <div class="custom-file">
                                <input required class="form-control" data-buttontext="Choisir fichier" id="send-sign-file-input" name="multipartFiles" type="file">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div data-bs-focus="false" class="modal fade" id="addStep"  role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form th:action="'/user/signbooks/add-live-step/' + ${id}" method="post">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Ajouter une étape</h3>
                    <button type="button" class="btn-close" title="Fermer" data-bs-dismiss="modal" aria-label="Close">

                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3" id="_signType_div_id">
                        <label for="stepNumber">Ajouter cette étape :</label>
                        <div class="form-group mb-3">
                            <select class="slim-select-simple" name="stepNumber" id="stepNumber" required="required">
                                <option th:value="0" th:text="${'Au début'}"></option>
                                <option th:each="step, status : ${allSteps}" th:value="${status.index + 1}" th:text="${'avant l''étape ' + #conversions.convert(status.index + 2, 'java.lang.Integer')}"></option>
                                <option th:value="-1" th:text="${'A la fin'}"></option>
                            </select>
                        </div>
                        <label for="recipientsEmails2">Choisir les participants *</label>
                        <div class="form-group mb-3">
                            <select data-es-check-list="true" name="recipientsEmails" id="recipientsEmails2" multiple="multiple" required="required"></select>
                            <div id="tempUsers-recipientsEmails2"></div>
                        </div>
                        <div class="form-group mb-3" id="all-sign-to-complete-div">
                            <div class="form-check form-switch form-switch-md">
                                <label class="form-check-label" for="all-sign-to-complete">Tous les participants doivent-ils signer ?</label>
                                <input type="checkbox" class="form-check-input" name="allSignToComplete" id="all-sign-to-complete"/>
                            </div>
                        </div>
                        <label for="signType_id">Type de signature</label>
                        <select class="slim-select-simple" id="signType_id" name="signType" size="1">
                            <th:block th:each="signType : ${signTypes}">
                                <option th:value="${signType}" th:text="#{'signbook.signtype.' + ${signType}}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success">
                        Enregistrer
                    </button>
                </div>
            </form>
            <script th:inline="javascript" type="module">
                import {default as SelectUser} from '/js/modules/utils/SelectUser.js?version=@[(${versionApp})]@';
                new SelectUser("recipientsEmails2", null, null, [[${_csrf}]]);
            </script>
        </div>
    </div>
</div>

<div data-bs-focus="false" class="modal fade" id="sendModal"  role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form th:action="'/user/signbooks/pending/' + ${id}" method="post">
                <div class="modal-header">
                    <h3 class="modal-title">Démarrer le circuit</h3>
                    <button type="button" class="btn-close" title="Fermer" data-bs-dismiss="modal" aria-label="Close">

                    </button>
                </div>
                <div class="modal-body">
                    <textarea placeholder="Vous pouvez saisir un commentaire ici. Celui-ci sera visible par tous les participants."  onfocus="this.placeholder = ''" class="form-control" name="comment"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success">
                        Envoyer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
