<!doctype html>
<!--/*@thymesVar id="signRequest" type="org.esupportail.esupsignature.entity.SignRequest"*/-->
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/menu :: menu(activeMenu)"></header>
<main role="main">
    <div class="wrapper">
        <nav id="sidebar">
            <div class="m-1">
                <button title="Accueil" type="button" onclick="location.href='/'" class="mb-1 col-12 btn btn-transparent text-left">
                    <i class="fas fa-home"></i> <span class="sidebar-label">Accueil</span>
                </button>
                <a class="btn btn-light col-12 mb-1 text-left" href="/">
                    <i class="fas fa-arrow-left"></i><span class="sidebar-label"> Retour</span>
                </a>
            </div>
        </nav>
        <div id="content" class="content">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/user/signbooks">Liste des parapheurs</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Parapheur : <span th:text="${signBook.name}"></span>
                    </li>
                </ol>
            </nav>
            <div class="card rounded-0">
                <div class="card-header">
                    Documents à signer
                </div>
                <div class="card-body">
                    <!--/*@thymesVar id="signBook" type="org.esupportail.esupsignature.entity.SignBook"*/-->
                    <div th:if="${#lists.size(signBook.signRequests.size()) > 0}" class="table-responsive">
                        <table class="table table-sm table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th data-type="html"><input id="selectall" type="checkbox"/></th>
                                <th class="">Titre</th>
                                <th class="d-none d-md-table-cell">Date de création</th>
                                <th class="d-none d-lg-table-cell">Créé par</th>
                                <th>Voir</th>
                                <th>Signer</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="signRequest : ${signBook.signRequests}">
                                <tr>
                                    <td><input th:value="${signRequest.id}" name="check" type="checkbox" class="check"/></td>
                                    <td class="text-break" th:text="${signRequest.title}"></td>
                                    <td class="d-none d-md-table-cell"><span th:text="${#dates.format(signRequest.createDate, 'dd/MM/yyyy HH:mm')}"></span></td>
                                    <td class="d-none d-lg-table-cell"><span th:text="${signRequest.createBy}"></span></td>
                                    <td class="utilbox">
                                        <a class="btn btn-info far fa-eye" title="Voir" th:href="'/user/signrequests/' + ${signRequest.id}">
                                            <!--  -->
                                        </a>
                                    </td>
                                    <td class="utilbox">
                                        <a role="button" class="btn btn-success fas fa-signature" title="Signer" th:href="'/user/signrequests/sign-by-token/' + ${signRequest.token}">
                                            <!--  -->
                                        </a>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                    <span th:unless="${#lists.size(signBook.signRequests) > 0}" class="table-responsive">
				Aucun document à signer pour le moment
			</span>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
