<!DOCTYPE html>
<!--/*@thymesVar id="signBook" type="org.esupportail.esupsignature.entity.SignBook"*/-->
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/nav :: nav"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="fragments/sides/side-sign :: side-sign"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/user/signrequests">Tableau de bord</a></li>
                <li class="breadcrumb-item"><a th:href="'/user/signrequests/' + ${signBook.signRequests.get(0).id}" th:text="${signBook.subject}"></a></li>
                <li class="breadcrumb-item active" aria-current="page">Edition</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="fixed-action-btns active" onmouseover="$('#addButton').toggleClass('active');" onmouseout="$('#addButton').toggleClass('active');">
                <ul id="buttonList" class="list-unstyled">
                    <li>
                        <a id="saveButton" onclick="$('#params').submit();" class="btn-floating btn-lg bg-success waves-effect" title="Enregistrer">
                            <i class="fas fa-save"></i>
                        </a>
                    </li>
                    <li>
                        <a id="cancelButton" th:href="'/user/signbooks/' + ${signBook.id}" class="btn-floating btn-lg bg-secondary waves-effect" title="Retour au parapheur">
                            <i class="fas fa-door-open"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card col-lg-10 mx-auto mb-1">
                <div class="card-body">
                    <form id="params" th:action="'/user/signbooks/update/' + ${signBook.id}" th:method="put">
                        <h5 class="text-center"><b>Paramètres généraux</b></h5>
                        <div class="form-group">
                            <label for="subject">Titre</label>
                            <input type="text" class="form-control" name="subject" id="subject" th:value="${signBook.subject}">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea id="description" name="description" class="form-control" th:text="${signBook.description}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="description">Observateurs</label>
                            <select id="viewersSelect" class="select-users" multiple="multiple" name="viewers" style="display: none;">
                                <option data-placeholder="true"></option>
                                <th:block th:each="viewer : ${signBook.viewers}">
                                    <option selected="selected" th:value="${viewer.email}" th:text="${viewer.firstname} + ' ' + ${viewer.name} + ' (' + ${viewer.email} + ')'"></option>
                                </th:block>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card col-lg-10 mx-auto mb-1">
                <div class="card-body">
                    <h5 class="text-center"><b>Demandes à signer dans ce parapheur</b></h5>
                    <div th:if="${#lists.size(signBook.signRequests) > 0}" class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead class="table-secondary">
                            <tr>
                                <th>Titre</th>
                                <th class="d-none d-md-table-cell">Date de création</th>
                                <th class="d-none d-lg-table-cell">Créé par</th>
                                <th class="">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="signRequest : ${signBook.signRequests}">
                                <tr>
                                    <td class="text-break" th:text="${signRequest.title}"></td>
                                    <td class="d-none d-md-table-cell"><span th:text="${#dates.format(signRequest.createDate, 'dd/MM/yyyy HH:mm')}"></span></td>
                                    <td class="d-none d-lg-table-cell"><span th:text="${signRequest.createBy.firstname} + ' ' + ${signRequest.createBy.name}"></span></td>
                                    <td class="">
                                        <button type="button" th:id="'menu-t    oggle-' + ${signRequest.id}" class="btn text-dark toggle-mini-menu" th:title="'Actions ' + ${signRequest.title}" th:data-bs-target="'#menu-' + ${signRequest.id}" th:aria-controls="'menu-' + ${signRequest.id}" data-bs-toggle="collapse">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="card position-absolute collapse mini-menu" th:id="'menu-' + ${signRequest.id}" style="width:200px; right: 100px;z-index: 1000;">
                                            <div class=" card-body">
                                                <a th:if="${signRequest.createBy.eppn == userEppn}" class="btn btn-transparent text-dark text-left col-12" th:href="'#modal-warning-' + ${signRequest.id}" role="button" title="Supprimer" data-bs-toggle="modal" data-bs-target="#modal-warning" th:data-bs-target="'#modal-warning-' + ${signRequest.id}">
                                                    <i class="fas fa-trash-alt pr-2"></i> Supprimer
                                                </a>
                                            </div>
                                        </div>

                                        <div class="modal modal-warning fade in" th:id="'modal-warning-' + ${signRequest.id}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <form id="command" th:action="'/user/signrequests/force-delete/'+ ${signRequest.id}" th:method="delete">
                                                        <div class="modal-header">
                                                            <h2>Attention</h2>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="alert alert-danger">Confirmez-vous la suppression de cette demande ?</div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary float-start" data-bs-dismiss="modal">Non</button>
                                                            <button type="submit" class="btn btn-danger">Oui</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                    <div th:unless="${#lists.size(signBook.signRequests) > 0}" class="alert alert-secondary">
                        Aucun document à signer pour le moment
                    </div>
                    <a title="Ajouter un document à signer" role="button" data-bs-toggle="modal" data-bs-target="#addDoc"  class="btn-floating text-dark bg-primary waves-effect float-end m-3"><i class="fas fa-file-medical"></i></a>

                </div>
            </div>
            <th:block th:if="${signBook.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).draft || signBook.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).pending}">
                <div th:replace="user/signrequests/cards/stepscard-updatable"></div>
            </th:block>
        </div>
    </div>
</main>

<div class="modal fade" id="addDoc" tabindex="-1" role="dialog" aria-labelledby="addSignRequestLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form th:action="'/user/signbooks/add-docs/' + ${signBook.id} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h3 class="modal-title" id="fastSignRequestLabel">Ajouter un document</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="form-group mb-3">
                            <div class="custom-file">
                                <input required class="form-control" data-buttontext="Choisir fichier" id="send-sign-file-input" name="multipartFiles" type="file">
                                <label class="custom-file-label" for="send-sign-file-input" id="inputGroupLabel02">
                                    Choisir un document
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="addStep" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form th:action="'/user/signbooks/add-live-step/' + ${id}" method="post">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Ajouter une étape</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3" id="_signType_div_id">
                        <label for="stepNumber">Ajouter cette étape :</label>
                        <div class="form-group mb-3">
                            <select class="slim-select-simple" name="stepNumber" id="stepNumber" required="required">
                                <option th:value="0" th:text="${'Au début'}"></option>
                                <!--/*@thymesVar id="allSteps" type="List<WorkflowStep>"*/-->
                                <option th:each="step, status : ${allSteps}" th:value="${status.index + 1}" th:text="${'avant l''étape ' + #conversions.convert(status.index + 2, 'java.lang.Integer')}"></option>
                                <option th:value="-1" th:text="${'A la fin'}"></option>
                            </select>
                        </div>
                        <label for="recipientsEmails2">Choisir les participants</label>
                        <div class="form-group mb-3">
                            <select name="recipientsEmails" id="recipientsEmails2" size="5" multiple="multiple" required="required"></select>
                        </div>
                        <br><br>
                        <div class="form-group mb-3" id="allSignToComplete-update">
                            <label for="allSignToComplete">
                                Tous les participants doivent-ils signer ?
                            </label>
                                <label class="switch">
                                    <input type="checkbox" class="form-check-input" name="allSignToComplete" id="allSignToComplete"/>
                                    <span class="slider round"></span>
                                </label>
                        </div>

                        <label for="signType_id">Type de signature</label>
                        <select class="slim-select-simple" id="signType_id" name="signType" size="1">
                            <th:block th:each="signType : ${signTypes}">
                                <option th:value="${signType}" th:text="#{'signbook.signtype.' + ${signType}}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success">
                        Enregistrer
                    </button>
                </div>
            </form>
            <script th:inline="javascript" type="module">
                import {default as SelectUser} from '/js/modules/utils/SelectUser.js?version=[[${versionApp}]]';
                new SelectUser("recipientsEmails2", null, null, [[${_csrf}]]);
            </script>
        </div>
    </div>
</div>

<div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form th:action="'/user/signbooks/pending/' + ${id}" method="post">
                <div class="modal-header">
                    <h3 class="modal-title">Démarrer le circuit</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                    </button>
                </div>
                <div class="modal-body">
                    <textarea placeholder="Vous pouvez saisir un commentaire ici. Celui-ci sera visible de tous les participants."  onfocus="this.placeholder = ''" class="form-control" name="comment"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success">
                        Envoyer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
