<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>OTP</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<table width="100%" border="0" style="width: 100%; border: 0;" bgcolor="#ffffff">
	<tr>
		<td width="100%" style="background-color:#343a40; border-bottom:1px solid rgba(0, 0, 0, 0.125); margin-bottom:0; padding:10px; width: 100%;" bgcolor="#343a40">
				<img height="30" class="mx-auto float-start" src="cid:logo" style="height: 30px; border-style:none; vertical-align:middle; float:left; margin-right:auto; margin-left:auto" valign="middle" align="left">
				<img height="30" class="mx-auto float-end" src="cid:logo-univ" style="height: 30px; border-style:none; vertical-align:middle; float:right; margin-right:auto; margin-left:auto" valign="middle" align="right">
			</td>
		</tr>
		<tr>
			<td style="width:100%; padding:10px;background-color:rgba(0,0,0,0.05);">
				<p style="margin-bottom:1rem; margin-top:0;text-align: center;font-weight: bold">Bonjour <span th:if="${otp != null}" th:text="${otp.user.firstname} + ' ' + ${otp.user.name}"></span> ,</p>
                <p style="margin-bottom:1rem; margin-top:0;text-align: center;">Vous êtes relancé pour la signature d'une demande qui est en attente : </p>
				<table style="width: 66%; margin-left: 16.5%;">
					<tr>
						<td style="border-radius:5px; border-color: #343a40;vertical-align: middle; width: 100%; background-color:#343a40; padding:10px;font-size:14px;" bgcolor="#343a40">
							<p style="width: 96%; text-align: left;background-color: #6c757d;padding: 2%;border-radius: 5px;">
								<a th:href="${url}">
									<img height="25" class="mx-auto float-start" src="cid:logo-file" style="border-style:none; vertical-align:middle;margin-right: 5%;"  valign="middle"><span class="text-white text-center" style="line-height:25px;color:#fff; font-weight: 600;font-size: 16px;" align="center" th:text="${signBook.signRequests.get(0).originalDocuments.get(0).getFileName()}"></span>
								</a>
							</p>
							<p style="box-sizing:border-box;margin-top:0;margin-bottom:1rem;color:#fff;" >
								Titre : <b style="box-sizing:border-box;font-weight:bolder;" ><span th:text="${signBook.subject}" style="box-sizing:border-box;" ></span></b>
								<br style="box-sizing:border-box;" >
								Circuit : <b style="box-sizing:border-box;font-weight:bolder;" ><span th:text="${signBook.workflowName}" style="box-sizing:border-box;" ></span></b>
								<br style="box-sizing:border-box;" >
								Crée par : <b style="box-sizing:border-box;font-weight:bolder;" ><span th:text="${signBook.createBy.firstname} + ' ' + ${signBook.createBy.name}" style="box-sizing:border-box;" ></span></b>
								<br style="box-sizing:border-box;" >
								Date de création : <b style="box-sizing:border-box;font-weight:bolder;" ><span th:text="${#dates.format(signBook.createDate, 'dd/MM/yyyy HH:mm')}" style="box-sizing:border-box;" ></span></b>
								<br style="box-sizing:border-box;" >
							</p>
							<p style="margin-bottom:1rem; margin-top:0" th:if="${organizationalUnitLdap != null}">
								<span th:text="'Composante : ' + ${organizationalUnitLdap.description}" style="box-sizing:border-box;margin-top:0;margin-bottom:1rem;color:#fff;"></span>
							</p>
						</td>
					</tr>
				</table>
				<br>
				<p style="margin-bottom:1rem; margin-top:0;">Ce lien est valable jusqu’au <span style="font-weight: bold" th:text="${#dates.format(otpValidity, 'dd/MM/yyyy HH:mm')}"></span>. S’il a déjà expiré, un nouveau lien vous sera transmis à cette même adresse</p>

				<p style="margin-bottom:1rem; margin-top:0;width: 100%;text-align: center;">
					<a th:href="${url}" style="background-color:#0d6efd; color:#fff; text-decoration:none; -moz-user-select:none; -ms-user-select:none; -webkit-user-select:none; border-radius: 20px; display:inline-block; font-size:14px; font-weight:600; line-height:1.5; padding:15px; text-align:center; transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; user-select:none; vertical-align:middle; margin-right:auto; margin-left:auto" bgcolor="#0d6efd" align="center" valign="middle">Accéder au document</a>
				</p>
				<p style="margin-bottom:1rem; margin-top:0;color:#565656;">
				⚠️ Veuillez vérifier que le lien ci-dessus correspond bien à l’adresse officielle avant de cliquer. En cas de doute, copiez-collez l’URL directement dans votre navigateur : <span th:text="${url}"></span>
				</p>
				<p style="margin-bottom:1rem; margin-top:0;color:#565656;">Pour en savoir plus sur l’outil esup-signature, <a href="https://code.gouv.fr/sill/detail?name=Esup-Signature" style="color:#0d6efd; text-decoration:underline;">cliquez ici</a></p>

			</td>
		</tr>
		<tr>
			<td style="width:100%; background-color:#6c757d;  padding:10px;  -ms-flex-pack:center; justify-content:center; text-align:center; font-size:14px;" bgcolor="#6c757d">
				<span style="text-align:center; color:#fff" align="center" th:text="#{application.footer}"></span>
			</td>
		</tr>
	</table>
</body>
</html>