<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style th:text="${css}"></style>
</head>
<body class="bg-light">
<div class="container">
    <div class="card m-4">
        <div class="card-header rounded-0 bg-dark">
            <img height="40" class="mx-auto float-left" th:src="@{|data:image/png;base64, ${logo}|}" />
            <img height="40" class="mx-auto float-right" th:src="@{|data:image/png;base64, ${logoUrn}|}" />
        </div>
        <div class="card-body" style="box-sizing:border-box;-ms-flex:1 1 auto;flex:1 1 auto;padding-top:1.25rem;padding-bottom:1.25rem;padding-right:1.25rem;padding-left:1.25rem;" >
            <p>Bonjour</p>
            <p>Un document signé vous est destiné, pour y accéder cliquez sur le lien ci-dessous</p>
            <table class="table table-borderless">
                <thead class="thead-dark">
                <tr>
                    <th class="text-white" >Titre du document</th>
                    <th class="text-white" >Auteur</th>
                </tr>
                </thead>
                <th:block th:each="signRequest : ${signRequests}">
                    <tr>
                        <td th:text="${signRequest.title}"></td>
                        <td>
                            <a class="btn btn-sm btn-dark mx-auto" th:href="@{|${rootUrl}/user/signrequests/${signRequest.id}|}">Accéder au document</a>
                        </td>
                    </tr>
                </th:block>
            </table>
        </div>
        <div class="card-footer rounded-0 bg-secondary justify-content-center text-center" style="background-color:#6c757d; border-top:1px solid rgba(0, 0, 0, 0.125); padding:0.75rem 1.25rem; border-radius:0; -ms-flex-pack:center; justify-content:center; text-align:center" bgcolor="#6c757d" align="center">
            <span class="text-white text-center" style="text-align:center; color:#fff" align="center" th:text="#{application.footer}"></span>
        </div>
    </div>
</div>
</body>
</html>