<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style th:text="${css}"></style>
</head>
<body class="bg-light">
<div class="container">
    <div class="card rounded-0 m-1">
        <div class="card-header rounded-0 bg-dark">
            <img height="40" class="mx-auto float-left" th:src="@{|data:image/png;base64, ${logo}|}" />
            <img height="40" class="mx-auto float-right" th:src="@{|data:image/png;base64, ${logoUrn}|}" />
        </div>
        <div class="card-body">
            <p>Bonjour,</p>
            <p>La demande de signature "<b><span th:text="${signBook.name}"></span></b>" a été refusée</p>
            <p>
                <a th:href="@{|${rootUrl}/user/signbooks/${signBook.id}|}" class="btn btn-primary">Voir la demande concernée</a>
            </p>
        </div>
        <div class="card-footer rounded-0 bg-secondary justify-content-center text-center">
            <span class="text-white text-center">Université de Rouen Normandie</span>
        </div>
    </div>
</div>
</body>
</html>