<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<table width="100%" border="0" style="width: 100%; border: 0;" bgcolor="#ffffff">
	<tr>
		<td width="100%" style="background-color:#212529; border: 1px solid #212529; margin-bottom:0; padding:10px; width: 100%;" bgcolor="#212529">
			<img height="30" class="mx-auto float-start" src="cid:logo" style="height: 30px; border-style:none; vertical-align:middle; float:left; margin-right:auto; margin-left:auto" valign="middle" align="left">
			<img height="30" class="mx-auto float-end" src="cid:logo-univ" style="height: 30px; border-style:none; vertical-align:middle; float:right; margin-right:auto; margin-left:auto" valign="middle" align="right">
		</td>
	</tr>
	<tr>
		<td style="width:100%; padding:10px;background-color:rgba(0,0,0,0.05);">
			<p style="margin-bottom:1rem; margin-top:0;text-align: center;font-weight: bold">Bonjour, </p>
			<p style="margin-bottom:1rem; margin-top:0;text-align: center;">Voici la liste des demandes de signatures en attente : </p>
			<table style="width: 80%; margin-left: 10%; border-spacing: 0 8px;">
				<tr>
					<td colspan="4" style="border-radius:5px; border-color: #212529; vertical-align: middle; width: 100%; background-color:#212529; padding:10px;font-size:14px;" bgcolor="#212529">
						<table style="width:100%; border-collapse:collapse;">
							<thead>
							<tr>
								<td style="color:#fff; width:40%; background-color:#6c757d; padding:10px; font-size:14px; border-radius:5px 0 0 5px;" bgcolor="#6c757d"><b>Nom</b></td>
								<td style="color:#fff; width:20%; background-color:#6c757d; padding:10px; font-size:14px;" bgcolor="#6c757d"><b>Date de création</b></td>
								<td style="color:#fff; width:20%; background-color:#6c757d; padding:10px; font-size:14px;" bgcolor="#6c757d"><b>Créé par</b></td>
								<td style="color:#fff; width:20%; background-color:#6c757d; padding:10px; font-size:14px; border-radius:0 5px 5px 0;" bgcolor="#6c757d"><b>Consulter</b></td>
							</tr>
							</thead>
							<tbody>
							<th:block th:each="signRequest : ${signRequests}">
								<tr>
									<td style="color:#fff; vertical-align:middle; background-color:#212529; padding:10px; font-size:14px; border-top:1px solid #6c757d;" bgcolor="#212529" th:text="${signRequest.title}"></td>
									<td style="color:#fff; vertical-align:middle; background-color:#212529; padding:10px; font-size:14px; border-top:1px solid #6c757d;" bgcolor="#212529" th:text="${#dates.format(signRequest.createDate, 'dd/MM/yyyy HH:mm')}"></td>
									<td style="color:#fff; vertical-align:middle; background-color:#212529; padding:10px; font-size:14px; border-top:1px solid #6c757d;" bgcolor="#212529" th:text="${signRequest.createBy.firstname} + ' ' + ${signRequest.createBy.name}"></td>
									<td style="color:#fff; vertical-align:middle; background-color:#212529; padding:10px; font-size:14px; border-top:1px solid #6c757d;" bgcolor="#212529">
										<a th:href="@{|${rootUrl}/user/signrequests/${signRequest.id}|}" style="background-color:#0d6efd; color:#fff; text-decoration:none; border-radius: 20px; display:inline-block; font-size:14px; font-weight:600; line-height:1.5; padding:10px 14px; text-align:center; user-select:none; vertical-align:middle;" bgcolor="#0d6efd" align="center" valign="middle">Accéder au document</a>
									</td>
								</tr>
							</th:block>
							</tbody>
						</table>
					</td>
				</tr>
			</table>
			<br>
			<p style="margin-bottom:1rem; margin-top:0;color:#565656;">
			⚠️ Veuillez vérifier que les liens ci-dessus correspondent bien à l’adresse officielle avant de cliquer. En cas de doute, copiez-collez l’URL directement dans votre navigateur.
			</p>
			<p style="margin-bottom:1rem; margin-top:0;color:#565656;">Pour en savoir plus sur l’outil esup-signature, <a href="https://code.gouv.fr/sill/detail?name=Esup-Signature" style="color:#0d6efd; text-decoration:underline;">cliquez ici</a></p>
		</td>
	</tr>
	<tr>
		<td style="width:100%; background-color:#6c757d; border-top: 0; padding:10px; -ms-flex-pack:center; justify-content:center; text-align:center; font-size:14px;" bgcolor="#6c757d">
			<span class="text-white text-center" style="text-align:center; color:#fff" align="center" th:text="#{application.footer}"></span>
		</td>
	</tr>
</table>
</body>
</html>