<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style th:text="${css}"></style>
</head>
<body class="bg-light">
<div class="container">
    <div class="card m-4  rounded-0">
        <div class="card-header bg-dark">
            <img class="mx-auto" th:src="@{|data:image/png;base64, ${logo}|}" />
        </div>
        <div class="card-body">
            <h4>Bonjour,</h4>
            <h5>La demande de signature "<b><span th:text="${signBook.name}"></span></b>" est terminée.</h5>
            <p>Liste des signataires</p>
            <ul>
            <th:block th:each="workflowStep : ${signBook.workflowSteps}">
                 <li th:text="${workflowStep.recipientsNames.keySet()}"></li>
            </th:block>
            </ul>
            <p th:if="${signBook.exportedDocumentURI != null}">
                Le document sera transmise à cette adresse : <span th:text="${signBook.exportedDocumentURI}"></span>
            </p>

            <p>
                <a th:href="@{|${rootUrl}/user/signBooks/${signBook.id}|}" class="btn btn-primary">Voir le parapheur</a>
            </p>
        </div>
        <div class="card-footer bg-secondary">
            <span class="text-white">Université de Rouen</span>
        </div>
    </div>
</div>
</body>
</html>