<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<table width="100%" border="0" style="width: 100%;" bgcolor="#ffffff">
	<tr>
		<td width="100%" style="background-color:#343a40; border-bottom:1px solid rgba(0, 0, 0, 0.125); margin-bottom:0; padding:10px; width: 100%;" bgcolor="#343a40">
			<img height="30" class="mx-auto float-start" src="cid:logo" style="border-style:none; vertical-align:middle; float:left; margin-right:auto; margin-left:auto" valign="middle" align="left">
			<img height="30" class="mx-auto float-end" src="cid:logo-univ" style="border-style:none; vertical-align:middle; float:right; margin-right:auto; margin-left:auto" valign="middle" align="right">
		</td>
	</tr>
	<tr>
		<td style="width:100%; padding:10px;background-color:#f8f9fa;">
			<p>Bonjour,</p>
			<p>Voici la liste des demandes de signatures en attente : </p>
			<table class="table table-borderless">
				<thead class="table-secondary">
				<tr>
					<th class="text-white">Nom</th>
					<th class="text-white">Date de création</th>
					<th class="text-white">Créé par</th>
					<th class="text-white">Consulter</th>
				</tr>
				</thead>
				<tbody>
				<th:block th:each="signRequest : ${signRequests}">
					<tr>
						<td th:text="${signRequest.title}"></td>
						<td th:text="${#dates.format(signRequest.createDate, 'dd/MM/yyyy HH:mm')}"></td>
						<td th:text="${signRequest.createBy.firstname} + ' ' + ${signRequest.createBy.name}">
						</td>
						<td>
							<a class="btn btn-sm btn-dark mx-auto" th:href="@{|${rootUrl}/user/signrequests/${signRequest.id}|}">Accéder au document</a>
						</td>
					</tr>
				</th:block>
				</tbody>
			</table>
		</td>
	</tr>
	<tr>
		<td style="width:100%; background-color:#6c757d; border-top:1px solid rgba(0, 0, 0, 0.125); padding:10px;  -ms-flex-pack:center; justify-content:center; text-align:center; font-size:14px;" bgcolor="#6c757d">
			<span class="text-white text-center" style="text-align:center; color:#fff" align="center" th:text="#{application.footer}"></span>
		</td>
	</tr>
</table>
</body>
</html>