<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style th:text="${css}"></style>
</head>
<body class="bg-light">
<div class="container">
	<div class="card m-4  rounded-0">
		<div class="card-header bg-dark">
			<img class="mx-auto" th:src="@{|data:image/png;base64, ${logo}|}" />
		</div>
		<div class="card-body">
			<h4>Bonjour,</h4>
			<h5>Voici la liste des demandes de signatures en attente : </h5>
			<hr/>
			<table class="table table-bordered">
				<thead>
				<tr style="font-weight: bold;">
					<th>Nom</th>
					<th>Date de création</th>
					<th>Créé par</th>
					<th>Consulter</th>
				</tr>
				</thead>
				<tbody>
				<th:block th:each="signRequest : ${signRequests}">
					<tr>
						<td th:text="${signRequest.title}"></td>
						<td th:text="${#dates.format(signRequest.createDate, 'dd/MM/yyyy HH:mm')}"></td>
						<td th:text="${signRequest.creator.firstname} + ' ' + ${signRequest.creator.name}"></td>
						<td>
							<a class="btn btn-primary mx-auto mt-2" th:href="@{|${rootUrl}/user/signrequests/${signRequest.id}|}">Accéder au document</a>
						</td>
					</tr>
				</th:block>
				</tbody>
			</table>
		</div>
		<div class="card-footer bg-secondary">
			<span class="text-white">Université de Rouen</span>
		</div>
	</div>
</div>
</body>
</html>