<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="bg-light" style='background-color:#f8f9fa; color:#212529; font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size:1rem; font-weight:400; line-height:1.5; margin:0; text-align:left' bgcolor="#f8f9fa" align="left">
<div class="container" style="margin-left:auto; margin-right:auto; padding-left:15px; padding-right:15px; width:90%">
    <div class="card rounded-0 m-1" style="-ms-flex-direction:column; background-clip:border-box; background-color:#fff; border:1px solid rgba(0, 0, 0, 0.125); border-radius:0; display:flex; flex-direction:column; min-width:0; position:relative; word-wrap:break-word; margin:0.25rem" bgcolor="#ffffff">
        <div class="card-header rounded-0 bg-dark" style="background-color:#343a40; border-bottom:1px solid rgba(0, 0, 0, 0.125); margin-bottom:0; padding:0.75rem 1.25rem; border-radius:0" bgcolor="#343a40">
            <img height="40" class="mx-auto float-start" src="cid:logo" style="border-style:none; vertical-align:middle; float:left; margin-right:auto; margin-left:auto" valign="middle" align="left">
            <img height="40" class="mx-auto float-end" src="cid:logo-univ" style="border-style:none; vertical-align:middle; float:right; margin-right:auto; margin-left:auto" valign="middle" align="right">
        </div>
        <div class="card-body" style="-ms-flex:1 1 auto; flex:1 1 auto; padding:1.25rem">
            <p style="margin-bottom:1rem; margin-top:0">Bonjour,</p>
            <p style="margin-bottom:1rem; margin-top:0">Vous faites parti des utilisateurs en copie de cette demande de signature  : </p>
            <p style="margin-bottom:1rem; margin-top:0" th:text="'Nom : ' + ${signRequest.title}"></p>
            <p style="margin-bottom:1rem; margin-top:0" th:text="'Date de création : ' + ${#dates.format(signRequest.createDate, 'dd/MM/yyyy HH:mm')}"></p>
            <p style="margin-bottom:1rem; margin-top:0">
                <span th:text="'Créé par : ' + ${signRequest.createBy.firstname} + ' ' + ${signRequest.createBy.name}"></span>
            </p>
            <p style="margin-bottom:1rem; margin-top:0" th:if="${organizationalUnitLdap != null}">
                <span th:text="'Composante : ' + ${organizationalUnitLdap.description}"></span>
            </p>
            <p style="margin-bottom:1rem; margin-top:0">
                <a class="btn btn-sm btn-dark mx-auto" th:href="@{|${rootUrl}/user/signrequests/${signRequest.id}|}" style="background-color:#343a40; color:#fff; text-decoration:none; -moz-user-select:none; -ms-user-select:none; -webkit-user-select:none; border:1px solid transparent; border-radius:0.2rem; display:inline-block; font-size:0.875rem; font-weight:400; line-height:1.5; padding:0.25rem 0.5rem; text-align:center; transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; user-select:none; vertical-align:middle; border-color:#343a40; margin-right:auto; margin-left:auto" bgcolor="#343a40" align="center" valign="middle">Accéder au document</a>
            </p>
        </div>
        <div class="card-footer rounded-0 bg-secondary justify-content-center text-center" style="background-color:#6c757d; border-top:1px solid rgba(0, 0, 0, 0.125); padding:0.75rem 1.25rem; border-radius:0; -ms-flex-pack:center; justify-content:center; text-align:center" bgcolor="#6c757d" align="center">
            <span class="text-white text-center" style="text-align:center; color:#fff" align="center" th:text="#{application.footer}"></span>
        </div>
    </div>
</div>
</body>
</html>