<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style th:text="${css}"></style>
</head>
<body class="bg-light">
<div class="container">
    <div class="card m-4 rounded-0">
        <div class="card-header bg-dark">
            <img class="mx-auto" th:src="@{|data:image/png;base64, ${logo}|}" />
        </div>
        <div class="card-body">
            <h4>Bonjour</h4>
            <h5>En pièce jointe vos documents signés</h5>
            <table>
                <tr>
                    <th>Titre du document</th>
                    <th>Auteur</th>
                </tr>
                <th:block th:each="signRequest : ${signRequests}">
                    <tr>
                        <td th:text="${signRequest.title}"></td>
                        <td th:text="${user.name}"></td>
                    </tr>
                </th:block>
            </table>
        </div>
        <div class="card-footer bg-secondary">
            <span class="text-white">Université de Rouen</span>
        </div>
    </div>
</div>
</body>
</html>