<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style th:text="${css}"></style>
</head>
<body class="bg-light">
<div class="container">
    <div class="card rounded-0 m-1">
        <div class="card-header rounded-0 bg-dark">
            <img height="40" class="mx-auto float-left" th:src="@{|data:image/png;base64, ${logo}|}" />
            <img height="40" class="mx-auto float-right" th:src="@{|data:image/png;base64, ${logoUrn}|}" />
        </div>
        <div class="card-body">
            <p>Bonjour,</p>
            <p>Votre demande de signature a été refusée.</p>
            <p th:with="creator = ${userService.getUserByEppn(signBook.createBy)}">
                Nom de la demande : <b><span th:text="${signBook.name}"></span></b>
                <br>
                Crée par : <b><span th:text="${creator.firstname} + ' ' + ${creator.name}"></span></b>
                <br>
                Date de création : <b><span th:text="${#dates.format(signBook.createDate, 'dd/MM/yyyy HH:mm')}"></span></b>
                <br>
            </p>
            <p>Refusée par : </p>
            <ul>
                <th:block th:each="workflowStep : ${signBook.workflowSteps}">
                    <th:block th:each="recipient : ${workflowStep.recipients}">
                            <span th:text="${recipient.user.firstname + ' ' + recipient.user.name}"></span>
                    </th:block>
                </th:block>
            </ul>
            <p>Motif du refus : </p>
            <p>
                <span th:text="${comment}"></span>
            </p>
        </div>
        <div class="card-footer rounded-0 bg-secondary justify-content-center text-center">
            <span class="text-white text-center">Université de Rouen Normandie</span>
        </div>
    </div>
</div>
</body>
</html>