<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>
<h5>Paramètres du circuit de signature</h5>
<form th:action="'/user/signbooks/wizard/wizX/' + ${signBook.id}" method="post">
    <div class="col-lg-12">
        <label for="recipientsEmail">Choisir les participants</label>
        <select onchange="checkNbRecipients();" name="recipientsEmail" id="recipientsEmail" size="5" multiple="multiple" required="required">
            <th:block th:each="signBook : ${allSignBooks}">
                <option th:value="${signBook.name}" th:text="${signBook.name} + ' (' + ${signBook.signBookType} + ')'"></option>
            </th:block>
        </select>
        <script language="JavaScript">
            new SlimSelect({
                select: "#recipientsEmail",
                placeholder: 'Choisir un ou plusieurs parapheur(s)',
                searchText: 'Aucun résultat',
                searchPlaceholder: 'Rechercher',
                searchHighlight: true,
                searchFilter: (option, search) => {
                    return true;
                },
                ajax: function (search, callback) {
                    if (search.length < 3) {
                        callback('Merci de saisir au moins 3 caractères')
                    } else {
                        fetch('/user/users/searchUser?searchString=' + search)
                            .then(function (response) {
                                return response.json()
                            })
                            .then(function (json) {
                                let data = []
                                for (let i = 0; i < json.length; i++) {
                                    data.push({text: json[i].displayName + ' (' + json[i].mail + ')', value: json[i].mail});
                                }
                                callback(data)
                            })
                            .catch(function (error) {
                                callback(false)
                            })
                    }
                }
            });
        </script>
        <br>
        <label>
            Tous les participants doivent-ils signer ?
        </label>
        <label class="switch">
            <input type="checkbox" name="allSignToComplete"/>
            <span class="slider round"></span>
        </label>
        <br/>
        <label>Type de signature :</label>
        <select name="signType" class="form-control">
            <th:block th:each="signType : ${signTypes}">
                <option th:value="${signType}" th:text="#{'signbook.signtype.' + ${signType}}"></option>
            </th:block>
        </select>
    </div>
    <button type="submit" name="addNew" value="true" class="btn btn-primary" style="position: absolute;right: 150px;bottom: 10px;">
        <i class="fas fa-plus"></i> Ajouter une étape
    </button>
    <button type="submit" name="end" value="true" class="btn btn-success" style="position: absolute;right: 10px;bottom: 10px;">
        Terminer <i class="fas fa-flag-checkered"></i>
    </button>
</form>
<form id="wiz2Form" th:action="'/user/signbooks/wizard/wiz3'" method="post">
    <input type="hidden" name="name" th:value="${name}">
    <button type="submit" class="btn btn-success" style="position: absolute;left: 10px;bottom: 10px;">
        <i class="fas fa-angle-left"></i> Précédent
    </button>
</form>
</body>
</html>
