<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="signRequest" type="org.esupportail.esupsignature.entity.SignRequest"*/-->
<!--/*@thymesVar id="log" type="org.esupportail.esupsignature.entity.Log"*/-->
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/menu :: menu(activeMenu)"></header>
<main role="main">
    <div class="wrapper">
        <nav id="sidebar">
            <div class="m-1">
                <button title="Accueil" type="button" onclick="location.href='/'" class="mb-1 col-12 btn btn-transparent text-left">
                    <i class="fas fa-home"></i> <span class="sidebar-label">Accueil</span>
                </button>
                <div class="btn btn-light col-12 m-1">
                    <label class="control-label" for="_zoom" >Zoom</label>
                    <br/>
                    <label class="switch">
                        <input onclick="toggleZoom();" type="checkbox" name="zoom" id="_zoom"/>
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </nav>
        <div id="content" class="content">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/user/signrequests">Liste des demandes</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Demande de signature : <span th:text="${signRequest.title}"></span>
                    </li>
                </ol>
            </nav>
            <script th:inline="javascript">
                /*<![CDATA[*/
                var zoom = 1;
                var nbImagePage = [[${imagePagesSize}]];
                var currentImagePage = [[${signRequest.currentWorkflowStep.signRequestParams.signPageNumber}]] - 1;
                var documentUrl = "/user/documents/[[${documentId}]]/getimagepdfpage/";
                var signId = [[${signRequest.id}]];

                pointItEnable = true;

                function toggleZoom() {
                    if (zoom == 1) {
                        zoom = 2;
                    } else {
                        zoom = 1;
                    }

                    document.getElementById("pointer_div").style = "background-size: " + [[${pdfWidth}]] * zoom + "px;background-image:url('/user/documents/[[${documentId}]]/getimagepdfpage/" + currentImagePage + "');width:" + ([[${pdfWidth}]] * zoom) + "px;height: " + ([[${pdfHeight}]] * zoom) + "px;border:1px solid #CCC;";
                }

                /*]]>*/
            </script>
            <div th:if="${imagePagesSize > 1}" class="btn btn-light col-12 m-1">
                <label class="control-label">Navigation</label>
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a id="previous" onclick="previousImage();" class="btn btn-outline-dark m-1" aria-label="Précédent">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a id="next" onclick="nextImage();" class="btn btn-outline-dark m-1" aria-label="Prochain">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <form th:action="'/user/signrequests/comment/' + ${signRequest.id}" method="post">
                <div id="pointer_div" onmouseup="displayComment();" ontouchend="displayComment();" ontouchmove="pointIt2(event);" onmousemove="pointIt2(event);" th:style="'background-size: ' + ${pdfWidth} + 'px;background-image:url(\'/user/documents/' + ${documentId} + '/getimagepdfpage/' + ${signRequest.currentWorkflowStep.signRequestParams.signPageNumber -1} + '\');width:' + ${pdfWidth} + 'px;height:' + ${pdfHeight} + 'px;border:1px solid #CCC;'">
                    <div id="postit" class="postit" style="display: none;position: relative;left: 0px;top: 0px;z-index: 2">
                        Nouvelle annotation
                        <textarea name="comment" class="postitarea"></textarea>
                        <button type="submit" class="btn btn-sm float-right">
                            <i class="fas fa-save"></i>
                        </button>
                    </div>
                </div>
                <input class="form-control form-control-sm col-6" value="0" id="signPageNumber" type="hidden" name="pageNumber"/>
                <input class="form-control form-control-sm col-6" value="0" id="xPos" type="hidden" name="posX"/>
                <input class="form-control form-control-sm col-6" value="0" id="yPos" type="hidden" name="posY"/>
            </form>
            <th:block th:each="log : ${logs}">
                <span th:text="${log.comment}"></span>
            </th:block>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
<script th:replace="user/signrequests/includes/scriptshow :: scriptshow"></script>
</html>
