<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
	<nav class="nav justify-content-between" aria-label="breadcrumb">
			<div class="navbar-nav col-11">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Liste des demandes</a></li>
					<li class="breadcrumb-item active">Nouvelle demande de signature</li>
				</ol>
			</div>
			<div class="navbar-nav align-self-center">
				<button data-target="#collapseHelp" data-toggle="collapse" type="button" class="btn btn-info">
					<span class="fas fa-info-circle"><!--  --></span>
				</button>
			</div>
		</nav>

		<div id="collapseHelp" class="collapse" aria-expanded="true" style="">
		<div class="alert alert-info">
			<p>Ce formulaire permet de soumettre à signature un ou plusieurs documents en selectionnant le parapheur qui convient</p>
			<p>Après avoir saisi les paramètres de la demande, vous pourrez ajouter des documents</p>
	    </div>
	    </div>
	</div>
	<div id="ribbon" class="card">
		<div class="card-body">
		<button type="button" onclick="document.getElementById('fc_org_esupportail_esupsignature_domain_SignRequest').submit();" class="mr-2 btn btn-outline-dark btn-light float-left">
		<p class="text-center">
		<i class="fas fa-save fa-2x"></i>
		<br/>
		Enregistrer
		</p>
		</button>
		</div>
		</div>
	</div>	
	<main role="main" class="container">
	<div class="card card-body bg-light">
		

	<form id="fc_org_esupportail_esupsignature_domain_SignRequest" action="/user/signrequests" method="post" enctype="multipart/form-data">
    <div class="row">
    <div class="col-lg-12">
		<div class="form-group" id="_c_org_esupportail_esupsignature_domain_SignRequest_title">
		<label for="title"><strong>Titre de la demande</strong></label>
		<div class="col-lg-8">
		<input id="title" name="title" class="form-control" required="required" type="text" value="" autocomplete="on">
		</div>
		</div>
		<div class="form-group" id="_c_org_esupportail_esupsignature_domain_SignRequest_signBook_id">
			<label for="newPageType">
				<strong>
					Envoyer dans le(s) parapheur(s)
					<button data-target="#collapseHelp1" data-toggle="collapse" type="button" class="btn btn-sm btn-info"><span class="fas fa-info-circle"></span></button>
					<div class="collapse" id="collapseHelp1">
						<div class="alert alert-info">
							<small>
								Vous pouvez selectionner plusieurs parapheurs. Dans ce cas il faudra preciser si toutes les signatures sont requises
                               	<br/>
                               	Vous pouvez recherche un/des utilisateur(s) dans l'annuaire si aucun parapheur ne convient
								<br/>
								Si vous sélectionnez votre parapheur personnel c'est vous qui signerez le document.
							</small>
						</div>
					</div>
				</strong>
			</label>
			<div class="col-lg-8">
				<select onchange="checkNbRecipients();" name="signBookNames" id="signBookNames" size="5" multiple="multiple" >
					<th:block th:each="signBook : ${allSignBooks}">
						<option th:value="${signBook.name}" th:text="${signBook.name} + ' (' + ${signBook.signBookType} + ')'"></option>
					</th:block>
				</select>
			</div>
		</div>
		
		<div class="form-group" id="_allSignToComplete_div_id">
			<label for="_allSignToComplete">
				<strong>
					Tous les participants doivent-ils signer ?
				</strong>
				<button data-target="#collapseHelpAllSign" data-toggle="collapse" type="button" class="btn btn-sm btn-info"><span class="fas fa-info-circle"></span></button>
					<div class="collapse" id="collapseHelpAllSign">
						<div class="alert alert-info">
							<small>
								<ul>
								<li>Oui : Tous les participants doivent signer pour que la demande passe au status "Signé"</li>
								<li>Non : Une seule signature suffit</li>
								</ul>
							</small>
						</div>
					</div>
			</label>
			<div class="col-lg-8">
				<label class="switch">
				  <input type="checkbox" name="allSignToComplete" id="_allSignToComplete"/>
				  <span class="slider round"><!--  --></span>
				</label>
			</div>
		</div>

		<div class="form-group" id="_c_org_esupportail_esupsignature_domain_SignRequest_signBook_id">
			<label for="newPageType">
				<strong>
					Surcharger les paramètres de signature du parapheur
				</strong>
					<button data-target="#collapseHelpOverLoad" data-toggle="collapse" type="button" class="btn btn-sm btn-info"><span class="fas fa-info-circle"></span></button>
					<div class="collapse" id="collapseHelpOverLoad">
						<div class="alert alert-info">
							<small>
								<ul>
								<li>Non : Les paramètres de signature du parapheur séléctionné seront appliqués.</li>
								<li>Oui : Vous pouvez modifier les	 paramètres de signature manuellement. Cela imposse le type de signature aux signataires</li> 
								</ul>
							</small>
						</div>
					</div>
			</label>
			<div class="col-lg-8">
				<label class="switch">
				  <input id="_overloadSignParams" type="checkbox" name="overloadSignBookParams" onclick="toggleOverload();" />
				  <span class="slider round"><!--  --></span>
				</label>
			</div>
		</div>
		<div class="form-group" id="_signType_div_id">
			<label for="signType">
			<strong>
				Type de signature par défaut
				<button data-target="#collapseHelpSignType" data-toggle="collapse" type="button" class="btn btn-sm btn-info">
					<i class="fas fa-info-circle"></i>
				</button>
			</strong>
			<div class="collapse" id="collapseHelpSignType">
				<div class="alert alert-info">
					<small>
						<ul>
							<li>PAdES/XAdES : s'appuie sur le certificat P12 uploader au niveau de vos paramètres</li>
							<li>Apposition de la signature : ajoute simplement l'image de votre signature sur un PDF à l'endroit voulu</li>
							<li>PAdES/XAdES avec NexU : s'appuie l'application NexU qui permet l'utilisation d'un certificat matériel</li>
							<li>Confirmation de lecture : permet de valider la lecture d'un document</li>
						</ul>
					</small>
				</div>
			</div>
			</label>
			<div class="col-lg-8">
				<select id="_signType_id" name="signType" class="form-control" size="1">
					<th:block th:each="signType : ${signTypes}">
						<option th:value="${signType}" th:text="${signType}" ></option>
					</th:block>
				</select>
			</div>
		</div>        
		<field:select render="false" field="newPageType" id="c_org_esupportail_esupsignature_domain_SignRequest_newPageType" cssClass="form-control" path="/" multiple="false" size="1" checkboxes="false" items="${newPageTypes}" z="user-managed"/>        
		<div class="form-group" id="_newPageType_div_id">
			<label for="newPageType">
				<strong>
					Insérer une page de garde
				</strong>
			</label>
			<div class="col-lg-8">
				<select id="_newPageType_id" name="newPageType" class="form-control" size="1">
					<th:block th:each="newPageType : ${newPageTypes}">
						<option th:value="${newPageType}" th:text="${newPageType}"></option>
					</th:block>
				</select>
			</div>
		</div>
		</div>
		</div>
	</form>
    <script type="text/javascript">
    var signBookNamesSelect = new SlimSelect({
		select: '#signBookNames',
		placeholder: 'Choisir un ou plusieurs parapheur(s)',
		searchText: 'Aucun résultat',
		searchPlaceholder: 'Rechercher',
		limit: 0, 
		searchHighlight: true,
		searchFilter: (option, search) => {
			return true;
		},
		ajax: function (search, callback) {
			if (search.length < 3) {
		    	callback('Merci de saisir au moins 3 caractères')
		    }
		    fetch('/ws/searchSignBook?searchString=' + search)
		    .then(function (response) {
		    	return response.json()
		    })
		    .then(function (json) {
		    	let data = [];
		    	for (let i = 0; i < json.length; i++) {
		        	data.push({text: json[i].displayName + ' (' + json[i].uid + ')', value: json[i].mail});
		   		}
		   		callback(data)
		    })
		    .catch(function(error) {
		    	callback(false)
		    })
		}
  	});

		//enable _allSignToComplete
		var allSignToCompleteDiv;
		var allSignToComplete;
		var signBookSelect;
		document.addEventListener('DOMContentLoaded', function() {
			allSignToCompleteDiv = document.getElementById("_allSignToComplete_div_id");
			allSignToComplete = document.getElementById("_allSignToComplete");
			allSignToCompleteDiv.classList.add("div-disable");
			signBookSelect = document.getElementById("signBookNames");
		});
		
		function checkNbRecipients() {
			if(signBookSelect.selectedOptions.length > 0) {
				console.log(signBookSelect.selectedOptions[signBookSelect.selectedOptions.length - 1].text);
				if(signBookSelect.selectedOptions.length > 1 && !signBookSelect.selectedOptions[signBookSelect.selectedOptions.length - 1].text.includes("workflow")) {
					allSignToCompleteDiv.classList.remove("div-disable");
					signBookNamesSelect.config.limit = 0;
				} else if (signBookSelect.selectedOptions[signBookSelect.selectedOptions.length - 1].text.includes("group")) {
					allSignToCompleteDiv.classList.remove("div-disable");
					signBookNamesSelect.config.limit = 0;
				} else {
					if(signBookSelect.selectedOptions[signBookSelect.selectedOptions.length - 1].text.includes("workflow")) {
						allSignToCompleteDiv.classList.remove("div-disable");
						signBookNamesSelect.config.limit = 1;
						if(signBookSelect.selectedOptions.length > 1) {
							var value = signBookSelect.selectedOptions[signBookSelect.selectedOptions.length - 1].value;
							signBookNamesSelect.set([]);
							signBookNamesSelect.set(value);					
						}
					} else {
						allSignToCompleteDiv.classList.add("div-disable");
						allSignToComplete.checked = false;
						signBookNamesSelect.config.limit = 0;
						}
				}
			} else {
				allSignToCompleteDiv.classList.add("div-disable");
				allSignToComplete.checked = false;
			}
		}
    </script>
</main></body></html>
