<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="signRequest" type="org.esupportail.esupsignature.entity.SignRequest"*/-->
<head th:replace="fragments/head"></head>
<script th:inline="javascript" type="module">
    import {default as FilesInput} from '/js/modules/utils/FilesInput.js?version=[[${versionApp}]]';
    new FilesInput($("#multipartFiles"), "", "multipartFiles", [[${signRequest.originalDocuments}]], true, [[${_csrf}]], [[${signRequest.id}]]);
</script>
<body>
<header th:replace="fragments/nav"></header>
<main role="main">
    <div class="wrapper">
        <nav th:insert="/fragments/sides/side-sign"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/user/signrequests">Tableau de bord</a></li>
                <li class="breadcrumb-item" aria-current="page"><a th:href="'/user/signrequests/' + ${signRequest.id}">Demande de signature : <span th:text="${signRequest.title}"></span></a></li>
                <li class="breadcrumb-item active">Détails de la demande</a></li>
            </ol>
        </nav>
        <div id="content" class="content content-full">
            <div class="col-lg-10" th:if="${user == signRequest.createBy && (signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).completed || signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).exported)}">
                <div id="endButtons" class="fixed-action-btn"  onmouseover="$('#endButtons').toggleClass('active');" onmouseout="$('#endButtons').toggleClass('active');">
                    <a class="btn-floating btn-lg bg-primary waves-effect">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <ul id="endCollapse" class="list-unstyled">
                        <li><a class="btn-floating bg-primary waves-effect" th:href="'/user/signrequests/get-last-file/' + ${id}" target="_blank" title="Enregistrer le document signé sous">
                            <i class="fas fa-download"></i>
                        </a></li>
                        <li><a title="Export SEDA" class="btn-floating bg-primary aves-effect" th:href="'/user/signrequests/get-seda/' + ${id}">
                            <i class="fas fa-file-export"></i>
                        </a></li>
                        <li><a th:if="${signRequest.status != T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).exported}" class="btn-floating bg-primary waves-effect" th:href="'/user/validation/document/' + ${id}" title="Contrôler le document">
                            <i class="fas fa-shield-alt "></i>
                        </a></li>
                    </ul>
                </div>
            </div>
<!--            <th:block th:unless="${signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).completed || signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).exported}">-->
<!--            <div id="addButton" class="fixed-action-btn"  onmouseover="$('#addButton').toggleClass('active');" onmouseout="$('#addButton').toggleClass('active');">-->
<!--                <a class="btn-floating btn-lg bg-primary waves-effect">-->
<!--                    <i class="fas fa-ellipsis-v"></i>-->
<!--                </a>-->
<!--                <ul id="collapseExample" class="list-unstyled">-->
<!--                    <li><a title="Modifier les paramètres de signature" type="button" class="btn-floating bg-success waves-effect" data-bs-toggle="modal" data-bs-target="#signRequestParams"><i class="fas fa-signature"></i></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            </th:block>-->
            <div class="card mb-1 col-lg-10 mx-auto" th:if="${signRequest.status != T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).exported}">
                <div class="card-body">
                    <h5>Liste des documents originaux</h5>
                    <div th:if="${user == signRequest.createBy}">
                        <div th:if="${(signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).draft || signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).completed)}">
                            <div th:if="${#lists.size(signRequest.originalDocuments) == 0 || signRequest.parentSignBook.liveWorkflow.currentStep.recipients.size() == 0}">
                                <div th:if="${#lists.size(signRequest.originalDocuments) == 0}">
                                    <div class="alert alert-warning" th:if="${signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).draft}">
                                        <p>Vous devez ajouter des documents</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="file-loading">
                        <input id="multipartFiles" name="multipartFiles" type="file" multiple="multiple"/>
                    </div>
                </div>
            </div>
            <div th:replace="user/signrequests/cards/recipientscard :: recipientscard"></div>
            <div th:replace="user/signrequests/cards/commentscard :: commentscard"></div>
            <div th:replace="user/signrequests/cards/logscard :: logscard"></div>
        </th:block>
        </div>
    </div>
</main>

<div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="Refus" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form th:action="'/user/signrequests/pending/' + ${id}" method="post">
                <div class="modal-header">
                    <h3 class="modal-title">Démarrer le circuit</h3>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">
                        Attention, les paramètres de la demande ne pourront plus etre changés une fois celle-ci envoyée
                    </div>
                    <br/>
                    <label for="content">Vous <b>pouvez</b> ajouter un commentaire</label>
                    <textarea id="comment" class="form-control" name="comment"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-paper-plane" aria-hidden="true"></i> Envoyer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="refuseModal" tabindex="-1" role="dialog" aria-labelledby="refuseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form th:action="'/user/signrequests/refuse/' + ${id}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="refuseModalLabel">Refuser la demande de signature</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                    </button>
                </div>
                <div class="modal-body">
                    <label for="refuseComment">Vous <b>devez</b> ajouter un commentaire</label>
                    <textarea id="refuseComment" class="form-control" name="comment" required></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Refuser</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
