<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data">
<!--/*@thymesVar id="signBook" type="org.esupportail.esupsignature.entity.SignBook"*/-->
<!--/*@thymesVar id="signRequest" type="org.esupportail.esupsignature.entity.SignRequest"*/-->
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/menu :: menu(activeMenu)"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="fragments/side :: side"></nav>
        <div id="content" class="content">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Liste des demandes à signer</li>
                </ol>
            </nav>
            <div class="card rounded-0 mb-3">
                <div id="myDocs" class="card-body">
                    <table class="table table-sm table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="">Parapheur</th>
                            <th class="none">Titre des documents</th>
                            <th class="d-none d-xl-table-cell"><a class="sorted" sd:pagination-sort="createDate">Date de
                                création</a></th>
                            <th class="d-none d-lg-table-cell">Participants</th>
                            <th class="d-none d-md-table-cell">Statut</th>
                            <th>Voir</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="signRequest : ${signRequests}">
                            <tr>
                                <td class="text-break" th:if="${signRequest.parentSignBook != null}"
                                    th:text="${signRequest.parentSignBook.name}"></td>
                                <td class="text-break" th:unless="${signRequest.parentSignBook != null}"></td>
                                <td class="text-break"><span style="white-space: pre-line"
                                                             th:text="${signRequest.viewTitle}"></span></td>
                                <td class="d-none d-xl-table-cell"><span
                                        th:text="${#dates.format(signRequest.createDate, 'dd/MM/yyyy HH:mm')}"></span>
                                </td>
                                <td class="d-none d-lg-table-cell">
                                    <table th:if="${signRequest.parentSignBook != null && @signBookService.getCurrentWorkflowStep(signRequest.parentSignBook) != null}"
                                           class="table table-sm">
                                        <tbody>
                                        <th:block
                                                th:each="recipient : ${@signBookService.getCurrentWorkflowStep(signRequest.parentSignBook).recipients}">
                                            <tr>
                                                <td width="100%"
                                                    th:text="${recipient.getUser().getFirstname() + ' ' + recipient.getUser().getName()}"></td>
                                                <td align="center">
                                                    <div th:switch="${recipient.signed}">
                                                        <i title="a signé le document" th:case="true"
                                                           class="fas fa-check-circle text-success"></i>
                                                        <i title="n'a pas signé le document" th:case="false"
                                                           class="fas fa-exclamation-circle text-danger"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                    <table class="table table-sm" th:if="${signRequest.parentSignBook == null}">
                                        <tbody>
                                        <th:block th:each="recipient : ${signRequest.recipients}">
                                            <tr>
                                                <td width="100%"
                                                    th:text="${recipient.getUser().getFirstname() + ' ' + recipient.getUser().getName()}"></td>
                                                <td align="center">
                                                    <div th:switch="${recipient.signed}">
                                                        <i title="a signé le document" th:case="true"
                                                           class="fas fa-check-circle text-success"></i>
                                                        <i title="n'a pas signé le document" th:case="false"
                                                           class="fas fa-exclamation-circle text-danger"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </td>
                                <td th:if="${signRequest.parentSignBook != null}" class="d-none d-md-table-cell"
                                    style="width: 150px;">
                                    <div th:replace="user/signbooks/includes/status :: status"></div>
                                </td>
                                <td th:unless="${signRequest.parentSignBook != null}" class="d-none d-md-table-cell"
                                    style="width: 150px;">
                                    <div th:replace="user/signrequests/includes/status :: status"></div>
                                </td>
                                <td class="utilbox">
                                    <a aria-label="Accéder à la demande" th:if="${signRequest.parentSignBook != null}"
                                       class="btn btn-primary" title="ouvrir"
                                       th:href="'/user/signrequests/' + ${signRequest.id}"><i class="fas fa-book"></i>
                                    </a>
                                    <a aria-label="Accéder à la demande"
                                       th:unless="${signRequest.parentSignBook != null}" class="btn btn-primary"
                                       title="Voir" th:href="'/user/signrequests/' + ${signRequest.id}"><i
                                            class="far fa-eye"></i> </a>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <nav th:replace="fragments/pagination :: pagination"></nav>
                </div>
            </div>
            <div class="card rounded-0 mb-3">
                <div class="card-header" onclick="$('#mySignedDocs').toggle();" style="cursor: pointer;">
                    <a data-toggle="collapse" href="#mySignedDocs" role="button" aria-expanded="false"
                       aria-controls="mySignedDocs">
                        Historique des demandes signées ou visées <i class="fa fa-arrow-down float-right"></i>
                    </a>
                </div>
                <div id="mySignedDocs" class="card-body collapse">
                    <div th:if="${#lists.size(signRequestsSignedByMe) > 0}" class="table-responsive">
                        <table class="table table-sm table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="">Parapheur</th>
                                <th class="">Titre</th>
                                <th class="d-none d-md-table-cell">Date de création</th>
                                <th class="d-none d-lg-table-cell">Créé par</th>
                                <th>Voir</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="signRequest : ${signRequestsSignedByMe}">
                                <tr>
                                    <td class="text-break" th:if="${signRequest.parentSignBook != null}"
                                        th:text="${signRequest.parentSignBook.name}"></td>
                                    <td class="text-break" th:unless="${signRequest.parentSignBook != null}"></td>
                                    <td class="text-break" th:text="${signRequest.title}"></td>
                                    <td class="d-none d-md-table-cell"><span
                                            th:text="${#dates.format(signRequest.createDate, 'dd/MM/yyyy HH:mm')}"></span>
                                    </td>
                                    <td class="d-none d-lg-table-cell"><span
                                            th:text="${@userService.getUserByEppn(signRequest.createBy).firstname} + ' ' + ${@userService.getUserByEppn(signRequest.createBy).name}"></span>
                                    </td>
                                    <td class="utilbox">
                                        <a th:if="${signRequest.parentSignBook != null}" class="btn btn-info"
                                           title="ouvrir" th:href="'/user/signrequests/' + ${signRequest.id}"><i
                                                class="fas fa-book"></i> </a>
                                        <a th:unless="${signRequest.parentSignBook != null}" class="btn btn-info"
                                           title="Voir" th:href="'/user/signrequests/' + ${signRequest.id}"><i
                                                class="far fa-eye"></i> </a>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                    <div th:unless="${#lists.size(signRequestsSignedByMe) > 0}" class="alert alert-secondary">
                        Aucun document signer pour le moment
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
