<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data">
<!--/*@thymesVar id="signBook" type="org.esupportail.esupsignature.entity.SignBook"*/-->
<!--/*@thymesVar id="signRequest" type="org.esupportail.esupsignature.entity.SignRequest"*/-->
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/menu :: menu(activeMenu)"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="fragments/side :: side"></nav>
        <div id="content" class="content">
            <nav aria-label="breadcrumb" class="text-uppercase">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Documents envoyés</li>
                </ol>
            </nav>
            <div class="card mb-3">
                <div id="myDocs" class="card-body">
                    <table class="table table-borderless table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th class="">Parapheur</th>
                            <th class="none">Titre des documents</th>
                            <th class="d-none d-xl-table-cell"><a class="sorted" sd:pagination-sort="createDate">Date de
                                création</a></th>
                            <th class="d-none d-lg-table-cell">Participants</th>
                            <th class="d-none d-md-table-cell">Statut</th>
                            <th>Voir</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="signRequest : ${signRequests}">
                            <tr>
                                <td class="text-break" th:if="${signRequest.parentSignBook != null}"
                                    th:text="${signRequest.parentSignBook.name}"></td>
                                <td class="text-break" th:unless="${signRequest.parentSignBook != null}"></td>
                                <td class="text-break"><span style="white-space: pre-line"
                                                             th:text="${signRequest.viewTitle}"></span></td>
                                <td class="d-none d-xl-table-cell"><span
                                        th:text="${#dates.format(signRequest.createDate, 'dd/MM/yyyy HH:mm')}"></span>
                                </td>
                                <td class="d-none d-lg-table-cell">
                                    <table th:if="${signRequest.parentSignBook != null && @signBookService.getCurrentWorkflowStep(signRequest.parentSignBook) != null}"
                                           class="table table-sm">
                                        <tbody>
                                        <th:block
                                                th:each="recipient : ${@signBookService.getCurrentWorkflowStep(signRequest.parentSignBook).recipients}">
                                            <tr>
                                                <td width="100%"
                                                    th:text="${recipient.getUser().getFirstname() + ' ' + recipient.getUser().getName()}"></td>
                                                <td align="center">
                                                    <div th:switch="${recipient.signed}">
                                                        <i title="a signé le document" th:case="true"
                                                           class="fas fa-check-circle text-success"></i>
                                                        <i title="n'a pas signé le document" th:case="false"
                                                           class="fas fa-exclamation-circle text-danger"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                    <table class="table table-sm" th:if="${signRequest.parentSignBook == null}">
                                        <tbody>
                                        <th:block th:each="recipient : ${signRequest.recipients}">
                                            <tr>
                                                <td width="100%"
                                                    th:text="${recipient.getUser().getFirstname() + ' ' + recipient.getUser().getName()}"></td>
                                                <td align="center">
                                                    <div th:switch="${recipient.signed}">
                                                        <i title="a signé le document" th:case="true"
                                                           class="fas fa-check-circle text-success"></i>
                                                        <i title="n'a pas signé le document" th:case="false"
                                                           class="fas fa-exclamation-circle text-danger"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </td>
                                <td th:if="${signRequest.parentSignBook != null}" class="d-none d-md-table-cell"
                                    style="width: 150px;">
                                    <div th:replace="user/signbooks/includes/status :: status"></div>
                                </td>
                                <td th:unless="${signRequest.parentSignBook != null}" class="d-none d-md-table-cell"
                                    style="width: 150px;">
                                    <div th:replace="user/signrequests/includes/status :: status"></div>
                                </td>
                                <td class="utilbox">
                                    <a aria-label="Accéder à la demande" th:if="${signRequest.parentSignBook != null}"
                                       class="btn btn-primary" title="ouvrir"
                                       th:href="'/user/signrequests/' + ${signRequest.id}"><i class="fas fa-book"></i>
                                    </a>
                                    <a aria-label="Accéder à la demande"
                                       th:unless="${signRequest.parentSignBook != null}" class="btn btn-primary"
                                       title="Voir" th:href="'/user/signrequests/' + ${signRequest.id}"><i
                                            class="far fa-eye"></i> </a>
                                </td>
                                <td class="utilbox"
                                    th:if="${signRequest.parentSignBook != null && (signRequest.parentSignBook.status.name() == 'draft' || signRequest.parentSignBook.status.name() == 'pending')}">
                                    <button aria-label="Modifier" class="btn btn-warning" title="Modifier"
                                            th:onclick="'location.href=\'/user/signbooks/' + ${signRequest.parentSignBook.id} + '?form\''">
                                        <i class="fas fa-pen"></i></button>
                                </td>
                                <td class="utilbox"
                                    th:if="${signRequest.parentSignBook != null && (signRequest.parentSignBook.status.name() != 'draft' && signRequest.parentSignBook.status.name() != 'pending')}">
                                    <button aria-label="Modifier" class="btn btn-outline-secondary" title="Modifier"
                                            disabled><i class="fas fa-pen"></i></button>
                                </td>
                                <td class="utilbox"
                                    th:if="${signRequest.parentSignBook == null && (signRequest.status.name() == 'draft' || signRequest.status.name() == 'pending')}">
                                    <button aria-label="Modifier" class="btn btn-warning" title="Modifier"
                                            th:onclick="'location.href=\'/user/signrequests/' + ${signRequest.id} + '?form\''">
                                        <i class="fas fa-pen"></i></button>
                                </td>
                                <td class="utilbox"
                                    th:if="${signRequest.parentSignBook == null && !(signRequest.status.name() == 'draft' || signRequest.status.name() == 'pending')}">
                                    <button aria-label="Modifier" class="btn btn-outline-secondary" title="Modifier"
                                            disabled><i class="fas fa-pen"></i></button>
                                </td>
                                <td class="utilbox" th:if="${signRequest.parentSignBook != null}">
                                    <form class="delete"
                                          th:action="'/user/signbooks/' + ${signRequest.parentSignBook.id}"
                                          method="post">
                                        <input type="hidden" name="_method" value="DELETE"/>
                                        <button aria-label="Supprimer"
                                                onclick="return confirm('Voulez-vous vraiment supprimer cet element ?');"
                                                value="Supprimer Sign Request" type="submit"
                                                title="Supprimer Sign Request"
                                                class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                    </form>
                                </td>
                                <td class="utilbox" th:unless="${signRequest.parentSignBook != null}">
                                    <form class="delete" th:action="'/user/signrequests/' + ${signRequest.id}"
                                          method="post">
                                        <input type="hidden" name="_method" value="DELETE"/>
                                        <button onclick="return confirm('Voulez-vous vraiment supprimer cet element ?');"
                                                value="Supprimer Sign Request" type="submit"
                                                title="Supprimer Sign Request"
                                                class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                    </form>
                                </td>

                            </tr>
                        </th:block>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="100%">
                                    <nav th:replace="fragments/pagination :: pagination"></nav>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>
</main>
<script>
    localStorage.removeItem('mode');
    $('#wizardModal').on('shown.bs.modal', function () {
        $(this).modal({backdrop: 'none', keyboard: false})
    });
</script>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
