<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data">
<!--/*@thymesVar id="signBook" type="org.esupportail.esupsignature.entity.SignBook"*/-->
<!--/*@thymesVar id="signRequest" type="org.esupportail.esupsignature.entity.SignRequest"*/-->
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/menu :: menu(activeMenu)"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="fragments/side :: side"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="text-uppercase breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Documents envoyés</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="card mb-3">
                <div id="myDocs" class="card-body">
                    <form class="" action="" method="get">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text" id="status-label">Statut</div>
                            </div>
                            <select aria-labelledby="status-label" class="form-control" name="statusFilter"
                                    id="statusFilter" onchange="submit();">
                                <option value="" disabled="disabled" selected="selected">Choisir un statut</option>
                                <option value="all">Tous</option>
                                <th:block th:each="status : ${statuses}">
                                    <option th:if="${status == statusFilter}" th:value="${status}" selected="selected"
                                            th:text="#{'signbook.status.' + ${status}}"></option>
                                    <option th:unless="${status == statusFilter}" th:value="${status}"
                                            th:text="#{'signbook.status.' + ${status}}"></option>
                                </th:block>
                            </select>
                        </div>
                    </form>
                    <table class="table table-borderless table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th class="w-25">Parapheur</th>
                            <th class="w-25">Titre des documents</th>
                            <th class="d-none d-xl-table-cell"><a class="sorted" sd:pagination-sort="createDate">Date de création</a></th>
                            <th class="d-none d-lg-table-cell">Participants</th>
                            <th class="d-none d-md-table-cell">Statut</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="signRequest : ${signRequests}">
                            <tr>
                                <td class="text-break" th:if="${signRequest.parentSignBook != null}" th:text="${signRequest.parentSignBook.name}"></td>
                                <td class="text-break" th:unless="${signRequest.parentSignBook != null}"></td>
                                <td class="text-break"><span th:text="${signRequest.viewTitle}"></span></td>
                                <td class="d-none d-xl-table-cell"><span th:text="${#dates.format(signRequest.createDate, 'dd/MM/yyyy HH:mm')}"></span>
                                </td>
                                <td class="d-none d-lg-table-cell">
                                    <table th:if="${signRequest.parentSignBook != null && @signBookService.getCurrentWorkflowStep(signRequest.parentSignBook) != null}"
                                           class="table table-sm">
                                        <tbody>
                                        <th:block
                                                th:each="recipient : ${@signBookService.getCurrentWorkflowStep(signRequest.parentSignBook).recipients}">
                                            <tr>
                                                <td width="100%"
                                                    th:text="${recipient.getUser().getFirstname() + ' ' + recipient.getUser().getName()}"></td>
                                                <td align="center">
                                                    <div th:switch="${recipient.signed}">
                                                        <i title="a signé le document" th:case="true"
                                                           class="fas fa-check-circle text-success"></i>
                                                        <i title="n'a pas signé le document" th:case="false"
                                                           class="fas fa-exclamation-circle text-danger"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                    <table class="table table-sm" th:if="${signRequest.parentSignBook == null}">
                                        <tbody>
                                        <th:block th:each="recipient : ${signRequest.recipients}">
                                            <tr>
                                                <td width="100%"
                                                    th:text="${recipient.getUser().getFirstname() + ' ' + recipient.getUser().getName()}"></td>
                                                <td align="center">
                                                    <div th:switch="${recipient.signed}">
                                                        <i title="a signé le document" th:case="true"
                                                           class="fas fa-check-circle text-success"></i>
                                                        <i title="n'a pas signé le document" th:case="false"
                                                           class="fas fa-exclamation-circle text-danger"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </td>
                                <td th:if="${signRequest.parentSignBook != null}" class="d-none d-md-table-cell"
                                    style="width: 150px;">
                                    <div th:replace="user/signrequests/includes/status :: status"></div>
                                </td>
                                <td th:unless="${signRequest.parentSignBook != null}" class="d-none d-md-table-cell"
                                    style="width: 150px;">
                                    <div th:replace="user/signrequests/includes/status :: status"></div>
                                </td>
                                <td th:if="${signRequest.parentSignBook != null}">
                                    <button type="button" th:id="'menu-toggle-' + ${signRequest.id}" class="btn text-dark toggle-mini-menu" th:title="'Actions ' + ${signRequest.title}" th:data-target="'#menu-' + ${signRequest.id}" th:aria-controls="'menu-' + ${signRequest.id}" data-toggle="collapse">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div class="card position-absolute collapse mini-menu" th:id="'menu-' + ${signRequest.id}" style="width:200px; right: 100px;z-index: 1000;">
                                        <div class=" card-body">
                                            <a class="btn btn-transparent text-dark text-left" title="Consulter" role="button" th:href="'/user/signrequests/' + ${signRequest.id}">
                                                <i class="fas fa-eye pr-2"></i>Consulter
                                            </a>
                                            <a class="btn btn-transparent text-dark text-left" role="button" title="Modifier" th:href="'/user/signbooks/' + ${signRequest.parentSignBook.id} + '?form'">
                                                <i class="fas fa-pencil-alt pr-2"></i>Modifier
                                            </a>
                                            <a class="btn btn-transparent text-dark text-left" th:href="'#modal-warning-' + ${signRequest.id}" role="button" title="Supprimer" data-toggle="modal" data-target="#modal-warning" th:data-target="'#modal-warning-' + ${signRequest.id}">
                                                <i class="fas fa-trash-alt pr-2"></i>Supprimer
                                            </a>
                                        </div>
                                    </div>
                                    <script>
                                        $(document).click(function (event) {
                                            var clickover = $(event.target);
                                            var _opened = $("#menu-[[${signRequest.id}]]").hasClass("collapse show");
                                            if (_opened === true && !clickover.hasClass("toggle-mini-menu")) {
                                                $("#menu-toggle-[[${signRequest.id}]]").click();
                                            }
                                        });
                                    </script>
                                    <div class="modal modal-warning fade in" th:id="'modal-warning-' + ${signRequest.id}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form id="command" th:action="'/user/signbooks/'+ ${signRequest.parentSignBook.id}" th:method="delete">
                                                    <div class="modal-header">
                                                        <h2>Attention</h2>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="alert alert-danger">Confirmez-vous la suppression de ce brouillon ?</div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Fermer</button>
                                                        <button type="submit" class="btn btn-danger">Valider</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="100%">
                                    <nav th:replace="fragments/pagination :: pagination"></nav>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>
</main>
<script>
    localStorage.removeItem('mode');
    $('#wizardModal').on('shown.bs.modal', function () {
        $(this).modal({backdrop: 'none', keyboard: false})
    });
</script>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
