<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml">
<!--/*@thymesVar id="signBook" type="org.esupportail.esupsignature.entity.SignBook"*/-->
<!--/*@thymesVar id="signRequest" type="org.esupportail.esupsignature.entity.SignRequest"*/-->
<!--/*@thymesVar id="signRequests" type="org.springframework.data.domain.Page<esupportail.esupsignature.entity.SignRequest>"*/-->
<!--/*@thymesVar id="statusFilter" type="org.esupportail.esupsignature.entity.enums.SignRequestStatus"*/-->
<head th:replace="fragments/head"></head>
<script th:inline="javascript" type="module">
    import ListSignRequestUi from '/static/js/modules/ui/signrequests/ListSignRequestUi.js?version=[[${globalProperties.version}]]';
    new ListSignRequestUi([[${signRequests}]], [[${statusFilter}]], [[${infiniteScrolling}]], [[${_csrf}]]);
</script>
<body>
<header th:replace="fragments/nav"></header>
<main role="main">
    <div class="wrapper">
        <nav th:insert="/fragments/sides/side-dashboard"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Tableau de bord</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div id="signButtons" class="fixed-action-btns active">
                <ul id="buttonList" class="list-unstyled">
                    <li>
                        <a type="button" id="checkCertSignButton"
                           class="btn-floating btn-lg bg-success wave-effect d-none">
                            <i class="fas fa-file-signature"></i>
                        </a>
                    </li>
                    <li>
                        <a type="button" id="deleteMultipleButton"
                           class="btn-floating btn-lg bg-danger wave-effect d-none">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a type="button" id="downloadMultipleButton"
                           class="btn-floating btn-lg bg-primary wave-effect d-none">
                            <i class="fas fa-download"></i>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#newFomModal" type="button"
                           class="btn-floating btn-lg bg-primary wave-effect">
                            <i class="fas fa-plus"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card col-sm-9 col-md-10 col-xl-11">
                <div id="myDocs" class="card-body">
                    <div id="listSignRequestTable" class="table-fix-head">
                        <table class="table table-borderless table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th class="w-20 d-none d-lg-table-cell">
                                <div class="position-relative">
                                    <button type="button" id="menu-toggle-multiple" class="btn text-light toggle-mini-menu" title="Menu global" data-target="#menu-multiple" aria-controls="menu-multiple" data-toggle="collapse">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div class="card position-absolute collapse mini-menu-thead" id="menu-multiple">
                                        <div class="card-body">
                                            <button id="selectAllButton" class="btn btn-transparent text-dark text-left col-12" title="Consulter" role="button">
                                                <i class="far fa-check-square"></i> Tout sélectionner
                                            </button>
                                            <button id="unSelectAllButton" class="btn btn-transparent text-dark text-left col-12" title="Consulter" role="button">
                                                <i class="far fa-minus-square"></i> Tout dé-sélectionner
                                            </button>
                                            <button id="menuDeleteMultipleButton" class="btn btn-transparent text-dark text-left col-12 d-none"><i class="fas fa-trash-alt pr-2"></i> Supprimer la sélection</button>
                                            <button id="menuDownloadMultipleButton" class="btn btn-transparent text-dark text-left col-12 d-none"><i class="fas fa-download pr-2"></i> Télécharger la sélection</button>
                                        </div>
                                    </div>
                                </div>
                            </th>
                            <th class="w-20 d-none d-xxl-table-cell text-center">
                                <select id="workflowFilter" class="slim-select-filter sign-request-filter" data-placeholder="Circuit" data-allow-deselect="true">
                                    <option data-placeholder="true"></option>
                                    <th:block th:each="workflow : ${signRequestWorkflow}">
                                            <option th:value="${workflow}" th:selected="${workflowFilter == workflow}" th:text="${workflow}"></option>
                                    </th:block>
                                </select>
                            </th>
                            <th class="w-20 text-center">
                                <select id="docTitleFilter" class="slim-select-filter sign-request-filter" data-placeholder="Titre des documents" data-allow-deselect="true">
                                    <option data-placeholder="true"></option>
                                    <th:block th:each="docTitle : ${docTitles}">
                                        <option th:value="${docTitle}" th:selected="${docTitleFilter == docTitle}" th:text="${docTitle}"></option>
                                    </th:block>
                                </select>
                            </th>
                            <th class="d-none d-xxl-table-cell"><a class="sorted" sd:pagination-sort="createBy">Crée par</a></th>
                            <th class="d-none d-xl-table-cell"><a class="sorted" sd:pagination-sort="createDate">Date de création</a></th>
                            <th class="d-none d-xl-table-cell">
                                <select id="recipientsFilter" class="slim-select-filter sign-request-filter" data-placeholder="Participants" data-allow-deselect="true">
                                    <option data-placeholder="true"></option>
                                    <th:block th:each="signRequestRecipient : ${signRequestRecipients}">
                                        <option th:value="${signRequestRecipient.user.eppn}" th:selected="${recipientsFilter == signRequestRecipient.user.eppn}" th:text="${signRequestRecipient.user.firstname + ' ' + signRequestRecipient.user.name}"></option>
                                    </th:block>
                                </select>
                            </th>
                            <th class="d-none d-xxxl-table-cell"><a class="sorted" sd:pagination-sort="endDate">Date de signature/refus</a></th>
                            <th class="d-none d-md-table-cell"><a class="sorted" sd:pagination-sort="status">Statut</a></th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody id="signRequestTable">
                        <th:block th:each="signRequest : ${signRequests}">
                            <tr th:data-href="'/user/signrequests/' + ${signRequest.id}">
                                <td class="w-20 d-none d-lg-table-cell">
                                    <input type="checkbox" autocomplete="off" class="sign-requests-ids" name="ids[]" th:value="${signRequest.id}" th:data-status="${signRequest.status}"
                                           th:data-sign-type="${signRequest.parentSignBook.liveWorkflow.currentStep != null ? signRequest.parentSignBook.liveWorkflow.currentStep.signType : ''}"
                                           th:data-id-signbook="${signRequest.parentSignBook.id}">
                                </td>
                                <td th:data-href="'/user/signrequests/' + ${signRequest.id}" class="clickable-td text-break d-none d-xxl-table-cell" th:text="${signRequest.parentSignBook.title}"></td>
                                <td class="clickable-td text-break"><span th:text="${signRequest.title}"></span></td>
                                <td class="clickable-td d-none d-xxl-table-cell" th:text="${signRequest.createBy.firstname} + ' ' + ${signRequest.createBy.name}"></td>
                                <td class="clickable-td d-none d-xl-table-cell"><span th:text="${#dates.format(signRequest.createDate, 'dd/MM/yyyy HH:mm')}"></span>
                                </td>
                                <td class="clickable-td d-none d-xl-table-cell">
                                    <table class="table table-sm">
                                        <tbody th:if="${signRequest.parentSignBook.liveWorkflow.liveWorkflowSteps.size() > 0 && signRequest.parentSignBook.liveWorkflow.currentStepNumber > 0}">
                                        <th:block th:each="recipient : ${signRequest.parentSignBook.liveWorkflow.currentStep.recipients}">
                                            <tr>
                                                <td class="w-100" th:title="${recipient.user.email}"
                                                    th:text="${recipient.user.firstname + ' ' + recipient.user.name}"></td>
                                                <td class="align-content-center">
                                                    <div th:switch="${recipient.signed}">
                                                        <th:block th:case="true">
                                                            <i th:if="${signRequest.status != T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).refused}" title="A signé le document" class="fas fa-check-circle text-success"></i>
                                                            <i th:if="${signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).refused}"  title="A refusé le document" class="fas fa-times-circle text-danger"></i>
                                                        </th:block>
                                                        <th:block th:case="false">
                                                            <i th:if="${signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).pending}" title="En attente de signature" class="fas fa-clock text-warning"></i>
                                                            <i th:if="${signRequest.status != T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).pending}" title="N'a pas signé le document" class="fas fa-minus-circle text-secondary"></i>
                                                        </th:block>
                                                    </div>
                                                </td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="clickable-td d-none d-xxxl-table-cell">
                                    <span th:if="${signRequest.endDate != null}" th:text="${#dates.format(signRequest.endDate, 'dd/MM/yyyy HH:mm')}"></span>
                                </td>
                                <td class="clickable-td d-none d-md-table-cell"
                                    style="width: 150px;">
                                    <div th:replace="user/signrequests/includes/status :: status(signBook=${signRequest.parentSignBook})"></div>
                                </td>
                                <td>
                                    <div class="position-relative">
                                        <button type="button" th:id="'menu-toggle-' + ${signRequest.id}" class="btn text-dark toggle-mini-menu" th:title="'Actions ' + ${signRequest.title}" th:data-target="'#menu-' + ${signRequest.id}" th:aria-controls="'menu-' + ${signRequest.id}" data-toggle="collapse">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="card position-absolute collapse mini-menu" th:id="'menu-' + ${signRequest.id}">
                                            <div class=" card-body">
                                                <a th:unless="${signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).pending && statusFilter == 'tosign'}" class="btn btn-transparent text-dark text-left col-12" title="Consulter" role="button" th:href="'/user/signrequests/' + ${signRequest.id}">
                                                    <i class="fas fa-eye pr-2"></i> Consulter
                                                </a>
                                                <a th:if="${signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).pending && statusFilter == 'tosign'}" class="btn btn-transparent text-dark text-left col-12" title="Consulter" role="button" th:href="'/user/signrequests/' + ${signRequest.id}">
                                                    <i class="fas fa-signature pr-2"></i> Signer
                                                </a>
                                                <a th:if="${signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).completed || signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).exported || signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).archived}" class="btn btn-transparent text-dark text-left col-12" title="Télécharger" role="button" th:href="'/user/signrequests/get-last-file/' + ${signRequest.id}">
                                                    <i class="fas fa-download pr-2"></i> Télécharger
                                                </a>
                                                <a th:if="${signRequest.parentSignBook.createBy.eppn == userEppn && signRequest.status != T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).deleted}" class="btn btn-transparent text-dark text-left col-12" th:href="'#modal-warning-' + ${signRequest.id}" role="button" title="Supprimer" data-toggle="modal" th:data-target="'#modal-warning-' + ${signRequest.id}">
                                                    <i class="fas fa-trash-alt pr-2"></i> Supprimer
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal modal-warning fade in" th:id="'modal-warning-' + ${signRequest.id}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form th:id="'signBookDel' + ${signRequest.parentSignBook.id}" th:action="'/user/signbooks/'+ ${signRequest.parentSignBook.id}" th:method="delete">
                                                    <div class="modal-header">
                                                        <h2>Attention</h2>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <i class="fas fa-times"></i>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="alert alert-danger">Confirmez-vous la suppression de cette demande ?</div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Non</button>
                                                        <button type="submit" class="btn btn-danger">Oui</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="100%">
                                <span th:if="${infiniteScrolling}">Faire défiler la page pour afficher plus d'éléments</span>
                                <nav  th:unless="${infiniteScrolling}" th:include="fragments/pagination :: pagination"></nav>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
<div class="modal fade" id="checkCertSignModal"
     tabindex="-1" role="dialog" aria-labelledby="checkCertSignModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="checkCertSignModalLabel">Signature électronique détectée</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">Nous avons détecté une signature électronique parmi les demandes sélectionnées</div>
                <div class="modal-body">
                    <form id="passwordForm">
                        <input type="submit" id="passwordSubmit" class="d-none">
                        <input class="form-control" type="password" id="password" name="password" value="" placeholder="Mot de passe du keystore" required/>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button id="massSignButton"
                        class="btn btn-success" title="Signer" autofocus>
                    Lancer la signature en masse <i class="fas fa-arrow-alt-circle-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="newFomModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div th:replace="fragments/new"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div id="wait" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Signature en cours</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated active" style="width: 100%;"
                         id="bar">
                    </div>
                </div>
                <span id="bar-text"></span>
                <div id="signError" class="alert alert-danger mt-2" role="alert">
                    Erreur du système de signature
                </div>
            </div>
            <div class="modal-footer">
                <button id="closeModal" type="button" class="btn btn-secondary align-self-center" data-dismiss="modal" onclick="location.reload();">
                    Fermer
                </button>
                <button id="validModal" onclick="location.href = '/user/reports';" class="btn btn-secondary">Voir le rapport complet</button>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
