<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="globalProperties" type="org.esupportail.esupsignature.config.GlobalProperties"*/-->
<head th:replace="fragments/head"></head>
<script th:src="${globalProperties.nexuUrl} + '/nexu.js'"></script>
<script th:inline="javascript" type="module">
    import {Nexu} from "/static/js/modules/ui/signrequests/Nexu.js";
    let nexu = new Nexu([[${globalProperties.nexuUrl}]], [[${globalProperties.nexuVersion}]], [[${globalProperties.rootUrl}]], [[${addExtra}]]);
    nexu.getCertificates();
</script>
<body>
<header th:replace="fragments/nav"></header>
<main role="main">
    <nav th:insert="fragments/side"></nav>
    <div id="content" class="content">
        <div class="alert alert-primary col-6 mb-2">
            <p>Signature NexU en cours</p>
            <p><small>
                L'application Nexu va s'ouvrir, vous pourez utiliser le gestionnaire de clés windows ou une
                clé matérielle<br>
                Il est possible que vous deviez saisir votre mot de passe plusieurs fois pendant la
                procédure</small>
            </p>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="text-center"><b>Progression de la procédure de signature</b></h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active"
                         style="width: 10%;" id="bar">
                        <span id="bar-text">Loading certificates...</span>
                    </div>
                </div>
                <div id="error" style="display: none" class="text-center mt-2">
                    <div class="alert alert-danger" role="danger">
                        <strong id="errorText">Une erreur s'est produite lors de la signature</strong>
                        <br>
                        <small>Erreur : <span id="errorcontent"></span></small>
                        <br/>
                        <a onclick="location.reload();" class="btn btn-danger btnSeccion text-white" id="btnSeccion4">
                            <i class="fas fa-sync-alt fa-2x"></i><br/> Relancer
                        </a>
                    </div>
                </div>
                <div class="alert alert-success text-center mt-2" role="danger"
                     id="success">
                    <strong>Signature effectuée</strong>
                    <br/>
                    <a th:href="'/user/signrequests/' + ${id}" class="btn btn-success btnSeccion" id="return2">
                        <i class="fas fa-flag-checkered fa-2x"></i><br/> Retour
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
