<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="globalProperties" type="org.esupportail.esupsignature.config.GlobalProperties"*/-->
<head th:replace="~{fragments/head :: head}"></head>
<script th:inline="javascript" type="module">
    import {Nexu} from '/js/modules/ui/signrequests/Nexu.js?version=[[${versionApp}]]';
    $(document).ready(function() {
        new Nexu([[${addExtra}]], [[${id}]]);
    });
</script>
<body>
<header th:replace="~{fragments/nav-empty :: nav-empty}"></header>
<main role="main">
    <nav th:replace="~{fragments/sides/side :: side}"></nav>
    <div id="content" class="content">
        <div class="alert alert-secondary col-10 mb-2 mx-auto">
            <h3>Signature eIDas en cours</h3>
            <p>
                L’application Esup-DSS-Client va s’ouvrir.
                Pour signer avec une clé materielle vous pourrez choisir OpenSC.
                Sous windows vous pourrez aussi choisir le gestionnaire de clés windows.
                <br>
                Il est possible que vous deviez saisir votre mot de passe / code pin plusieurs fois pendant la
                procédure
            </p>
        </div>
        <div class="card col-10 mx-auto">
            <div class="card-body">
                <h5 class="text-center"><b>Progression de la procédure de signature</b></h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active"
                         style="width: 20%;" id="bar">
                        <span id="bar-text">Chargement du certificat...</span>
                    </div>
                </div>
                <div id="error" style="display: none" class="text-center mt-2">
                    <div class="alert alert-danger" role="danger">
                        <h3 id="errorText">Une erreur s’est produite lors de la signature</h3>
                        <p class="mt-2">
                            <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseError" aria-expanded="false" aria-controls="collapseError">
                                Voir le detail de l’erreur
                            </button>
                        </p>
                        <div class="collapse" id="collapseError">
                            <textarea class="form-control mb-2" id="errorcontent"></textarea>
                        </div>
                        <div class="inline-flex">
                            <a th:href="'/user/signrequests/' + ${id}" class="btn btn-secondary">
                                <i class="fas fa-door-open fa-2x"></i><br/>Annuler la signature et retourner à la demande
                            </a>
                            <a onclick="location.reload();" class="btn btn-primary">
                                <i class="fas fa-sync-alt fa-2x"></i><br/>Relancer la procédure de signature
                            </a>
                        </div>
                    </div>
                </div>
                <div class="alert alert-success text-center mt-2" role="danger" id="success">
                    <strong>Signature effectuée</strong>
                    <br/>
                    <a th:href="'/user/signrequests/' + ${id}" class="btn btn-success" id="return2">
                        <i class="fas fa-flag-checkered fa-2x"></i><br/> Retour
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
