<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="globalProperties" type="org.esupportail.esupsignature.config.GlobalProperties"*/-->
<head th:replace="~{fragments/head-lite :: head}"></head>
<body>
<header th:replace="~{fragments/nav-empty :: nav-empty}"></header>
<main role="main">
    <nav id="breadcrumb" aria-label="breadcrumb" class="es-breadcrumb-nav es-breadcrumb-nav-full-fixed es-breadcrumb-nav-full text-uppercase">
        <ol id="breadcrumb-ol" class="breadcrumb">
            <li class="breadcrumb-item es-breadcrumb-title active"><i class="fi fi-rr-file-signature"></i>&nbsp;Signature eIDAS</li>
        </ol>
    </nav>
    <div id="content" class="es-content-full-fixed d-flex flex-column align-content-center gap-1 gap-xxl-3">
        <div class="col-12 col-xl-10 mx-auto p-2">
            <div th:replace="~{user/signrequests/includes/modals/nexu-process-content :: content}"></div>
        </div>
    </div>
</main>
<script type="module" th:src="'/js/modules/bootstrap/NexuSignatureProcessBootstrap.js?version=' + ${versionApp}"></script>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
