<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="signBook" type="org.esupportail.esupsignature.entity.SignBook"*/-->
<!--/*@thymesVar id="signRequest" type="org.esupportail.esupsignature.entity.SignRequest"*/-->
<!--/*@thymesVar id="postit" type="org.esupportail.esupsignature.entity.Log"*/-->
<head th:replace="fragments/head"></head>
<body style="margin: 0" >
            <div id="tools" style="top:0px;">
                <div class="d-flex mb-1" th:unless="${documentType == 'pdf'}">
                    <div id="signtools" th:if="${signRequest.signable}" style="display: none;">
                        <button th:if="${currentSignType != 'visa'}" class="btn btn-success" title="Signer" data-toggle="modal" data-target="#signModal">
                            <i class="fas fa-signature"></i> <span class="sidebar-label">Signer</span>
                        </button>
                        <button th:unless="${currentSignType != 'visa'}" class="btn btn-success" title="Viser" data-toggle="modal" data-target="#signModal">
                            <i class="fas fa-check"></i> <span class="sidebar-label">Viser</span>
                        </button>
                    </div>
                    <div th:if="${user.eppn == signRequest.createBy}">
                        <th:block th:if="signRequest.status.name() == 'completed'}">
                            <a class="btn btn-outline-dark mb-1 text-left" th:href="'/user/signrequests/get-last-file/' + ${id}" target="_blank" title="Enregistrer le document signé sous">
                                <i class="fas fa-save"></i>
                            </a>
                            <a title="Export SEDA" class="btn btn-outline-dark mb-1 text-left" th:href="'/user/signrequests/get-last-file-seda/' + ${id}">
                                <i class="fa fa-file-export"></i>
                            </a>
                            <a class="btn btn-outline-dark mb-1 text-left" th:href="'/user/validation/document/' + ${id}" title="Contrôler le document">
                                <i class="fas fa-shield-alt "></i>
                            </a>
                        </th:block>
                    </div>
                </div>
                <div class="d-flex mb-1" th:if="${documentType == 'pdf'}">
                    <div class="bg-light ml-1 p-1 pt-2 d-inline"><span>Page <span id="page_num"></span> / <span id="page_count"></span></span></div>
                    <button id="prev" class="btn btn-light btn-outline-dark ml-1" aria-label="Précédent">
                        <i class="fas fa-arrow-left"></i>
                    </button>
                    <button id="next" class="btn btn-light btn-outline-dark ml-1" aria-label="Prochain">
                        <i class="fas fa-arrow-right"></i>
                    </button>
                    <div class="border ml-3 mr-3 "></div>
                    <button id="zoomout" class="btn btn-light btn-outline-dark ml-1"><i class="fas fa-search-minus"></i></button>
                    <button id="zoomin" class="btn btn-light btn-outline-dark ml-1"><i class="fas fa-search-plus"></i></button>
                    <div class="bg-light ml-1 p-1 pt-2 d-inline d-none"><span id="zoom"></span> %</div>
                    <div class="border ml-3 mr-3 "></div>
                    <button id="rotateleft" class="btn btn-light btn-outline-dark ml-1"><i class="fas fa-undo"></i></button>
                    <button id="rotateright" class="btn btn-light btn-outline-dark ml-1"><i class="fas fa-redo"></i></button>
                    <div class="border ml-3 mr-3 "></div>
                    <div id="signtools" class="mr-1" th:if="${signRequest.signable}" style="display: none;">
                        <button id="pen" th:if="${currentSignType != 'pdfImageStamp'}" title="Inserer un visuel" class="btn btn-outline-success ml-1" onclick="toggleVisual()"><i class="fas fa-pencil-alt"></i></button>
                        <button id="clock" th:if="${currentSignType != 'pdfImageStamp'}" title="Inserer la date" class="btn btn-outline-secondary ml-1" onclick="toggleDate()"><i class="fas fa-clock"></i></button>
                        <button th:if="${currentSignType != 'visa'}" class="btn btn-success" title="Signer" data-toggle="modal" data-target="#signModal">
                            <i class="fas fa-signature"></i> <span class="sidebar-label">Signer</span>
                        </button>
                        <button th:unless="${currentSignType != 'visa'}" class="btn btn-success" title="Viser" data-toggle="modal" data-target="#signModal">
                            <i class="fas fa-check"></i> <span class="sidebar-label">Viser</span>
                        </button>
                    </div>
                    <div id="" th:if="${signRequest.signable}" style="display: block;">
                        <button class="btn btn-danger" title="Refuser" th:token="${signRequest.token}" data-toggle="modal" data-target="#refuseModal">
                            <i class="fas fa-ban"></i> <span class="sidebar-label">Refuser</span>
                        </button>
                    </div>
                    <div th:if="${user.eppn == signRequest.createBy}">
                        <th:block th:if="${signRequest.status.name() == 'completed'}">
                            <a class="btn btn-outline-dark mb-1 text-left" th:href="'/user/signrequests/get-last-file/' + ${id}" target="_blank" title="Enregistrer le document signé sous">
                                <i class="fas fa-save"></i>
                            </a>
                            <a title="Export SEDA" class="btn btn-outline-dark mb-1 text-left" th:href="'/user/signrequests/get-last-file-seda/' + ${id}">
                                <i class="fa fa-file-export"></i>
                            </a>
                            <a class="btn btn-outline-dark mb-1 text-left" th:href="'/user/validation/document/' + ${id}" title="Contrôler le document">
                                <i class="fas fa-shield-alt "></i>
                            </a>
                        </th:block>
                    </div>
                </div>
            </div>
            <div id="workspace" class="alert alert-secondary fadein" style="margin-top: 60px; transition: all 0.3s;">
                <div th:replace="user/signrequests/includes/workspace :: workspace"></div>
            </div>

<div id="wait" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5>Signature en cours</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated active" style="width: 100%;" id="bar">
                    </div>
                </div>
                <span id="bar-text"></span>
                <div style="display: none;" id="passwordError" class="alert alert-danger" role="alert">
                    Mauvais mot de passe
                </div>
                <div style="display: none;" id="signError" class="alert alert-danger" role="alert">
                    Erreur du système de signature
                </div>
            </div>
            <div class="modal-footer">
                <button id="closeModal" type="button" class="btn btn-secondary align-self-center" data-dismiss="modal">
                    Fermer
                </button>
                <button id="validModal" onclick="location.reload();" class="btn btn-success">Terminer</button>
            </div>
        </div>
    </div>
</div>

<div th:if="${signRequest.signable}" class="modal fade" id="signModal" tabindex="-1" role="dialog" aria-labelledby="signModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signModalLabel">Confirmer la signature du document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div th:if="${currentSignType == 'nexuSign'}">
<!--                    <script type="text/javascript" src="/js/jsSignatureLevel.js"></script>-->
                    <div id="nexu_version_alert" style="display: none;">
                        <a onclick="location.reload();" class="mr-2 btn btn-warning btnSeccion float-left">
                            <i class="fas fa-sync-alt fa-2x"></i><br> Actualiser
                        </a>
                        <div class="alert alert-warning float-left">
                            L'application NexU n'a pas la bonne version.
                            <span th:text="${nexuVersion} + 'nécessaire'"></span>
                            <br>
                        </div>
                    </div>
                    <div id="nexu_missing_alert" style="display: none;">
                        <a onclick="location.reload();" class="mr-2 btn btn-warning btnSeccion float-left">
                            <i class="fas fa-sync-alt fa-2x"></i><br> Actualiser
                        </a>
                        <div class="alert alert-warning float-left">
                            L'application NexU n'a pas été détectée
                            <br>
                            <small>Merci de lancer l'application sur votre poste.
                                <a href="https://github.com/nowina-solutions/nexu/releases/">Téléchargement</a>
                            </small>
                        </div>
                    </div>
                    <div id="nexu_ready_alert" style="display: none;">
                        <div class="alert alert-success float-left mb-1">
                            L'application NexU est fonctionnelle
                            <br/>
                            <small>Vous pouvez utiliser une clé materielle ou un keystore</small>
                        </div>
                        <button class="mb-1 col-12 btn btn-lg btn-success" title="Signer" th:onclick="'launchSign(' + ${signRequest.id} + ');'">
                            <i class="fas fa-signature"></i> <span class="sidebar-label">Signer</span>
                        </button>
                    </div>
                </div>
                <input th:classappend="${currentSignType != 'certSign'} ? 'd-none'" class="form-control" type="password" id="password" name="password" value="" placeholder="Mot de passe du keystore"/>
            </div>
            <div class="modal-footer">
                <button th:if="${currentSignType == 'certSign' || currentSignType == 'pdfStampImage'}" class="mb-1 col-12 btn btn-lg btn-success" title="Signer" th:onclick="'launchSign(' + ${signRequest.id} + ');'">
                    <i class="fas fa-signature"></i> <span class="sidebar-label">Signer</span>
                </button>
                <button th:if="${currentSignType == 'visa'}" class="mb-1 col-12 btn btn-lg btn-success" title="Signer" th:onclick="'launchSign(' + ${signRequest.id} + ');'">
                    <i class="fas fa-check"></i> <span class="sidebar-label">Viser</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div th:if="${signRequest.signable}" class="modal fade" id="signAllModal" tabindex="-1" role="dialog" aria-labelledby="signModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signAllModalLabel">Confirmer la signature des documents</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <input th:classappend="${currentSignType != 'certSign' && currentSignType != 'nexuSign'} ? 'd-none'" class="form-control" type="password" id="passwordAll" name="passwordAll" value="" placeholder="Mot de passe du keystore"/>
            </div>
            <div class="modal-footer">
                <button th:if="${signRequest.parentSignBook != null && currentSignType != 'visa'}" class="mb-1 col-12 btn btn-lg btn-success" title="Signer" th:onclick="'launchSignAll(' + ${signRequest.parentSignBook.id} + ')'">
                    <i class="fas fa-signature"></i> <span class="sidebar-label">Signer</span>
                </button>
                <button th:if="${signRequest.parentSignBook != null && currentSignType == 'visa'}" class="mb-1 col-12 btn btn-lg btn-success" title="Signer" th:onclick="'launchSignAll(' + ${signRequest.parentSignBook.id} + ')'">
                    <i class="fas fa-check"></i> <span class="sidebar-label">Viser</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="refuseModal" tabindex="-1" role="dialog" aria-labelledby="refuseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form th:action="'/user/signrequests/refuse/' + ${signRequest.id}">
                <div class="modal-header">
                    <h5 class="modal-title" id="refuseModalLabel">Refuser la demande de signature</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea placeholder="Vous pouvez ajouter un commentaire" class="form-control" name="comment" required></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Refuser</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
