<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!--/*@thymesVar id="signBook" type="org.esupportail.esupsignature.entity.SignBook"*/-->
<!--/*@thymesVar id="signRequest" type="org.esupportail.esupsignature.entity.SignRequest"*/-->
<!--/*@thymesVar id="postits" type="java.util.List<org.esupportail.esupsignature.entity.Comment>"*/-->
<!--/*@thymesVar id="globalProperties" type="org.esupportail.esupsignature.config.GlobalProperties"*/-->
<!--/*@thymesVar id="signatureIds" type="java.util.List<String>"*/-->
<!--/*@thymesVar id="currentSignType" type="org.esupportail.esupsignature.entity.enums.SignType"*/-->
<!--/*@thymesVar id="signable" type="java.lang.Boolean"*/-->
<head th:replace="~{fragments/head-full :: head}"></head>
<body>
<script th:inline="javascript" type="module" th:if="${globalProperties.enableHelp}">
    import {SignRequestHelp} from '/js/modules/help/SignRequestHelp.js?version=@[(${versionApp})]@';
    let help = new SignRequestHelp([[${myUiParams.get(T(org.esupportail.esupsignature.entity.enums.UiParams).signRequestHelp)}]], [[${#authorization.expression('hasRole(''ROLE_OTP'')')}]]);
    help.autoStart();
</script>
<header th:unless="${frameMode}" th:replace="~{fragments/nav :: nav}"></header>
<script>
    // Include model attributs for online forms javascript
    /*<![CDATA[*/
    class User {
        constructor(id, eppn, name, firstname, email) {
            this.id = id;
            this.eppn = eppn;
            this.login = eppn.split("@")[0];
            this.name = name;
            this.firstname = firstname;
            this.email = email;
        }
    }
    const user = new User("[[${user.id}]]", "[[${user.eppn}]]", "[[${user.name}]]", "[[${user.firstname}]]", "[[${user.email}]]");
    const creator = new User("[[${signRequest.createBy.id}]]", "[[${signRequest.createBy.eppn}]]", "[[${signRequest.createBy.name}]]", "[[${signRequest.createBy.firstname}]]");
    const currentStepNumber = "[[${currentStepNumber}]]";
    const supervisors = "[[${supervisors}]]";
    const isLastStep = "[[${isLastStep}]]";
    /*]]>*/
</script>

<main role="main">
        <nav th:replace="~{user/signrequests/includes/show-sections :: breadcrumb}"></nav>
        <div id="content" th:data-es-signbook-id="${signRequest.parentSignBook.id}" class = "es-content-full">
            <div class="es-main-content d-flex">
                <div class="es-signrequest-postits-layer" th:if="${signRequest.parentSignBook.liveWorkflow.workflow == null || signRequest.parentSignBook.liveWorkflow.workflow.externalCanReaderAnnotations || user.userType.name() != 'external'}">
                    <div id="potit-comment" class="postit-global d-none overflow-hidden es-signrequest-postit-note"
                         th:if="${signRequest.parentSignBook.description != null && signRequest.parentSignBook.description != ''}"
                    >
                        <button type="button" class="postit-global-close close">
                            <i class="fa-solid fa-eye"></i>
                        </button>
                        <b>Note</b>
                        <button th:es-postit-id="${signRequest.id}" type="button" title="Copier le texte du postit" class="postit-copy btn btn-sm btn-transparent text-dark">
                            <i th:es-postit-id="${signRequest.id}" class="fa-regular fa-copy"></i>
                        </button>
                        <p th:id="'postit-text-' + ${signRequest.id}" class="postitarea" th:text="${signRequest.parentSignBook.description}"></p>
                    </div>
                    <th:block th:each="postit, iterate : ${postits}">
                        <div th:id="'postit-' + ${postit.id}" class="postit-global d-none overflow-hidden"
                             th:style="'width: 215px; height:215px; z-index: 1000; cursor: move;background-color: ' + ${postit.postitColor} + ';position: fixed; left: ' + ${310 + (iterate.index * 15)} + 'px; top : ' + ${210 + (iterate.index * 70)} + 'px;'">
                            <button type="button" class="postit-global-close close">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <b th:text="${postit.createBy.firstname + ' ' + postit.createBy.name}"></b>
                            <span th:text="'le ' + ${#dates.format(postit.createDate, 'dd/MM/yyyy HH:mm')}"></span>
                            <button th:es-postit-id="${postit.id}" type="button" title="Copier le texte du postit" class="postit-copy btn btn-sm btn-transparent text-dark">
                                <i th:es-postit-id="${postit.id}" class="fa-regular fa-copy"></i>
                            </button>
                            <p th:if="${postit.createBy.eppn != userEppn || postit.refuse}" class="postitarea" th:text="${postit.text}"></p>
                            <form class="es-postit-edit-form" th:if="${postit.createBy.eppn == userEppn && !postit.refuse}" th:action="'/' + ${urlProfil} + '/signrequests/comment/' + ${signRequest.id} + '/update/' + ${postit.id}" th:method="put">
                                <textarea th:style="'color: black; width: 100%;height: 75%;resize:none;background-color: ' + ${postit.postitColor}" name="comment" th:id="'postit-text-' + ${postit.id}" class="postitarea" th:text="${postit.text}"></textarea>
                                <button type="submit" class="btn btn-sm btn-dark float-end position-absolute es-postit-save-btn" title="Enregistrer"><i class="fa fa-save"></i></button>
                            </form>
                            <form th:if="${postit.createBy.eppn == userEppn && !postit.refuse}" th:action="'/' + ${urlProfil} + '/signrequests/comment/' + ${signRequest.id} + '/delete/' + ${postit.id}" th:method="delete">
                                <button type="submit" onclick="return confirm('Confirmez-vous la suppression ?');" class="btn btn-sm btn-dark float-start position-absolute es-postit-delete-btn"  title="Supprimer">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </form>
                        </div>
                    </th:block>
                </div>

                <nav th:if="${user.userType.name() == 'external'}" id="sidebar" th:insert="~{fragments/sides/side-otp :: side}" th:unless="${signRequest.parentSignBook.liveWorkflow.workflow != null && signRequest.parentSignBook.liveWorkflow.workflow.disableSidebarForExternal}"></nav>
                <nav th:unless="${user.userType.name() == 'external'}" th:replace="~{fragments/sides/side-sign :: side-sign}"></nav>
                <div  class="es-workspace d-flex flex-column">
                    <div class="es-nav-tools d-flex justify-content-center"  th:if="${toSignDocument != null && toSignDocument.contentType == 'application/pdf'}">
                        <div class="d-flex justify-content-center align-items-center" th:if="${toSignDocument.contentType == 'application/pdf'}">
                            <div id="commentsTools" th:if="${editable && toSignDocument.contentType == 'application/pdf'}" class="d-flex text-start gap-4">
                                <button th:if="${isManager && signRequest.data == null}" id="addSpotButton"
                                        class="d-flex align-items-center btn btn-sm btn-warning text-dark">
                                    <i class="fi fi-rr-digital-signature"></i> Insérer emplacement
                                </button>
                                <button id="addCommentButton"
                                        class="d-flex align-items-center btn btn-sm btn-warning text-dark">
                                    <i class="fi fi-rr-comment-alt"></i> Annotation
                                </button>
                            </div>
                            <div class="border border-secondary-subtle ms-2 me-2 d-none d-lg-block" style="height: 25px;"></div>
                            <button id="fullheight" title="Pleine hauteur" class="d-flex align-items-center btn btn-transparent text-dark d-none d-sm-flex"><i
                                    class="fi fi-rr-compress-alt"></i></button>
                            <button id="fullwidth" title="Pleine largeur" class="d-flex align-items-center btn btn-transparent text-dark d-none d-sm-flex"><i
                                    class="fi fi-rr-expand-arrows"></i></button>
                            <button id="zoomout" title="Zoom arrière" class="d-flex align-items-center btn btn-transparent text-dark"><i
                                    class="fi fi-rr-zoom-out"></i></button>
                            <div class="zoom me-1 p-1 pt-2 d-none d-xxl-inline fw-bold"><span id="zoom"></span> %</div>
                            <button id="zoomin" title="Zoom avant" class="d-flex align-items-center btn btn-transparent text-dark"><i
                                    class="fi fi-rr-zoom-in"></i></button>
                            <div class="border border-secondary-subtle ms-2 me-2 d-none d-lg-block" style="height: 25px;"></div>
                            <button id="prev" title="Page précédente" class="d-flex align-items-center btn btn-transparent text-dark d-none d-sm-flex" aria-label="Précédent">
                                <i class="fi fi-rr-angle-small-up"  style="font-size: 20px;"></i>
                            </button>
                            <div class="d-flex me-1 p-1 pt-2 fw-bold" style="width: 128px;">
                                <span>Page </span>
                                <input type="text" id="page_num" class="form-control fw-bold form-control-xs ms-1 border-1 border-dark text-center" style="width: 40px;"/> <span> / </span> <span id="page_count"></span>
                            </div>
                            <button id="next" title="Page suivante" class="d-flex align-items-center btn btn-transparent text-dark me-1 d-none d-sm-flex" aria-label="Prochain">
                                <i class="fi fi-rr-angle-small-down"  style="font-size: 20px;"></i>
                            </button>
                        </div>
                        <div th:if="${signable}" id="insert-btn-div" class="d-flex gap-1 align-items-center">
                            <div class="border border-secondary-subtle ms-2 me-2 d-none d-lg-block" style="height: 25px;"></div>
                            <button id="autototate" th:if="${signable}" class="d-flex align-items-center btn btn-transparent text-dark d-flex justify-content-center align-items-center" title="Redresser automatiquement le document">
                                <i class="fi fi-rr-navigation"></i>
                            </button>
                            <div class="border border-secondary-subtle ms-2 me-2 d-none d-lg-block" style="height: 25px;"></div>

                            <button th:if="${signRequest.currentSignType == T(org.esupportail.esupsignature.entity.enums.SignType).signature}"
                                    id="addSignButton"
                                    role="button"
                                    title="Insérer une signature"
                                    class="d-flex align-items-center btn btn-transparent text-success text-start">
                                <i class="fi fi-rr-file-signature"></i>
                            </button>
                            <button th:if="${signRequest.currentSignType == T(org.esupportail.esupsignature.entity.enums.SignType).visa}"
                                    id="addSignButton"
                                    role="button"
                                    title="Insérer un visa"
                                    class="d-flex align-items-center btn btn-transparent text-success text-start">
                                <i class="fi fi-rr-file-signature"></i>
                            </button>
                            <button th:if="${signRequest.currentSignType != T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}"
                                    id="addParaphButton2"
                                    role="button"
                                    title="Insérer un paraphe"
                                    class="d-flex align-items-center btn btn-transparent text-success text-start">
                                <i class="fi fi-rr-multiple-alt"></i>
                            </button>
                            <button th:if="${signatureIds.size() == 0 && isNotSigned && signRequest.currentSignType != T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}" id="addCheck" class="d-flex align-items-center btn btn-light text-dark  text-start"
                                    title="Insérer une coche"
                                    th:classappend="${signBook.liveWorkflow.currentStep.multiSign || signBook.liveWorkflow.currentStep.singleSignWithAnnotation} ? '' : 'disabled'">
                                <i class="fi fi-rr-check"></i>
                            </button>
                            <button th:if="${signatureIds.size() == 0 && isNotSigned && signRequest.currentSignType != T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}" id="addTimes" class="d-flex align-items-center btn btn-light text-dark  text-start"
                                    title="Insérer une croix"
                                    th:classappend="${signBook.liveWorkflow.currentStep.multiSign || signBook.liveWorkflow.currentStep.singleSignWithAnnotation} ? '' : 'disabled'">
                                <i class="fi fi-rr-cross"></i>
                            </button>
                            <button th:if="${signatureIds.size() == 0 && isNotSigned && signRequest.currentSignType != T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}" id="addCircle" class="d-flex align-items-center btn btn-light text-dark  text-start"
                                    title="Insérer un cercle"
                                    th:classappend="${signBook.liveWorkflow.currentStep.multiSign || signBook.liveWorkflow.currentStep.singleSignWithAnnotation} ? '' : 'disabled'">
                                <i class="fi fi-rr-circle"></i>
                            </button>
                            <button th:if="${signatureIds.size() == 0 && isNotSigned && signRequest.currentSignType != T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}" id="addMinus" class="d-flex align-items-center btn btn-light text-dark  text-start"
                                    title="Insérer un trait"
                                    th:classappend="${signBook.liveWorkflow.currentStep.multiSign || signBook.liveWorkflow.currentStep.singleSignWithAnnotation} ? '' : 'disabled'">
                                <i class="fi fi-rr-minus"></i>
                            </button>
                            <button th:if="${signatureIds.size() == 0 && isNotSigned && signRequest.currentSignType != T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}" id="addText" class="d-flex align-items-center btn btn-light text-dark  text-start"
                                    title="Insérer un texte"
                                    th:classappend="${signBook.liveWorkflow.currentStep.multiSign || signBook.liveWorkflow.currentStep.singleSignWithAnnotation} ? '' : 'disabled'">
                                <i class="fi fi-rr-text"></i>
                            </button>
                            <button th:if="${signatureIds.size() == 0 && isNotSigned && signRequest.currentSignType == T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa}" class="d-flex align-items-center btn btn-light text-dark  text-start"
                                    title="Non disponible pour un visa caché"
                                    th:classappend="${signBook.liveWorkflow.currentStep.multiSign || signBook.liveWorkflow.currentStep.singleSignWithAnnotation} ? '' : 'disabled'">
                                <i class="fi fi-rr-octagon-xmark"></i>
                            </button>
                        </div>
                    </div>
                    <div id="display-pdf-alerts-dropdown" class="dropdown d-none" th:if="${annotation == null}" style="position: fixed; width: 100%;z-index: 1030;">
                        <button id="display-pdf-alerts-btn" type="button" class="btn btn-sm btn-light border-secondary-subtle dropdown-toggle pdf-alerts-btn d-flex align-items-center gap-1" data-bs-toggle="dropdown"
                                title="Afficher les alertes">
                            <i class="fa-solid fa-bell"></i> 
                        </button>
                        <script>
                            const displayPdfAlertsDropdown = $('#display-pdf-alerts-dropdown');
                            const displayPdfAlertsBtn = $('#display-pdf-alerts-btn');
                        </script>
                        <div id="pdf-alerts" class="pdf-alerts dropdown-menu shadow">
                            <h5 class="w-100 text-center"><i class="fa-solid fa-bell"></i> Alertes</h5>
                            <div class="d-flex flex-column gap-1">
                                <th:block th:if="${comments.size() > 0 && (signRequest.parentSignBook.liveWorkflow.workflow == null || signRequest.parentSignBook.liveWorkflow.workflow.externalCanReaderAnnotations || user.userType.name() != 'external')}">
                                    <script>
                                        const commentCount = '[[${comments.size()}]]';
                                        displayPdfAlertsBtn.append('<i class="fa-solid fa-circle-info text-warning" title="' + commentCount + ' annotations"></i>');
                                        displayPdfAlertsDropdown.removeClass("d-none");
                                        displayPdfAlertsBtn.click();
                                    </script>
                                    <div id="postitHelp" class="alert bg-light text-dark d-inline-flex justify-content-between gap-1" style="width: 100%">
                                        <div class="pdf-warning-bar bg-warning"></div>
                                        <div class="d-flex gap-2 align-items-center"><i class="fa-solid fa-circle-info text-warning"></i>Cette demande comporte des annotations</div>
                                        <div><button id="showComments" class="btn btn-sm btn-warning" >Voir les annotations</button></div>
                                    </div>
                                </th:block>
                                <div id="warningSelectDiv" title="Masquer ce message" class="alert bg-light text-dark border-secondary warning" th:if="${signable && signType != T(org.esupportail.esupsignature.entity.enums.SignType).visa && signType != T(org.esupportail.esupsignature.entity.enums.SignType).hiddenVisa && signWiths.size() == 0}">
                                    <script>
                                        displayPdfAlertsBtn.append('<i class="fa-solid fa-circle-info text-warning"></i>');
                                        displayPdfAlertsDropdown.removeClass("d-none");
                                        displayPdfAlertsBtn.click();
                                    </script>
                                    <div class="pdf-warning-bar bg-success"></div>
                                    <div class="d-flex gap-2 align-items-center">
                                        En raison de la configuration des prochaines étapes, aucun mode de signature n’est disponible pour garantir l’intégrité du document ou de la signature. Merci de contacter le gestionnaire du circuit si besoin.
                                    </div>
                                </div>
                                <div class="alert bg-light text-dark warning border-secondary" title="Masquer ce message" th:if="${isCurrentUserAsSigned && signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).pending && !signable}">
                                    <script>
                                        displayPdfAlertsBtn.append('<i class="fa-solid fa-circle-info text-success" title="Document déjà signé"></i>');
                                        displayPdfAlertsDropdown.removeClass("d-none");
                                    </script>
                                    <div class="pdf-warning-bar bg-success"></div>
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-solid fa-circle-info  text-success"></i> Vous avez déjà signé ce document. Vous pourrez télécharger le document final quand le statut du circuit sera passé à "Terminé".
                                    </div>
                                </div>
                                <div class="alert bg-light text-dark warning" title="Masquer ce message" th:if="${isCurrentUserAsSigned && signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).completed}">
                                    <script>
                                        displayPdfAlertsBtn.append('<i class="fa-solid fa-circle-info  text-success" title="Document déjà signé"></i>');
                                        displayPdfAlertsDropdown.removeClass("d-none");
                                    </script>
                                    <div class="pdf-warning-bar bg-success"></div>
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-solid fa-circle-info  text-success"></i> Vous avez déjà signé ce document. Le processus de signature est terminé. Vous pouvez maintenant télécharger le document final.
                                    </div>

                                </div>
                                <div id="no-options-alert" class="alert bg-light text-dark warning" title="Masquer ce message" th:if="${signable}" style="display: none;">
                                    <div class="pdf-warning-bar bg-danger"></div>
                                    <div class="d-flex gap-2 align-items-center">
                                        <div><i class="fa-solid fa-triangle-exclamation text-danger"></i></div><div>Votre environnement ne remplit pas les conditions nécessaires pour signer cette demande. Si possible, lancez Esup-DSS-Client ou <a href="https://github.com/EsupPortail/esup-dss-client/releases/latest" target="_blank">téléchargez-le ici</a> pour utiliser un certificat personnel.</div>
                                    </div>
                                </div>
                                <!--                <div id="signBookDesc" title="Masquer ce message" class="alert bg-light text-dark warning" th:if="${signRequest.parentSignBook.description != null && signRequest.parentSignBook.description != ''}"-->
                                <!--                    style="width: 100%;">-->
                                <!--                    <script>-->
                                <!--                        displayPdfAlertsBtn.append('<i class="fa-solid fa-circle-info text-black" title="Commentaire"></i>');-->
                                <!--                        displayPdfAlertsDropdown.removeClass("d-none");-->
                                <!--                        displayPdfAlertsBtn.click();-->
                                <!--                    </script>-->
                                <!--                    <div class="pdf-warning-bar bg-warning"></div>-->
                                <!--                    <div class="d-flex gap-2 align-items-center">-->
                                <!--                        <i class="fa-solid fa-circle-info text-black"></i><span th:text="${signRequest.parentSignBook.description}"></span>-->
                                <!--                    </div>-->
                                <!--                </div>-->
                                <div id="alertSign" title="Masquer ce message" class="alert bg-light text-dark" th:if="${signatureIds.size() > 0}" style="width: 100%;">
                                    <div class="pdf-warning-bar" th:classappend="${signatureIssue ? 'bg-secondary' : 'bg-success'}"></div>
                                    <span style="line-height: 33px;" th:if="${!signatureIssue && signatureIds.size() > 1}">
                        Ce document contient des signatures électroniques
                        <div id="reportSpinner" class="spinner-border" role="status" style="width: 1rem; height: 1rem;">
                            <span class="sr-only">En cours...</span>
                        </div>
                        <button es-modal-style="bg-success" id="reportModalBtn" class="btn btn-sm btn-dark d-none" data-bs-toggle="modal" data-bs-target="#reportModal">Voir les signatures</button>
                    </span>
                                    <span style="line-height: 33px;" th:if="${!signatureIssue && signatureIds.size() == 1}">
                        <i class="fa-solid fa-circle-check"></i> Ce document contient une signature électronique qualifiée (eIDas)
                        <div id="reportSpinner" class="spinner-border" role="status" style="width: 1rem; height: 1rem;">
                            <span class="sr-only">En cours...</span>
                        </div>
                        <button es-modal-style="bg-success" id="reportModalBtn" class="btn btn-sm btn-dark d-none" data-bs-toggle="modal" data-bs-target="#reportModal">Voir la signature</button>
                    </span>
                                    <span style="line-height: 33px;" th:if="${signatureIssue}">
                        <div>
                            <i class="fa-solid fa-circle-exclamation text-secondary"></i> Ce document contient une signature qui, bien que techniquement conforme, n’a pas pu être qualifiée par le système de signature.
                            <div id="reportSpinner" class="spinner-border" role="status" style="width: 1rem; height: 1rem;">
                            <span class="sr-only">En cours...</span>
                            </div>
                            <button es-modal-style="bg-warning" id="reportModalBtn" class="btn btn-sm btn-dark d-none" data-bs-toggle="modal" data-bs-target="#reportModal">Voir la/les signature(s)</button>
                        </div>
                    </span>
                                    <script th:if="${signatureIds.size() >= 1}">
                                        displayPdfAlertsBtn.append('<i class="fa-solid fa-circle-exclamation text-secondary" title="Signature électronique présente sur le document"></i>');
                                        displayPdfAlertsDropdown.removeClass("d-none");
                                        displayPdfAlertsBtn.click();
                                    </script>
                                </div>
                                <div id="warningPdfA" title="Masquer ce message"
                                     class="alert bg-light warning d-flex align-items-center justify-content-between"
                                     th:if="${pdfaCheck != null && pdfaCheck.contains('6.3.5') && !globalProperties.disablePdfFontAlert}">
                                    <script>
                                        displayPdfAlertsBtn.append('<i class="fa-solid fa-triangle-exclamation text-danger"></i>');
                                        displayPdfAlertsDropdown.removeClass("d-none");
                                        displayPdfAlertsBtn.click()

                                    </script>
                                    <div class="pdf-warning-bar bg-danger"></div>
                                    <div class="d-flex gap-2 align-items-center"><i class="fa-solid fa-triangle-exclamation text-danger"></i>Avant l’import, le document comportait au moins une police de caractère susceptible de poser un problème d’affichage. Merci de bien lire le document avant de le signer.</div>

                                </div>
                                <th:block th:if="${toSignDocument.contentType == 'application/pdf' && (signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).draft || signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).pending)}">
                                    <div id="commentHelp" th:unless="${signRequest.comments.size() > 0 || signRequest.parentSignBook.description != null}" class="alert alert-warning border-secondary d-none" style="width: 100%">
                                        Pour ajouter des annotations ou des emplacements de signature, cliquez sur le bouton correspondant puis sur le document

                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <div th:replace="~{user/signrequests/includes/tools :: tools}"></div>
                    <div id="pdf-progress-bar" class="progress">
                        <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div id="comment-div" class="postit alert alert-warning border-secondary" style="z-index: 100;">
                        <input id="submitPostit" name="submitPostit" type="submit" class="d-none"/>
                        <input id="commentPosX" name="commentPosX" type="hidden"/>
                        <input id="commentPosY" name="commentPosY" type="hidden"/>
                        <input id="commentPageNumber" name="commentPageNumber" type="hidden"/>
                        <textarea id="postitComment" name="comment" class="form-control postitarea float-start mb-2" placeholder="Saisir un commentaire" required></textarea>
                        <button id="hideCommentButton" type="button" class="btn btn-sm btn-danger float-start d-flex">
                            <i class="fi fi-rr-cross-small"></i>
                        </button>
                        <button id="saveCommentButton" type="button" class="btn btn-sm btn-success float-end d-flex">
                            <i class="fi fi-rr-disk"></i>
                        </button>
                    </div>
                    <div th:replace="~{user/signrequests/includes/workspace :: workspace}"></div>
                    <div class="d-flex justify-content-center m-2 p-1 bg-white rounded-3 shadow-sm" th:if="${toSignDocument == null}" >
                        <div class="btn p-3 bg-danger-subtle" style="pointer-events: none;">
                            <i class="fi fi-rr-triangle-warning"></i> Document indisponible
                        </div>
                    </div>
                </div>
                <th:block th:if="${signRequest.parentSignBook.archiveStatus == T(org.esupportail.esupsignature.entity.enums.ArchiveStatus).cleaned}">
                    <div class="alert alert-success">
                        <h5>Les documents contenus dans cette demande de signature ont été archivés. Vous avez la possibilité de les télécharger à l’aide du bouton en bas à droite.</h5>
                        <label>Emplacement physique du document :</label>
                        <input type="text" class="form-control" th:value="${signRequest.exportedDocumentURI}" disabled />
                    </div>
                </th:block>
                <div th:if="${signable && (toSignDocument == null || toSignDocument.contentType != 'application/pdf') && signRequest.originalDocuments.size() > 0}" id="workspace" class="alert alert-secondary row es-signrequest-workspace-list">
                    <div class="card col-lg-10 mx-auto mb-1">
                        <div class="card-body">
                            <h5 class="text-center">Liste des documents originaux</h5>
                            <div class="file-loading">
                                <input id="multipartFiles" name="multipartFiles" type="file" multiple="multiple"/>
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-10 mx-auto"
                        th:if="${signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).completed || signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).exported}">
                        <div class="card-body">
                            <h5 class="text-center">Liste des documents signés</h5>
                            <div class="file-loading">
                                <input id="signedFiles" name="signedFiles" type="file" multiple="multiple"/>
                            </div>
                        </div>
                    </div>
                    <script th:inline="javascript" type="module">
                        import {default as FilesInput} from '/js/modules/utils/FilesInput.js?version=@[(${versionApp})]@';
                        new FilesInput($("#multipartFiles"),[[${globalProperties.maxUploadSize}]], [[${_csrf}]], [[${signRequest.originalDocuments}]], true);
                        new FilesInput($("#signedFiles"),[[${globalProperties.maxUploadSize}]], [[${_csrf}]], [[${signRequest.signedDocuments}]], true);
                    </script>
                </div>
                <div th:if="${!signable && toSignDocument == null && signRequest.originalDocuments.size() > 0}" class="es-workspace alert alert-danger">
                    Un document de cette demande est corrompu. Merci de supprimer la demande et d’en émettre une nouvelle à l’aide d’un fichier valide.
                </div>
                <div th:if="${toSignDocument != null && toSignDocument.contentType != 'application/pdf' && (signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).completed || signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).exported || signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).archived || signRequest.status == T(org.esupportail.esupsignature.entity.enums.SignRequestStatus).cleaned)}" class="es-workspace">
                    <div class=" alert alert-success w-100">
                        <p>Le document a bien été signé, vous pouvez le télécharger</p>
                        <a tabindex="1" class="btn btn-lg btn-dark" th:href="'/ws-secure/global/get-last-file/' + ${id}" target="_blank" title="Télécharger la dernière version du document">
                            Télécharger la dernière version du document
                        </a>
                    </div>
                </div>
                <div th:if="${toSignDocument == null && signRequest.deleted}" class="alert alert-danger">
                    <h4>La demande de signature a été supprimée</h4>
                    <p th:if="${signRequest.exportedDocumentURI != null}">
                        Vous trouverez une copie du document signé ici : <a th:href="${signRequest.exportedDocumentURI}" th:text="${signRequest.exportedDocumentURI}"></a>
                    </p>
                </div>
                <div th:replace="~{user/signrequests/includes/show-sections :: sign-buttons}"></div>
            </div>
        </div>
</main>

<div th:replace="~{user/signrequests/includes/modals/show-modals :: all-modals}"></div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
<script th:inline="javascript" type="module" th:if="${signBook.archiveStatus != T(org.esupportail.esupsignature.entity.enums.ArchiveStatus).cleaned}">
    import {SignUi} from '/js/modules/ui/signrequests/SignUi.js?version=@[(${versionApp})]@';
    let signable = [[${signable}]];
    let editable = [[${editable}]];
    let currentSignType = [[${signRequest.currentSignType}]];
    sessionStorage.setItem("favoriteSignRequestParams", [[${favoriteSignRequestParamsJson}]]);
    new SignUi(
        [[${signRequest.id}]],
        [# th:if="${signRequest.data != null}"]
            [[${signRequest.data.id}]],
        [/]
        [# th:unless="${signRequest.data != null}"]
            null,
        [/]
        [# th:if="${signRequest.data != null && signRequest.data.form != null}"]
            [[${signRequest.data.form.id}]],
        [/]
        [# th:unless="${signRequest.data != null && signRequest.data.form != null}"]
            null,
        [/]
        [[${toUseSignRequestParams}]],
        [[${user.defaultSignImageNumber}]],
        currentSignType,
        signable,
        editable,
        [[${comments}]],
        [[${spots}]],
        [[${toSignDocument != null && toSignDocument.contentType == 'application/pdf'}]],
        [[${currentStepNumber}]],
        [[${currentStepMultiSign}]],
        [[${currentStepSingleSignWithAnnotation}]],
        [[${currentStepMinSignLevel}]],
        [# th:if="${signRequest.parentSignBook.liveWorkflow.currentStep != null}"]
            [[${workflow != null}]],
        [/]
        [# th:if="${signRequest.parentSignBook.liveWorkflow.currentStep == null}"]
            null,
        [/]
        [[${signImages}]],
        [[${user.firstname + ' ' + user.name}]],
        [[${authUser.firstname + ' ' + authUser.name}]],
        [[${_csrf}]],
        [[${fields}]],
        [# th:if="${signRequest.parentSignBook.liveWorkflow.currentStep != null}"]
            [[${signRequest.parentSignBook.liveWorkflow.currentStep.repeatable}]],
        [/]
        [# th:if="${signRequest.parentSignBook.liveWorkflow.currentStep == null}"]
            null,
        [/]
        [[${signRequest.status}]],
        [[${action}]],
        [[${signRequest.parentSignBook.signRequests.size()}]],
        [[${isNotSigned}]],
        [[${attachmentAlert}]],
        [[${attachmentRequire}]],
        [[${#authorization.expression('hasRole(''ROLE_OTP'')')}]],
        [[${user.favoriteSignRequestParams == null} ? true : false]],
        [[${user.phone}]],
        [[${user.returnToHomeAfterSign}]]
    );

</script>
</body>
</html>
