<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<div class="header-fixed fixed-top">
		<nav th:replace="fragments/emptyBar :: emptyBar"></nav>
		<nav class="nav justify-content-between bg-white d-none" aria-label="breadcrumb">
			<ol class="breadcrumb col-11">
				<li class="breadcrumb-item"><a href="/">Liste des demandes</a></li>
				<li class="breadcrumb-item active" aria-current="page">Demande de signature : <span th:text="${signRequest.name}"></span></li>
			</ol>
			<div class="navbar-nav align-self-center">
				<button data-target="#collapseHelp" data-toggle="collapse" type="button" class="btn btn-info">
					<span class="fas fa-info-circle"> <!--  -->
					</span>
				</button>
			</div>
		</nav>
		<div id="ribbon" class="card" th:if="${signable == 'ok'}">
			<div class="card-body">
				<div th:if="${user.signImage == null && documentType == 'pdf' && signRequest.signRequestParams.signType.name() != 'visa'}">
					<div class="card card-body bg-danger text-white">
						<a href="/user/users/" class="text-white">Pas d'image de signature</a>
					</div>
				</div>

				<div class="mr-2 alert alert-secondary float-left" style="height: 100px;">
				<div class="custom-control custom-switch">
					<label class="switch">
					<input onclick="toggleZoom();" checked="checked" type="checkbox" name="zoom" id="_zoom" /> <span class="slider round"> <!--  -->
					</span>
					</label>
					<br/>
					<label class="control-label" for="customSwitches">Zoom</label>
				</div>
				</div>

				<div class="mr-2 alert alert-secondary float-left" style="height: 100px;">
				<div class="custom-control custom-switch">
					<label class="switch"> <input onclick="activeDate();" type="checkbox" name="addDate" id="_activeDate" /> <span class="slider round"> <!--  -->
					</span>
					</label>
					<br/>
					<label class="control-label" for="customSwitches">Afficher la date</label>
				</div>
				</div>
							
				<div th:if="${imagePagesSize > 1}" class="mr-2 alert alert-secondary float-left" style="height: 100px;">
					<ul class="pagination">
						<li id="previous" class="page-item">
							<a onclick="previousImage();" class="page-link" aria-label="Précédent">
								<span aria-hidden="true">‹</span>
							</a>
						</li>
						<li id="next" class="page-item">
							<a onclick="nextImage();" class="page-link" aria-label="Prochain">
								<span aria-hidden="true">›</span>
							</a>
						</li>
					</ul>Navigation
				</div>
				<button th:if="${signRequest.signRequestParams.signType.name() == 'nexuSign'}" type="button"  data-toggle="modal" data-target="#signModal"  class="mr-2 btn btn-success float-left" style="height: 100px;">
					<i class="fas fa-signature fa-2x"></i><br/>Valider la signature
				</button>
				
				<button th:unless="${signRequest.signRequestParams.signType.name() == 'nexuSign'}" type="button" onclick="document.getElementById('signForm').submit();"  class="mr-2 btn btn-success float-left" style="height: 100px;">
					<i class="fas fa-signature fa-2x"></i><br/>Valider la signature
				</button>
				
				<button type="button" class="btn  btn-danger float-right"
					value="Retour" th:onclick="@{'location.href=\'' + ${referer} + '\''}">
					<i class="fas fa-times fa-1x"></i>
				</button>

			</div>
		</div>
	</div>
	<div aria-expanded="true" class="collapse" id="collapseHelp">
		<div class="alert alert-info">Pour modifier la position de la signature, cliquez sur le document. Selon le type de signature, le lancement de l'application NexU ou un mot de passe peut être demandé.</div>
	</div>
	<main role="main" class="container-fluid">
	<div th:if="${signable == 'ok'}">
		<form id="signForm" th:action="'/user/signrequests/sign/' + ${signRequest.id}" method="post">
			<input type="hidden" name="signonly" value="true">
			<input type="hidden" name="referer" th:value="${referer}">
			<div th:if="${documentType == 'pdf'}">
				<div class="row">
					<div class="col-lg-12">
						<div class="d-flex justify-content-center">
							<div id="pointer_div" onmousedown="savePosition();" onmouseout="resetPosition();" onmousemove="pointIt(event);" th:style="'background-size: ' + ${pdfWidth * 2} + 'px;background-image:url(\'/user/documents/' + ${documentId} + '/getimagepdfpage/' + ${signRequest.signRequestParams.signPageNumber -1} + '\');width:' + ${pdfWidth * 2} + 'px;height:' + ${pdfHeight * 2} + 'px;border:1px solid #CCC;pointer-events: none;'">
								<th:block th:if="${signable == 'ok' && signRequest.status.name() != 'signed' && signRequest.signRequestParams.newPageType.name() == 'none' && signRequest.signRequestParams.signType.name() != 'visa'}">
									<div onclick="dragSignature();" onmouseover="animBorder();" id="cross" th:style="'background-repeat: no-repeat; background-position: left bottom; background-size: ' + ${signWidth * 2} + 'px;background-image: url(\'data:image/png;base64,' + ${signFile} + '\'); width: ' + ${signWidth * 2} + 'px; height: ' + ${signHeight * 2} + 'px; line-height: ' + ${signHeight * 2} + 'px; text-align: center; left: ' + ${signRequest.signRequestParams.XPos * 2} + 'px;top: ' + ${signRequest.signRequestParams.YPos * 2} + 'px;position:relative;pointer-events: auto;cursor: move;'">
										<div id="borders" th:style="'text-align:left;line-height:normal;width: ' + ${signWidth * 2} + 'px; height: ' + ${signHeight * 2} + 'px;'"></div>
									</div>
								</th:block>
							</div>
						</div>
					</div>
					<script th:inline="javascript">
						/*<![CDATA[*/
							var zoom = 2;
							var nbImagePage = [[${imagePagesSize}]];
							var currentImagePage = [[${signRequest.signRequestParams.signPageNumber}]] - 1;
							var documentUrl = "/user/documents/[[${documentId}]]/getimagepdfpage/";
						/*]]>*/
					</script>
				</div>
				<div class="d-none">
					<div class="col-lg-4">
						Page : <input readonly="readonly" autocomplete="off" class="form-control form-control-sm col-6" th:value="${signRequest.signRequestParams.signPageNumber}" id="signPageNumber" type="text" name="signPageNumber" />
					</div>
					<div class="col-lg-4">
						X position : <input readonly="readonly" autocomplete="off" class="form-control form-control-sm col-6" th:value="${signRequest.signRequestParams.XPos}" id="xPos" type="text" name="xPos" />
					</div>
					<div class="col-lg-4">
						Y position : <input readonly="readonly" autocomplete="off" class="form-control form-control-sm col-6" th:value="${signRequest.signRequestParams.YPos}" id="yPos" type="text" name="yPos" />
					</div>
				</div>
			</div>
		</form>
	</div>
	<div th:unless="${signable == 'ok'}">
		<div class="alert alert-info">
			Vous n'avez plus d'ation à effectuer sur cette demande, merci de fermer cette fenetre <br /> <input class="btn btn-danger text-center" id="signe" title="Signe" type="submit" value="Fermer" onclick="window.history.back();" />
		</div>

	</div>

	<div id="signModal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body text-center">
			<textarea placeholder="Vous pouvez ajouter un commentaire" class="form-control" name="comment" cols="" rows=""></textarea>

					<div th:switch="${signRequest.signRequestParams.signType.name()}">
					<div th:case="'certSign'">
						<div th:if="${keystore != null}">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Signature</span>
								</div>

								<input class="form-control" required="required" placeholder="Vous allez signer à l'aide d'un certificat, merci d'entrer le mot de passe" id="password" name="password" type="password" />
								<div class="input-group-append">
									<input data-toggle="modal" data-target="#wait" onclick="submitSignRequest();" alt="${signLabel}" class="btn btn-success" id="signe" title="Signe" type="button" value="Signer" />
								</div>
							</div>
						</div>
						<div th:unless="${keystore != null}">
							<div class="card card-body bg-danger text-white">
								<a href="/user/users/" class="text-white">Pas de keystore</a>
							</div>
						</div>
					</div>
					<div th:case="'nexuSign'">
						<button type="submit" class="btn btn-success  text-center" data-target="#signatureModal">Signer</button>
					</div>
					<div th:case="*">
						<div th:if="${signRequest.signRequestParams.signType.name() == 'visa'}">
							<input alt="${visaLabel}" class="btn btn-success  text-center" id="signe" onclick="document.getElementById('signForm').submit();" type="button" value="Viser" />
						</div>
						<div th:unless="${signRequest.signRequestParams.signType.name() == 'visa'}">
							<div th:if="${user.signImage != null}">
								<input alt="${signLabel}" class="btn btn-success  text-center" id="signe" onclick="document.getElementById('signForm').submit();" type="button" value="Signer" />
							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="modal-footer">
					<button id="closeModal" type="button" class="btn btn-secondary align-self-center" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>

	<div id="wait" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body text-center">
					<h5>Signature en cours</h5>
					<div class="progress">
						<div class="progress-bar progress-bar-striped progress-bar-animated active" style="width: 100%;" id="bar">
							<strong> <span id="bar-text"></span>
							</strong>
						</div>
					</div>
					<div style="display: none;" id="passwordError" class="alert alert-danger" role="alert">Mauvais mot de passe</div>
				</div>
				<div class="modal-footer">
					<button id="closeModal" type="button" class="btn btn-secondary align-self-center" data-dismiss="modal">Close</button>
					<button id="validModal" onclick="window.location.reload()" type="button" class="btn btn-success align-self-center" data-dismiss="modal">Terminer</button>
				</div>
			</div>
		</div>
	</div>
	</main>
</body>
<script th:inline="javascript">
/*<![CDATA[*/
zoom == 2;	
function toggleZoom() {
	if(zoom == 1) {
		zoom = 2;
	} else {
		zoom = 1;
	}
	
	document.getElementById("pointer_div").style = "background-size: " + [[${pdfWidth}]] * zoom + "px;background-image:url('/user/documents/[[${documentId}]]/getimagepdfpage/"+ currentImagePage + "');width:" + ([[${pdfWidth}]] * zoom ) + "px;height: " + ([[${pdfHeight}]] * zoom) + "px;border:1px solid #CCC;";
	document.getElementById("cross").style.backgroundSize = ""+[[${signWidth}]] * zoom + "px";
	document.getElementById("cross").style.width = ""+[[${signWidth}]] * zoom + "px"; 
	document.getElementById("cross").style.height = ""+[[${signHeight}]] * zoom + "px"; 
	document.getElementById("cross").style.lineHeight = ""+[[${signHeight}]] * zoom + "px";
	document.getElementById("cross").style.left = ""+document.getElementById("xPos").value * zoom + "px";
	document.getElementById("cross").style.top = ""+document.getElementById("yPos").value * zoom + "px";
	document.getElementById("borders").style.width = ""+[[${signWidth}]] * zoom + "px"; 
	document.getElementById("borders").style.height = ""+[[${signHeight}]] * zoom + "px"; 

}

function submitSignRequest() {
	var signPageNumber = document.getElementById("signPageNumber");
	var signRequestParams;
	if(signPageNumber != null) {
		signRequestParams = "password=" + document.getElementById("password").value +
							"&Pos=" + document.getElementById("xPos").value +
							"&yPos=" + document.getElementById("yPos").value +
							"&signPageNumber=" + document.getElementById("signPageNumber").value +
							"&signonly=true"
							;
	} else {
		signRequestParams = "password=" + document.getElementById("password").value;
	}
	
	sendData(signRequestParams);

}

function sendData(signRequestParams) {
	document.getElementById("passwordError").style.display = "none";
	document.getElementById("closeModal").style.display = "none";
	document.getElementById("validModal").style.display = "none";
	document.getElementById("bar").style.display = "none";
	document.getElementById("bar").classList.add("progress-bar-animated");
	getProgressTimer = setInterval(function() {
		getStep();
	}, 500);
	var xmlHttp = new XMLHttpRequest();
	xmlHttp.open('POST', '/user/signrequests/sign/[[${signRequest.id}]]', true);
	xmlHttp.setRequestHeader('Content-Type',
			'application/x-www-form-urlencoded');
	xmlHttp.send(signRequestParams);
}

function getStep() {
	console.log("getStep");
	var xmlHttp = new XMLHttpRequest();
	xmlHttp.open("GET", "/user/signrequests/get-step", false);
	xmlHttp.onreadystatechange = function() {
		var result = xmlHttp.responseText;
		if (result == "security_bad_password") {
			document.getElementById("passwordError").style.display = "block";
			document.getElementById("closeModal").style.display = "block";
			document.getElementById("bar").classList.remove("progress-bar-animated");
			clearInterval(getProgressTimer);
		} else if (result == "end") {
			clearInterval(getProgressTimer);
			document.getElementById("validModal").style.display = "block";
			document.getElementById("bar").classList.remove("progress-bar-animated");
			document.getElementById("bar-text").innerHTML = "Signature terminée";
			clearInterval(getProgressTimer);
		} else {
			document.getElementById("bar").style.display = "block";
			document.getElementById("bar").style.width = 100 + "%";
			document.getElementById("bar-text").innerHTML = result;				
		}
	}
	xmlHttp.send(null);
	return;
}
/*]]>*/
</script>
</html>
