<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="signRequest" type="org.esupportail.esupsignature.entity.SignRequest"*/-->
<head th:replace="fragments/head"></head>
<script th:inline="javascript" type="module">
    import {FilesInput} from "/js/modules/filesInput.js";
    new FilesInput($("#multipartFiles"), "multipartFiles", [[${signRequest.liteOriginalDocuments}]], [[${signRequest.status.name() == 'completed' || signRequest.status.name() == 'exported'}]], [[${_csrf.parameterName}]], [[${_csrf.token}]], [[${signRequest.id}]]);
</script>
<body>
<header th:replace="fragments/menu"></header>
<main role="main">
    <div class="wrapper">
        <nav th:insert="fragments/side" class="auto-hide"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav text-uppercase">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/user/signrequests">Tableau de bord</a></li>
                <li class="breadcrumb-item" aria-current="page"><a th:href="'/user/signrequests/' + ${signRequest.id}">Demande de signature : <span th:text="${signRequest.title}"></span></a></li>
                <li class="breadcrumb-item active">Details</a></li>
            </ol>
        </nav>
        <div id="content" class="content col-lg-8">
            <th:block th:if="${user.eppn == signRequest.createBy && (signRequest.status.name() == 'completed' || signRequest.status.name() == 'exported')}">
                <div id="endButtons" class="fixed-action-btn" style="bottom: 100px; right: 50px;" onmouseover="$('#endButtons').toggleClass('active');" onmouseout="$('#endButtons').toggleClass('active');">
                    <a class="btn-floating btn-lg bg-primary waves-effect">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <ul id="endCollapse" class="list-unstyled">
                        <li><a class="btn-floating bg-primary waves-effect" th:href="'/user/signrequests/get-last-file/' + ${id}" target="_blank" title="Enregistrer le document signé sous">
                            <i class="fas fa-save"></i>
                        </a></li>
                        <li><a title="Export SEDA" class="btn-floating bg-primary    waves-effect" th:href="'/user/signrequests/get-last-file-seda/' + ${id}">
                            <i class="fa fa-file-export"></i>
                        </a></li>
                        <li><a th:if="${signRequest.status.name() != 'exported'}" class="btn-floating bg-primary waves-effect" th:href="'/user/validation/document/' + ${id}" title="Contrôler le document">
                            <i class="fas fa-shield-alt "></i>
                        </a></li>
                    </ul>
                </div>
            </th:block>
            <th:block th:unless="${signRequest.status.name() == 'completed' || signRequest.status.name() == 'exported'}">
            <div id="addButton" class="fixed-action-btn" style="bottom: 100px; right: 50px;" onmouseover="$('#addButton').toggleClass('active');" onmouseout="$('#addButton').toggleClass('active');">
                <a class="btn-floating btn-lg bg-primary waves-effect">
                    <i class="fas fa-ellipsis-v"></i>
                </a>
                <ul id="collapseExample" class="list-unstyled">
                    <li><a title="Modifier les paramètres de signature" type="button" class="btn-floating bg-success waves-effect" data-toggle="modal" data-target="#signRequestParams"><i class="fa fa-signature"></i></a></li>
                </ul>
            </div>
            </th:block>
            <div th:replace="user/signrequests/includes/statusdetails :: statusdetails"></div>
            <div class="card mb-1" th:if="${signRequest.status.name() != 'exported'}">
                <div class="card-header">
                    Liste des documents originaux
                    <th:block th:if="${user.eppn == signRequest.createBy && (signRequest.status.name() == 'completed' || signRequest.status.name() == 'draft')}">
                        <button th:if="${signRequest.status.name() == 'draft' && user.eppn == signRequest.createBy && signRequest.signedDocuments.size() == 0}" id="browseBtn" type="button" class="mr-2 btn btn-sm btn-primary float-right"
                                onclick="$('.clickable').click();">
                            <i class="fa fa-plus" aria-hidden="true"></i> Ajouter un document
                        </button>
                    </th:block>
                </div>
                <div class="card-body">
                    <div th:if="${user.eppn == signRequest.createBy}">
                        <div th:if="${(signRequest.status.name() == 'draft' || signRequest.status.name() == 'completed')}">
                            <div th:if="${#lists.size(signRequest.originalDocuments) == 0 || signRequest.recipients.size() == 0}">
                                <div th:if="${#lists.size(signRequest.originalDocuments) == 0}">
                                    <div class="alert alert-warning" th:if="${signRequest.status.name() == 'draft'}">
                                        <p>Vous devez ajouter des documents</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="file-loading">
                        <input id="multipartFiles" name="multipartFiles" type="file" multiple="multiple"/>
                    </div>
                </div>
            </div>
            <div th:replace="user/signrequests/cards/recipientscard :: recipientscard"></div>
            <div th:replace="user/signrequests/cards/commentscard :: commentscard"></div>
            <div th:replace="user/signrequests/cards/logscard :: logscard"></div>
        </th:block>
        </div>
    </div>
</main>

<div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="Refus" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form th:action="'/user/signrequests/pending/' + ${id}">
                <div class="modal-header">
                    <h3 class="modal-title">Demarrer le circuit</h3>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">
                        Attention, les paramètres de la demande ne pourront plus etre changés une fois celle-ci envoyée
                    </div>
                    <br/>
                    <textarea placeholder="Vous pouvez ajouter un commentaire" class="form-control" name="comment"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i> Envoyer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="refuseModal" tabindex="-1" role="dialog" aria-labelledby="refuseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form th:action="'/user/signrequests/refuse/' + ${id}">
                <div class="modal-header">
                    <h5 class="modal-title" id="refuseModalLabel">Refuser la demande de signature</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea placeholder="Vous pouvez ajouter un commentaire" class="form-control" name="comment"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Refuser</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
