<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="workflows" type="java.util.List<org.esupportail.esupsignature.entity.Workflow>"*/-->
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/menu :: menu(activeMenu)"></header>
<main role="main">
    <div class="wrapper">
        <nav th:insert="fragments/manager-side :: manager-side" onmouseover="autoShowSideBar();" onmouseout="hideSideBar();"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="text-uppercase breadcrumb-nav">
            <ol class="breadcrumb col-12">
                <li class="breadcrumb-item active">Liste des circuits de visas</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="fixed-action-btn" style="bottom: 100px; right: 50px;">
                <a title="Créer un nouveau circuit" data-toggle="modal" data-target="#newSignBook" type="button"
                   class="btn-floating btn-lg bg-primary wave-effect">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
            <div class="card col-lg-10">
                <div class="card-body">
                    <table class="table table-borderless table-hover table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th class="none">Nom</th>
                            <th class="none">Créé par</th>
                            <th class="none">Destinataires</th>
                            <th class="none">Gestionnaire(s) du parapheur</th>
                            <th>Voir</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="workflow : ${workflows}">
                            <tr class="roocol">
                                <td class="none" th:text="${workflow.name}"></td>
                                <td class="none" th:text="${workflow.createBy}"></td>
                                <td th:if="${workflow.workflowSteps.size() > 0}" class="none">
                                    <th:block th:each="workflowStep,iterator : ${workflow.workflowSteps}">
                                        <div class="alert alert-secondary">
                                            <h2 th:text="${iterator.index + 1}" class="d-inline"></h2>
                                            <th:block th:each="recipient : ${workflowStep.recipients}">
                                                <i class="fas fa-user"></i>
                                                <span th:text="${recipient.user.firstname + ' ' + recipient.user.name}"></span>
                                                <br/>
                                            </th:block>
                                        </div>
                                    </th:block>
                                </td>
                                <td th:unless="${#lists.size(workflow.workflowSteps) > 0}" class="none">
                                    Aucun
                                </td>
                                <td class="none">
                                    <th:block th:each="manager : ${workflow.managers}">
                                        <i class="fas fa-people"></i>
                                        <span th:text="${manager}"></span>
                                        <br/>
                                    </th:block>
                                </td>
                                <td class="utilbox">
                                    <a role="button" th:if="${workflow.id != null}" aria-label="Voir"
                                       class="btn btn-primary" title="Voir"
                                       th:href="'/manager/workflows/' + ${workflow.id}">
                                        <i aria-hidden="true" class="fas fa-eye"></i></a>
                                    <a role="button" th:unless="${workflow.id != null}" aria-label="Voir"
                                       class="btn btn-primary" title="Voir"
                                       th:href="'/manager/workflows/' + ${workflow.name}">
                                        <i aria-hidden="true" class="fas fa-eye"></i></a>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="newSignBook" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form th:action="'/manager/workflows'" method="post">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Ajouter un circuit</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name"> <strong>Nom</strong></label>
                        <input id="name" name="name" class="form-control" type="text" value="" required="required">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success">Creer</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
