<!doctype html>
<!--/*@thymesVar id="workflow" type="org.esupportail.esupsignature.entity.Workflow"*/-->
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/menu :: menu(activeMenu)"></header>
<main role="main">
    <div class="wrapper">
        <nav id="sidebar">
            <div class="m-1">
                <button title="Accueil" type="button" onclick="location.href='/'" class="mb-1 col-12 btn btn-transparent text-left">
                    <i class="fas fa-home"></i> <span class="sidebar-label">Accueil</span>
                </button>
                <button title="Modifier les paramètres" type="button" th:onclick="'location.href=\'/manager/workflows/' + ${workflow.id} + '?form\''" class="mb-1 col-12 btn btn-light btn-outline-dark text-left">
                <i class="far fa-edit"></i><span class="sidebar-label"> Modifier les paramètres</span>
                </button>
                <button title="Ajouter une étape" type="button" class="mb-1 col-12 btn btn-light btn-outline-dark text-left" data-toggle="modal" data-target="#addStep">
                    <i class="fa fa-shoe-prints"></i><span class="sidebar-label"> Ajouter une étape</span>
                </button>
                <a th:if="${workflow.sourceType.name() != 'none'}" class="mb-1 col-12 btn btn-primary text-left" th:href="'/manager/workflows/get-files-from-source/' + ${id}">
                    <i class="fas fa-file-import"></i> Importer manuellement
                </a>
                <form th:action="'/manager/workflows/' + ${workflow.id}" th:method="delete">
                    <button title="Supprimer" type="submit" onclick="return confirm('Voulez-vous vraiment supprimer cet element ?');" class="mb-1 col-12 btn btn-danger text-left">
                        <i class="fas fa-trash"></i><span class="sidebar-label"> Supprimer</span>
                    </button>
                </form>
                <button title="Retour" type="button" class="mb-1 col-12 btn btn-light btn-outline-dark text-left" value="Retour" onclick="location.href='/manager/workflows'">
                    <i class="fas fa-arrow-left"></i><span class="sidebar-label"> Retour</span>
                </button>
            </div>
        </nav>
        <div id="content" class="content">
            <nav aria-label="breadcrumb" class="nav justify-content-between">
                <div class="navbar-nav col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/manager">Circuit de visas</a></li>
                        <li aria-current="page" class="breadcrumb-item active">Circuit
                            : <span th:text="${workflow.name}"></span>
                        </li>
                    </ol>
                </div>
            </nav>
            <div class="card bg-light rounded-0">
                <div class="card-header">Parapheur : <span th:text="${workflow.name}"></span></div>
                <div class="card-body">
                    <dl class="row border-bottom m-0">
                        <dt class="col-lg-5">Description</dt>
                        <dd th:text="${workflow.description}"></dd>
                    </dl>
                    <dl class="row border-bottom m-0">
                        <dt class="col-lg-5">Circuit de signatures</dt>
                    <div th:replace="manager/workflows/cards/stepscard :: stepscard"></div>
                    </dl>
                    <dl class="row border-bottom m-0">
                        <dt class="col-lg-5">Gestionnaire(s) du parapheur</dt>
                        <dd>
                            <div class="alert alert-dark col-12">
                                <th:block th:each="manager : ${workflow.managers}">
                                    <i class="fas fa-users-cog"></i> <span th:text="${manager}"></span>
                                    <br/>
                                </th:block>
                            </div>
                        </dd>
                    </dl>
                    <dl class="row border-bottom m-0">
                        <dt class="col-lg-5">Protocole pour la source des documents</dt>
                        <dd th:text="#{'signbook.documentiotype.' + ${workflow.sourceType}}"></dd>
                    </dl>
                    <div th:if="${workflow.sourceType.name() != 'none'}">
                        <dl class="row border-bottom m-0">
                            <dt class="col-lg-5">Lien pour la source des documents</dt>
                            <dd th:text="${workflow.documentsSourceUri}"></dd>
                        </dl>
                    </div>
                    <dl class="row border-bottom m-0">
                        <dt class="col-lg-5">Protocole pour la destination des documents
                        </dt>
                        <dd th:text="#{'signbook.documentiotype.' + ${workflow.targetType}}"></dd>
                    </dl>
                    <div th:if="${workflow.targetType.name() != 'none'}">
                        <dl class="row border-bottom m-0">
                            <dt class="col-lg-5">Lien pour la destination des documents</dt>
                            <dd th:text="${workflow.documentsTargetUri}"></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="addStep" tabindex="-1" role="dialog" aria-labelledby="addStepLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <form th:action="'/manager/workflows/add-step/' + ${id}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addStepLabel">Ajouter une étape</h5>
                            </div>
                            <div class="modal-body">
                                <div class="input-group">
                                    <select name="recipientsEmails" id="recipientsEmails" size="5" multiple="multiple" required="required">
                                    </select>
                                </div>
                                <div class="form-group" id="_allSignToComplete_div_id">
                                    <label for="_allSignToComplete">
                                        <strong> Tous les participants doivent-ils signer ? </strong>
                                        <button data-target="#collapseHelpAllSign" data-toggle="collapse" type="button" class="btn btn-sm btn-info">
                                            <span class="fas fa-info-circle"></span>
                                        </button>
                                        <div class="collapse" id="collapseHelpAllSign">
                                            <div class="alert alert-info">
                                                <small>
                                                    <ul>
                                                        <li>
                                                            Oui : Tous les participants doivent signer pour que la demande passe au status "Signé"
                                                        </li>
                                                        <li>
                                                            Non : Une seule signature suffit
                                                        </li>
                                                    </ul>
                                                </small>
                                            </div>
                                        </div>
                                    </label>
                                    <div class="col-lg-8">
                                        <label class="switch">
                                            <input type="checkbox" name="allSignToComplete" id="_allSignToComplete"/>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group" id="_signType_div_id">
                                    <label for="_signType_id"> <strong> Type de signature
                                        par défaut
                                        <button data-target="#collapseHelpSignType"
                                                data-toggle="collapse" type="button"
                                                class="btn btn-sm btn-info">
                                            <i class="fas fa-info-circle"></i>
                                        </button>
                                    </strong>
                                        <div class="collapse" id="collapseHelpSignType">
                                            <div class="alert alert-info">
                                                <ul>
                                                    <li>PAdES/XAdES : s'appuie sur le certificat P12
                                                        uploader au niveau de vos paramètres
                                                    </li>
                                                    <li>Apposition de la signature : ajoute simplement
                                                        l'image de votre signature sur un PDF à l'endroit voulu
                                                    </li>
                                                    <li>PAdES/XAdES avec NexU : s'appuie l'application NexU
                                                        qui permet l'utilisation d'un certificat matériel
                                                    </li>
                                                    <li>Confirmation de lecture : permet de valider la
                                                        lecture d'un document
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </label>
                                    <div class="col-lg-8">
                                        <select id="_signType_id" name="signType" class="form-control" size="1">
                                            <th:block th:each="signType : ${signTypes}">
                                                <option th:value="${signType}" th:text="#{'signbook.signtype.' + ${signType}}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                <button type="submit" class="btn btn-success">Ajouter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
</main>
<script language="JavaScript">
    var testSignBookName = document.getElementById("recipientsEmails");

    if (testSignBookName != null) {
        new SlimSelect({
            select: '#recipientsEmails',
            placeholder: 'Choisir un ou plusieurs participants',
            searchText: 'Aucun résultat',
            searchPlaceholder: 'Rechercher',
            searchHighlight: true,
            searchFilter: (option, search) => {
                return true;
            },
            ajax: function (search, callback) {
                if (search.length < 3) {
                    callback('Merci de saisir au moins 3 caractères')
                } else {
                    fetch('/user/users/searchUser?searchString=' + search)
                        .then(function (response) {
                            return response.json()
                        })
                        .then(function (json) {
                            let data = []
                            for (let i = 0; i < json.length; i++) {
                                data.push({text: json[i].displayName + ' (' + json[i].mail + ')', value: json[i].mail});
                            }
                            callback(data)
                        })
                        .catch(function (error) {
                            callback(false)
                        })
                }
            }
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        allSignToComplete = document.getElementById("_allSignToComplete");
        signBookSelect = document.getElementById("signBookNames");
    });
</script>
<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/message :: message"></div>
</body>
</html>