<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="workflows" type="java.util.List<org.esupportail.esupsignature.entity.Workflow>"*/-->
<head th:replace="~{fragments/head :: head}"></head>
<body>
<header th:replace="~{fragments/nav :: nav}"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="~{fragments/sides/side-admin :: side-admin}"></nav>
        <nav th:replace="~{fragments/sides/side-manager :: side-manager}"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb col-12">
                <li class="breadcrumb-item"><a href="/admin">Administration</a></li>
                <li class="breadcrumb-item active">Liste des circuits</li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="fixed-action-simple-btn" >
                <a title="Créer un nouveau circuit" data-bs-toggle="modal" data-bs-target="#newWorkflow" type="button"
                   class="btn-floating btn-lg bg-primary wave-effect">
                    <i class="fa-solid fa-plus fa-2xl"></i>
                </a>
            </div>
            <div class="card col-lg-10 mx-auto">
                <div class="card-body">
                    <h5 class="text-center"><b>Circuits</b></h5>
                    <div class="input-group mb-3" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <span class="input-group-text">Filtrer</span>
                    <select name="displayWorkflowType" class="form-select" onchange="document.location.href = '/admin/workflows?displayWorkflowType=' + this.value">
                        <option value="all" th:selected="${displayWorkflowType.name() == 'all'}">Tout voir</option>
                        <option value="system" th:selected="${displayWorkflowType.name() == 'system'}">Workflows globaux (définis pas les administrateurs)</option>
                        <option value="classes" th:selected="${displayWorkflowType.name() == 'classes'}">Classes workflow (définies par les développeurs)</option>
                        <option value="users" th:selected="${displayWorkflowType.name() == 'users'}">Workflows Utilisateurs (définis pas les utilisateurs)</option>
                    </select>
                    </div>
                    <table class="table table-sm table-borderless table-hover table-striped">
                        <thead class="table-secondary">
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Créé par</th>
                            <th>Destinataires</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="workflow : ${workflows}">
                            <tr th:data-href="'/admin/workflows/update/' + ${workflow.id}">
                                <td class="clickable-td">
                                    <input type="text" th:value="${workflow.id}" disabled>
                                </td>
                                <td class="clickable-td" th:text="${workflow.description}"></td>
                                <td class="clickable-td" th:text="${workflow.createBy.eppn}"></td>
                                <td th:if="${workflow.workflowSteps.size() > 0}">
                                    <ul class="list-group">
                                    <th:block th:each="workflowStep, iterator : ${workflow.workflowSteps}">
                                        <li class="list-group-item py-1">
                                            <span th:text="${iterator.index + 1}" class="d-inline"></span>
                                            <th:block th:each="user : ${workflowStep.users}">
                                                <i class="fa-solid fa-user"></i>
                                                <span th:text="${user.firstname + ' ' + user.name}"></span>
                                                <br/>
                                            </th:block>
                                        </li>
                                    </th:block>
                                    </ul>
                                </td>
                                <td th:unless="${#lists.size(workflow.workflowSteps) > 0}">
                                    Aucun
                                </td>
                                <td class="text-center">
                                    <div class="dropdown position-relative" th:if="${workflow.id != null}">
                                        <button type="button" th:id="'menu-toggle_' + ${workflow.id}" class="btn text-dark" th:title="'Actions ' + ${workflow.title}"
                                                th:data-bs-target="'#menu-' + ${workflow.id}" th:aria-controls="'menu-' + ${workflow.id}" data-bs-toggle="dropdown">
                                            <i class="fa-solid fa-ellipsis-v"></i>
                                        </button>
                                        <ul class="dropdown-menu position-absolute ps-2 pe-2" th:id="'menu-' + ${workflow.id}">
                                            <li>
                                                <a class="btn btn-transparent text-dark text-left col-12" title="Consulter" role="button"
                                                   th:href="'/admin/workflows/update/' + ${workflow.id}">
                                                    <i class="fa-solid fa-pencil-alt pr-2"></i> Modifier les paramètres
                                                </a>
                                            </li>
                                            <li>
                                                <a class="btn btn-transparent text-dark text-left col-12" title="Consulter" role="button"
                                                   th:href="'/admin/workflows/steps/' + ${workflow.id}">
                                                    <i class="fa-solid fa-shoe-prints pr-2"></i> Modifier les étapes
                                                </a>
                                            </li>
                                            <li>
                                                <a class="btn btn-transparent text-dark text-left col-12" title="Exporter le circuit" role="button"
                                                   th:href="'/admin/workflows/export/' + ${workflow.id}">
                                                    <i class="fa-solid fa-file-export pr-2"></i> Exporter le circuit
                                                </a>
                                            </li>
                                            <li>
                                                <a class="btn btn-transparent text-dark text-left col-12" th:if="${workflow.documentsSourceUri != null}" title="Scanner la source" type="button" th:href="'/admin/workflows/get-files-from-source/' + ${workflow.id}">
                                                    <i class="fa-solid fa-binoculars pr-2"></i> Scanner la source
                                                </a>
                                            </li>
                                            <li>
                                                <a th:if="${workflow.fromCode == null || !workflow.fromCode}" class="btn btn-transparent text-dark text-left col-12" th:href="'#modal-warning-' + ${workflow.id}" role="button" title="Supprimer"
                                                   data-bs-toggle="modal" th:data-bs-target="'#modal-warning-' + ${workflow.id}">
                                                    <i class="fa-solid fa-trash-alt pr-2"></i> Supprimer
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div data-bs-focus="false" class="modal modal-warning fade in" th:id="'modal-warning-' + ${workflow.id}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form id="command" th:action="'/admin/workflows/' + ${workflow.id}" th:method="delete">
                                                    <div class="modal-header">
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="alert alert-danger text-center">Confirmez-vous la suppression du circuit ?
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline pull-left" data-bs-dismiss="modal">Non</button>
                                                        <button type="submit" class="btn btn-outline pull-left btn-danger">Oui</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:inline="javascript" type="module">
    import {WorkflowManualAdd } from '/js/modules/ui/workflows/WorkflowManualAdd.js?version=@[(${versionApp})]@';
    new WorkflowManualAdd();
</script>
<div data-bs-focus="false" class="modal fade" id="newWorkflow"  role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form th:action="'/admin/workflows'" method="post">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Ajouter un circuit</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label for="description"><strong>Titre</strong></label>
                        <input id="description" name="description" class="form-control" type="text" value="" required="required">
                    </div>
                    <div class="form-group mb-3">
                        <label for="title"><strong>Prefix (utilisé lors de l’import de documents dans le circuit)</strong></label>
                        <input id="title" name="title" class="form-control" type="text" value="" required>
                    </div>
                    <div class="form-group mb-3" th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                        <label for="managerRole"><strong>Pour quel rôle ce circuit pourra être diffusé</strong></label>
                        <select id="managerRole" name="managerRole" class="form-select" required>
                            <th:block th:each="role : ${roles}">
                                <option th:value="${role}" th:text="${role}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success">Créer</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
