<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="workflow" type="org.esupportail.esupsignature.entity.Workflow"*/-->
<!--/*@thymesVar id="certificats" type="java.util.List<org.esupportail.esupsignature.entity.Certificat>"*/-->
<head th:replace="fragments/head :: head"></head>
<body>
<script th:inline="javascript" type="module">
    import {WorkflowUi} from '/js/modules/ui/workflows/WorkflowUi.js?version=[[${versionApp}]]';
    new WorkflowUi();
</script>
<header th:replace="fragments/nav :: nav"></header>
<main role="main">
    <div class="wrapper">
        <nav th:replace="fragments/sides/side-admin :: side-admin"></nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb col-12">
                <li class="breadcrumb-item"><a href="/admin/workflows">Liste des circuits</a></li>
                <li aria-current="page" class="breadcrumb-item active">Circuit : <span th:text="${workflow.description}"></span>
                </li>
            </ol>
        </nav>
        <div id="content" class="content">
            <div class="fixed-action-btns active">
                <ul id="buttonList" class="list-unstyled">
                    <li>
                        <a th:if="${workflow.fromCode == null || !workflow.fromCode}" role="button" title="Ajouter une étape" class="btn-floating btn-lg bg-primary waves-effect" data-bs-toggle="modal" data-bs-target="#addStep">
                        <span class="fa-stack">
                            <i class="fas fa-shoe-prints fa-stack-1x me-1 text-white-50"></i>
                            <i class="fas fa-plus fa-stack-1x ms-3 mt-1 text-white"></i>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a th:if="${workflow.fromCode == null || !workflow.fromCode}" role="button" title="Ajouter une étape automatique" class="btn-floating btn-lg bg-primary waves-effect" data-bs-toggle="modal" data-bs-target="#addAutoStep">
                        <span class="fa-stack">
                            <i class="fas fa-shoe-prints fa-stack-1x me-1 text-white-50"></i>
                            <i class="fas fa-robot fa-stack-1x ms-2 mt-1 text-white"></i>
                        </span>
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" th:href="'/admin/workflows/update/' + ${workflow.id}">Paramètres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" onclick="return false;">Étapes</a>
                </li>
            </ul>
            <br>
            <div class="card col-lg-10 mx-auto">
                <div class="card-body text-center">
                    <h5>Circuit de signatures</h5>
                    <div th:if="${workflow.workflowSteps.size() > 0}" th:replace="admin/workflows/cards/stepscard"></div>
                    <div th:unless="${workflow.workflowSteps.size() > 0}" class="alert alert-secondary">
                        Vous pouvez ajouter des étapes
                    </div>
                </div>
            </div>
            <div class="modal fade" id="addStep" data-bs-focus="false" role="dialog" aria-labelledby="addStepLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <form th:action="'/admin/workflows/add-step/' + ${workflow.id}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addStepLabel">Ajouter une étape</h5>
                            </div>
                            <div class="modal-body">
                                <div class="form-group mb-3">
                                    <label><strong>Description de l’étape:</strong></label>
                                    <input name="description" type="text" class="form-control" />
                                </div>
                                <div class="form-check form-switch form-switch-md">
                                    <label class="form-check-label" title="Le créateur pourra changer les noms des participants au moment de valider sa demande de signature">
                                        <strong>Le créateur peut modifier les participants</strong>
                                    </label>
                                    <input type="checkbox" class="form-check-input" name="changeable"/>
                                </div>
                                <div class="form-group mb-3">
                                    <label>
                                        <strong>Choix des participants</strong>
                                    </label>
                                    <select data-es-check-list="false" class="select-users" name="recipientsEmails" id="stepRecipientsEmails" multiple="multiple"></select>
                                </div>
                                <div class="form-group mb-3" id="allSignToComplete-div">
                                    <label for="allSignToComplete">
                                        <strong> Tous les participants doivent-ils signer ? </strong>
                                        <button data-bs-target="#collapseHelpAllSign" data-bs-toggle="collapse" type="button" class="btn btn-sm btn-transparent">
                                            <span class="fas fa-info-circle text-info"></span>
                                        </button>
                                        <div class="collapse" id="collapseHelpAllSign">
                                            <div class="alert alert-info">
                                                <small>
                                                    <ul>
                                                        <li>
                                                            Oui : Tous les participants doivent signer pour que la demande passe au status "Signé"
                                                        </li>
                                                        <li>
                                                            Non : Une seule signature suffit
                                                        </li>
                                                    </ul>
                                                </small>
                                            </div>
                                        </div>
                                    </label>
                                    <label class="switch">
                                        <input type="checkbox" class="form-check-input" name="allSignToComplete" id="allSignToComplete"/>
                                        <span class="slider round"></span>
                                    </label>
                                </div>

                                <div class="form-group mb-3" id="_signType_div_id">
                                    <label for="signType_id"> <strong> Type de signature
                                        par défaut
                                        <button data-bs-target="#collapseHelpSignType"
                                                data-bs-toggle="collapse" type="button"
                                                class="btn btn-sm btn-transparent">
                                            <i class="fas fa-info-circle text-info"></i>
                                        </button>
                                    </strong>
                                        <div class="collapse" id="collapseHelpSignType">
                                            <div class="alert alert-info">
                                                <ul>
                                                    <li>PAdES/XAdES : s'appuie sur le certificat P12
                                                        uploader au niveau de vos paramètres
                                                    </li>
                                                    <li>Apposition de la signature : ajoute simplement
                                                        l'image de votre signature sur un PDF à l'endroit voulu
                                                    </li>
                                                    <li>PAdES/XAdES avec NexU : s'appuie l'application NexU
                                                        qui permet l'utilisation d'un certificat matériel
                                                    </li>
                                                    <li>Confirmation de lecture : permet de valider la
                                                        lecture d'un document
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </label>
                                    <div class="col-lg-10">
                                        <select class="slim-select-simple" id="signType_id" name="signType" size="1">
                                            <th:block th:each="signType : ${signTypes}">
                                                <option th:value="${signType}" th:text="#{'signbook.signtype.' + ${signType}}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <button type="submit" class="btn btn-success">Ajouter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="addAutoStep" data-bs-focus="false" role="dialog" aria-labelledby="addAutoStepLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <form th:action="'/admin/workflows/add-auto-step/' + ${workflow.id}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addAutoStepLabel">Ajouter une étape Automatique</h5>
                            </div>
                            <div class="modal-body">
                                <div class="form-group mb-3">
                                    <label><strong>Description de l’étape:</strong></label>
                                    <input name="description" type="text" class="form-control" />
                                </div>
                                <div class="form-group mb-3">
                                    <label><strong>Choix du certificat</strong></label>
                                    <select class="slim-select-simple" name="certificatId" id="certificatId">
                                        <th:block th:each="certificat : ${certificats}">
                                            <option th:text="${certificat.keystore.fileName}" th:value="${certificat.id}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <button type="submit" class="btn btn-success">Ajouter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>